[2019-05-23 10:09] ed-sparkes opened #23 "How would one go about accessing RBAC permissions"
Hi,

Would be great to be able to access RBAC (Authorization Core) permissions in the SPA so as to be able to extend the PrivateRoute component to restrict routes based on permission.

Can see how to get the permissions included in the access token for my API but unsure how to get access to them in the SPA.

Many thanks, Ed

[2019-05-23 12:31] luisrudge commented on #23
Let's discuss this in the beta community post: https://community.auth0.com/t/access-rbac-permissions/25629

[2019-05-23 12:31] #23 closed

[2019-05-23 16:22] nyobe opened #24 "handleRedirectCallback does not handle authorization error responses"
It would be nice if `handleRedirectCallback` would extract error responses to the callback. I'm envisioning it throwing an error with with the `error` and `error_description` params for instance.

[2019-05-24 04:27] davidpatrick commented on #24
Thanks for reporting this @nyobe.  We will include this in our next release.

[2019-06-07 16:46] #24 closed

[2019-06-13 18:54] peterblazejewicz opened #27 "User information encoding seems to be lost"
Not sure if that is a correct place. It seems that at some point the encoding of the user information is being lost. Not sure if that is  library specific, but I've noticed that on my profile page while using auth0-samples/auth0-spa-js-angular-samples locally.

Here is GitHub SDK call:

[code]
returning information:

[code]

while the library keeps information as the:

[code]

Thanks!

[2019-06-14 14:18] luisrudge commented on #27
Maybe it's the sample encoding tag? All the SDK does is relay the server information to you. If you inspect the requests int the dev tools, do you get the correct information?

[2019-06-15 20:15] peterblazejewicz commented on #27
When I copy the returned id token to the debugger here: https://jwt.io, I'm seeing correctly decoded strings:

[code]
while auth0 client `getUser` returns:

[code]

I assume it's being decoded on the client using the library here. The page bears the UTF-8

[2019-06-18 17:34] luisrudge commented on #27
Thanks for the help and context, @peterblazejewicz. I opened a PR to fix this #28

[2019-06-18 18:02] #27 closed

[2019-06-18 18:30] peterblazejewicz commented on #27
You're welcome!

[2019-06-18 18:48] luisrudge commented on #27
released in @auth0/auth0-spa-js@1.0.0-beta.3 🎉

[2019-06-18 18:48] luisrudge commented on #24
released in @auth0/auth0-spa-js@1.0.0-beta.3 🎉

[2019-06-25 10:36] andrewoh531 opened #34 "Question - auth0-spa-js vs auth0-js"
What's the difference between `auth0-spa-js` and `auth0-js`?

I was integrating using `auth0-js` and recently looked at [React samples](https://github.com/auth0-samples/auth0-react-samples) to see that it was completely different from before and now uses `auth0-spa-js` instead of `auth0-js`.

Should I switch over to `auth0-spa-js` from `auth0-js`?

[2019-06-25 12:24] stevehobbsdev commented on #34
Hi @andrewoh531,

So `auth0-spa-js` is a new SDK that has been written from the ground up to support logging in to single page applications. `auth0-js` does this as well but it also provides a couple of other interfaces seperate from web authentication. So you can think of `auth0-spa-js` as just being the web authentication part of `auth0-js` (but has also been rewritten).

The SDK and the new doc

[2019-06-25 13:09] Catscratch opened #35 "Specify response type"
He guys.

Is there a way to specify response type for an Auth0Client? As I can see response type is not part of Auth0ClientOptions.

[2019-06-25 13:12] stevehobbsdev commented on #35
@Catscratch Not currently, as the SDK is designed to follow a very specific protocol. What's your requirement?

[2019-06-25 13:15] Catscratch commented on #35
I wanna the queryparam response_type=token id_token instead of =code.

My Auth0 provider doesn't allow code.

[2019-06-25 13:41] stevehobbsdev commented on #35
@Catscratch In that case you would need to use [`auth0-js`](https://github.com/auth0/auth0.js#auth0webauth) which will allow you to configure the response type as you need.

[2019-06-25 13:46] luisrudge commented on #35
Can you explain what that means? Thanks!

I'll close the issue to keep the repo clean, but feel free to continue the conversation in this issue.

[2019-06-25 13:46] #35 closed

[2019-06-25 13:47] #34 closed

[2019-06-25 16:01] alexander-daniel opened #36 "Typescript example"
Hello! I was using the old quickstart for `auth0-js` until today it seems the docs have swapped over to the new `auth0-spa-js` ones -- no problem.

I was wondering if you had any plans to release an example for the spa module in typescript.

Thanks!

[2019-06-25 16:53] luisrudge commented on #36
Do you want a specific SPA sample? Since this library is written with typescript, it should basically just work with all the intellisense etc

[2019-06-25 16:53] #36 closed

[2019-06-25 19:22] alexander-daniel commented on #36
Ill give it another go, thanks. Might just be implementation specific issues I'm facing. Thanks for the reply!

[2019-06-25 21:02] dobertson opened #37 ""await createAuth0Client" takes one minute to finish"
Hello, been following the new documentation for Angular and i am finding that when i get to the `this.auth0Client = await createAuth0Client(this.config);` it awaits for near exactly 60 seconds, which is an issue if the user clicks the login button before that and gets the following error in the console.

My code is exactly the same as what's provided in the documentation.

Any ideas?

[2019-06-25 22:21] andrewoh531 commented on #34
Thanks @stevehobbsdev! That's exactly the info I was looking for!

[2019-06-26 05:00] mdobosz-isp opened #39 "Export TypeScript types"
Hi there,

I'm trying to integrate Auth0 into my SPA and I want to augment the [react-auth0-spa sample code](https://github.com/auth0-samples/auth0-react-samples/blob/master/01-Login/src/react-auth0-spa.js) with better typing information (in this case using JSDoc in a plain JS project in VSCode) and it would be really helpful if `Auth0Client` and `Auth0ClientOptions` types were exported out of thi

[2019-06-26 07:29] dstendardi opened #40 "Auth state is not persisted in ClientStorage"
## Description of the problem

Every time page is refreshed, session is lost and user need to re-authenticate.

## Proposed solution

In index.ts, allow user to ignoreCache or not by passing option :

[code]

If this suggestion makes sense, i can open a pull request for it, let me know !

[2019-06-26 10:53] Hopchenko opened #41 "Invalid algorithm error"
Hi, I've just tried to run react login example from github with my domain and clientId and receive the following error.
![image](https://user-images.githubusercontent.com/18414944/60174432-ac125e00-9819-11e9-8155-a2555fcec591.png)

Do you know how it can be fixed?

[2019-06-26 10:59] stevehobbsdev commented on #40
@dstendardi This could be something else, such as logging into your Auth0 app using a social provider's development keys. See [Limitations of Developer Keys](https://auth0.com/docs/connections/social/devkeys#limitations-of-developer-keys).

Failing that, have you already tested that being able to ignore the cache fixes your issue?

[2019-06-26 13:00] AnisTss commented on #37
I am using angular 7 and I had to wrap everything into Observables. I used a ReplaySubject for the Auth0Client.

This library has many issues and it is really bad to have it in the QuickStart tutorial. It is a complete turn off and made me lose a day at work. Now I am giving up.

Here is how I did work around that:

[code]

[2019-06-26 14:05] stevehobbsdev commented on #37
@dobertson It should not be taking 60 seconds. If the code is the same as in the tutorial, the next thing I would do is check the logs in your tenant to see if it's reporting any issues. Assuming you've already managed to log in, one of the things that happens when you create the client is `getTokenSilently` is called, which may invoke a call to the authorization server.

If you do find anything u

[2019-06-26 14:28] luisrudge commented on #37
@dobertson This happens when there's a configuration error (most of the times, it's a misconfiguration related to the `Allowed web origins` field). You can find the error in your tenant logs or via Chrome Dev Tools, if you inspect the failed request. Unfortunately, those types of errors can't be prevented or catched at runtime because those types of configuration errors prevent the server to actua

[2019-06-26 14:28] #37 closed

[2019-06-26 14:31] luisrudge commented on #39
we'll release the react-auth0 wrapper in the near future with typescript support. I built a version of it with types if you're interested:

[code]

You can find the exported types here: `@auth0/auth0-spa-js/dist/typings/`

[2019-06-26 14:31] #39 closed

[2019-06-26 14:35] luisrudge commented on #40
@dstendardi are you talking about your app's session or the Auth0 session? If you're talking about the Auth0 session, then what @stevehobbsdev said makes sense. If you're talking about your app's  session, then this is by design. Nothing is persisted locally. Each time you initialize the library ( `createAuth0Client`), we'll check if you have an active session at Auth0 and automatically cache toke

[2019-06-26 14:38] luisrudge commented on #41
This library only supports RS256 tokens. Can you check your application and make sure you're using RS256 tokens instead of HS256?

This can be configured in the advanced settings in your application page:

![image](https://user-images.githubusercontent.com/941075/60189125-d27ace00-9806-11e9-81bd-e6687e5dbbfe.png)

[2019-06-26 14:38] #41 closed

[2019-06-26 15:48] dobertson commented on #37
I had correctly defined the callback url in the application settings under Allowed Callback URLs, but i had no put this url in the config that is passed to `createAuthoClient(this.config)`

Adding `redirect_uri: 'http://localhost:4200/callback'` to the config fixed this :)

[2019-06-26 17:24] mdobosz-isp commented on #39
This is not ideal since it takes a dependency on the internal layout of the package.

For other's interesting in getting this to work with TS-flavored JSDoc, the following syntax worked for me

[code]

[2019-06-26 18:26] luisrudge commented on #37
@dobertson perfect! What doc did you follow to implement this in your project?

[2019-06-26 18:42] luisrudge commented on #39
I agree it's not ideal, but it's what we have now. What's your suggestion? export the types directly from our files? I'm not sure I understand what you're asking.

[2019-06-26 18:53] mdobosz-isp commented on #39
Sorry for the poorly worded title, but yeah, I guess you could export the public interface of Auth0Client (assuming you don't want to actually export the whole class with the implementation) out of [`index.ts`](https://github.com/auth0/auth0-spa-js/blob/master/src/index.ts), plus whatever other interfaces from [`global.ts`](https://github.com/auth0/auth0-spa-js/blob/master/src/global.ts) Auth0Clie

[2019-06-26 18:57] luisrudge commented on #39
so, basically, import types in index.ts and export them?

[2019-06-26 21:20] dobertson commented on #37
@luisrudge i was following the [Angular]( https://auth0.com/docs/quickstart/spa/angular2) one

[2019-06-27 00:57] luisrudge commented on #37
@dobertson Thanks! I'll review the QS to make sure this doesn't happen again!

[2019-06-27 16:12] mdobosz-isp commented on #39
Yes, though you might want to create an interface for Auth0Client if you don't want to expose the actual implementation (other than through the default factory method)

[2019-06-27 18:15] luisrudge commented on #39
Can you send a PR with what you think would be the best practice in this scenario? If you could point to some docs with the reasoning, that would be great as well. I followed [this](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package) doc, which says adding the `types` property is enough. But I get what you're saying, though: `t

[2019-06-27 18:52] zmallah commented on #34
I'm noticing there isn't currently an implementation to make a login call with a custom interface or even to use lock, is this integration planned at all or no longer being supported? It would be very helpful for my use case to include a basic login call as present in auth0-js.

[2019-06-27 18:53] luisrudge commented on #34
@zmallah what do you mean by `login call with a custom interface`? You can still use lock inside your universal login page.

[2019-06-27 18:56] zmallah commented on #34
@luisrudge it was previously possible for me to define my own interface then make a generic login call using auth0-js, where I could pass in my username and password. I do not see this functionality present in the new auth0-spa-js...

[2019-06-27 18:58] luisrudge commented on #34
Perfect. That's what we call ‘Embedded Login’ (https://auth0.com/docs/guides/login/universal-vs-embedded). This SDK only supports Universal Login, which means it will always display your Universal Login Page. For embedded Login, you can still use Auth0.js and Lock.

[2019-06-27 19:08] zmallah commented on #34
Thank you, is there any way at all that this SDK would consider supporting an Embedded Login down the road? The wrapper and hooks used here solve a lot of the headaches I was having with the traditional Auth0.js package...

[2019-06-27 19:12] luisrudge commented on #34
Not at this time. We're thinking on creating smaller SDKs like this one, targeted at more specific use cases like embedded login, use of the management api and hybrid apps, but this is still in the planning phase.

[2019-06-27 19:17] zmallah commented on #34
That sounds like an excellent plan moving forward.

One last question, do you think it would be possible to make login requests auth0-js, but then handling the redirect and session with the new sdk?

[2019-06-27 19:19] luisrudge commented on #34
No, that won't work because both libraries manage their internal state differently.

[2019-06-28 09:22] andrejohansson commented on #39
@luisrudge do you have a sample of ``PrivateRoute`` in TypeScript to go along with the code above? Having a bit problem with the type signature here...

[2019-06-28 11:26] GazerSpectre commented on #40
@luisrudge How can I retrive token object in angular spa (access_token, expires_in, id_token, token_type)? When I call await this.auth0Client.getTokenSilently(), I've got only single access token.

[2019-06-28 12:32] dstendardi commented on #40
@luisrudge You are right this is a limitation of development environment and google login, classic login/password challenge works fine. 👍
Out of curiosity why is this boolean hardcoded ?

[2019-06-28 12:33] #40 closed

[2019-06-28 17:09] luisrudge commented on #40
@GazerSpectre you don't have access to the raw response, but you can get all the information via the `get*` methods.

![image](https://user-images.githubusercontent.com/941075/60359089-5c18d000-99ae-11e9-8edb-7e055d71f988.png)
https://auth0.github.io/auth0-spa-js/classes/auth0client.html#getidtokenclaims

[2019-06-28 17:10] luisrudge commented on #40
@dstendardi because when you init the library, you'll never have anything cached, since we only use in-memory cache.

[2019-06-28 17:10] luisrudge commented on #39
@andrejohansson I don't :( what issues are you having?

[2019-06-29 06:44] jonmc12 commented on #39
@andrejohansson @luisrudge fyi, I've tested the following in our app:

[code]

[2019-07-01 07:39] andrejohansson commented on #39
Thank you for your replies, I got it working with the following (I'm quite new to both typescript and auth0 so comments on weird looking things are welcome):

[code]

[2019-07-01 08:08] andrejohansson commented on #23
I'm also interested in this topic but I am not allowed to access the above topic.
@luisrudge, how can I get access to the above beta community topic?

[2019-07-01 08:27] philippendrulat opened #44 "How to do token renewal"
On the old auth0-js tutorial, you could renew the token until the user session expires. How would one implement it in the auth0-spa-js?

[2019-07-01 16:51] luisrudge commented on #23
@andrejohansson not sure why it was removed. Maybe because we are out of beta.. In any case, we don't provide RBAC integration out of the box, but you have access to all the claims that are inside your id_token

[2019-07-01 16:54] luisrudge commented on #44
@philippendrulat There's no need to do token renewal. We do it automatically for you. Every time you call `getTokenSilently`, you'll get a valid token.

[2019-07-01 16:54] #44 closed

[2019-07-02 07:16] jackmercy commented on #44
Hey @luisrudge ,  I'm building a SPA and what if the session that I set in the Auth0 configuration page is 5 mins. So in 5 mins after successful login, auth0-spa-js will automatically refresh token every time I call `getTokenSilently`.
1 - Can I call this function to get a new token after 5 mins (session in auth0 is timeout)?
2- In 5 mins after login, if the expired time of token is 1 min, so I ha

[2019-07-02 07:25] philippendrulat commented on #44
As I understood, you are not able to use token refresh in a SPA. You are only able to renew the token until the session expires.
I would also like to know the answer to your second question.

[2019-07-02 08:32] jlsuarezs opened #45 "ERROR TypeError: auth0_spa_js_1.default is not a function"
Hi Guys,

Using this new library I am getting this error all the time, not sure why:

[code]

And here is my code:
[code]

I've tried using setTimeout and without, always the same, createAuth0Client is undefined :(

Any idea?

Thanks.

[2019-07-02 08:43] andrejohansson commented on #23
@luisrudge ok, thanks.

For anyone else interested, here is my extended react-auth0-spa.tsx which an added *token* property that is decoded. From that I can read the scope and permissions which is enough for me. I don´t know if there is an option to add role information to the tokens in auth0 aswell.

[code]

[2019-07-02 14:44] luisrudge commented on #44
@jackmercy the Auth0 session has nothing to do with your token. Your token can expire before the session (that's pretty common). If you have an active session at Auth0, when you call `getTokenSilently`, you'll always get a *non-expired token*, either from cache or by fetching a new token from Auth0.

[2019-07-02 14:45] luisrudge commented on #44
@philippendrulat correct. we're not using refresh tokens. We're just asking for fresh tokens from the server.

[2019-07-02 14:47] luisrudge commented on #44
That's precisely what we do. Once we put a token in the cache, we schedule its removal once it expires:

https://github.com/auth0/auth0-spa-js/blob/master/src/cache.ts#L35-L41

So, next time you ask for a token, if it's not in the cache, it will just fetch remotely (if you have an active session)

[2019-07-02 14:50] luisrudge commented on #23
@andrejohansson decoding an access token is considered a bad practice. Access tokens are considered ‘opaque strings’, which means you shouldn't assume they're in any given format.

[2019-07-02 18:10] andrejohansson commented on #23
@luisrudge forgive me if I'm naive, but how else am I going to get the claims then?

[2019-07-02 18:30] vibronet commented on #23
hey @andrejohansson - to expand a bit on the topic. Access tokens are meant to be seen only by their intended recipient, in this case the API. If you write code on the client that peeks inside the access token, you might end up being broken if something changes. More detailed explanation in http://www.cloudidentity.com/blog/2018/04/20/clients-shouldnt-peek-inside-access-tokens/

If your frontend n

[2019-07-03 15:56] PaulInglis opened #48 "Question: RBAC rules / auth0Client.getPermissionScopes()"
The examples of this library in conjunction with roles and permissions (via Authorization Extension) utilise a rules file, which involves duplication of data which the extension already exists.
When using `auth-js` there is a method called `getPermissionScopes` which returns the same content as what the rules file contains.
Is there any plans to implement a similar method to get the information re

[2019-07-03 17:16] luisrudge commented on #48
As of now, there's no plans to add a method to return the RBAC information because decoding the access_token is not recommended. More context here: https://github.com/auth0/auth0-spa-js/issues/23#issuecomment-507794605

[2019-07-03 17:16] #48 closed

[2019-07-03 21:08] nojaf opened #50 "Methods not available on Auth0Client"
When the promise resolves and returns me my [Auth0Client ](https://auth0.github.io/auth0-spa-js/classes/auth0client.html)I don't seem to have any methods:

![image](https://user-images.githubusercontent.com/2621499/60625154-4446af00-9de7-11e9-937a-60a5592200c7.png)

![image](https://user-images.githubusercontent.com/2621499/60625197-5cb6c980-9de7-11e9-884e-5a68ce75c55f.png)

I'm following the exam

[2019-07-03 21:44] nojaf commented on #50
My problem is related to passing the client down using React.Context.
Somehow the prototype is reset to Object.
Right after the promise resolves, the object does contain the methods.

[2019-07-03 21:44] #50 closed

[2019-07-04 03:29] blakedietz commented on #50
@nojaf did you have a fix for this? I'm following the documentation listed in the react quickstart and am applying it to my app. I'm still seeing this issue by using their example.

[2019-07-04 09:27] nojaf commented on #50
So what I had is something like this

[code]

My current workaround was
[code]

I'm not a huge fan of this workaround. Because well a nasty mutable global.

[2019-07-04 09:45] stevehobbsdev commented on #50
@nojaf I'm not sure if you've seen this, but we are trialling a React wrapper, which makes an appearance in out [React SDK Quickstart](https://auth0.com/docs/quickstart/spa/react/#install-the-auth0-react-wrapper). Eventually this wrapper will become a library of its own, but right now it provides an `Auth0Provider` component that can wrap your application and provide the Auth0 instance, which uses

[2019-07-04 14:25] nojaf commented on #50
Thanks for pointing this out. I really like the hook!

[2019-07-04 18:38] DjolePetrovic opened #51 "Grant type 'authorization_code' not allowed for the client."
Hi!

I'm pretty new to this auth topic. I followed along the react tutorial. But when I click on loginwithredirect I get immediately this error 'Grant type 'authorization_code' not allowed for the client.'. I need to say that I'm using react with typescript.

I've copied the wrapper from @luisrudge in his answer [here](https://github.com/auth0/auth0-spa-js/issues/39#issuecomment-505901626).

My co

[2019-07-04 18:57] luisrudge commented on #51
This is a config issue. Not sure why your client doesn't have this enabled though :( Go to your client advanced settings and enable the Authorization Code grant:

![image](https://user-images.githubusercontent.com/941075/60684508-73efc880-9e74-11e9-9c06-3fbdc6106027.png)

[2019-07-04 18:57] #51 closed

[2019-07-04 19:06] DjolePetrovic commented on #51
Thank you very much!

[2019-07-05 10:37] jlsuarezs commented on #45
Any help? I really need to fix this issue.

@luisrudge

[2019-07-05 11:35] luisrudge commented on #45
@jlsuarezs sorry! I missed this issue. Looks like the library is not being imported correctly. I'm really not sure why. Did you follow our angular Quick Start? How are you importing the library? Our authentication service looks a bit different than yours, so maybe try with our code first? https://auth0.com/docs/quickstart/spa/angular2/01-login#add-an-authentication-service

[2019-07-05 14:49] stevehobbsdev commented on #45
@jlsuarezs Do you have a more complete sample/repo we can have a look at? I've tried recreating what you have into https://github.com/auth0-samples/auth0-angular-samples but unable to get the error you're seeing.

Do you have Ivy enabled in your app?

[2019-07-05 23:25] yirenlu92 opened #52 "TypeError: Cannot read property 'loginWithRedirect' of undefined"
Hey guys,
I've been switching the use the new auth0 login with hooks, when I try to do something very similar to the example, I keep encountering the following error:

**TypeError: Cannot read property 'loginWithRedirect' of undefined**

It appears that auth0Client is never getting set, so I'm never able to call loginWithRedirect on it. My credentials appear to be correct, and I've been able to lo

[2019-07-05 23:41] wrightwriter commented on #52
same problem here

[2019-07-05 23:42] yirenlu92 commented on #52
I can confirm that even when I try just the example, I am still getting the same error.

[2019-07-06 00:46] wrightwriter commented on #52
works for me with the example, acutally, but in production it does not work most of the time... It worked once! The login and redirect worked, but after that - no.

[2019-07-06 00:50] luisrudge commented on #52
I’ll close this issue because the React hook is only part of the sample, not this SDK.

But what I think it’s going on is that you’re not waiting for the `loading` property to be set to false. The hook exposes a loading property that returns `true` while it’s fetching the necessary data to load (checking if you have a session etc). You can show a loading spinner or something like that when this is

[2019-07-06 00:50] #52 closed

[2019-07-06 01:04] wrightwriter commented on #52
okay, just want to let you know that your example also throws this error for me now. Sometimes it gets fixed by removing node_modules and reinstalling with yarn... I don't think I will be able to use Auth0, even though I want to, because your tutorial is not working.

[2019-07-06 01:17] luisrudge commented on #52
Did you try what I recommended in the previous comment?

[2019-07-06 01:32] yirenlu92 commented on #52
Hi, I don't quite understand why/where I would need to check whether the data had loaded. Here I just have a home page with a login button that when clicked I want to go to auth0 to authenticate, and then redirect to another route. Do I need to modify loginWithRedirect? I'm not able to get the NavBar example working either, with the same error, and there is no check for loading there.

[2019-07-06 01:45] luisrudge commented on #52
I believe we have the same error in the NavBar component you’re mentioning.

This is what I mean by waiting for the `loading` prop to be false: https://auth0.com/docs/quickstart/spa/react/01-login#read-the-user-profile

I’ll be away from my pc during this weekend so I won’t be able to test this out, but this should work with the code I just sent you. I’ll review our quick start on Monday.

[2019-07-06 01:47] yirenlu92 commented on #52
Hi, so I added the loading check in src/App.js and the navbar does work now. However, the application takes > 1 min to load, ie the Home page doesn't display for one minute. This seems extremely and unnecessarily long -- is it because of the async?

[2019-07-06 02:00] luisrudge commented on #52
This looks like a configuration error. Check this out: https://github.com/auth0/auth0-spa-js/issues/37

[2019-07-06 02:12] yirenlu92 commented on #52
Ok yes I hardcoded my whitelisted callback url in here:
[code]

and then that fixed it. Thank you for your help! As a followup question, how do I set where I want the auth to redirect to afterwards? Do I pass parameters to LoginWithRedirect?

[2019-07-06 02:28] luisrudge commented on #52
You can pass it in this first redirect_url param or in the loginWithRedirect method (which will just overwrite the default one). Remember that this url has to be in your allowed callback urls. Happy coding!

[2019-07-06 05:22] wrightwriter commented on #52
Nice, works, thanks for the explanation. Sorry, should have read through the whole tutorial.

[2019-07-07 18:37] frederikprijck commented on #52
@luisrudge Are you sure that's the case?

Looking at this (https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L67), I'd expect it to work the other way around: when specifying a default redirect_uri, the one passed to loginWithRedirect will be ignored.

However, I think it makes more sense if it would be the way you describe.

[2019-07-08 06:19] jackmercy opened #55 "interceptor angular"

[2019-07-08 06:19] #55 closed

[2019-07-08 06:26] jackmercy opened #56 "auth0 spa not working with angular interceptor"
Hi auth0 team.

I tried to use the angular http interceptor to set headers in the request.

But when I added the httpInterceptor service, auth0-spa package not working.

the function `isAuthenticated()` is not working, seem like the request url to the auth0 is replace (but I did nothing with the url in the interceptor).
Here is the request URL:
`
https://authorize/?client_id=&audience=&scope=openi

[2019-07-08 07:10] #56 closed

[2019-07-08 07:56] jlsuarezs commented on #45
@luisrudge No worries, thanks for your help. Yes, looks like is not imported, but I've installed using: ```npm install @auth0/auth0-spa-js```. I've followed the Quick Start guide, but from the first try createAuth0Client was already undefined, so I've been trying different possibilities.

@stevehobbsdev The thing is that I was using the old auth0-js + auth0-lock in my project and I've removed to t

[2019-07-08 11:06] jlsuarezs commented on #45
Ok, finally I could get the lib to work.

I've changed my tsconfig.json from:

[code]

to:
[code]

I've just copied the settings from a fresh new project, not sure which option is the one that was causing the issue, but it's working.

Thank you Guys!

[2019-07-08 11:14] stevehobbsdev commented on #45
Glad to hear it @jlsuarezs, thanks!

[2019-07-08 11:14] #45 closed

[2019-07-08 16:23] benlester opened #57 "Failed to minify the code from this file - on npm build"
[code]

I'm getting the above error when attempting to run `npm build` on my `create-react-app` created application.

I'm running:
    "@auth0/auth0-spa-js": "^1.0.1",
    "react-scripts": "^2.1.3",

[2019-07-08 16:55] luisrudge commented on #57
Is there anything else in this error? We use create-react-app in our Quick Start and it works: https://auth0.com/docs/quickstart/spa/react/01-login#create-a-sample-application

[2019-07-09 09:41] benlester commented on #57
[code]

Further output. I've tried updating to `react-script` 3 with no luck also. The project I'm working on is ejected which makes updating to the latest CRA scripts troublesome.

[2019-07-09 14:48] luisrudge commented on #57
@benlester did you try in a non-ejected project like our Quick Start?

[2019-07-09 15:07] benlester commented on #57
Yes I've tried in a non-ejected dummy project and yes it does indeed work. The problem is this project is a behemoth project which was ejected a long time ago - quite difficult to put the genie back in the bottle.

The project works perfectly fine with `npm run start` it just refuses to build a minified version of `auth0-spa-js`

[2019-07-09 16:44] luisrudge commented on #57
Maybe it’s trying to process the file again? Make sure you exclude the node_modules or, if you need to process other libs, exclude this specific directory.

If you put a repro project somewhere, I’ll try to help. For now, I’m closing it because looks like a configuration issue.

[2019-07-09 16:44] #57 closed

[2019-07-09 17:06] wrightwriter opened #58 "React: getTokenSilently() on page load inside useEffect() throws undefined error."
The error is
[code]
Works fine after the page is loaded.
Is this intended?

If I'd like to put the token in my redux storage, I'd have to use componentDidMount which is getting depricated by the React team.

[2019-07-10 12:51] Tazaf commented on #41
That worked.

But it would be very welcome to have this crucial piece of information on [this tutorial QuickStart page](https://auth0.com/docs/quickstart/spa/angular2#configure-auth0) 😉

[2019-07-10 14:29] luisrudge commented on #41
@Tazaf Thanks for the feedback! We're adding a FAQ section in our QuickStarts and this will definitely will be there!

[2019-07-10 15:46] benlester commented on #57
For what it's worth to anyone who may read this in the future.

I solved this issue by creating a dummy app with CRA, then copying the configs and scripts folders over to the project. And the updating the package.json file against the new dummy app's package.json.

[2019-07-10 15:48] luisrudge commented on #58
This SDK doesn't assume anything on how you're going to set this up in your framework of choice. If you need guidance with react, we have an amazing QuickStart here: https://auth0.com/docs/quickstart/spa/react/01-login

[2019-07-10 15:48] #58 closed

[2019-07-10 19:03] wrightwriter commented on #58
You should not be recommending people use this with react if such a simple task can not be accomplished.
This is a major headache.

[2019-07-10 23:32] luisrudge commented on #58
I'm not saying it can't be done. It can, and do that in our QuickStart (https://auth0.com/docs/quickstart/spa/react/01-login). We even have an amazing wrapper that makes it super simple to integrate this library with your react app: https://auth0.com/docs/quickstart/spa/react/01-login#install-the-auth0-react-wrapper

[2019-07-11 09:30] ibraelillo opened #60 "Typescript fails with auth0-spa-js"
Hello,

I'm using the same example of the auth0-spa-js quickstart with typescript and it fails all the time.

this is the code:

[code]

When I'm trying to use this component then I got the error :

**Unhandled Rejection (TypeError): auth0_spa_js_1.default is not a function**

<img width="789" alt="Captura de pantalla 2019-07-11 a las 11 27 21" src="https://user-images.githubusercontent.com/301175

[2019-07-11 09:51] ricardonogues opened #62 "Auth0 Example not working"
Hi,

I've just downloaded the example app from the auth0 page and it seems it's not working. After looking at the URL the login process generates I've noticed this:

error_description=Cannot read property 'persons' of undefined

What am I missing?

[2019-07-11 09:55] stevehobbsdev commented on #62
Hi @ricardonogues, a couple of questions:

* Which sample did you download?
* Did you follow the steps in the example app to configure it with your Auth0 details?

[2019-07-11 09:57] stevehobbsdev commented on #60
Hi @ibraelillo, another issue was raised with the same error, but in the Angular sample. It looked like it was because of a `tsconfig` problem: https://github.com/auth0/auth0-spa-js/issues/45

Does anything in that issue help you?

[2019-07-11 09:59] ricardonogues commented on #62
Hey @stevehobbsdev ,

I've just downloaded the sample provided here:

https://auth0.com/docs/quickstart/spa/react/01-login

The URLs are set up like it's required by this tutorial.

Allowed Callback URLs: http://localhost:3000
Allowed Web Origins: http://localhost:3000
Allowed Logout URLs: http://localhost:3000

[2019-07-11 10:12] stevehobbsdev commented on #62
Ok, and you haven't modified the code in any way since downloading it?

Can you tell me if you're connecting to the Default App in Auth0, or have you created a new app for this sample? If you're using Default App, one thing to try is creating a brand new one for this sample and configuring the `auth_config.json` file with those details.

[2019-07-11 10:31] ricardonogues commented on #62
I've just downloaded it and ran:

npm install && npm start

I'm using the default app though. I'll try to create a new one and test with that.

[2019-07-11 10:40] ricardonogues commented on #62
Hi again,

I've created a new app but no luck. It returns the same error. I've checked it in the tenant logs and the client_id matches the one from the new app. I'm trying to login with Google. Could this be the problem_

[2019-07-11 10:44] stevehobbsdev commented on #62
@ricardonogues It's always worth trying to log in with a different method, such as using an email address and password, or a different social provider. Can you try that and let me know how you get on?

[2019-07-11 11:11] ibraelillo commented on #60
Hi @stevehobbsdev ,

I've already tried that example, and if I change my tsconfig.json then it breaks the platform. My auth component is part of a library which contains a lot of other components which are working with the current typescript config. The library is also shared between 3 other different apps, so, I have no choice but to find out what's happening.

As a context, I'm working with :
-

[2019-07-11 12:17] indrajitbnikam opened #63 "Can't resolve '@auth0/auth0-spa-js/dist/typings/Auth0Client'"
Hi,

I was reading the online documentation on how to use @auth0-spa-js with angular on the official website. So I installed it.

but have been getting this error:

Module not found: Error: Can't resolve '@auth0/auth0-spa-js/dist/typings/Auth0Client' in <My Project Path>

I'm not sure why this is happening? so I tried your sample project on GitHub. surprisingly enough it works.

I'm not sure what

[2019-07-11 12:26] sourcewars opened #64 "isAuthenticated is undefined after reload"
So i tried to make things work with the described example from the react wrapper, also managed to make things work. The problem we have right now is when reloading the app the isAuthenticated is always undefined. We wrapped the Code inside a AppContext wich provides these things for other components and than loads an AuthenticatedApp or UnauthenticatedApp. When flushing the cache and reload the wh

[2019-07-11 13:04] indrajitbnikam commented on #63
Hi Sorry for opening this issue.

For some reason I coded like:
[code]

when I was supposed to code like this:
[code]

my bad 😃

[2019-07-11 13:04] #63 closed

[2019-07-11 13:29] ricardonogues commented on #62
@stevehobbsdev ,

I've added facebook to the login options. When I try these integrations in the app setup page I always receive this:

{
  "error": "access_denied",
  "error_description": "Cannot read property 'persons' of undefined"
}

Tried with google and facebook, both returned that error. Is it something wrong with my app configuration?

[2019-07-11 13:41] stevehobbsdev commented on #62
@ricardonogues Just thought - do you have any custom rules set up in your Auth0 dashboard that may be interfering?

[2019-07-11 14:00] ricardonogues commented on #62
@stevehobbsdev ,

That's it. I do have a custom script running as part of the auth process. I was unaware of this as this is an account that was not set up by me. Thank you for your help.

[2019-07-11 14:39] stevehobbsdev commented on #62
@ricardonogues No problem! Glad you got it sorted :)

[2019-07-11 14:39] #62 closed

[2019-07-11 16:22] luisrudge commented on #52
@frederikprijck you're right. That's a bug! You should be able to override it from the loginWithRedirect call. I'll patch this.

[2019-07-11 17:01] tblack0691 commented on #52
What would I need to do to get the loginWithRedirect() working in the sample application using your loading example?

[2019-07-11 17:08] luisrudge commented on #52
@tblack0691 `loginWithRedirect` will be available as soon as `loading` is `false`.

[2019-07-11 17:11] luisrudge commented on #52
@frederikprijck fixed here: https://github.com/auth0/auth0-spa-js/pull/66

[2019-07-11 17:43] frederikprijck commented on #52
@luisrudge Great, thanks!

[2019-07-11 20:53] wrightwriter commented on #58
I have been reading through your tutorial routinely for the past 4 days. It does not say how to fetch a token in useEffect.

[2019-07-11 21:12] luisrudge commented on #58
@wrightwriter
This example shows how you can use `getTokenSilently` when calling an API: https://auth0.com/docs/quickstart/spa/react/02-calling-an-api#call-the-api.

If you want to use it inside a `useEffect` block, you just have to make sure you don't call it when `loading` is true:

[code]

[2019-07-11 21:28] luisrudge commented on #64
Looks like you're checking for `isAuthenticated` while the SDK is still fetching data from the server. You have to wait `loading` to be false before doing anything with the sdk:

[code]

I'll close this issue because it's not related to the SDK itself. If you have more questions, feel free to use https://community.auth0.com/ or open an issue in the sample repo: https://github.com/auth0-samples/aut

[2019-07-11 21:28] #64 closed

[2019-07-11 22:23] wrightwriter commented on #58
Oh thank you, that was it. I guess I should have read the code for ```react-auth0-wrapper.js``` to undestand what loading means.

[2019-07-12 09:15] ricardonogues opened #67 "Expose auth0Client globally"
I've followed the SPA quick start guide and got it working. My problem now is that that guide kinda forces you to manage authentication through your component tree by having the Auth0Context around your entire app. Is there any problem in exposing the auth0Client globally to the app? My issue is regarding API calls. Following the guide, I realized that I need to call getTokenSilently but the way t

[2019-07-12 09:27] stevehobbsdev commented on #67
Hi @ricardonogues, the SDK itself makes no assumptions about how you will integrate it into your application. You can of course use the client in the way you describe, but it's better discussed in the context of the sample.

Can you raise this issue against the sample you're working from? Additionally, someone has already raised this for discussion in the [Auth0 Community Forums](https://community

[2019-07-12 09:27] #67 closed

[2019-07-12 09:32] ricardonogues commented on #67
@stevehobbsdev ,

This is exactly my problem!

Again, thank you for your help!

[2019-07-13 20:43] yirenlu92 opened #68 "Unhandled Rejection (Error): Invalid State"
I am calling auth0 using the methods provided in react-auth0-wrapper.js. Sporadically I am receiving the following error when I try to login:
![IMG-9801](https://user-images.githubusercontent.com/13631199/61176341-3cc49a00-a58d-11e9-866c-e77ec2984193.JPG)
Documentation online says that it's possibly a caching problem, but the documentation is wordpress-plugin-specific. Anyone know what's going on

[2019-07-13 21:12] nojaf opened #69 "React: Apollo hooks"
Hi, how would the [React wrapper](https://auth0.com/docs/quickstart/spa/react/#install-the-auth0-react-wrapper) work in combination with [@apollo/hooks](https://www.npmjs.com/package/@apollo/react-hooks)?

At some point in my application, I would like to add an additional header with my access token if the user decided to log in. Some graphql queries should be available when the user isn't logged

[2019-07-14 15:04] nojaf commented on #69
More to the point, consider the following code:
[code]

How do I get my bearer token inside the setContext callback?

[2019-07-14 17:23] luisrudge commented on #68
This happens a lot in test scenarios, when you go to the Universal Login page (after calling `loginWithRedirect` and then click the browser back button to go back to your app to test it again. If you do that a lot, it will cause this issue where you fill up the available cookie space with transactions that never get finished.

Also, might happen if you're calling `loginWithRedirect` more than once

[2019-07-14 17:23] #68 closed

[2019-07-14 17:28] luisrudge commented on #69
That's a good question. I don't know how all the apollo setup works, so I'm not sure I'll be able to help you that much. What I can say is that if you have to setup everything outside a react component (like you're doing right now), it's unlikely the react wrapper will help you that much. The react wrapper is using React context, which needs a component to hold the state, so you'll have to ignore

[2019-07-14 17:28] #69 closed

[2019-07-14 17:29] luisrudge commented on #69
Feel free to open an issue in the [samples repo](https://github.com/auth0-samples/auth0-react-samples/) if you have more questions, since the react wrapper is not part of this sdk.

[2019-07-14 22:29] mcyleung opened #70 "Getting an uncaught error in the react quick start example"
I am getting the following error in the download sample that you guys have provided for the react quick start of auth0
Uncaught (in promise) TypeError: Cannot read property 'split' of undefined
    at auth0-spa-js.production.js:685

[2019-07-14 22:52] luisrudge commented on #70
do you have a code snippet? what lib version is this?

[2019-07-15 01:35] mcyleung commented on #70
I think this bug has something to do with authorization from what I got from the logs and I am using "@auth0/auth0-spa-js": "^1.0.2".
I don't really have a code snippet for you because this is straight from the quick start example. But I can DM you my domain and ClientID for you to try on the react quick-start sample.

What I have tried:
- It works fine when I have a fresh SPA application.
- It br

[2019-07-15 01:46] luisrudge commented on #70
do you have a HAR file I can take a look? You can send it to luis.rudge at auth0.com

[2019-07-15 16:27] luisrudge commented on #70
@mcyleung just sent me an e-mail with a log and with the following text:

If anyone hits this again, please open a new issue so we can investigate. Thanks @mcyleung for following up by email!

[2019-07-15 16:27] #70 closed

[2019-07-15 17:32] luisrudge commented on #60
@ibraelillo can you create a simple repo with next+typescript and configs you're using that replicates the problem? I'll clone it and try to find the issue.

[2019-07-16 11:45] HIAB-vesteel commented on #60
I´m just noting that i have the same error when running unit test in Karma.
I have the same AuthService as the tutorial right now.
In my navbar component i have the below code. In the navbar test i avoided/missed to mock the calls to auth0.

[code]

With #45 implemented unit test passes but in "afteall" i  still get this
![image](https://user-images.githubusercontent.com/39406409/61291372-a54e8980

[2019-07-16 11:52] stevehobbsdev commented on #60
@ibraelillo @HIAB-vesteel I think in order to progress this, a small repro case that you can share would be the most useful thing to help us.

[2019-07-16 12:58] HIAB-vesteel commented on #60
I created a completely new and fresh angular cli app.  https://github.com/HIAB-vesteel/auth0-missing-default

Just added auth0 as in  the guide  [Angular: Login](https://auth0.com/docs/quickstart/spa/angular2/01-login) untill the section [showing-profile-information](https://auth0.com/docs/quickstart/spa/angular2/01-login#showing-profile-information).

Pull the solution down. run `npm install` and

[2019-07-16 13:15] stevehobbsdev commented on #60
@HIAB-vesteel Are you missing some commits? I can't see anywhere in that project where Auth0 is used, and all the tests pass.

[2019-07-17 05:16] HIAB-vesteel commented on #60
@stevehobbsdev Sorry man, end of the work day and i forgot the commit. Now its updated

[2019-07-17 06:01] abrahamgnz opened #79 "Missing flow to take the user directly to the sign up page."
Seems like there is nos straight forward way of taking a user to the sign up page.

Maybe loginWithRedirect could take an option to take the user directly to the sign up page.

[2019-07-17 06:04] 814k31 opened #80 "Linking Account Help"
Good work so far on this package!

I'm looking at how to authenticate an account using this package without affecting the currently logged in account such that I can trigger the accounts to be linked.

Example:
I have account `A` logged in using email/password and they want to click a button to authenticate a social network account `B` but does not want the app to be logged into that social networ

[2019-07-17 06:41] 814k31 commented on #80
It seems that the above code works, however when the original in overridden in storage so refreshing the page or adding the following code to the end of the above snippet will break:

Options like `rememberLastLogin` || `remember_last_login` did not work

[code]

[2019-07-17 06:50] #79 closed

[2019-07-17 06:51] abrahamgnz commented on #79
Found on the documentation that this is a now issue for the universal login.
- It's not possible to link to the Signup page or default to it. Users will land in the login page, and can navigate to Signup from there.

[2019-07-17 08:33] 814k31 opened #81 "Feature Request: Trigger Change Password Email"
I am trying to trigger the change password email which I could do using auth0-js

https://auth0.com/docs/libraries/auth0js/v9#password-reset-requests

Can we add a similar function to this library?

[2019-07-17 12:41] Jorgevillada opened #82 "auth0-spa-js only works in secure origin"
Hi,
window.crypto only  works in secure origin https://github.com/w3c/webcrypto/issues/28

https://github.com/auth0/auth0-spa-js/blob/b9ae10f9f7029c566abe7ee0bc4594e4914cb439/src/utils.ts#L92

error:
![image](https://user-images.githubusercontent.com/8599697/61375656-0b85eb80-a865-11e9-9936-8e08b30836eb.png)

![image](https://user-images.githubusercontent.com/8599697/61375687-1e002500-a865-11e9-96

[2019-07-17 13:12] Jorgevillada opened #83 "auth0-spa-js.production.legacy.js default export is undefined"
hi,  Currently I have some problems with the transpilation of auth0-spa-js.production.js

[code]
I tried to use the build `auth0-spa-js.production.legacy.js`, but it fails
[code]
webpack alias:
[code]

![image](https://user-images.githubusercontent.com/8599697/61377436-d2e81100-a868-11e9-8b47-f1b25773c497.png)

![image](https://user-images.githubusercontent.com/8599697/61377331-9ae0ce00-a868-11e9-

[2019-07-17 13:26] stevehobbsdev commented on #82
@Jorgevillada that is correct; the SDK only supports running in a secure origin.

However, we appreciate that the error message isn't exactly helpful, and already have it on our backlog to fix.

[2019-07-17 13:26] #82 closed

[2019-07-17 15:52] luisrudge commented on #83
@Jorgevillada are you using angular?

[2019-07-17 15:53] luisrudge commented on #81
No. This library will focus on Universal Login authentication only.

[2019-07-17 15:53] #81 closed

[2019-07-17 16:06] Jorgevillada commented on #83
reactjs with webpack.

[2019-07-17 16:31] luisrudge commented on #83
Duplicate of https://github.com/auth0/auth0-spa-js/issues/57. Looks like an internal config issue. You should probably exclude our library from being transpiled

[2019-07-17 16:31] #83 closed

[2019-07-17 16:42] luisrudge commented on #80
You should only have a single `auth0Client` per page. We don't currently support account linking with this SDK because we don't expose the raw id_token. For now, you can use Auth0.js (https://auth0.com/docs/migrations/guides/account-linking#link-current-user-accounts-with-auth0-js) or a rule (https://auth0.com/docs/link-accounts#automatic-account-linking). I'll add this to our backlog as a feature

[2019-07-17 16:42] #80 closed

[2019-07-17 18:42] andrhamm opened #88 "Links broken on https://auth0.github.io/auth0-spa-js/"
I noticed that most of the links to local files in this repo are broken on the `https://auth0.github.io/auth0-spa-js/` site.

~~Also, the "Be sure to review the [contributing guidelines](https://github.com/auth0/auth0-spa-js/blob/master/CONTRIBUTING.md)" message I'm seeing on GH as I type this issue links to a 404 as well (`https://github.com/auth0/auth0-spa-js/blob/master/CONTRIBUTING.md`).~~ (I

[2019-07-17 19:24] #88 closed

[2019-07-17 20:25] mwillbanks opened #92 "Configure or Handle Timeout on Popup Authentication"
When using loginWithPopup:
[code]

An issue arrises that when an error occurs such as leaving the window open until it times out there is not a recourse to shut the popup window, possibly this should be a parameter with the `getTokenWithPopup` where a parameter such as `closePopupOnError` or otherwise would exist.  We should also likely be able to control the timeouts associated with this rather t

[2019-07-17 22:01] stevehobbsdev commented on #60
@HIAB-vesteel The app looks fine from the point of view that it works. If I configure it with a valid domain and client ID then I can log in and use the app just fine. So it looks like the error has to do with how it's being tested. The tests are peculiar because it's the Navbar creation test which is failing, yet the error is being thrown by the call to `handleRedirectCallback` from the `Callback

[2019-07-18 02:03] 814k31 commented on #80
@luisrudge all good thanks for responding so quickly

[2019-07-18 02:40] luisrudge commented on #92
I agree that will be super useful. Do you want to send a PR with that? If you can't, I'll add our near term backlog to make sure we work on this.

[2019-07-18 13:48] danillouz opened #93 "`RedirectLoginOptions` has no default"
Hi there,

I've experimenting with the new library and it looks like the default value of `{ }` is not set for the `RedirectLoginOptions` in the `loginWithRedirect` method.

When I call the method like this:
[code]

I get the error:
[code]

But if I call it with an empty Object, everything works fine:
[code]

I'm not familiar with TypeScript, but when I look at the code, a default value is set:
ht

[2019-07-18 13:57] luisrudge commented on #93
@danillouz what version are you using? The default param was added in 1.1.0 and I can see it in the bundled file:
![image](https://user-images.githubusercontent.com/941075/61463500-e10e5e00-a94a-11e9-8d04-8e3ac12e1ba6.png)

[2019-07-18 14:08] danillouz commented on #93
@luisrudge I was using `1.0.2`, just tested with `1.1.0` and it works as expected.
My mistake, I should have checked the release logs more carefully.
Thanks for your help.

[2019-07-18 14:08] #93 closed

[2019-07-19 09:09] Arnaud-J opened #95 "Question: what is the use of 'auth0.is.authenticated' cookie"
Hi,

I was questioning myself about the use of 'auth0.is.authenticated' cookie as it has been confusing to me (I searched for an answer on other issues but could not find one, sorry if I missed it).

What seem strange to me is that, when creating an auth0 client, presence of this cookie is checked before we try to authenticate silently.
Here is the line https://github.com/auth0/auth0-spa-js/blob/m

[2019-07-19 13:57] PaulInglis opened #96 "Deploying to http environment causes error on `loginWithRedirect`"
We have an environment deployed on Azure which is used for test automation.  Currently, as it is limited by ip address, we don't have https set up on this environment.

When we do a build of our code with this library incorporated, I get and error when I hit the login button, which is in turn calling `loginWithRedirect`.  We use a slightly modified version of the [Auth0 React wrapper](https://auth

[2019-07-19 14:24] stevehobbsdev commented on #96
Hi @PaulInglis,

Running in non-secure environment is not supported by the library as it relies on the native Crypto APIs being available in the browser.

This is covered in [the FAQ](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md)

[2019-07-19 14:26] PaulInglis commented on #96
Thanks Steve, however I do not see that FAQ which you refer to in that link.

[2019-07-19 14:56] stevehobbsdev commented on #96
@PaulInglis No I know, I raised that comment in error, apologies for that.

To answer your question, yes the SDK must be run on a secure origin as it relies on the crypto APIs being available in the browser to function.

We fully intend to handle this better and surface better messaging from the library when the scenario you've encountered occurs, and it's in our internal backlog to fix.

[2019-07-19 14:56] #96 closed

[2019-07-19 15:03] luisrudge commented on #95
We use the cookie to improve the user experience. If the cookie is present, we automatically do a silent authentication request to get and cache the tokens. In most cases, it doesn't make sense to call Auth0 if the cookie is not there because, most likely, there won't be a session. If you have a particular scenario that this behavior is needed, you can call it yourself.

[2019-07-19 15:03] #95 closed

[2019-07-19 21:57] izzmeifter opened #97 "Syntax Error on IE"
The lib was erroring on our project in IE 11 after updating to the spa lib from lock, and when testing with the demo application we get the same error. It looks like it's using some es6 syntax in the module (spread operator). I'm using differential loading, but it doesn't look like it effects node_modules. below are the errors from the demo app.

This is on IE 11.0.9600

Perhaps i'm doing somethin

[2019-07-19 23:27] luisrudge commented on #97
Ops! That was an oversight of my part. I opened a PR to fix the file bundles will pick when you import our library. I'm so sorry about this. If you need a quick replacement for this weekend, feel free to use our CDN bundle that is ES5 compatible and has all the polyfills available: https://cdn.auth0.com/js/auth0-spa-js/1.1.0/auth0-spa-js.production.legacy.js - it's a bit bigger than the original o

[2019-07-19 23:36] TimHarrison commented on #52
So I have v1.1.0 installed which should contain the fix, but I'm still getting this same error. Was there something in the tutorial code examples that needs to be changed? I'm trying to learn here so I'm not to clear on what was fixed so following the tutorial is just about my only option right now.

[2019-07-20 00:17] Memo99 commented on #52
@TimHarrison same problem here. Please update tutorial.

[2019-07-20 02:03] luisrudge commented on #52
@TimHarrison can you please open a new issue in the react sample repo showing where the error happens? https://github.com/auth0-samples/auth0-react-samples I'll happily debug this with you there 🎉

[2019-07-20 08:03] Enngage commented on #92
Same here, I feel the 30s timeout is way too low :( I would really liked there to be a way to configure custom timeout + way to close popup on `any` error.

[2019-07-21 19:55] alfonmga commented on #41
Oh my god I tripped over this so badly my face still hurts.

Applications default algorithm is HS256 and nowhere in the quickstart guide is telling you to switch it to RS256.

You guys should def update it.

[2019-07-22 02:10] luisrudge commented on #41
@alfonmga are you talking about a new client you created in the Auth0 dashboard? Or are you trying to migrate an old application to the new SDK? In any case, I'll send a PR to add this information in the Quick Start as well. Thanks for the feedback!

[2019-07-22 14:33] Dig-Doug opened #99 "auth0_spa_js_1.default is not a function"
Hi, I'm trying to use the auth0 library in my project but I'm getting an error:

[code]

I've seen some similiar issues, #60, #45, but their setups are a bit different and I've tried the suggested tsconfig fixes and I couldn't get them to work.

My project uses a setup similar to the [angular-bazel-example](https://github.com/angular/angular-bazel-example), so I've created a repro of the problem u

[2019-07-22 17:36] #97 closed

[2019-07-23 09:55] necramirez commented on #99
We have the same problem. We can't change our tsconfig as the other issues say because doing that breaks our build.

[2019-07-23 12:31] sourcewars opened #105 "Please provide more in depth examples... getTokenSilently - react..."
For me it"s hard to understand what's happening inside this stuff. So would be great for better examples. Everytime reloading/hot reload while developing, the app asks for login, that sucks alot. Even like described that it will automagically check with getTokenSilently is not happening. Don"t know why. But more detailed explanations would be great.

[2019-07-23 12:35] luisrudge commented on #105
Are you by any chance logging in using a social account + using development keys for your social connections in the Auth0 dashboard?

[2019-07-23 12:39] sourcewars commented on #105
Yep i'm using google login.

[2019-07-23 12:49] luisrudge commented on #105
and did you setup your own google keys or are you using Auth0's development keys?

[2019-07-23 12:50] sourcewars commented on #105
where could i set these things up?

[2019-07-23 12:52] luisrudge commented on #105
Here's some of the limitations of using Development keys: https://auth0.com/docs/connections/social/devkeys#limitations-of-developer-keys

Here's a step-by-step guide on how to setup your google connection: https://auth0.com/docs/connections/social/google

When you use Auth0's development keys, `getTokenSilently` won't work.

[2019-07-23 12:52] #105 closed

[2019-07-23 12:54] sourcewars commented on #105
Okay will test it out ! Thanks with the first feedback and i will provide infos when i'm done :)

[2019-07-23 12:56] luisrudge commented on #105
Perfect! Let me know how it goes.

[2019-07-24 01:09] joshuarobs commented on #52
@luisrudge
I too had the same problem as @TimHarrison, being on the latest update (1.1.0), following the tutorial and still getting the bug. However, I managed to fix it by looking at the file (https://github.com/auth0-samples/auth0-react-samples/blob/master/01-Login/src/App.js) and adding in
[code]
before returning my Router component, as seen in the file.

I believe that this mention of not call

[2019-07-24 01:13] luisrudge commented on #52
@joshuarobs thanks for pointing that out. Indeed, the app should render only after `loading` is set to false. Do you want to send a PR to our [quick start](https://github.com/auth0-samples/auth0-react-samples)? If you can't, I'll add to my backlog so I can focus on this next week. Thanks! 🎉

[2019-07-24 01:22] joshuarobs commented on #52
@luisrudge The code is already there. I guess I didn't communicate it properly that the tutorial at (https://auth0.com/docs/quickstart/spa/react/01-login#integrate-the-sdk) should be updated to show these changes.

[2019-07-24 04:18] EisenbergEffect opened #107 "Nickname, Email, and Picture"
Using the old SDK, when I called my server API with my access token, on the server I would also have a user object with `nickname`, `email`, and `picture`. After updating to this library, that data is no longer available. My server code relies on this. Is there something wrong with my configuration? A bug in this library? A breaking change that no longer makes this info available?

Any assistance

[2019-07-24 04:36] luisrudge commented on #107
@EisenbergEffect Hi 👋 Access tokens are opaque, which means they're just strings and you shouldn't rely on them being anything (a JWT, for example). More information [here](http://www.cloudidentity.com/blog/2018/04/20/clients-shouldnt-peek-inside-access-tokens/) and in a very well written comment on this [here](https://github.com/auth0/auth0-spa-js/issues/23#issuecomment-507794605).

With all that

[2019-07-24 04:45] EisenbergEffect commented on #107
I’ve got the audience setup and auth is happening fine. No problem there. It’s just that previously, when I called my API with the access token, using `expressJwt`, the request would then have a `user` object decoded with `nickname`, `email`, and `picture` properties. Now, the user object only has `sub` and related properties. The email and profile data are no longer present.

[2019-07-24 04:49] EisenbergEffect commented on #107
It seems to me that when using the previous SDK, (where I didn’t have a custom audience), Auth0 included the profile and email data in the token, such that the server could decode that. But, it appears it’s no longer doing that. If this is by design, what are my solutions? For example, do I need to create a custom rule that adds this data into the token manually?

[2019-07-24 05:23] luisrudge commented on #107
So, just to make sure: you're receiving a JWT as an access token, but instead of having all the properties you expected, you're only getting `{sub}`.

- Did you create a new client to test the new SDK or are you using the same client you used with Auth0.js?
- Would you mind sharing a code snippet on how you're using Auth0.js and auth0-spa-js?

[2019-07-24 06:42] EisenbergEffect commented on #107
Yes, I do get the JWT as an access token. However, on the server, I am missing email, nickname, and picture, which were there before I switched over to the new SDK. I haven’t created any new clients. It’s my same SPA and my same Auth0 app. However, as part of the tutorial on the new SDK, I did end up creating an API. I didn’t have an API before.

Here’s the code that I’ve got on the client-side:

[2019-07-24 09:25] NevenLiang commented on #52
@luisrudge

Just as @Memo99 mentioned above, after adding the `<PrivateRoute/>` to the `app.js`, when I finished the click to the **log in** button, the error will be thrown.

![image](https://user-images.githubusercontent.com/52629607/61781408-dd8d4200-ae36-11e9-9381-d79bdaf695f5.png)

Also, when I try to go to the path `/profile`, the same error will be thrown again. But this time, error occurs

[2019-07-24 10:03] zhouhao27 opened #108 "How to integrate this into NextJs app?"
I followed **QuickStart** to integrate this into my NextJs application. But got this error message:

In my index.js:

[code]

Any idea? Thanks.

[2019-07-24 10:28] joshuarobs commented on #52
@NevenLiang Try adding:
[code]
before returning your App/Root component. I think I had a similar bug with you, when I entered a url, it would load the page content, auth and then refresh with an empty page. Waiting for auth9 to finish loading removed this bug and also the error in the console

[2019-07-24 10:37] Tazaf opened #109 "Unable to call getTokenSilently concurrently"
Hi!

I'm having an error in the console when creating the Auth0 client using `createAuth0Client()`.

The error is the following:

[code]
On the beautyfied production code, the error points to this line:
[code]

And the code that's calling the `createAuth0Client()` function is this one (pretty much the exact same as the [Angular Login Tutorial](https://auth0.com/docs/quickstart/spa/angular2#add-an-

[2019-07-24 11:04] NevenLiang commented on #52
@joshuarobs thanks, but your code doesn't work for me. The error will still display.

The `<Profile/>` component itself has a condition statement with `loading`. The error should be resolved with the initialization problem of `auth0Client` in `Auth0Provider`.

I can't figure out why adding `<PrivateRoute/>` will affect the **login in** button in `<NavBar/>`. It doesn't make sense.

[2019-07-24 14:35] luisrudge commented on #107
@EisenbergEffect Thanks! Do you have the code snippet on how you did the same thing with Auth0.js?

[2019-07-24 16:11] EisenbergEffect commented on #107
By a fluke of my gitignore file, I don't have the exact code I was using with the original SDK. I pretty much followed the tutorial on that exactly. The one difference I do remember is that I had the audience set up to point to my client id or something like that. I never created an Auth0 API. I tried this same setup with the new SDK and it didn't work. I got errors from Auth0.

[2019-07-24 17:31] luisrudge commented on #107
@EisenbergEffect That snippet would help a lot, but let's try to figure it out in another way.

I did a few tests locally using Auth0.js and auth0-spa-js using a custom audience and the behavior is the same: the access token doesn't have the identity information. The only way to add that is using a rule. Is it possible that you were using an `id_token` instead? This would make more sense because t

[2019-07-24 17:42] EisenbergEffect commented on #107
@luisrudge It does seem likely that I was using an id_token. Is there a way to get that on the client and send that along instead of the access_token (assuming it also include the access_token data) or would you recommend that creating a custom rule to add these fields to my access_token instead?

[2019-07-24 17:59] luisrudge commented on #107
@EisenbergEffect thanks for the clarification! Currently, we don't expose the raw `id_token` because, as I said before, the `id_token` is only meant to be consumed by your client (which is your SPA). So, your best bet *right now*, is to [create a rule to add the claims you need](https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims) to the `access_token` and use that (remember to

[2019-07-24 17:59] #107 closed

[2019-07-24 18:02] dannytatom opened #110 "How should my API verify this?"
I can't find it now, but the original doc/guide I was using (from Auth0) said to use `node-jsonwebtoken` to verify the access token in the auth header. But the token isn't JWT, so I'm not really sure how to verify a user when they hit the API or how to associate that user with a DB record.

I got the login working on the fronted, but yea, I'm stuck on where to go from there. Sorry if dumb question

[2019-07-24 18:06] EisenbergEffect commented on #107
That makes sense. In my case, the API exists solely for the SPA, so the id_token would be useful. However, since writing the code to add the custom claims is not a big deal (per the example above), that seems reasonable to me as well. This might be a good bit for the FAQ. Thanks for the help. I'll give the custom rule a try this evening and see how that works out :)

[2019-07-24 18:07] luisrudge commented on #110
If your access_token is not a JWT, it means that you're not using a custom audience. Please check our guidance for [calling an api here](https://auth0.com/docs/quickstart/spa/vanillajs/02-calling-an-api#create-an-api).

[2019-07-24 18:07] #110 closed

[2019-07-24 18:09] luisrudge commented on #110
Also, if you don't want to use a custom API, you can send the access_token and then use https://github.com/auth0/node-auth0 to get the user information using the [`getProfile` method](http://auth0.github.io/node-auth0/module-auth.AuthenticationClient.html#getProfile).

[2019-07-24 18:27] NevenLiang commented on #52
When I open the demo in `localhost:3000`, there is always a failed request with status code 400 in console panel.

It seems that there is something wrong in initialization of `auth0Client` in `Auth0Provider`. So the `auth0Client` is `undefined`.

I typed the request url to the browser and got the detail about the error from Auth0 error analysis page.

[code]

I go to the setting panel of the appli

[2019-07-24 18:40] dannytatom commented on #110
Created a new API, still get malformed error when supplying that API as the audience.

[code]

[2019-07-24 18:42] dannytatom commented on #110
I feel like the app on auth0 should know the API exists, but I don't see anywhere to tell it that?

[2019-07-25 02:25] EisenbergEffect commented on #107
Just circling back around, I was able to get things working nicely with custom rules that add scoped claims. Thanks again!

[2019-07-25 03:37] gurneyds commented on #60
I'm seeing the same issue. I create a sample app for React that works fine the first time that the user logs in, but when the page is refreshed the call to createAuth0Client() hangs. This means that the auth client is never set and downstream code chokes. I'm very new to auth0, so I could have something wrong but I can't seem to figure it out.  The code for my sample can be found here: https://git

[2019-07-25 03:39] mcblum commented on #110
I was wondering the exact same thing -- does my API have to have some kind of `/token` endpoint or something? I thought Auth0 handled all of that? Here's our flow:

1. Angular app creates Auth0 client which, after login, does somewhere make a call to `{domain}.auth0.com/oauth/token` in which I see the token and id_token, but we can't actually get to it.
2. If I call the API with the `token`, I get

[2019-07-25 03:51] mcblum opened #111 "How does one actually get the JWT?"
I have created the SPA and I've created an API. When I use the example and call the `handleRedirect` function, I see the call go out to the `/token` endpoint which does return an `id_token`. That said, I don't see any way to actually get that token and save it to local storage.

I copied it and used it directly in Postman to call an API, and I'm getting `Expected {different audience}` and auth doe

[2019-07-25 04:39] luisrudge commented on #111
Currently, we don't expose the raw `id_token`. You should use the token returned via `getTokenSilently` to call your API. Please follow one of our quick starts to understand it better. Here's the vanillajs one: https://auth0.com/docs/quickstart/spa/vanillajs/02-calling-an-api

[2019-07-25 04:39] #111 closed

[2019-07-25 05:00] luisrudge commented on #110
If you're not receiving a JWT as an `access_token`, then you're probably missing the step where you declare your custom audience: https://auth0.com/docs/quickstart/spa/angular2/02-calling-an-api#modify-the-authservice-class

[2019-07-25 05:05] luisrudge commented on #110
In order to get a JWT as the `access_token`, your request should have something in the `audience` param. So, the first request to `/authorize` will be something like `https://yourtenant.auth0.com/authorize?client_id=YOUR_CLIENT&audience=YOUR_API....` (not necessarily in that order).

[2019-07-25 05:11] mcblum commented on #111
@luisrudge cool - I did that and every time I get a JWT is malformed error. It appears to be much too short to be a JWT with claims based on what I've seen in the past.

[2019-07-25 05:12] luisrudge commented on #60
@gurneyds can you see if this helps? https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize

[2019-07-25 05:13] luisrudge commented on #111
can you decode it here http://jwt.io?

[2019-07-25 05:13] mcblum commented on #110
@luisrudge also saw your other comment -- here's what I have for my service:
[code]

[2019-07-25 05:14] mcblum commented on #111
Nope, it's invalid. An example of what I'm getting when I do `getTokenSilently` is `v9xKjqcpmgPg4esf9PMDX9T5MEjhAIxs`

[2019-07-25 05:14] mcblum commented on #111
it really doesn't appear to be a JWT

[2019-07-25 05:14] luisrudge commented on #107
@EisenbergEffect perfect! Hit us up if you have any issues!

[2019-07-25 05:16] luisrudge commented on #111
Yup, this is not a JWT. This is a regular access token, which means it's not targeted at a custom audience. Not sure if you're using react or angular, but take a look at our quick starts. It will guide you through creating and consuming an API.
- angular: https://auth0.com/docs/quickstart/spa/angular2/02-calling-an-api
- react: https://auth0.com/docs/quickstart/spa/react/02-calling-an-api

[2019-07-25 05:21] mcblum commented on #111
Wow - yep, I apparently had a dumb few hours. Adding the audience worked. Apparently even though I read that page 100 times I never noticed the difference. Thank you!!!

[2019-07-25 13:59] mkmuduli commented on #70
![image](https://user-images.githubusercontent.com/16792091/61880305-47c6e500-af12-11e9-8330-dfa491d9b4ef.png)

Getting the same issue. Trying to login using gmail. Login is succesful but on Approving access to the application, the page redirects to http://localhost:3000/?code=YpqazoJ6B_RazjFx&state=Mm05b19LSlZSekxaTGpnZGR1aHhBNnF%2BSkhiczZneHI3dm91anI3NEF5RA%3D%3D and gives the error in console.

[2019-07-25 14:00] mkmuduli opened #112 "Getting error on Authorisation using sample react application - Cannot read property 'split' of undefined at auth0-spa-js.production.js:685"
![image](https://user-images.githubusercontent.com/16792091/61880305-47c6e500-af12-11e9-8330-dfa491d9b4ef.png)

Getting the same issue. Trying to login using gmail. Login is succesful but on Approving access to the application, the page redirects to http://localhost:3000/?code=YpqazoJ6B_RazjFx&state=Mm05b19LSlZSekxaTGpnZGR1aHhBNnF%2BSkhiczZneHI3dm91anI3NEF5RA%3D%3D and gives the error in console.

[2019-07-25 14:16] gurneyds commented on #60
I'm just trying to run the sample locally, so the values for "Allowed Callback URLs", "Allowed Web Origins", "Allowed Logout URLs" and "Allowed Origins (CORS)
" are all set to "http://localhost:3000/".  The application does login the first time the page is refreshed. Clicking on the "Profile" link also works - UNTIL the page is reloaded, then it hangs on the call to "createAuth0Client".  I've adde

[2019-07-25 17:39] luisrudge commented on #70
Can you inspect why your oauth/token http request is failing? This will help you solve this issue. Maybe it's a rule or something?

[2019-07-25 17:42] luisrudge commented on #60
@gurneyds Can you inspect your tenant logs? If there's any misconfiguration, it will probably show up there.

[2019-07-25 18:02] luisrudge commented on #112
duplicate of https://github.com/auth0/auth0-spa-js/issues/70. I'm closing this issue, but let's continue our conversation in #70. If we find a bug, we can open another issue with the full repro steps.

[2019-07-25 18:02] #112 closed

[2019-07-25 18:14] luisrudge commented on #111
@mcblum haha. no problem! they look very much the same, except for the `audience` param 😬

[2019-07-25 18:37] luisrudge commented on #60
@gurneyds I looked at your client configuration and I believe you have a typo in the ‘Allowed Web Origins’ fields. It should be `http://localhost:3000` and not `http://localhost:3000/`

[2019-07-25 18:54] gurneyds2 commented on #60
Yes indeed - thank you! The error messages are now gone. I would still expect the authentication to be valid when I refresh the page. After a successful login, the page works fine until I refresh the page. Refreshing the page causes several of the cookies to go away and the page is no longer authenticated. I am forced to authenticate again with each page refresh. Maybe I have another configuration

[2019-07-25 18:58] luisrudge commented on #60
@gurneyds If you check your tenant logs again, you'll see a warning about development keys.

[2019-07-25 20:24] jstayton opened #113 "Polyfills needed for IE 11?"
Hey 👋

I have a Vue CLI app that I've adding this package to via npm. I have it all working in modern browsers, but IE 11 throws a number of errors related to missing features (i.e., `String.prototype.startsWith`).

I could be totally off here, but it looks like `dist/auth0-spa-js.production.js` is built to be ES5 compatible, and work in IE 11?

If not, my follow-up question: What are the polyfill

[2019-07-25 20:29] zuercherm commented on #70
I'm having this issue as well. I cannot figure out why the token request is getting a 401. In the Auth0 logs it shows a "Failed Exchange" due to "Unauthorized". Is there anything specific I should look into to understand what's causing it? I have no rules FWIW.

Thanks

[2019-07-25 20:59] jstayton opened #114 "`createAuth0Client` being async is awkward"
Hey 👋

After switching from `auth0-js` to this package, I wanted to share a piece of feedback. But before I do, let me just say: This package is _way_ simpler to use and understand. Great work!

One thing that is kind of awkward, however, is `createAuth0Client` being async. And maybe that's because of how I've integrated it into my SPA, but I don't think it's _that_ weird. Let me explain.

I call

[2019-07-26 08:13] PapaMufflon opened #115 "How to get a management api access token?"
I'm trying to get an access token to be able to change some user metadata. This is what I have so far:
[code]
However, my `managementToken` only contains the usual scopes `openid email profile`, not the ones I explicitly stated.
The `profile` contains the user metadata I set via the auth0-website, but I cannot update it via `this.http.patch(`http://{project}.{region}.auth0.com/api/v2/users/${this.

[2019-07-26 08:59] davidgeary commented on #96
@stevehobbsdev It may also be worth noting that while `localhost` is considered a secure origin, locally-defined domains (i.e. entries added to your local `hosts` file) are not.

So if, for example, you're testing a multi-tenanted app by adding dummy client-specific subdomains to your `hosts` file - _alice.my-app.local_, _bob.my-app.local_ and so on - you'll need to run under HTTPS, even if they j

[2019-07-26 19:00] luisrudge commented on #70
@zuercherm Can you check if your client was created as an SPA client? I saw this happening with clients that weren't configured as SPA.

![image](https://user-images.githubusercontent.com/941075/61975053-713d4a80-afbe-11e9-944c-83721e1dbd5c.png)

[2019-07-26 19:39] luisrudge commented on #70
I just tested it here and if I have my client setup as a Regular Web Application, it fails. So, make sure your client is the correct type.

![image](https://user-images.githubusercontent.com/941075/61975132-b5304f80-afbe-11e9-9d71-6acad1c167b3.png)

![image](https://user-images.githubusercontent.com/941075/61975141-b95c6d00-afbe-11e9-973f-ca4bd2cfe8f9.png)

I also opened https://github.com/auth0/a

[2019-07-26 20:24] luisrudge commented on #115
[code]

I'm not that well versed with Angular, but I assume both calls will happen at the same time, right?

That particular code won't work for a couple of reasons:

- Your popup will likely be blocked because you can only open a popup when executing code inside a user initiated event handler (like a button click, for example). Your code is trying to open a popup whenever `isAuthenticated` change

[2019-07-26 20:24] #115 closed

[2019-07-26 20:47] luisrudge commented on #114
Thanks for the feedback! We debated this internally for a while 😅. The initial API was something like this:

[code]

But, the results in our usability tests were kinda bad. People got very confused on why they had to call `init` in the first place. Also, the lib worked just fine without the `init`, but it would have no cache on start.

When we set our goals for this library, we wanted to be as eas

[2019-07-26 20:47] #114 closed

[2019-07-26 21:30] luisrudge commented on #109
This is probably happening because the iframe was already closed 🤔 Can you inspect dev tools and see if you're sending two requests to the /authorize endpoint?

[2019-07-26 22:57] zuercherm commented on #70
Yep – that fixed it. Thank you.

From: Luís Rudge <notifications@github.com>
Reply-To: auth0/auth0-spa-js <reply@reply.github.com>
Date: Friday, July 26, 2019 at 2:39 PM
To: auth0/auth0-spa-js <auth0-spa-js@noreply.github.com>
Cc: Michael Zuercher <michael@zuerchermail.com>, Mention <mention@noreply.github.com>
Subject: Re: [auth0/auth0-spa-js] Getting an uncaught error in the react quick start ex

[2019-07-27 07:36] PapaMufflon commented on #115
In my opinion this has nothing to do with Angular. This uses async/await and rxjs.

Because of the `await` the calls will not happen at the same time. When I use the code with `.getTokenSilently` I get the same result. I get two tokens (one at a time, you can see it in the 'network tab'), but both contain only the standard scopes, not the extra ones I've set. In fact, when I just query the `manage

[2019-07-27 08:00] luisrudge commented on #115
Ah, sorry. I didn’t pay attention to the scopes at first. You can’t ask those scopes from a public SPA (client). This scopes are available only for confidential clients.

[2019-07-27 08:06] PapaMufflon commented on #115
Oh, that's a pity. Any reasons why the user shouldn't be able to change
their own metadata on a public SPA?

The alternative is to go through the backend I suppose?

Thanks for the help and the very quick responses!

On Sat, Jul 27, 2019, 10:00 Luís Rudge <notifications@github.com> wrote:

[2019-07-27 14:08] danhowitt commented on #64
Please note there is a bug when setting Allowed Web Origins in your auth0 dashboard. You have to add entries with and without http/https prefixes.

For my gatsby project I needed to add
[code]

[2019-07-27 15:30] luisrudge commented on #115
https://auth0.com/docs/users/concepts/overview-user-metadata There’s two metadata fields. An authenticated user can modify data in the `user_metadata`, but not in the `app_metadata`.

[2019-07-28 21:04] gosuhiman commented on #109
I've got the same problem, and there are 2 requests sent to `/authorize`.

[2019-07-29 13:01] rkuprin commented on #109
Same problem, two requests. Happens only if you refresh a page after sign-in (I'm using Auth0 with Angular SPA), without refreshing it works fine and sends just one request.

[2019-07-29 14:21] luisrudge commented on #109
@gosuhiman @rkuprin Is it possible that you have two instances of the client? can you build a repro to help me identify why are you seeing two requests?

[2019-07-29 16:01] Enelar opened #120 "Import module from browser"
[code]

[code]

`Chrome 75`

tried `clientClass.createAuth0Client()`, `clientClass.client`, `clientClass()`, noting.

I think it's just broken.

[2019-07-29 17:05] brianagriffith opened #121 "Passing login_hint to loginWithRedirect does not populate email address"
Per the documentation [here](https://auth0.github.io/auth0-spa-js/interfaces/redirectloginoptions.html#login_hint), passing the email address in the login_hint parameter should populate the email address on the login page but that doesn't appear to be working. Below is example code:
[code]
This code results in a redirect without the email address being passed forward. Am I misunderstanding how thi

[2019-07-29 22:02] raanam opened #122 "Library not returning the scopes granted to user"
I am implementing Authorization in SPA using technique described in - https://auth0.com/docs/architecture-scenarios/spa-api/part-2
But I found that there is no way to retrieve value of "scope" present in the "/token" response. getTokenSilently method is returning access_token only.
Any suggesting to work around this issue.

[2019-07-30 14:14] luisrudge commented on #122
There's no scopes returned in the `oauth/token` http call:
![image](https://user-images.githubusercontent.com/941075/62136674-012f0d00-b2bb-11e9-8160-8d0e09abe34c.png)

We had discussion on how to expose the permissions of a token in https://github.com/auth0/auth0-spa-js/issues/48#issuecomment-508181381 and https://github.com/auth0/auth0-spa-js/issues/23#issuecomment-507794605. Let me know if this

[2019-07-30 14:19] luisrudge commented on #121
You'll have to customize the Login Page and use the Lock default template, which does this automatically:

![image](https://user-images.githubusercontent.com/941075/62137173-e1e4af80-b2bb-11e9-9027-1e835e81acdc.png)

The new Universal Login Page experience still doesn't prefill the email field based on `login_hint`.

[2019-07-30 14:19] #121 closed

[2019-07-30 15:30] luisrudge commented on #120
That file is a umd build. You should use the ESM build: `https://cdn.auth0.com/js/auth0-spa-js/1.1/auth0-spa-js.production.esm.js`.

Just as a heads up, I just checked this and our CDN is not sending the necessary CORS headers and mime type for ESM files. I'll investigate this with them, but you can load it via unpkg for now:

[code]

[2019-07-30 15:30] #120 closed

[2019-07-30 18:23] dbvt10 commented on #52
another soloution for fix is watch `loading`:

[code]

[2019-07-30 21:36] raanam commented on #122
Hi

If you look at - https://auth0.com/docs/architecture-scenarios/spa-api/part-3 [Section - https://auth0.com/docs/architecture-scenarios/spa-api/part-3], It mentions that authResult.scope will contain the scope granted to user. I have followed the stems mentioned in this article and I get scope value in the response of /token call.

[2019-07-31 01:31] luisrudge commented on #122
That tutorial uses https://github.com/auth0/auth0.js. The scope comes back in the authentication result, not in the /token call. Auth0.js doesn't use the /token endpoint at all.

[2019-07-31 11:21] etortec opened #126 "Federated logout"
It seems like auth-spa-js 1.1.0 currently does not support telling auth0 to perform a [federated logout](https://auth0.com/docs/logout/guides/logout-idps). There seems to be no way to pass the required _federated_ query parameter since the `LogoutOptions` interface does not allow this:
https://github.com/auth0/auth0-spa-js/blob/5f946338af92183298d93161e9f181b823cd2ec2/src/global.ts#L162-L179

Am i

[2019-08-01 00:56] thangbn commented on #108
use should use withRouter to access router data

[2019-08-01 12:18] luisrudge commented on #108
If you want to use this SDK, you have to make sure that this only runs in the client, which means giving up on server side rendering and extracting your application to a static app.

If you still want to keep using SSR, then you'd have to use server side authentication and not this SDK. We have amazing content written about Next.js with all the guidance you need:

https://auth0.com/blog/next-js-au

[2019-08-01 12:18] #108 closed

[2019-08-01 12:34] luisrudge commented on #60
I'll close this in favor of https://github.com/auth0/auth0-spa-js/issues/99 because #99 has a repro project that I can test.

[2019-08-01 12:34] #60 closed

[2019-08-01 13:58] luisrudge commented on #99
ok, found the issue, although I can't really say why TS works like this 😬

LOOOOTS of other libraries have the same issue: https://www.google.com/search?q=typescript+default+is+not+a+function

https://github.com/iamkun/dayjs/issues/475#issuecomment-483792717

So, the issue here is: since we're using `allowSyntheticDefaultImports: true` in our library, all the *consumers* of our library have to use

[2019-08-01 14:55] gnarj opened #127 "Best practice for multiple API calls in app"
Is it best practice to call the getTokenSliently method every time the app needs to make a call to a private endpoint or does it make more sense to call it once when the user is authenticated and call it again whenever the token expires? I apologize in advance if this has been answered.

[2019-08-01 16:52] stigmat4j commented on #64
Same problem. Not saving auth session. Even on auth0-react-samples.

[2019-08-01 21:26] luisrudge commented on #127
We recommend calling `getTokenSliently` since we manage the lifecycle of the token for you. You don't need to worry if the token is expired or not.

[2019-08-01 21:26] #127 closed

[2019-08-02 05:25] Dig-Doug commented on #99
That works, thanks!

Not sure if you want to stop using `allowSyntheticDefaultImports` and track with this issue -- if not, feel free to close, the `esModuleInterop` change works for me.

[2019-08-02 07:32] luisrudge commented on #99
Yeah, `esModuleInterop` was actually created to "fix" this whole situation with `allowSyntheticDefaultImports`. It still sucks that this is a requirement for some people and I think the actual solution is stop using default exports. For now, I'll add an entry to our FAQ to make sure people know what to do when facing this issue. Thanks for the patience and your help figuring this out! 🎉

[2019-08-02 14:07] Enngage opened #131 "Default popup login state"
Hey,

is it possible to set the context of popup to be either **login** or **signup**?  Currently it always defaults to login which means that if have a register button and expect users to create new accounts they first need to click on the "Sign up" button at the bottom.

[2019-08-02 14:12] Enngage opened #132 "Purpose of ui_locales"
Can you please let me know what is the idea behing the `ui_locales` parameter in login method?

[code]
I thought I could use this to localize the popup, but it doesn't seem to work no matter what I use.  Is localization possible with this package?

[2019-08-02 14:25] luisrudge commented on #132
All the SDK does is send this param to the Universal Login Page. You can see how to localize that page here: https://auth0.com/docs/universal-login/i18n

[2019-08-02 14:25] #132 closed

[2019-08-02 14:31] luisrudge commented on #131
If you use the classic Universal Login experience, you can customize the template to have this behavior (explained here: https://community.auth0.com/t/how-to-open-login-signup-on-the-universal-login-hosted-page/12642/7).

If you use the new Universal Login experience, then this is not available right now. We're evaluating adding this feature as well, but there's no ETA.

[2019-08-02 14:31] #131 closed

[2019-08-02 17:36] brianagriffith commented on #121
Something is still misbehaving. We are using the classic login page with the Lock default template and the prefill doesn't work.
If I customize the Lock default template and change the prefill to only include the email address the prefill works.
[code]

[2019-08-02 17:46] luisrudge commented on #121
do you see the login_hint parameter being sent in your chrome dev tools?

[2019-08-02 17:51] luisrudge commented on #121
In your universal login page, open your dev tools and type this into the console:

![image](https://user-images.githubusercontent.com/941075/62388984-0b5c4000-b535-11e9-9b18-45df82962a3b.png)

[2019-08-02 18:57] #126 closed

[2019-08-02 19:25] brianagriffith commented on #121
We're using the classic login page, not the universal login page. When I look at the network activity, I see the login_hint being sent as a query parameter.

[2019-08-02 20:15] luisrudge commented on #92
@mwillbanks @Enngage I'd love your feedback on #133 🎉

[2019-08-03 07:48] Enngage commented on #92
@luisrudge awesome, thank you!

Could you possibly share the reasoning behind the default 30sec timeout? Many users fail to fill in their credentials in such short time.

I like that you can close the popup from within the error using `error.popup.close();`, but would it be possible to get an instance of popup when you call `auth0.loginWithPopup` (and similar methods) so that we can potentially ha

[2019-08-04 15:23] fandy opened #135 "Typescript error returning Auth0Context.Provider while following getting started guide"
While following the [Auth0 docs](https://auth0.com/docs/quickstart/spa/react/01-login?download=true#install-the-auth0-react-wrapper) on getting started for our Next.js SPA, I converting it to TypeScript and got this error:

[code]

## [auth0.tsx Gist](https://gist.github.com/fandy/b938eef02def1f83d374c0c1aa4af744)

Things I've tried:
* [I looked through issues and couldn't find a working TypeScrip

[2019-08-04 15:26] luisrudge commented on #135
wow, that's very weird! I have no idea why you're getting that error. In fact, I have a version of that wrapper in typescript if you want to take a look at. Maybe nextjs is messing up with the compilation? I'd try with create-react-app first just to see if it works as expected.

Here's my ts version of the wrapper (non official, still wip): https://gist.github.com/luisrudge/28e591869dcdee10afdfd87

[2019-08-04 15:26] #135 closed

[2019-08-04 15:38] luisrudge commented on #121
Then you likely have a misconfiguration in the customization of the ULP. I'd suggest you to reset to the default customization because the default template works correctly

[2019-08-04 15:41] luisrudge commented on #92
@Enngage I'm not sure where you saw a 30s default. I think we always used a 60s timeout.
It's not possible to return the popup in the `loginWithPopup` method because when the method finishes, the authentication already happened. I think it's better if we manage the lifecycle of the popup.

[2019-08-04 21:16] mwillbanks commented on #92
You can fetch the pop-up today it's a hack but works with most browsers: `const win = window.open('', 'auth0:authorize:popup')`

[2019-08-05 06:05] Enngage commented on #92
@luisrudge I thought I saw 30 seconds somewhere, but maybe I confused it with something else :-) Either way the PR looks good and would definitely help accomplish both my issues I have currently with   this package. Thank you!

[2019-08-05 11:37] luisrudge commented on #92
Yes, I can get the reference of the popup in the code, but there's no API that would expose the popup before the code actually runs. For example, how would you get a reference to the popup with this code: `await auth0Client.getTokenWithPopup(params);`

We could change it to be something like this:

[code]

But then we'd be penalizing the most used scenario for a niche use case.

[2019-08-05 12:41] tomgranerod opened #136 "Logout and multiple instances of an application"
If I'm running an application in multiple tabs, then logout from one of them, it seems I'm still able to retrieve a non-expired access_token through getTokenSilently in another tab.

Should there be a check in getTokenSilently that checks if the "auth0.is.authenticated" stored in cookies is still truthy before returning the access_token? I guess that would solve my problem, as this property seems

[2019-08-05 12:48] fandy commented on #135
Hi @luisrudge, I think I've isolated the problem to `tsconfig.json`. Do you mind posting your config so I can compare and see?

[2019-08-05 12:57] luisrudge commented on #136
That might work, yes. We could sync between tabs as well (that's a good improvement), but it's not fault proof, right? None of this would work if you have the sdk running in multiple browsers or even running in normal and incognito mode. I still think syncing between tabs is still a good improvement. I'll add this to our internal backlog so we can tackle this in the near future.

[2019-08-05 12:57] #136 closed

[2019-08-05 13:04] luisrudge commented on #135
I think it's the default created by `create-react-app --typescript`

[code]

[2019-08-05 13:14] tomgranerod commented on #136
Thanks for the quick reply. No, it's definitely not fault proof, but as you say, it would be an improvement if it could be synced across tabs at least. Guess one option still, is to use the ignoreCache option, but then again I don't really want to request a new token for every request that we do.

[2019-08-05 14:34] fandy commented on #135
Ah, turns out I placed the file in another directory that was SSR, which had different `tsconfig` rules.

[2019-08-05 15:04] kgonzale commented on #52
@dbvt10 Your example did not seem to work for me.

@joshuarobs  Currently running into some typescript issues with the
`const { loading } = useAuth0;`

[2019-08-05 15:13] BenjaminRichardson commented on #70
I am still encountering this error following the Angular quick start guide.

My application is configured as a single page application.
I am using @auth0/auth0-spa-js version 1.1.1

I am able to sign in and hit the callback page. The token comes back without error, but I get this message when calling `handleRedirectCallback` on the client generated by `createAuth0Client`

<img width="466" alt="Scr

[2019-08-05 17:55] luisrudge commented on #52
@kgonzale you're missing the `()`

`const { loading } = useAuth0();`

[2019-08-05 17:56] kgonzale commented on #52
@luisrudge Very much appreciated, I'm a nut at times haha

If I wanted to implement a whitelisting feature from ad to the spa reactjs, where should I look in the docs?

[2019-08-05 17:58] luisrudge commented on #52
not sure what you mean. Can you add a post to https://community.auth0.com/ so we can take a look?

[2019-08-05 18:27] kgonzale commented on #52
@luisrudge https://community.auth0.com/t/reactjs-spa-auth0-active-directory/29011 Done thanks

[2019-08-06 00:37] kibblator commented on #52
Worked like a charm for me. Thanks!

[2019-08-06 06:52] felix-zg commented on #64
Same here.

[2019-08-06 18:35] whynotavailable opened #143 "loginWithRedirect not using redirect_uri from Auth0Client"
Is there a reason that loginWithRedirect does not simply use the redirect_uri value from the client?

Can the value be optional for loginWithRedirect, using the client version if not given in the method?

[2019-08-06 19:04] rally25rs commented on #111
Ran into the same issue, because we were going by the Getting Started guide in this repo, which does not pass an `audience`

https://github.com/auth0/auth0-spa-js#creating-the-client

[2019-08-06 19:12] luisrudge commented on #143
`redirect_url` is optional in the `loginWithRedirect`. If you send `redirect_url` in the `createAuth0CLient`call and nowhere else, that will work as well.

[2019-08-06 19:12] #143 closed

[2019-08-07 00:38] sardah opened #144 "Issues with iOS 10.3.3"
Hi,

I've got a working implementation using promises.  Paid account and custom domain.

Works fine on desktop and iOS 11 & 12.

loginWithRedirect is failing for me on iOS 10.3.3

loginWithPopup brings up a blank popup.

Has anybody confirmed this works on iOS 10.3

Thanks.

[2019-08-07 05:38] max-eb commented on #109
Same problem if you write code like this:
[code]
If you call `getUserInfo` in several places in your project, after refreshing page, it will invoke function `createAuth0Client` several times.
In function `createAuth0Client`, it will call `getTokenSilently`. That is, if you invoke `createAuth0Client` multiple times, it will use a same iframe window(not sure). Once a tread called close, the other th

[2019-08-07 06:43] Schmaga commented on #109
This is a duplicate of my post from the auth0 community forum, but I hope it might help someome:
--------------------

I think I might have found the problem. Because of the observables and multiple subscriptions, there might have been concurrency issues or multiple instances of the Auth0Client. I got rid of the error by doing it this way:

Create the client as shared observable in a similar way l

[2019-08-07 10:09] ed-sparkes commented on #113
I am getting similar issue in IE

`Unhandled promise rejection ReferenceError: 'crypto' is undefined`

seems to be coming from `loginWithRedirect`

[2019-08-07 17:27] #92 closed

[2019-08-07 18:08] emsearcy opened #145 "Method for raw ID token"
We have code migrating to the PKCE flow for which we would need to pass/leverage the raw ID Token (JWT).

Is there a way to get -- or could a method be added to get -- the user's raw id_token JWT, as returned by the oauth/token endpoint?

[2019-08-07 18:11] luisrudge commented on #145
duplicate of https://github.com/auth0/auth0-spa-js/pull/54#issuecomment-509956271

Would you mind sharing your use case so we can add it to our internal discussion? If you don't to share it publicly, send me an email luis.rudge@auth0.com

Thanks!

[2019-08-07 18:11] #145 closed

[2019-08-07 18:14] luisrudge commented on #144
What's the error?

[2019-08-07 18:27] #99 closed

[2019-08-07 18:29] luisrudge commented on #109
Thanks for posting this @Schmaga! We recently upgraded our Angular Quickstart with the `shareReplay`method as well. Here's our take on a great `AuthService`: https://auth0.com/docs/quickstart/spa/angular2/01-login#add-an-authentication-service

[2019-08-07 18:39] emsearcy commented on #145
I agree with your best practices rationale — I just didn't search closed tickets before I opened this.

[2019-08-08 00:44] sardah commented on #144
No error message - it just fails to bring up the auth0 login interface using loginWithRedirect on iOS 10.3.3

I also tried loginWithPopup and this just brings up a blank page.

CreateAuth0Client is returning a valid object.  Just can't get the auth0 login interface to appear using loginWithRedirect or loginWithPopup on iOS 10.3.3

Same code is working fine on iOS 11 & 12 and desktop.

Any ideas?

[2019-08-08 00:48] luisrudge commented on #144
@sardah are you using the classic Universal Login Experience or the new one?

[2019-08-08 00:52] sardah commented on #144
I've tried both - same experience.

[2019-08-08 01:48] luisrudge commented on #144
when you use the loginWithRedirect, are you at least redirected to your tenant's page?

[2019-08-08 01:54] sardah commented on #144
No - not on iOS 10.3.3.

No action at all.  Works fine on later iOS versions.

Have you successfully tested on iOS 10.3.3 ?

[2019-08-08 02:02] luisrudge commented on #144
ahhhhh! ahahah. Sorry! I misread the version all the times. You're talking about 10.3, not 13 😝 Sorry!
I think the issue with 10.3 is that it doesn't support `crypto.subtle`. Can you test adding a polyfill for that and see if it works? https://github.com/vibornoff/webcrypto-shim

[2019-08-08 02:02] #144 closed

[2019-08-08 04:02] sardah commented on #144
Worked great!

Thanks for your help Luis.

[2019-08-08 16:18] echee commented on #113
yep, I mentioned this in another ticket as well, I think a fix for at least Crypto, will be in the next release https://github.com/auth0/auth0-spa-js/pull/98

[2019-08-08 17:22] luisrudge commented on #70
@BenjaminRichardson sorry, I missed this. Did you fix it? Can you check your tenant logs? Other users were having this when you have a custom rule or when the token exchange fails for some reason. This would appear in the tenant logs.

[2019-08-08 19:14] Tazaf commented on #109
@luisrudge I've seen that! And I got to say that this is a waaaay better `AuthService` than the one before 👍
(By the way, I did not run onto this thread issue)

[2019-08-08 22:28] BenjaminRichardson commented on #70
@luisrudge The tenant logs say the authorization code for access token was successful.
I will verify if we have any custom rules and report back. I suspect we do.

[2019-08-09 09:50] vouill opened #147 "Can you set a scope to getUser ?"
Hello!
Nice work on the package, really cool to work with.

I manage to getUser correctly and so on yet i would like to get its meta data.

In order to do that i try to update the scope of the user request yet i do not seem to change it from it's default value.

How would i update the scope of the user info request?

Cheers

[2019-08-09 11:54] luisrudge commented on #147
Here's everything you need to know about how to add custom claims to your token: https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims. If you need to send a custom scope, you can add the scope in the `createAuth0Client` call.

[code]

[2019-08-09 11:54] #147 closed

[2019-08-09 14:59] BenjaminRichardson commented on #70
Ok we do have custom rules in place.

Does this library just not support custom rules at all, or is one of our rules adding something unexpected to the response objects?

 I've looked through the documentation and cannot find an answer.

[2019-08-09 15:11] luisrudge commented on #70
There's an issue that happens when the code exchange fails (which is what is happening). We have a fix in place https://github.com/auth0/auth0-spa-js/pull/116. This will be out in the next release, targeted at next week.

[2019-08-09 15:15] vouill commented on #147
Thanks for the response!

I am trying to implement it yet trying it i  feel like it may not work as intented.

[code]

Even with this after doing `auth0.getUser()` i get this info:

[code]

By setting the scope to email shouldn't i just get email related informations ?

[2019-08-09 15:16] luisrudge commented on #147
but you're getting the email back.. what's the issue?

[2019-08-09 15:26] vouill commented on #147
Alright i'll try to be clearer here :)

As i you know i want to get app_metadata from the user i am calling `getUser()` on.

Thanks to your recommendations i actually tried to do this:

[code]

I felt like i maybe wasn't using setting the custom claim correctly.
I then tried to use a standard claim in order to make sure i understood correctly using `email` like such.

[code]

Yet i still had the s

[2019-08-09 15:30] luisrudge commented on #147
You have to add a custom rule, add the properties you want back in the token and it will get returned in the `getUser` method. It's all explained in the doc I sent you: https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims See how it loads data from `user_medata`. You'll do the same thing, but using `app_metadata` instead

[2019-08-09 15:37] vouill commented on #147
Ohhhhh alright now i got it thanks a lot!

Sorry for the inconvenience have a nice day!

[2019-08-09 16:18] BenjaminRichardson commented on #70
@luisrudge Thanks for info and the quick follow up. I'll follow up after trying with the next release.

[2019-08-09 18:15] izzmeifter commented on #113
Does anyone have a suggested "quick fix" for the Unhandled promise rejection ReferenceError: 'crypto' is undefined problem??

We're getting beat up bad right now as a lot of our users on using windows 11 unfortunately.

Thanks.

[2019-08-09 19:17] jstayton commented on #113
@izzmeifter This is the polyfill they use in the legacy build: https://github.com/auth0/auth0-spa-js/blob/070505cda234e0a14c7cdac86e92f65a2ecdadb4/src/legacy.ts#L3-L5

[2019-08-12 09:10] ed-sparkes commented on #113
This solves the crypto issue but immediately exposes another issue for me.

it appears that `crypto.getRandomValues(new Uint8Array(43))` returns an object rather than an array in IE11 and as such the subsequent line which does a foreach fails
` randomValues.forEach(v => (random += charset[v % charset.length]));`

[2019-08-13 23:01] ashishtilara opened #151 "can I use Auth0-lock with Auth0-spa-js?"
As the title says, is there a way I can use Auth0-Lock and Auth0-spa-js together?

Or I can only use one or another.

[2019-08-14 02:32] luisrudge commented on #151
It's either one or the other. You can make them work together but the user (and developer) experience will be awful. auth0-spa-js manages the entire auth state internally, so it's hard to use anything else together.

[2019-08-14 02:32] #151 closed

[2019-08-14 08:19] PapaMufflon commented on #113
@ed-sparkes I think this should be solved by https://github.com/auth0/auth0-spa-js/pull/98 (ES5 compatibility) which is in the next release as well. Eagerly awaiting the release now... :)

[2019-08-14 11:21] jstayton commented on #113
@PapaMufflon It looks like #98 has already been released in v1.1.1: https://github.com/auth0/auth0-spa-js/blob/master/CHANGELOG.md

[2019-08-14 11:29] PapaMufflon commented on #113
@jstayton @ed-sparkes You are correct, my bad. It still does not work on IE11.

[2019-08-14 12:41] PapaMufflon commented on #113
Finally got it working. I had to polyfill `Uint8Array.slice`, `Array.includes` and `windows.crypto` with a `getRandomValues` method returning a `new Array` (used a modified version of `webcrypto-shim` for that).

[2019-08-14 12:59] ed-sparkes commented on #113
@PapaMufflon can you share your code for this polyfill thanks

[2019-08-14 13:04] PapaMufflon commented on #113
Sure, I'm using Angular and am very sure that there are better solutions. In main.ts:

[code]

[2019-08-14 14:33] luisrudge commented on #113
Hi folks. Sorry to keep you all waiting. I'm doing some cleanup in the polyfills to make sure we only load what we need (we'll also get rid of the `legacy` entrypoint and just have the regular bundle be ie11 compatible).

[2019-08-14 16:15] necramirez commented on #99
Just want to say that `esModuleInterop: true` also fixed it for us.

[2019-08-14 16:55] izzmeifter opened #153 "id_token was issued in the future (invalid iat)"
We're seeing an increasing number of the above error since switching to this library.

The error is sent from Auth0Client._verifyIdToken.

Does anyone have any insight into troubleshooting this? I don't think this is a configuration issue on our end as for the most part, it's random issue, generally on win7 and win8 machines.

Kind regards,

[2019-08-14 17:11] izzmeifter commented on #153
Looking into this more, I'm guessing this could happen simply from a system time being set incorrectly.  Is there a recommended way to tell clients to set their clocks to sync with the token generating server?

Thanks.

[2019-08-14 17:13] luisrudge commented on #153
There's no way to know that unless you do it yourself by getting the current client time + your server time and doing a comparison. We have a 60s leeway to prevent small differences, but you can increase that value if you want: https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html#leeway - anything up to 5min should be fine.

[2019-08-14 17:13] #153 closed

[2019-08-14 20:43] chiaberry commented on #41
When I was following along with the quickstart, it was just failing silently and I didn't catch the error until I tried using promises instead of async await. I agree it would be helpful to include a note in the quickstart to check our token settings.

[2019-08-16 03:33] vtejatv opened #155 "Auth0 taking more than a minute to load"
I'm trying to use the auth0 platform to login. It works perfectly on my localhost:3000, but when I deploy it to my heroku app, I'm getting the following bug.

Basically, the auth0 process is loading for around a minute every time I try to access the webpage. I have attached the code below and it gets stuck in the loading process for around a minute. It works perfectly fine after the loading is don

[2019-08-16 03:36] luisrudge commented on #155
https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize

Check the logs to see what's going on. This happens when there's a configuration issue.

[2019-08-16 03:36] #155 closed

[2019-08-16 14:52] n2k3s2it opened #156 "Using Angular HttpInterceptor doesn't complete HttpClient request observables"
Using the [HTTP Interceptor example from the tutorial](https://auth0.com/docs/quickstart/spa/angular2/02-calling-an-api#create-an-http-interceptor) makes it so that any Angular HttpClient request observable is never completed.

This makes it so that when those request observables are converted to promises, they also never complete and will hang the application.

Removing the object as shown below

[2019-08-16 15:17] n2k3s2it commented on #156
Hmm never mind, it seems the example was updated and this is no longer occurring.

[2019-08-16 15:17] #156 closed

[2019-08-18 16:45] jcmoore0 opened #157 "Export Auth0Client typing"
Hi Auth Team - I would like to be able to import the Auth0Client like this (standard practice)
[code]
Would you please add to src/index.d.ts?
[code]
Auth0Client is imported but not exported in src/index.d.ts.
Thanks for the help.

[2019-08-18 18:14] malliapi opened #158 "window.location.assign vs window.location.replace"
I see that there is no option to allow for the user to replace the location rather than assign it. This creates issues with the browser back button and relogin. Would a replace option be possible?

[2019-08-18 21:49] luisrudge commented on #158
What issue?

[2019-08-19 09:45] malliapi commented on #158
pressing the browser back button will obviously take you back to the hosted login page, which is now unable to login again and takes you to a generic error page. Do you have any ideas on how to tackle this?

[2019-08-19 09:46] malliapi commented on #158
We have tried doing a check session on the login page but would ideally like to skip it entirely.

[2019-08-19 14:19] luisrudge commented on #158
So, you're talking about the redirect from the Universal Login Page to your app, right? Not the redirect **to** the Login Page. We don't control what the ULP does, so we can't change that behavior. We do have a new option in the dashboard that fixes some of the problems encountered when users go directly to the ULP. See if this helps: https://auth0.com/docs/universal-login/default-login-url

[2019-08-19 14:19] #158 closed

[2019-08-19 14:32] luisrudge commented on #157
closing for this reason: https://github.com/auth0/auth0-spa-js/pull/159#issuecomment-522601580

[2019-08-19 14:32] #157 closed

[2019-08-20 09:10] benlester opened #169 "Support for auto_login"
Is there any support for `auto_login` as outlined here: https://auth0.com/rules/email-verified

We have an SPA where users can register - we enforce email verification so after registration we don't want automatic sign in to be enabled.

[2019-08-20 11:26] tomchambers2 commented on #111
this is really confusing as well because the docs don't mention `audience` as a valid parameter. Had to do a lot of hunting to find this!

https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html

[2019-08-20 14:27] luisrudge commented on #169
You can send any parameters you want to the Universal Login Page. If you send `auto_login`, you can customize the ULP to use the `loginAfterSignup` param if you're using Lock. This won't work with the new ULP though.

[2019-08-20 14:27] #169 closed

[2019-08-20 14:31] luisrudge commented on #111
We mention the audience here: https://auth0.com/docs/quickstart/spa/react/02-calling-an-api#specify-the-api-audience

[2019-08-20 14:51] benlester commented on #169
I'm afraid I'm still a bit confused - how would you pass auto_login to ULP? A simple MWE would be greatly appreciated. Thanks.

[2019-08-20 15:00] luisrudge commented on #169
Sorry! My bad for not providing an example.

Any parameter you use in the login methods will be forwarded to the ULP, so you can do:

[code]

And then, in the Classic ULP, you can customize the template to use the `loginAfterSignup` option:

[code]

[2019-08-20 15:02] benlester commented on #169
I see! I didn't know you could pass ULP arguments into `loginWithRedirect` - perhaps I've overlooked it in the documentation - but if not it should be added I'm sure it would help many.

[2019-08-20 15:40] benlester commented on #169
Interestingly - I pass `auto_login` false to the `loginWithRedirect` (it appears in the URL) it doesn't seem to function as expected. After signing up it proceeds to attempt to log the user in.

[2019-08-20 19:53] luisrudge commented on #169
did you customize the ULP template?

[2019-08-21 18:02] kgonzale commented on #52
@luisrudge  Would you happen to know how get the JWT from the React SPA js sdk?

[2019-08-22 06:31] MichielVanderlee commented on #64
I ran into this, and turns out it's due to using Angular's HashLocationStrategy.
Once I ran it without the hash, it worked fine.
Haven't figured out how to get it working with hash.

[2019-08-22 17:08] luisrudge commented on #122
if the issued scope is equal to the one requested then `oauth/token` is not required to send the scope parameter, but if the scope changes (we can do that through rules) the response must contain the scope parameter.
https://tools.ietf.org/html/rfc6749#section-5.1

We'll add a way to get those scopes

[2019-08-23 13:52] #113 closed

[2019-08-23 17:30] keithrz commented on #113
Build please!!!

[2019-08-23 18:44] keithrz commented on #97
@luisrudge does auth0-spa-js.production.legacy.js add createAuth0Client to the global window object, just like auth0-spa-js.product.js does ?  I don't see how it does.  If not, how are you supposed to use auth0-spa-js.production.legacy.js ?  (this may be a moot point if a new build was generated with the latest code from master)

[2019-08-23 19:43] luisrudge commented on #97
@keithrz you're totally right. It didn't expose the object in the window 🤦‍♂ In any case, `legacy` is going away and we're shipping the IE11 polyfills in the main bundle in the next version that will be released next week.

[2019-08-26 06:45] saradotramli commented on #122
Is there an ETA for this?

[2019-08-26 14:10] Satyam commented on #23
I have found a rule somewhere (I'd love to credit whoever posted it, but I lost track of the many open tabs I had and lost track of the author) that gives the rbac permissions in a regular call to `getUser`:

[code]
I tried to flatten out the structure so the permissions are more easily accessed but whatever it is I change, it breaks something or other and stops working. If anyone knows how to do

[2019-08-26 15:55] igalst opened #177 "Calling `getTokenSilently` multiple times in parallel causes an error"
Calling `getTokenSilently` multiple times in parallel creates multiple iframes (and requests to the API). This causes an two errors:

1. `Invalid state` error
2. `TypeError: Cannot read property 'close' of undefined`

I would expect the SDK to handle such case internally, returning a Promise of the ongoing token requests.

My current workaround is implementing the the Promise at my Authentication

[2019-08-26 16:06] Satyam commented on #23
Also @luisrudge  you say somewhere above:

and, indeed, there is a `getIdTokenClaims` which is quite short of documentation so I don't have a clue on how to use it or what is good for so I don't even know if it is able to extract permissions from rbac settings in the dashboard.

[2019-08-27 10:30] igalst commented on #177
@luisrudge, IMO it would be a better idea to have `getTokenSilently` return a `Promise` on concurrent calls, the same `Promise` as the one the was returned by the first call to `getTokenSilently` while the iframe is running.
This would simplify the code of SDK consumers. Otherwise, anyone using the SDK would have to implement a similar logic to the one I had to in order to overcome the issue.

[2019-08-27 12:32] jupav opened #179 "NPM start creates error - (window|global).Promise overwritten"
On fresh download of the sample app and when following along with the tutorial with pre-made app, the app crashes and I get the following error:

Chrome browser error:

[code]

I think this error is produced where the AuthService creates an observable of Auth0 instance with the following code:

auth.service.ts:

[code]

[2019-08-27 16:44] jackoliver opened #181 "Issue with Razzle.JS / Auth0 integration"
**Overview**
A change made in the `1.2.0` release has made a working RazzleJS / Auth0 integration cease to work. Locked my package to `1.1.1` for now, but thought I would raise the issue.

**Error message:**
`self is not defined`.

**Note**
I assume it's something to do with the window object not being available in the SSR side of Auth0. Anyway, a heads up :)

[2019-08-28 08:00] Enngage commented on #181
Same here :/ Getting `self is not defined` during production build in Angular 8

[2019-08-28 09:26] cxcorp opened #183 "Add support for redirect with window.replace instead of window.assign"
We're dealing with protected routes in the classic way of having an auth check in a custom Route component (using e.g. react-router). When a visitor who's not logged in attempts to access such a page, `loginWithRedirect` is called and he gets redirected to Auth0's login screen.

However, if the visitor is not a user but only peeking at the site, he will at this point attempt to click Back to retur

[2019-08-28 19:49] jstayton opened #186 "Always "Invalid state" in v1.2"
Hey 👋

I just tried upgrading from v1.1.1 to v1.2 (doesn't matter which patch version), and I now get an "Invalid state" error 100% of the time when calling `handleRedirectCallback`. I've tried in both Chrome and Firefox, cleared cookies, etc. I didn't change any code – just the version number in `package.json`.

I'm happy to provide more details, I'm just not sure what would be helpful to know in

[2019-08-28 21:38] luisrudge commented on #186
I just ran our default react quick start (with an updated version of the SDK) and it worked.

![image](https://user-images.githubusercontent.com/941075/63894425-fd2e0200-c9c2-11e9-97ea-4c9686c4e3b3.png)

Can you please try this to see if it works with you as well? https://auth0.com/docs/quickstart/spa/react/01-login?download=true

[2019-08-29 00:12] joberdick opened #187 "getTokenSilently() using fetch() instead of iframes?"
I am aware that the latest version of Safari does not support cross-domain cookies for iframes. Per your docs here: https://auth0.com/docs/api-auth/token-renewal-in-safari

Is there a reason that silent tokens can not be used via fetch() with the credentials: 'include' option?

Ref: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Sending_a_request_with_credentials_included

[2019-08-29 01:20] luisrudge commented on #187
Not right now, because we use the [`response mode web message`](https://tools.ietf.org/html/draft-sakimura-oauth-wmrm-00) spec to get the token. We're doing some internal work to add support for refresh tokens in SPAs. When our server supports it, we'll move to a traditional fetch.

[2019-08-29 01:20] #187 closed

[2019-08-29 09:59] Schmaga commented on #186
I can confirm that we are having the same problem. Might it have something to do with being in a legacy tenant plan? We are using two tenants, one with a new free plan, one with a legacy plan. With the legacy plan, we are getting the error. The new tenant works. Just a thought. Have tried many other different things, none have helped, yet.

[2019-08-29 10:30] jstayton commented on #186
@luisrudge The React quick start works for me as well with v1.2.2.

Here's how I'm creating the client, if it helps:

[code]

[2019-08-29 13:26] evertbouw opened #188 "using option `leeway` breaks login page"
I tried adding `leeway` as described in https://github.com/auth0/auth0-spa-js/issues/153.

However this will break the login page. `Cannot post /login` on the url `https://~.~.auth0.com/login?state=~&client=~&protocol=oauth2&redirect_uri=~/callback&audience=~&scope=~&leeway=600&response_type=code&response_mode=query&nonce=~&code_challenge=&code_challenge_method=S256&auth0Client=~`

it does work wh

[2019-08-29 13:32] luisrudge commented on #188
where are you using the leeway param?

[2019-08-29 13:45] evertbouw commented on #188
put it in the auth config

[code]

[2019-08-29 14:43] Schmaga commented on #186
Some more information: We are also getting Invalid State errors like this with version 1.1.1, but only with a few clients and not all the time, which is very weird:
[code]

The errors also sometimes come paired with the following, leading to a breakdown of the whole login-flow on some browsers and platforms, but working in others:
[code]

From the logs it seems that we have been having this proble

[2019-08-29 15:13] alfonmga opened #189 "Unable to renew short-lived JWT token (getTokenSilently)"
Hey there,

I'm trying to renew a short-lived JWT `access_token` (30 seconds expiration) using `getTokenSilently` but when it is time to renew it throws this error:

[code]

`getTokenWithPopup` works as expected BTW.

Is this a bug?

[2019-08-29 15:28] alfonmga commented on #189
Oh, this is not a bug.

Works as expected on Safari browser but on Chrome it doesn't, I think this is related to security policies that Chrome enforces (does not allow third-parties domains to touch `localhost` storage..etc).

Regards,
Alfon.

[2019-08-29 15:28] #189 closed

[2019-08-29 17:29] luisrudge commented on #186
@Schmaga we had some conversations about the second error you're having: https://github.com/auth0/auth0-spa-js/issues/70#issuecomment-519611820 - The first one is pretty weird though!

@jstayton @Schmaga Can you please send a HAR file of the failed attempt to luis.rudge@auth0.com? I'll take a look ASAP.

[2019-08-29 17:59] luisrudge commented on #188
@evertbouw I tried it locally and didn't hit any errors (with both the Classic and New Universal Login Experience), but we need to remove this param anyway, so I opened a PR to fix this 🎉

[2019-08-29 19:02] wdrobinson commented on #186
@luisrudge it's happening to me with an angular 8 app. It works fine using a non prod build but as soon as the --prod flag is added to the build the invalid state bug appears.

[2019-08-29 19:02] luisrudge commented on #186
@wdrobinson perfect. Let me try that.

[2019-08-29 19:08] luisrudge commented on #186
@wdrobinson
I just tested this with our [Angular QuickStart](https://auth0.com/docs/quickstart/spa/angular2/01-login?download=true)

- download
- open the root folder
- `npm install`
- `npm run build`
- `cd dist/login-demo`
- `serve -s -p 3000` (this can be any local http server you are used to)

And this works as expected, no state errors. Can you please try that?

[2019-08-29 19:22] wdrobinson commented on #186
@luisrudge just tested. Works fine using ng serve or ng build and fails with the error using ng serve --prod or ng build --prod.

[2019-08-29 19:59] luisrudge commented on #186
@wdrobinson perfect. I reproduced the issue. Thanks! @jstayton are you still using angular?

[2019-08-29 20:04] jstayton commented on #186
@luisrudge No, I'm using Vue.

[2019-08-29 20:10] luisrudge commented on #186
@jstayton can you build a quick repro that I can test it? I'm assuming it has to do with how the code is being minified/bundled, but I'm still investigating.

[2019-08-29 20:22] jstayton commented on #186
@luisrudge Yeah, I can try to throw something together. FWIW, I'm seeing this in development with Vue CLI, not just a production build like @wdrobinson found with Angular.

[2019-08-29 20:49] ChaudhryAtif opened #191 "Custom Params"
I see this PR: https://github.com/auth0/auth0-spa-js/pull/146

How can I put this into practice? I want to customize the Universal Login UI. For example, change to username-password login, disable sign up, disable forgot password, etc.

The interface detail for [Auth0ClientOptions](https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html) says:

I tried the following, but didn't wor

[2019-08-29 21:44] kmaida commented on #186
I can reproduce this `invalid state` error in an Angular production build (`ng build --prod`) in the quick start using auth0-spa-js v.1.2.2. If I roll back to v1.1.1 and then do a production build, the issue seems to go away.

[2019-08-30 16:32] bermichel commented on #64
I had the same problem. After i reload the page i dont want to run `createAuth0Client` again due to the its duration (30secs aprox). Do you have any suggestion?

[2019-08-30 18:08] luisrudge commented on #64
@bermichel it shouldn't take 30s to init. Have you checked this? https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize

[2019-08-30 18:37] #188 closed

[2019-08-30 20:48] luisrudge commented on #186
Ok folks, I found the issue. Not sure why, but vue-cli and ng-cli are aggressively trying to minify our already minified code, causing issues with one of our dependencies (qss).

![image](https://user-images.githubusercontent.com/941075/64050408-4fe7f500-cb4e-11e9-82ad-127ad2f9a88f.png)

Because of this bug, when our code tries to get the query string from the URL, it doesn't find the `state` para

[2019-08-30 21:11] jstayton commented on #186
@luisrudge Great sleuthing! Thanks for your work on this.

[2019-08-31 17:22] Enngage commented on #186
Just encountered this issue in prod builds of `Angular 9`. Awesome this is the works!

[2019-09-01 14:06] igalst commented on #177
@luisrudge, my setup is as follows:
1. I have a small wrapper around `auth0-spa-js` called `authService` which eventually exposes a method to fetch token:
[code]
2. `axios` is configured to decorate each request with a token using a request interceptor:
[code]
3. Finally, on one of the pages, there are two parallel requests to our API.

In case I call the API two times in parallel, there are two c

[2019-09-02 20:12] luisrudge commented on #177
Thanks @igalst. I'm adding this context to our internal conversation about this topic.

[2019-09-02 21:59] phyreman opened #198 "'Invalid algorithm' when signing up/logging in with a Google account"
When attempting to sign up a test user using a Google account via auth0.loginWithPopup() I get the following error:

jwt.ts:65 Uncaught (in promise) Error: Invalid algorithm
    at ee (jwt.ts:65)
    at oe._verifyIdToken (Auth0Client.ts:76)
    at oe.<anonymous> (Auth0Client.ts:131)
    at Generator.next (<anonymous>)
    at a (tslib.es6.js:68)
ee @ jwt.ts:65
_verifyIdToken @ Auth0Client.ts:76
(an

[2019-09-02 23:04] adstep opened #199 "Angular CLI Optimized Build Invalid state"
Angular CLI: 8.3.2
Node: v10.16.3

Follow the instructions in the [Angular:Login](https://auth0.com/docs/quickstart/spa/angular2/01-login) documentation.

Serve the site with optimization turned on.

[code]

There appears to be some issue with ```auth0-spa-js.production.js```. If I use ```auth0-spa-js-development.js``` I get no errors.

[2019-09-02 23:07] adstep commented on #199
Dupe of #182. Looks like a fix is in the works.

[2019-09-02 23:07] #199 closed

[2019-09-03 00:23] phyreman commented on #198
After a while in the debugger, I figured out that the JWT from Google uses the HS256 header.alg instead of the expected RS256.

[2019-09-03 01:23] #186 closed

[2019-09-03 01:33] luisrudge commented on #186
Fixed in version 1.2.3

[2019-09-03 02:34] adstep commented on #186
Confirmed upgrading to 1.2.3 works for me!

[2019-09-03 03:04] phyreman commented on #198
The problem was on my end. Apologies for not checking the FAQ sooner, as it had the fix I needed.

[2019-09-03 03:04] #198 closed

[2019-09-03 03:09] luisrudge commented on #198
@phyreman sorry! I saw your issue and forgot to answer! I'm glad you found our FAQ though! 🎉

[2019-09-03 13:53] jstayton commented on #186
@luisrudge Thanks for your work on this, but unfortunately, v1.2.3 didn't fix this for me. I've emailed you a HAR file with the details.

[2019-09-03 14:36] Enngage commented on #186
It fixed it for me. Thanks!

On Tue, Sep 3, 2019, 15:53 Justin Stayton <notifications@github.com> wrote:

[2019-09-03 15:36] stevehobbsdev commented on #186
@jstayton It would be useful for us to see a repro from yourself to get to the bottom of this. We have [a version of our Vue quickstart](https://github.com/auth0-samples/auth0-vue-samples/tree/upgrade-sdk) that has been upgraded to use the latest version of the SDK, and unfortunately I can't repro the issue there.

Could you perhaps try out this sample and compare the implementation with your own?

[2019-09-03 21:06] wdrobinson commented on #186
Confirmed it's fixed for me as well!

[2019-09-04 15:22] JohnnyTMD opened #201 "IdToken and refreshToken are missing in the response"
Altering the value of context.accessToken.scope into the rule removes from the response the id_token and refresh_token.

Code example:
`context.accessToken.scope = user.user_metadata.scopes.join(' ') + " account-onboard";`

Note that this issue is present only when using the PKCE flow.

Check the difference in the repose in the screenshots.
![Screenshot from 2019-09-04 18-16-32](https://user-image

[2019-09-04 15:59] stevehobbsdev commented on #201
Hi @JohnnyTMD,

This looks to be related more to the Auth0 product rather than the SDK specifically, if this is affecting the HTTP response. Would you might engaging with [our community](https://community.auth0.com/c/general) to see if your issue can be resolved there?

Feel free to attach the link to your topic here so that we may follow it.

[2019-09-04 15:59] #201 closed

[2019-09-04 22:24] rajarameshvarma opened #202 "Login problems on refresh"
I am trying to setup auth for my react app using auth0-spa-js. I am following the [quickstart](https://auth0.com/docs/quickstart/spa/react) and everything see to be working except if I refresh the browser.

If I refresh the browser, the process it stuck in the initAuth0 (refer to the wrapper class in the quickstart).

`    const initAuth0 = async () => {
      console.log("creating client");

[2019-09-05 06:58] benjixx commented on #189
Looks like I'm currently running into the same problem.
If this is not working in Chrome, I would consider this a bug.

@alfonmga Did you find a workaround for Chrome or did you just drop support for it (which would not be an option in my case)?

[2019-09-05 09:34] stevehobbsdev commented on #189
@benjixx Are you getting this error after having logged in using a social provider, such as Google? If so, does the error go away when logging in using a username and password?

If the above holds true, things to check are:

* The social provider you're logging in with has been configured with real security keys, and *not* using the built-in dev keys
* OR your Universal Login configuration is set

[2019-09-05 09:37] stevehobbsdev commented on #202
Hi @rajarameshvarma,

See the [Why does the Auth0Client object take a long time to initialize?](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize) FAQ item. When refreshing the browser, the *Allowed Web Origins* setting in your Auth0 app is particularly relevant. Have you set this to an appropriate value for your app?

[2019-09-05 09:41] benjixx commented on #189
@stevehobbsdev I found the root cause of the issue. I was using multi auth with the Guardian app. Once I disabled multi auth, effectively using only username and password, it worked successfully.

I understand that auth0-spa-js is a new library that still needs to catch up in terms of supported features, but are there any plans to support multi auth as well, and if so is there already some kind of

[2019-09-05 10:44] stevehobbsdev commented on #189
@benjixx I think this is more to do with the platform than the SDK itself.

I came across [this community post](https://community.auth0.com/t/unable-to-renew-token-when-mfa-is-enabled/9088/3) concerning a previous version of the SDK (but similar problem). Basically if the user opts to "remember the device for 30 days" then refreshing the token should work. I've been able to verify this myself; sim

[2019-09-05 11:15] benjixx commented on #189
@stevehobbsdev I just tried it. Seems like checking the "Remember the device" checkbox did the trick. Thanks for the hint.

[2019-09-05 16:28] rajarameshvarma commented on #202
@stevehobbsdev This helped. Now the refresh is quick but it does not recognize that the user is already logged in. I see this on stackoverflow with no answer https://stackoverflow.com/questions/54572846/why-is-auth0-failing-with-a-failed-silent-auth

[2019-09-05 16:49] stevehobbsdev commented on #202
@rajarameshvarma Can you have a look at [this comment on a different issue](https://github.com/auth0/auth0-spa-js/issues/189#issuecomment-528283531) and see if it helps? Also, do you have multi-factor authentication turned on?

[2019-09-05 18:43] CHAZTATS opened #203 "Invalid State on GetTokenSilently"
Hey all.
Working on an Angular app implementing the new library. version 1.2.3.
Using the exact same auth service file from the samples.
I have an interceptor calling getTokenSilently.
My early http call is to get my users permission from the server.
However this intermittently will throw an "Invalid State" error.
It happens after login more often than not.
Assuming this is a race condition, but w

[2019-09-05 19:12] #203 closed

[2019-09-05 21:34] JohnnyTMD opened #204 "refresh_token value"
Hi, I'm using the getTokenSilently() method, and the response contains the access_token, id_token, refresh_token. How can I access to the refresh_token value?
![Screenshot from 2019-09-06 00-30-01](https://user-images.githubusercontent.com/7419780/64382278-f300a900-d03d-11e9-8095-25a03b62bbf6.png)

[2019-09-06 05:51] ed-sparkes opened #205 "IE 11 Cookie issue?"
Hi,

I have followed the quickstart and have the spa flow working well in Chrome etc. however i am experiencing ongoing issues with IE11, the polyfills have allowed the code to run but it appears there is an issue with auth0 cookies.
If i look at the network traffic in Chrome the call to /authorize in chrome appears to have an auth0 cookie and responsds with an auth0 cookie, this helps to keep the

[2019-09-06 05:58] ed-sparkes commented on #205
ahh crap, had protected mode on in IE

[2019-09-06 05:58] #205 closed

[2019-09-06 05:58] ed-sparkes commented on #205
ahh crap, had protected mode on in IE

[2019-09-06 08:45] stevehobbsdev commented on #205
@ed-sparkes Glad you got it sorted!

[2019-09-06 09:27] stevehobbsdev commented on #204
Hi @JohnnyTMD,

Currently we don't expose `refresh_token` at all through the SDK. The primary purpose for that token is to fetch a new access token, which you are already able to do through the `getTokenSilently` method.

Can you tell us a bit more about your use case?

[2019-09-06 12:04] JohnnyTMD commented on #204
@stevehobbsdev ok, I was able to get the a new token using the same method (seems like the method handles everything, like sending the refresh_token and so on...).
Now, I'm only using this refresh token once and I don't need it anymore, is there a buit in method in order to revoke the refresh_token?
I saw in the auth0 docs that I have to pass the refresh_token value if I'm going to do that by myse

[2019-09-06 16:31] Greenbones opened #206 "Intermittent 401 error when calling backend"
I've got an app using the SPA sdk that was built off of the Angular 2 tutorial. Everything is working more or less correctly, I'm able to login, get a token and send it to my backend server without issues.

However, while I'm developing the app, I'm noticing that occasionally when I refresh the app after making changes, the sdk will:

* Redirect
* Detect that I am already authenticated
* Redirect

[2019-09-08 17:31] bijoutrouvaille opened #207 "getTokenSilently fails with login_required on refresh in Safari"
`getTokenSilently` fails on both desktop and mobile Safari with this error after page refresh with user/password or Google social login:

`[Log] {error: "login_required", error_description: "Login required", state: "..."}`

Settings enabled:
1. The "New" Universal login.
2. Real Google provider keys (as described here https://auth0.com/docs/connections/social/google)
3. scope='openid'

Steps:
1. L

[2019-09-08 17:49] bijoutrouvaille commented on #207
Signing in again, skips the Auth0 login screen and redirects immediately to the authenticated app, where `getTokenSilently` retrieves the token without errors.

[2019-09-08 20:15] bijoutrouvaille commented on #207
The same issue with the Brave browser.

[2019-09-09 05:10] luisrudge commented on #207
Hi, this doesn't look like a bug in the SDK. More likely, your app is being targeted by Safari's ITP and whatever Brave uses to block 3rd party cookies as well. Are you using custom domains? We have a nice write up about this issue here: https://auth0.com/docs/api-auth/token-renewal-in-safari

[2019-09-09 05:10] #207 closed

[2019-09-09 05:12] luisrudge commented on #206
What error are you getting in your backend?

[2019-09-09 13:24] stevehobbsdev commented on #204
Hi @JohnnyTMD,

No we don't have such a method.

It's worth mentioning though that the SDK does not use refresh tokens at all to get you a new access token, which is why it is not exposed nor asked for (normally) during authentication. Rather, the SDK uses `prompt=none` and an iframe to silently renew the token, rather than use a refresh token.

Auth0 does not issue refresh tokens to SPAs under no

[2019-09-09 13:30] JohnnyTMD commented on #204
@stevehobbsdev ok, thanks
I figured it out that the library works this way and I'm using the `getTokenSilently` method now. I was reading in the auth0 docs about the refresh_token that's why I wanted to use them to renew the token. But hopefully the task is solved now using this library.
Thanks

[2019-09-09 13:43] stevehobbsdev commented on #204
No problem @JohnnyTMD! Please reach out if you have any further queries :)

[2019-09-09 13:43] #204 closed

[2019-09-09 14:11] Greenbones commented on #206
I'm using Auth0's spring boot starter on my back end to validate incoming requests and it's not logging any errors. That's on info level, so I could try it on debug.

[2019-09-09 14:15] Greenbones commented on #206
Ok with debug logging I get the following:

`org.springframework.security.authentication.BadCredentialsException: Not a valid token` and
`Caused by: com.auth0.jwt.exceptions.InvalidClaimException: The Token can't be used before Mon Sep 09 08:14:16 MDT 2019.`

So maybe this is a clock drift problem? It's weird that it's intermittent though. I also got it 5 seconds after syncing my system's clock, s

[2019-09-09 14:16] darkyen opened #208 "Throw Explicit errors on failure when bootstrapping"
At the moment if wrong arguments are passed or for some reason, the authorization server fails to respond catastrophically the library will timeout and return an object.

https://github.com/auth0/auth0-spa-js/blob/master/src/index.ts#L43

It'd be better to throw an error when initializing with `createAuth0Client` and let the apple handle what it must do when AS is unavailable. This might also be h

[2019-09-09 17:37] ivarprudnikov commented on #23
There is no real argument here. `Intended recipient` is a vague definition considering how thick client side apps and microservices change the landscape of product architectures.

But for the sake of an argument consider this: `iat`, `exp` and `scope` claims, they are all part of the client logic. First 2 allows you to track time before _refreshing_ the token, the last allows you to make sure that

[2019-09-09 17:49] bijoutrouvaille commented on #207
May I ask why your library doesn't save it in localStorage? Is it impossible or is there a security implication?

[2019-09-09 17:49] Greenbones commented on #206
I added code to my server that adds more leeway to the not before check and I can't seem to reproduce this any more, so I think we can chock it up to clock drift. Will close.

[2019-09-09 17:49] #206 closed

[2019-09-09 19:41] Greenbones opened #209 "Unable to refresh page with active Auth0 session"
I am using the SDK in an Angular application (having followed the tutorial on the Auth0 website). I have the following code that runs on load:

[code]
Basically calls isAuthenticated on the client and if there is no active session locally call login.

This works fine locally against localhost. The first time I navigate to the site, I get the log in dialog. After signing in, I can log out and back

[2019-09-09 22:50] rajarameshvarma commented on #202
Thank you, it is working

[2019-09-09 22:50] #202 closed

[2019-09-09 23:39] nyobe commented on #206
We've been running into this issue as well. It most commonly manifests when waking up from sleep:

Steps to reproduce:
- poll an api on some interval (eg 15s), using token retrieved by getTokenSilently
- put your computer to sleep and wait until the token should have expired (eg 60s) AND the polling interval has been crossed
- wake computer up, observe a 401 from the api due to expired token

I th

[2019-09-10 08:39] stevehobbsdev commented on #207
@bijoutrouvaille It's not impossible, it's just against security guidance. Local storage is susceptible to XSS attacks, which makes not an ideal place to store tokens.

[Here's a short Community thread](https://community.auth0.com/t/why-is-storing-tokens-in-memory-recommended/17742) which explains the reasoning.

[2019-09-10 15:22] consolenaut commented on #209
Just ran into exactly the same issue

[2019-09-10 18:57] Greenbones commented on #209
So it turns out this was actually an issue with my Allowed Web Origins in my SPA config. In my case, it was because I had a trailing slash on the origin for my production app. This isn't allowed.

Figured it out with help from Auth0 support, I'm not sure I ever would have gotten there from the error message though.

[2019-09-10 22:19] kodezen commented on #191
@ChaudhryAtif

I got this working for my use case (initial screen signup instead of login) by adding the keys into the Auth0ClientOptions object like you did above (step 1) and then (step 2): customizing the Universal Login page in auth0 management console with custom javascript. If you log in to auth0 and look on the left sidebar, you'll see "Universal Login." Then click "Customize Login Page" to

[2019-09-11 00:15] ChaudhryAtif commented on #191
@kodezen Thanks for the reply. I haven't tried it yet, but you are using Auth0Lock, whereas I am using the default/new implementation provided by auth0-spa-js (see constructor above).

Do you know if your changes will work for the updated implementation too?

[2019-09-11 09:04] stevehobbsdev commented on #191
@ChaudhryAtif Yes, @kodezen is referring to the custom JavaScript you can write in order to configure Auth0Lock from the Auth0 management dashboard. This SDK provides no UI, it redirects the user to our Universal Login page, which in turn uses Lock.

For more information on customization of the login page, [this article](https://auth0.com/docs/universal-login/advanced-customization) should help.

[2019-09-11 09:04] #191 closed

[2019-09-11 09:10] stevehobbsdev commented on #209
Glad you got it sorted, @Greenbones!

[2019-09-11 09:10] #209 closed

[2019-09-11 22:55] FayP opened #210 "Ability to pass `id_token` on initiallisation"
**Issue**
Unable to pragmatically detect the user is logged in for uses in E2E tests such as Cypress.

**Reasoning**
Following [this](https://auth0.com/blog/end-to-end-testing-with-cypress-and-auth0/) tutorial from January. Seems a little out of date as the client library doesn't accept the returned id_token/access_token instead requires a code.

To bypass this it would be useful if the param `id_

[2019-09-12 15:21] BrianSHenderson opened #211 "Using with Custom Domains"
Has anyone managed to get the component to work with custom domains?  The documentation doesn't seem very clear here.  Does anyone have examples?

Thanks

[2019-09-13 07:43] BrianSHenderson opened #212 "Use with Class Based Functions"
Is it possible to get the user & access token in React class based functions as they do not support Hooks.  Does anyone have any example code?

Thanks

[2019-09-13 08:39] #212 closed

[2019-09-13 12:22] iacoshoria opened #213 "Support for IdP-Initiated Single Sign-On"
As per the official documentation [here](https://auth0.com/docs/protocols/saml/idp-initiated-sso), is there any support for the IDP initiated SSO?

Or is this already supported within the constructor?

[2019-09-13 14:09] daanporon opened #214 "Use with custom self-hosted login form"
Is it possible to use the 'Authorization Code Flow with PKCE' using a custom self-hosted login form where i just call a login function with the username and password (just as in the Auth0.js SDK)? As far as i can see this only works with Universal Login, but maybe i'm missing something.

Right now i integrated the regular 'Authorization Code Flow' in this way using the Auth0.js SDK but there is no

[2019-09-13 19:06] kershnerd commented on #127
Sorry to hijack this thread, but is the same true if we are calling an API every second?

I thought getTokenSilently() would just reuse the access_token it already has as it is still valid, but it appears to always connect to Auth0 and get a new access_token.

[2019-09-16 09:36] stevehobbsdev commented on #127
@kershnerd It should indeed use the token it already has from it's in-memory cache:

https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L301

* Does your audience or scope change between calls to the API?
* Are you able to refresh the page and still be logged in?

[2019-09-16 17:14] luisrudge commented on #214
You can still use Lock or Auth0.js to authenticate users by using the implicit flow. Support for Embedded login with PKCE is on our roadmap, but there's no ETAs yet.

[2019-09-16 17:14] #214 closed

[2019-09-16 17:16] luisrudge commented on #213
Because of the [risks](https://auth0.com/docs/protocols/saml/idp-initiated-sso#risks-of-using-an-idp-initiated-sso-flow), there's no plan to add support to IdP initiated SSO yet. We might revisit in the future, though. For now, I added this into our internal backlog to give some more thought.

[2019-09-16 17:16] #213 closed

[2019-09-16 17:20] luisrudge commented on #211
You can use your custom domain here: https://github.com/auth0/auth0-spa-js#creating-the-client

[code]

[2019-09-16 17:20] #211 closed

[2019-09-16 17:30] luisrudge commented on #210
The tutorial should work just fine, considering it's using a different library (Auth0.js, https://github.com/danlourenco/auth0-cypress-demo/blob/base/package.json#L6).

We use cypress in this library and we actually use the 'naive' approach in that blog post and it works pretty well for us: https://github.com/auth0/auth0-spa-js/blob/master/cypress/integration/loginWithRedirect.js

Because of how P

[2019-09-16 17:30] #210 closed

[2019-09-16 17:31] luisrudge commented on #210
Also, you can send the `id_token_hint` to the Authorization Server (Auth0 in this case), but I don't think it will automatically log you in, though.

[2019-09-17 17:22] mcantrell opened #215 "The case for refresh tokens"
I was reading through the following issue and I believe I have a case for exposing refresh tokens:

https://github.com/auth0/auth0-spa-js/issues/204

In addition to our normal website, we also want to provide client libraries, etc. I'd love to offer them an option to download a config file (containing the refresh token and current access token, etc.) to use with the library.

This does not seem po

[2019-09-17 19:22] luisrudge commented on #215
@mcantrell For now, we don't use refresh tokens at all. We're implementing RT rotation for SPA usage in the near future. Once that's ready in our server, we'll modify this SDK to use RTs instead of doing what we do today (load an iframe with `prompt=none`). In any case, due to the sensitivity of the information, it's unlikely we'll be exposing refresh tokens, but I can't say for sure. We'll need f

[2019-09-17 19:22] #215 closed

[2019-09-17 20:31] rgunczer opened #216 "code_challenge is empty"
During Login Redirect the generated url contains a code_challange query parameter with empty value.

https://auth.brucke.club/login?state=g6Fo2SBGaHVTN196OGlVdFltNDVLQTZZRzFHT1Q1RTF1elBZZKN0aWTZIDVFbmJadWxiOHBNdDhCSkRxOHlCT2RLSGk5MWRDdTlzo2NpZNkgd0xTSVA0N3dNMzl3S2REbU9qNlpiNWVTRXczSlZoVnA&client=wLSIP47wM39wKdDmOj6Zb5eSEw3JVhVp&protocol=oauth2&scope=openid%20profile%20email&response_type=code&resp

[2019-09-18 03:47] Jakobo opened #217 "Cookie Pollution"
I appreciate the simpler API compared to the older Auth0.js, but the cookie pollution in spa-js is extreme. If you're proxying frontend requests (to avoid CORS issues), you're sending the `auth0.txn` and `auth0.is.authenticated` cookies to your webserver. To make matters worse, because of #26, you'll add another `auth0.txn` cookie for every single login flow within a 24 hour window. Here's a quick

[2019-09-18 07:18] quangthe commented on #217
I have the same issue.

[2019-09-18 10:37] markmarijnissen opened #218 "window.crypto.subtle does not exist"
Following instructions, when I call `loginWithRedirect()` the promise throws an error.

https://github.com/auth0/auth0-spa-js/blob/master/src/utils.ts#L112

See https://www.dropbox.com/s/7l3g8yqpozvhfpb/Screenshot%202019-09-18%2012.36.46.png?dl=0

[code]

[2019-09-18 11:13] stevehobbsdev commented on #218
@markmarijnissen We usually see that error when your app is not running on a secure origin (`localhost` or using HTTPS). Although, we added some handling to throw a proper error when this occurs - are you using an older version of the library?

See [Why do I get auth0-spa-js must run on a secure origin?](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-do-i-get-auth0-spa-js-must-run-on

[2019-09-18 11:51] markmarijnissen commented on #218
Yes, I was running it from an insecure origin.

First, I used the version in the documents. (The vanilla Javascript Quickstart, as documented when you create a new Application in the Auth0 dashboard).

Then, I figured the library might be outdated so I found this Github repo. I followed instructions, there, which pointed to also to an outdated version.

Finally, with your suggestion, I found the l

[2019-09-18 11:51] #218 closed

[2019-09-18 15:24] stevehobbsdev commented on #218
Thanks @markmarijnissen. Glad you got it sorted and will begin opening PRs for the incorrect documentation that you found. Thanks for letting us know!

[2019-09-18 15:48] iamchathu commented on #39
I'm getting

[code]

When I use the `useAuth0` hook.

[code]

[2019-09-19 18:21] benprime commented on #216
Having the same problem.

[2019-09-20 19:27] betobe commented on #132
@Enngage
I solved this issue by enabling "New Universal Login" instead of Classic. Also, my understanding is that you should use one language code from this list https://auth0.com/docs/universal-login/i18n as any other code wouldn't be valid (fr would be your case).
Then both loginWithPopup and loginWithRedirect would display login page in the desired language.

[2019-09-20 20:36] benprime commented on #216
@rgunczer I was able to get it to send the code challenge by rolling the library version back to 1.0.1
`npm install --save @auth0/auth0-spa-js@1.0.1`

[2019-09-21 19:46] rgunczer commented on #216
@benprime  Thanks, it woks with the older version and waiting for your fix to be merged.

[2019-09-23 13:49] igalst commented on #217
We also have same issue that triggered "Bad request" from our Cloudfront. It is quite an urgent issue for us.
![image](https://user-images.githubusercontent.com/564482/65431380-0ecbc380-de22-11e9-9bd3-5b3839022bac.png)

[2019-09-23 20:32] #216 closed

[2019-09-24 13:12] mannikf commented on #217
Also an issue.  Followed sample to the letter and getting the same errors as the people who have reported above.  Will this issue even get acknowledged?

[2019-09-25 08:57] adbutterfield opened #223 "Issue with IE11 and id_token expired error immediately after login"
Hi!
We released an application using Auth0 a few days ago. Looks like we failed to qa IE11, and now we have a bit of an incident.

Directly after login in the console it says: `Unhandled promise rejection Error: id_token expired`. I tracked down where the error is being thrown at least, and it's line 82 in `src/jwt.js`.

I've exhausted crawling the internet, and the Auth0 Support Center, so I thou

[2019-09-25 12:57] driveps commented on #208
That would be very helpful, currently it just timeouts

[2019-09-25 19:18] luisrudge commented on #223
@adbutterfield Hi there! Thanks for reaching out. Do you have a repro we can test? Can you replicate this if you download our sample app from the quick start page and just run it in IE11? Are you using popup or redirect for authentication? Sorry about all the questions, we're adding our issue template soon!

[2019-09-25 21:02] lk-jeffpeck commented on #35
This should be stated somewhere.

I am implementing the Auth0 implicit flow and was using the vanillajs quickstart example that uses the auth0-js-spa and could not find where to set response_type to `token` until I found it hardcoded to `code` in the source.

[2019-09-26 00:39] adbutterfield commented on #223
Hi @luisrudge! Thanks for getting back to me.

I'm using the redirect for authentication.

I just tried with the quick start repo (https://github.com/auth0-samples/auth0-react-samples), and I get the same behavior for IE11.

Also note, to get auth0-spa-js to work on IE11, you need to add the IE11 polyfill: (https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill)

[2019-09-26 00:56] adbutterfield commented on #223
Oh, so I was just looking through the FAQ, and I saw this one: https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-do-i-get-error-invalid-state-in-firefox-when-refreshing-the-page-immediately-after-a-login

I think it might be the same problem. IE11 also gets stuck at https://my-domain?code=blabla&state=blabla

[2019-09-26 03:47] adbutterfield commented on #223
So after digging into it more, I've found that it goes into the if statement [HERE](https://github.com/auth0-samples/auth0-react-samples/blob/6fc8552489c541eb8290ef5771a0f28138682b21/01-Login/src/react-auth0-spa.js#L26) and then fails at `const { appState } = await auth0FromHook.handleRedirectCallback();`

[2019-09-26 04:04] adbutterfield commented on #223
After digging a bit into the package and putting some logs I get:
<img width="469" alt="Screen Shot 2019-09-26 at 13 01 26" src="https://user-images.githubusercontent.com/4752047/65657328-ec25ee80-e05d-11e9-87d5-6c47762a287c.png">
I put my log statements right after [THIS LINE](https://github.com/auth0/auth0-spa-js/blob/fafcb62671c7651d74fa3832a25805982ebe4600/src/jwt.ts#L78)

[2019-09-26 06:36] adbutterfield commented on #223
So never mind. The issue was because I was using a Windows virtual machine on my Macbook. The times for the expiration of the id_token were always made in the past because of the timezone of the virtual machine.

[2019-09-26 06:36] #223 closed

[2019-09-26 09:20] halfzebra opened #224 "Is there a reason for getUser being async?"
Hello friends!

Thanks for building this library 👍

As far as I can see, [getUser](https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L162) method is not performing any asynchronous computations.
Is there a reason for it to be async?

[2019-09-26 12:30] luisrudge commented on #223
@adbutterfield thank you so much for sharing your issue and solution with us. It might help other users in the future! Also, thanks for the IE11 feedback about the quickstart. I'll add that info in the quickstart itself because it's super important!

[2019-09-26 12:36] hidegh opened #225 "Angular router, useHash - results in: There are no query params available at window.location.search."
NOTE: currently using the "@auth0/auth0-spa-js": "^1.2.3" will produce the following error after a successful login, if the angular routes do have useHash: true (so use a # in the route).

Error at callback:
There are no query params available at window.location.search.

Bypass:
**Avoid useHash: true in the router**
[code]

[2019-09-26 12:41] luisrudge commented on #225
@hidegh thanks for reporting this. What is the end result of your url? Something like `http://myapp.com/#/callback?code=123`?

[2019-09-26 13:45] halfzebra opened #226 "Reducing the amout of requests to Auth0 (Injectable cache instance)"
Hello friends!

I'm not a specialist in OAuth 2.0 by any means, so maybe this issue and the stuff I'm doing is completely wrong.
My goal is to reduce the number of requests to Auth0, when the client is instantiated, as I'm planning on using Auth0 client on a webpage that has a lot of traffic.

For this, I would like to have a client store the token in Session Storage or Local Storage, so I can cal

[2019-09-26 13:56] hidegh commented on #225
@luisrudge exactly

[2019-09-26 17:09] devuxer opened #227 "Why is user w/ unverified email considered authenticated?"
I'm trying to get signup/login/logout working on my React app using auth0-spa-js following the Quick Start tutorial, and I’m experiencing a couple problems:

1. If I sign up using Auth0, I do not receive any prompt that I will be receiving a verification email. How would I know to check my inbox?
2. Auth0 seems to consider me authenticated/logged in even though I haven’t yet verified my email. All

[2019-09-27 13:03] mcantrell commented on #227
Struggling with this as well. For now, I've added a check in the callback code to log them out but I'm not really sure this is the best way to handle it.

[code]

 I could see situations where partial authentication is useful but ideally, this should be a configurable parameter and handled by the API. If not, maybe some documentation on best practices for handling this requirement.

[2019-09-27 20:54] 7opf opened #228 "getUniqueScopes forces DEFAULT_SCOPES to be in scope"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2019-09-29 20:08] devuxer commented on #227
@mcantrell, That's what I intend to do as well (unless Auth0 fixes this), but how do you solve the following?

1. User signs up
2. My app says, check your email for verification
3. User doesn't verify at the time
4. User comes back later and tries to log in

At this point, I'd like to Auth0 to send another verification email, but I don't see a method for this on `Auth0Client`. Am I supposed to use

[2019-09-30 08:19] Ali-Doustkani opened #229 "E2E Testing"
### Problem
I have to visit `auth0.com/login` page in my e2e tests and that is not a good idea. That would be great if I could do the login behind the scenes and don't hit the real login page.

### Describe the ideal solution
I know auth0-spa-js is written to work with Authorization Code with PKCE but maybe if it does support some kind of functionality for test scenarios I can do the authorization

[2019-09-30 09:15] stevehobbsdev commented on #224
@halfzebra Mainly for futureproofing and consistency with the rest of the API surface. You're right in that it doesn't do anything async right now, but it may do in the future.

[2019-09-30 09:15] #224 closed

[2019-09-30 09:22] stevehobbsdev commented on #226
@halfzebra Can you elaborate a bit more on your requirement to reduce traffic to Auth0?

The Auth0 client will already cache the credentials while the tokens are valid. When they expire, they will be automatically renewed for you at the appropriate time. Unless I'm missing something (hence the ask for more info), moving these tokens into local storage won't gain you very much as they are still res

[2019-09-30 09:24] halfzebra commented on #224
Thanks for the reply, makes sense!

[2019-09-30 13:31] luisrudge commented on #229
duplicate of #210

[2019-09-30 13:31] #229 closed

[2019-09-30 13:32] luisrudge commented on #228
You're spot on. We'll always ask for `openid email profile` because it's what most apps need to work.

[2019-09-30 13:32] #228 closed

[2019-09-30 13:37] luisrudge commented on #227
Thanks for your feedback. Authentication and verifying emails are not related. There's lots of ways of authenticating, email is just one of them. That's why they're different concepts. If you want to prevent users from signing in without a verified email, you can create a new rule in the Auth0 Dashboard. We even have a template for it:

![image](https://user-images.githubusercontent.com/941075/658

[2019-09-30 13:37] #227 closed

[2019-09-30 15:46] 7opf commented on #228
@luisrudge I'm confused, will you address the issue in a future release? In my app, I don't want to request email and profile, for example.

[2019-09-30 15:55] stevehobbsdev commented on #228
@7opf Could you elaborate on the issue you're facing, and why requesting `openid email profile` is proving to be an issue? Unfortunately it wasn't clear from your issue report above.

[2019-09-30 16:47] 7opf commented on #228
@stevehobbsdev Given the below configuration, I would expect that my application requests two scopes from the auth server (`openid http://some-namespaced-scope/scopeName`):
[code]
But instead, the DEFAULT_SCOPES are always added to the requested scopes even though `profile` and `email` are optional in the spec.

Expected: `openid http://some-namespaced-scope/scopeName`
Actual: `openid http://some-

[2019-09-30 16:54] devuxer commented on #227
@luisrudge ,

Thanks for pointing me to the Rules feature. That solves the most critical problem (though I'd like to see this at least mentioned in the QuickStart guide).

If a user hasn't verified their email and tries to log in, is there a way to send a new verification email via auth0-spa-js? Or can that also be done via a rule?

The user experience would be unacceptable to have user try to log

[2019-09-30 23:37] devuxer commented on #227
To answer my own question, it does appear a rule solves the problem. Here's something I just whipped up (warning: not thoroughly tested):

[code]

[2019-10-01 00:59] luisrudge commented on #228
@7opf Can you clarify what issues (if any) are you seeing when requesting extra scopes?

I think giving you a bit more context on why we always send `openid profile email` also helps: this SDK is supposed to be very opinionated on how it is used. That's why we built the public API the way it is today. By always requesting `openid profile email`,  we facilitate the addition of new scopes when neede

[2019-10-01 01:48] luisrudge commented on #227
@devuxer thank you so much for your sample code! I'm sure it will help others facing the same concerns.

[2019-10-01 02:27] devuxer commented on #227
The above code caused too many verification emails to be sent, so I put in an expiration that limits the amount of verification emails to once per day. Perhaps there's a more elegant way to do this.

Step 1. Add this to a new Pre User Registration hook:

[code]

Step 2. Add this to a new Rule

[code]

[2019-10-01 09:50] 7opf commented on #228
That's fair enough, but for my use case I don't want users to think that the application needs access to profile and email scopes when it doesn't actually need it. If it's a default, shouldn't app developers be able to override it?

[2019-10-01 17:55] luisrudge commented on #228
@7opf does that mean your app doesn't display any information of the user? Something like `Welcome, {user.name}`, or the email of the logged in user etc?

[2019-10-02 00:32] luisrudge commented on #217
Hi there! Sorry it took us so long to address this. I want to start by apologizing to all of you for all the wait. I understand this is a serious issue and want to shed some light on why we built it like this and ask for feedback on some solutions we're thinking for the future.

### Why are we using cookie in the first place?
For the past few years, [Auth0.js]() had a few issues ([#990](https://gi

[2019-10-02 08:08] 7opf commented on #228
It does, but it doesn't get it using profile scopes. I'm following guidance from http://www.hl7.org/fhir/smart-app-launch/scopes-and-launch-context/index.html#scopes-for-requesting-identity-data

[2019-10-02 13:31] luisrudge commented on #228
@7opf sorry if I'm missing something obvious, but this piece of text says you should ask for `openid profile` or `openid fhirUser` to get an id_token with the user data. That's exactly what we do (with the addition of the `email` scope, right?

[2019-10-02 15:51] mannikf commented on #217
We haven't even made it to production because of this issue.  It occurs randomly when the user has auth'd in before, or after logging out.  The only "solution" is to manually delete the cookies, close the browser tab, and then try to log back in.  I use quotes because it doesn't even work all of the time.  We tried to manually delete every cookie when the user logs out and that also seems to limit

[2019-10-02 16:20] paulfalgout commented on #217
For me we were experiencing what @mannikf was but it was because we were using a `*` wildcard subdomain in the web origin.  Previous when we used the implicit flow, this didn't matter as all of the other fields allow for wildcards and web origin isn't a factor.  So switching to this library, following the migration guide instantly produced the mass of cookies.. which was hard to trace or fully und

[2019-10-02 21:00] luisrudge commented on #217
Thank you so much for your patience and following up with this issue.

@mannikf Can you share a step-by-step guide on how to reproduce this in your case? As stated before, the only time we add a new cookie is when `loginWithRedirect` is called and this cookie is automatically removed when you call `handleRedirectCallback` (or after 24h), so it's not clear to me what's happening in your case and I'

[2019-10-03 03:30] paulfalgout commented on #217
Yep so in implicit flow you don't need to set the web origin as it won't be used. In this lib if you setup a wildcard in your web origin, then loginWithRedirect will succeed but getTokenSilently will fail. We don't currently use a landing page or the universal login. We either prompt=none or if that fails we prompt=login and set the connection

[2019-10-03 03:35] luisrudge commented on #217
@paulfalgout Ah, perfect. But once you get redirected *back* to your application, you still call `handleRedirectCallback`, right? This should be cleaning up cookies correctly and preventing the cookie pollution issue.

As part of this specific feedback, I'll talk with the dashboard team to see if we can improve the user experience when adding a `*` in the web origins field. I guess it makes sense

[2019-10-03 06:06] paulfalgout commented on #217
yep we would call that.. FWIW the initial login worked fine, it was always something with `getTokenSilently` that would set off the loop that would end in cookie death.  I don't 100% know exactly what combination of things caused the problem..  If all I do is add the wildcard domains back to our current setup and test against it, it all fails without the loop currently.  Essentially early on in mi

[2019-10-03 06:08] paulfalgout commented on #217
one additional complicated to throw into the mix.. during development we were often already logged in through the implicit grant code, then we'd update the test environment to the migration, which wasn't necessarily as clean as if we had logged out prior to the code update... so I don't know how that may have added to the issue.

[2019-10-03 12:01] 7opf commented on #228
Yes, but profile is being deprecated. I understand that theres an ease of use gain for most developers using this library, but since those scopes are optional, shouldn't there be a way to remove these scopes from the default list for those developers that don't want their apps to request those scopes?

[2019-10-03 20:38] luisrudge commented on #228
@7opf just so it's clear: are you using Auth0 with another OIDC provider? Because `profile` is not being deprecated at Auth0, but maybe it is being deprecated by your 3rd party Identity Provider. Did I get this right?

My main concern with allowing to override the defaults is that the experience might break as the developer starts to dig deeper into their integration. Imagine this scenario:

- dev

[2019-10-03 20:41] luisrudge commented on #217
@paulfalgout maybe that was the case then.. Auth0.js uses cookies even for silent authentication or popup authentication so the pollution would be bigger. spa-js only add cookies for `loginWithRedirect`. Thanks for the great feedback and context on your issue!

[2019-10-03 21:12] 7opf commented on #228
It's being deprecated by the group that defines the scopes to use in the context of the data standard they are used in (FHIR). So not a 3rd party oidc provider. Your proposal would solve my use case as I'd implement my own getUser anyway. Perhaps it would make sense to be able to override this function too?

[2019-10-03 21:16] luisrudge commented on #228
@7opf Would you mind sharing with me how your app is setup to work with Auth0? I'm interested in this scenario to see if we can do more for this use case, but I need to fully understand it to make sure we're on the same page. Thank you so much for your patience!

[2019-10-03 21:21] 7opf commented on #228
We can talk over a phone call? is there a slack/discord/telco I can join?

[2019-10-03 22:20] johannwattzon commented on #69
A quick way to get the token in apollo link is through localStorage.  After login, write token to localStorage. Is storing the access token in localStorage safe? What if the token expires?  Does it need to call `getTokenSilently()` for every api call and update localStorage to ensure token is valid? also is it a way to share the auth0client outside of a component, so apollo link can use `getTokenS

[2019-10-04 09:38] stevehobbsdev commented on #69
@johannwattzon Storing tokens in local storage is [not recommended for security reasons](https://auth0.com/docs/security/store-tokens#don-t-store-tokens-in-local-storage).

As @luisrudge mentioned, if you're having to use the Auth0 client outside of a React component, then you will most likely have to use the SDK directly rather than the React wrapper.

[2019-10-04 13:05] mcantrell commented on #227
They should get passed back to your callback URL with two query parameters:

- error
- error_description

[code]

You can intercept the call to authenticate if you detect these parameters and display a message to the user. You could also allow them to resend the email at that time.

[2019-10-04 13:07] kevinfmanning commented on #217
I followed the tutorial basically to the letter.  We have noticed this happening different ways.  One user reported it after logging in, using it for awhile, then not using it till the next day and the cookies were all filled up.

[2019-10-07 19:04] javierGnz opened #235 "Cannot read property 'forEach' of undefined"
Hi, so i implement auth0 in my react app, but happen this

![image](https://user-images.githubusercontent.com/25081104/66340136-f1ffb780-e91a-11e9-9c3d-c88c9bc0030d.png)

i not sure what is the problem, i have the configuration right and copied almost equals the tutorial and if i create a new proyect and implement this in the proyect work, but in the proyect that i need dosent work, any idea ? som

[2019-10-07 22:04] cwmrowe commented on #210
For the benefit of others, I have managed to get this working with the following which:
1. Gets tokens from Auth0 as described in [old Auth0 article](https://auth0.com/blog/end-to-end-testing-with-cypress-and-auth0/). *You will need to make sure you app is setup as per this article for this part to work*.
2. Sets required cookies
3. Visits your apps callback page
4. Uses cypress request to interce

[2019-10-09 09:24] samayo opened #236 "Unable to get hooks from wrapper js file"
### Description

Calling `loading`, `isAuthenticated`, `loginWithRedirect` from `react-auth0-wrapper.js` (example at https://auth0.com/docs/quickstart/spa/react/01-login#install-the-auth0-react-wrapper) throws an error like this:

[code]

### Reproduction

This is tested on a simple create-react-app

- react router is installed
- auth0 installed ex: `npm install @auth/auth0-spa-js --save`

Demo:
[

[2019-10-09 17:33] paulfalgout commented on #111
I'm not sure one point of documentation is really successful in documenting the feature.  The docs on this repo have an example of how to call an API, but no mention of audience anywhere. https://github.com/auth0/auth0-spa-js#2---calling-an-api

[2019-10-09 17:36] #225 closed

[2019-10-09 17:41] luisrudge commented on #236
Hi there 👋 Thanks for trying out our quickstart! Did you follow all the steps, including the one that integrates with the SDK itself? https://auth0.com/docs/quickstart/spa/react/01-login#integrate-the-sdk Without this step, you'll see the error you have right now.

If you still have any questions, please clone our quickstart repo and compare with your project to see where it went wrong: https://gi

[2019-10-09 17:41] #236 closed

[2019-10-10 02:13] luisrudge commented on #111
The readme in the repo is just a quick reference guide. Our actual docs page has more information on how to get an access token for a different audience: https://auth0.com/docs/libraries/auth0-spa-js#get-access-token-for-a-different-audience

[2019-10-10 02:15] luisrudge commented on #235
From the stacktrace in your error, this comes from the `react-auth0-spa.js` file, which we mention in our quickstart. It's not an issue with this SDK. Please take a look at our quickstart repo. You can clone it and compare with yours to figure it out where it's going wrong. https://github.com/auth0-samples/auth0-react-samples/

[2019-10-10 02:15] #235 closed

[2019-10-10 02:21] luisrudge commented on #226
After some consideration, we decided that we'll keep managing the lifecycle of the tokens in the same way we're doing it right now. Introducing an API that allows you to provide a previously acquired token might bring more confusion than benefits and will also incentivize customers to store tokens in localStorage, which is something we don't recommend right now. This is something that we might rec

[2019-10-10 02:21] #226 closed

[2019-10-10 02:23] luisrudge commented on #217
@kevinfmanning did you reproduce this by yourself? Do you use `loginWithRedirect` in lots of places in your app? Or maybe you redirect every time the user gets a `401/403` response from the server? Considering we only *create* a cookie when you call `loginWithRedirect`, I'm trying to understand how often this method is being called in order for the cookies to be filled so quickly.

[2019-10-10 08:12] halfzebra commented on #226
@stevehobbsdev @luisrudge Thanks for your reply! 👍

After researching this, I don't have any arguments for justifying having an easy way to store the token in local storage.

[2019-10-10 22:43] bvamp opened #240 "Chrome loading indicator hangs on createAuth0Client"
This was tested against Chrome 76, and  doesn’t appear to affect Firefox or Safari.

When the client is created, my app is able to successfully make requests to Auth0 without any errors reported. What’s strange is that the browser shows a loading indicator and status “waiting for (my domain).auth0.com” for an indefinite period of time. (Or until unrelated http requests are triggered in the applica

[2019-10-10 23:48] luisrudge commented on #240
I assume removing this code causes the iframe not to be removed from the document, is that right?

[2019-10-11 01:19] bvamp commented on #240
Yes, that's right. It's not a great solution though...I did a little more hacking around, and I think there might be a Chrome issue removing the iFrame immediately. (maybe an event loop kind of bug) If I add an onload event handler to the iframe and console.log something out, it fires _after_ the code that removes the iframe from the DOM.

[2019-10-11 01:20] luisrudge commented on #240
Can you try moving the offending line inside a setTimeout? If there's an event loop bug, this will fix it

[2019-10-11 18:31] taylorbryant commented on #203
@CHAZTATS, how'd you fix this issue?

[2019-10-14 07:40] AntoLepejian commented on #68
Hey,

So I am also running into this same problem every single time I try to login (my app and even the sample one i downloaded from quickstart). what I found was that I press the login button and it takes me to the universal login page, I then continue with face and when it redirects me to my website, the url is
`http://localhost:3000/?code=QzXu82CDUz4mWykJ&state=STFZb3JPZGZiMVdQSk5aV1drSkVwd2VLS

[2019-10-14 17:41] nicosabena opened #241 "createAuth0Client promise rejects with an error on Internet Explorer"
The error is:

[code]

https://github.com/auth0/auth0-spa-js/blob/78075fe8d38ab735b954209afb2532d8e90749fc/src/utils.ts#L187

Thanks for keeping IE alive! 😄

[2019-10-14 18:10] #241 closed

[2019-10-15 00:00] bvamp commented on #240
setTimeout didn't do the job, it looks like Chrome just hangs the loading indicator unless you wait until the load event of the iframe is called to remove the iframe the DOM. I opened and closed a quick proof of concept PR, but I'm not sure if there's some other factors I'm not aware of that contribute to this. This code fixes the issues for me across the all the latest browsers.

[2019-10-15 12:58] kevinfmanning commented on #217
per the example loginWithRedirect is called once in the PrivateRoute.js  We do have multiple routes that all need secured in our App.js and in the example it only has one PrivateRoute.  How do you propose having many routes all be secured and only have loginWithRedirect being called once?

[2019-10-15 14:47] daviseford commented on #186
I am having this problem currently.

When users "Continue with Google", this fails silently in the background

[code]

My app is set up using the Quick Start instructions with no modifications to anything.

[2019-10-15 14:50] luisrudge commented on #186
@daviseford does it work if you use username/pass instead of google? are you using Auth0's development keys?

[2019-10-15 14:54] daviseford opened #245 "Unhandled Rejection (Error): Invalid state"
### Description

I am having this problem currently:

When users "Continue with Google", auth0 fails in the background with the following error
[code]

My app is set up using the React Quick Start instructions with no modifications to anything auth0-related. I am using `"@auth0/auth0-spa-js": "1.3.1"`

The error only occurs when using the "Continue with Google" option. I can verify that the URL co

[2019-10-15 14:55] daviseford commented on #186
Yes, and yes. I just created a ticket #245 for this if you want to move this conversation.

[2019-10-15 15:01] daviseford commented on #245
I will switch to my own keys and report back!

[2019-10-15 15:37] daviseford commented on #245
If you want to see this in action, pull down https://github.com/daviseford/aos-reminders , run `yarn start`, and click Log In

[2019-10-15 16:59] daviseford commented on #245
I also tried the Firefox fix suggested in the FAQ for the hell of it - no dice :)

[2019-10-15 18:49] luisrudge commented on #245
Thanks for your patience with this! I have just a few more questions:
- Does it happen if you use other social connection (like Twitter or Facebook)?
- Would you mind sending a HAR file to luis.rudge at auth0.com (please be aware of potential secrets/passwords)? I'll investigate what's going on.

[2019-10-15 19:00] daviseford commented on #245
Sent you an email. I will try Twitter shortly.

[2019-10-15 19:02] daviseford commented on #245
Twitter worked fine. I don't use Facebook so I can't test that out.

[2019-10-15 20:49] CueToDo commented on #245
I've been looking at this issue on and off for a few days, checking Auth0 application setup, but can't get around Invalid State error

`core.js:6014 ERROR Error: Invalid state
    at t.<anonymous> (auth0-spa-js.production.js:1)
    at auth0-spa-js.production.js:1
    at Object.next (auth0-spa-js.production.js:1)
    at auth0-spa-js.production.js:1
    at new ZoneAwarePromise (zone-evergreen.js:876

[2019-10-16 06:56] mmathias01 commented on #23
@Satyam

Here is an ES6 version that I wrote tonight thanks to your post. I had been trying to figure this out for a few days. If you put this in through the dashboard it might complain about some missing semicolons or the arrow function syntax but you can safely ignore those messages.

https://gist.github.com/mmathias01/b1257e6446de376163c05cfa272dc1a2

What you get ends up looking like this:

`{

[2019-10-16 14:24] danielres commented on #245
I am experiencing the exact same issue in my app which is using parcel.

When I run the [official example](https://github.com/auth0-samples/auth0-react-samples): all works fine on my machine.

I ported the official example with minimal changes to parcel, the problem appears.

I published my modified example here: https://github.com/danielres/auth0-parcel-problem-example

First thing that comes in

[2019-10-16 14:28] danielres commented on #245
notes:

- I'm not using Auth0 development keys, but my own keys.
- Same problem in Chrome and Firefox
- I haven't tried other types of login (twitter, ...). Only Google.

Hope the example repo will help to find the issue.

[2019-10-16 15:51] brunolazzaro commented on #245
Having a similar issue. No problems logging in with other connections but when using Facebook we get "Invalid State" back.

We're bundling the code with webpack and it looks like when importing the library it's pulling in the minified prod version, so maybe the double minification could be an issue?

[2019-10-16 19:23] luisrudge commented on #245
@danielres does it work when you use this SDK in development mode (before parcel minifies the bundle)?

[2019-10-17 02:46] krisdages commented on #217
I started using the SDK today, and quickly came across HTTP 400 errors with webpack-dev-server due to this cookie proliferation.  With my project, the cookies were not getting removed on logout or when redirecting back.

I looked at the code for logout, and the only cookie it removes is the `auth0.is.authenticated`.

So I installed es-cookie, and just added this before every call to logout or logi

[2019-10-17 09:32] danielres commented on #245
@luisrudge I'm not 100% sure what you mean by "use this SDK in development mode".
I'm new to parcel, so I'm not sure if there are some options I missed.

So far, I've only tried locally, on my laptop, with `NODE_ENV=development`.
This means parcel was working in development mode.
I don't think parcel minifies anything in this case, but I might be wrong.

[2019-10-17 10:19] AntoLepejian commented on #245
I too always get invalid state i've opened an issue [here](https://github.com/auth0-samples/auth0-react-samples/issues/161) because even the sample application causes the same problem

[2019-10-17 10:24] AntoLepejian commented on #245
I just tried github and it worked perfectly, google and facebook login however always cause an invalid state error exception to be raised

[2019-10-17 11:24] stevehobbsdev commented on #245
@AntoLepejian Are you able to confirm if your scenario works with a previous version of the SDK < 1.3.0 (1.2.3, for example)?

[2019-10-17 11:28] AntoLepejian commented on #245
@stevehobbsdev  hey, I only just added auth0 to my app a few days ago so I cannot confirm that. I simply followed the quickstart instructions and i kept getting invalid state error with google and facebook. After seeing this issue I tried github and also custom signup with email and both work fine. It's just facebook and google that are failing (so far). Note that I am using my own app id key for

[2019-10-17 13:52] stevehobbsdev commented on #245
@AntoLepejian Thanks - as a quick test can you revert the version of the SDK that you're pulling into your app to `1.2.4` and see if that resolves the issue for you? Just as a temporary measure to diagnose your issue.

[2019-10-17 14:05] #245 closed

[2019-10-17 14:12] Junkern commented on #245
Just to comment: I also had the same issue (but with github) and using `1.2.4` fixed it for me.

[2019-10-17 14:43] SenneDirkx commented on #245
I also have the React SPA quickstart running. Github and Twitter works great. Google & Facebook I get this same error.

[2019-10-17 14:47] SenneDirkx commented on #245
Just wanted to add: changing to @auth0/auth0-spa-js@1.2.4 fixed it.

[2019-10-17 15:00] SenneDirkx commented on #245
@stevehobbsdev `1.3.2` seems to have fixed it! Thanks a bunch.

[2019-10-17 15:04] stevehobbsdev commented on #217
@krisdages Could you tell us a bit more about how you're using the library? I'm interested in things like the workflow, which methods you're calling and at what points. A timeline, if you will.

For everyone else, could you all make sure that you're calling `handleRedirectCallback` at the point when the authorization server comes back to your app after authentication. It's up to your app but a com

[2019-10-17 16:58] FreeVote commented on #245
Confirmed here too - Facebook login works as expected.

Many thanks.

[2019-10-17 20:51] AntoLepejian commented on #245
Can also confirm issue has been fixed

[2019-10-18 14:01] kylecase commented on #64
Your index.tsx needs to be wrapped with <Auth0Provider/> from their docs:
`// src/index.js

import React from "react";
import ReactDOM from "react-dom";
import App from "./App";
import * as serviceWorker from "./serviceWorker";
import { Auth0Provider } from "./react-auth0-spa";
import config from "./auth_config.json";

// A function that routes the user to the right place
// after login
const onRe

[2019-10-18 17:21] danielres commented on #245
I can also confirm 1.3.2 fixes the problem.
:+1:

[2019-10-19 23:45] krisdages commented on #217
It appears that handleRedirectCallback was throwing an "Invalid state" error, because I am using hash-based routing, the callback is the root of my app, and the route is being added as a hash.

`https://mydomain.com/?code=XXXXXX&state=XXXXXX#/login-callback`

When parsing the state off the querystring, the value of state is showing up as

`XXXXXX#/login-callback`

Looks like it's looking for the q

[2019-10-21 09:12] stevehobbsdev commented on #245
Thanks for the feedback everyone, and for your help and patience while the issue was being resolved 🎉

[2019-10-21 14:23] kevinfmanning commented on #217
Is there any example with this on multiple private routes?  The one given includes just one PrivateRoute and we want to have more.  I think the loginWithRedirect is getting called for everyone that we have listed in our app.

[2019-10-22 20:00] gcuadrad opened #250 "Invalid state still in react with 1.3.2 with Firefox 69.0.2"
### Description

Hello, first of all I wanted to thank you for your work and apologize for my level of English. I wanted to ask for help because the error "Invalid state" still appears in firefox, I reviewed post like this (https://github.com/auth0/auth0-spa-js/issues/245) but unfortunately it still does not work for me.

It works correctly in Chrome, but in Firefox when I log in with a Google acc

[2019-10-22 21:23] luisrudge commented on #250
Hi there 👋 Firefox has a known issue documented here: https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-do-i-get-error-invalid-state-in-firefox-when-refreshing-the-page-immediately-after-a-login

Basically, when you refresh the page after a callback, you get a invalid_state error. Check the FAQ to see if it helps. If you still see the issue after than, let us know so we can further inve

[2019-10-22 21:23] #250 closed

[2019-10-23 00:39] #109 closed

[2019-10-23 10:48] stevehobbsdev commented on #183
Hi @cxcorp, this looks like a good addition. I think as long as it continues to default to `.assign` so as not to introduce a breaking change, we could bring this in.

Would you mind raising a PR with the changes where we can discuss the implementation further? We would also need some unit tests around this and documentation added.

[2019-10-23 20:40] krisdages commented on #217
@stevehobbsdev Will do. I was on 1.3.1

[2019-10-23 23:13] krisdages commented on #217
Found another situation that could cause the cookie fillup.

If there is an error status in the redirect querystring, handling the callback throws an Error, which is good :)
I had been simply logging this error and re-attempting the login instead of showing an "error during login" screen.

When the error was persistent (e.g. due to a bad rule), this caused a redirect loop that after about 10-11 ra

[2019-10-23 23:50] luisrudge commented on #217
@krisdages you're absolutely right! we're not cleaning the state when there's an error: https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L248 We'll get this fixed ASAP! Thanks for reporting.

[2019-10-24 04:52] paulfalgout commented on #217
Ah this error issue matches what we were seeing as well. We'd get an error because of the domain origin and immediately try again.

[2019-10-25 20:48] philvarner opened #255 "Using a Custom Domain instead of auth0.com domain gives "You should not be hitting this endpoint" error message"
### Description

Using a custom domain gives error message "You should not be hitting this endpoint. Make sure to use the code snippets shown in the tutorial or contact support@auth0.com for help" upon login attempt.

### Reproduction

With the code below, Auth0 Universal Login (redirect-based) works correctly when the domain is set to our auth0.com domain (e.g., foo.auth0.com). However, it fails

[2019-10-25 21:25] joshcanhelp commented on #255
@philvarner - Sorry for the trouble here! This typically occurs when you have a customized universal login page. There is a configuration change that needs to be made:

https://auth0.com/docs/custom-domains/additional-configuration#universal-login

Please let me know if that does not solve your problem!

[2019-10-25 21:25] #255 closed

[2019-10-26 01:00] philvarner commented on #255
Thanks @joshcanhelp I'll check that out. Will that still allow us to use either the auth0.com domain or the custom domain, or will we only be allowed to use the custom domain?

[2019-10-26 01:26] philvarner commented on #255
It appears that fixed the issue and still allows us to use our auth0.com subdomain.  The documentation you link to, and which I'd already seen, is pretty clear that I needed to make the change to the custom login page -- where I got confused was that I wasn't the person who created our custom login page, and didn't realize that it was using Lock, so I just assumed that neither the Lock or auth.js

[2019-10-26 20:42] cxcorp commented on #183
Hey @stevehobbsdev, thanks for the green light! Unfortunately, I do not have the time to work on this right now, as I've moved to working on a different project which does not utilize Auth0's technologies.

[2019-10-28 09:50] brendanator commented on #79
I think this issue should be reopened, this is definitely missing functionality.

If not, is there an issue somewhere else that can be tracked?

[2019-10-28 10:43] stevehobbsdev commented on #79
@brendanator As mentioned, it's a characteristic of the Universal Login page and nothing to do with this SDK. Your question might be better posed on our [community site](http://community.auth0.com). Can you make a post over there?

[2019-10-28 10:46] stevehobbsdev commented on #183
@cxcorp No worries! Will close for now but if this functionality is useful for anyone else, feel free to raise a PR.

[2019-10-28 10:46] #183 closed

[2019-10-28 19:38] NicTanghe commented on #69
is it in annyway possible to not overcomplicate things and make the following code or something similar work.

[code]

[2019-10-29 04:43] patricknee opened #257 "Mixing authentication from multiple domains"
I am running development code on two domains:

qa.example.com
localhost:4200

Both are pointing to the same Auth0 tenant (for testing / development)

In Chrome with two browsers open I log into separate users in each tab (user1@gmail.com on qa.example.com and user2@gmail.com on localhost:4200).

Within about 120 seconds, the earlier of the two tabs reloads (there is a call to the callback page) an

[2019-10-29 10:53] stevehobbsdev commented on #257
@patricknee Very ood, you're right in that it should be handled separately. Let me look into it.

[2019-10-30 06:08] mdboop commented on #39
@iamchathu this is because the return value from `useAuth()` (the context object) is possibly `null`, and `null` doesn't have those properties on it. Try this:
[code]

[2019-10-30 14:57] nirvdrum opened #259 "TypeScript problem with 1.4.0."
### Description

After upgrading from 1.3.2 to 1.4.0, my app fails to build with TypeScript. I'm using the React SPA Quick Start code, [ported to TypeScript](https://github.com/auth0/auth0-spa-js/issues/39#issuecomment-505901626). I don't think port to TypeScript matters so much, but I mention it because it means my quick start file is being passed through the TypeScript compiler. The TypeScript f

[2019-10-30 15:18] nirvdrum commented on #259
It looks like merging #234 might fix the problem.

[2019-10-30 15:21] stevehobbsdev commented on #259
@nirvdrum Ah good, I came in to ask if #234 would solve your issue. We're just waiting on the author to fix some things up.

[2019-10-30 15:25] nirvdrum commented on #259
I haven't verified that branch, FYI. Just looking at it, it looks like it could be helpful. I'll have to clone, rebase, and use the package locally. In the meanwhile, I'll stick with 1.3.2.

[2019-10-30 15:47] nirvdrum commented on #259
I spent some more time looking into this. The issue is pretty straightforward. The type definitions used to be in `dist/typings` and now there's an extra directory in between, making it `dist/typings/src`. However, this library's package.json still points to the old index.d.ts location. That part needs to be fixed in the library. With that change in place I encounter another error, but that's due

[2019-10-30 20:01] #259 closed

[2019-10-30 20:12] stevehobbsdev commented on #259
@nirvdrum 1.4.1 has now been released, if you'd like to give that a try and see if it fixes your issue.

[2019-10-31 05:17] coder2000 commented on #39
You can also use ```useAuth()!```.

[2019-10-31 09:29] stevehobbsdev commented on #259
@nirvdrum @ttrevorr We've had to backtrack on this slightly, as we realised it would break existing apps that reference the types directly by path. Instead of amending the path to the typings in `package.json`, we simply moved the files back where they were. We released this in 1.4.2, so you should upgrade to that to get the latest behaviour.

[2019-10-31 12:19] stevehobbsdev commented on #257
@patricknee As it turns out, this is actually working as expected.

The user session is actually held with Auth0. If you're authorizing with the same Auth0 app from multiple instances of your SPA in the same browser, then those apps will get the same user session, even across domains.

One way to mitigate this behaviour (aside from using two different browsers) is to use different tenants, or at l

[2019-10-31 12:19] #257 closed

[2019-10-31 18:47] franciscolourenco commented on #69
@NicTanghe The token might need to be refreshed when it expires. Also `getTokenSilently` is async. Also looking for a reasonable approach for auth0 + apollo client/link.

[2019-10-31 18:50] nirvdrum commented on #259
@stevehobbsdev Confirmed working. Thanks for the quick turnaround.

[2019-10-31 19:39] stevehobbsdev commented on #69
@franciscolourenco Have you got a sample repo you can share that you're trying to get working?

[2019-10-31 19:50] stevehobbsdev commented on #217
👋 We released [1.4.0](https://github.com/auth0/auth0-spa-js/releases/tag/v1.4.0) to try and alleviate this issue. If anyone who was afflicted by this has any feedback that it has now solved their issue or not, that would be very much appreciated!