[2022-02-25 15:23] ntziolis commented on #879
The fix was input implementation of the interface. We simply did the following in the get method:
[code]

We did not spend too much time figuring out why undefined was being sent.

But it does happen after `allkeys` is called. And when all keys returns `[]`.

We know this because:
- Initially we thought all keys might need to return undefined when there are no keys
- This in fact fix the issue and

[2022-03-02 13:46] fullstackfool opened #880 "Auth0Client.getTokenSilently does not handle undefined audience."
### Describe the problem
When calling `getTokenSilently({audience: undefined})` the returned token is invalid.

### What was the expected behavior?

`getTokenSilently({audience: undefined})` should behave the same as `getTokenSilently()` and utilise the globally configured `audience`.

### Reproduction

**Can the behavior be reproduced using the [SPA SDK Playground](https://github.com/auth0/auth0-

[2022-03-02 13:51] stevehobbsdev commented on #880
Thanks for the report here. What's the use case for sending through `audience: undefined`, or is this simply a behaviour problem you've noticed? Also:

Can you elaborate? Invalid how?

[2022-03-02 14:24] fullstackfool commented on #880
Mostly just strange behavior, noticed when calling the function with a local configuration option that may have an empty `audience` key, for instance:
[code]

A token is returned, but it is malformed.

<img width="597" alt="image" src="https://user-images.githubusercontent.com/14146557/156379840-62ba82bb-b8eb-495f-94ff-ec30b7db2cd2.png">

(Also, thank you for answering so quickly!)

[2022-03-02 16:39] fullstackfool commented on #880
Right, I think see. So the `default` refers to this setting in the dashboard? Given it is blank that would explain the malformed token that is returned. If I set it then a valid token is generated.

<img width="560" alt="Screenshot 2022-03-02 at 16 28 32" src="https://user-images.githubusercontent.com/14146557/156404513-8581529d-ecd7-4c7b-9312-3edc9fd6f8c9.png">

This does not explain, however, wh

[2022-03-04 10:42] stevehobbsdev commented on #880
Thanks for your patience here @fullstackfool and apologies that I didn't get a response to you in time before raising the PR. I think @frederikprijck's [answer here](https://github.com/auth0/auth0-spa-js/pull/881#discussion_r819369691) explains the situation but happy to continue the conversation if you have further questions.

I suppose you could look at it that way; we use `default` inside the S

[2022-03-04 10:42] #880 closed

[2022-03-04 10:55] fullstackfool commented on #880
No worries! Thank you for the review and feedback.

Ultimately I think we agree that the current behavior is a little unexpected, but is an edgecase that is too costly to fix right now.

[2022-03-04 11:40] stevehobbsdev commented on #879
Looks like we can solve this by guarding the `cache.get` call here: https://github.com/auth0/auth0-spa-js/blob/451956f5615bdd7e8fe3c313dbe30d1e31b855f1/src/cache/cache-manager.ts#L36

It just doesn't take into account that the key might be undefined. I'll raise a PR 👍🏻

Thanks for bringing this to our attention!

[2022-03-04 15:56] #879 closed

[2022-03-05 21:19] agersea commented on #245
I'm hitting this as well.  Authenticate using google, refresh the page, and the error logs.

I'm running Vue2, TS, auth0-spa-js 1.20.0.

Thank you!

[2022-03-06 08:14] stevehobbsdev commented on #245
@agersea could you raise a new issue please so that this doesn't get lost, and provide clear repro steps, as I'm not able to reproduce what you're seeing but I might be missing something in your setup.

As you're using Vue, we now have a dedicated Vue SDK in beta, which could be worth migrating to in order to see if that solves your issue: https://github.com/auth0/auth0-vue

[2022-03-09 20:23] pencilcheck commented on #483
still having this issue on android specifically calling handleRedirectCallback and getUser() right after

[2022-03-10 22:43] Soviut opened #884 "Option to override cookie domain"
Originally posted here on the `auth0-vue` project.  https://github.com/auth0/auth0-vue/issues/90

### Describe the problem you'd like to have solved

We have multiple apps, each on their own subdomain. We want users to be able to sign in on any of these subdomains and remain signed in when visiting the other subdomains.

Currently, a cookie is created with a domain that includes the subdomain. Thi

[2022-03-13 02:20] AlokJoshi commented on #483
I am getting the following error and I think it is related to the above issue

[code]

Can someone help please?

[2022-03-13 16:19] evansims commented on #483
Hi @pencilcheck and @AlokJoshi 👋 This issue is from several years ago. We're happy to assist, but please open new issues on the repo detailing your environment and reproduction steps, so we can better assist you in troubleshooting those.

[2022-03-14 22:55] AndrewRayCode commented on #706
I too am getting an instant Timeout error from Auth0.

<img width="732" alt="Screen Shot 2022-03-14 at 3 53 52 PM" src="https://user-images.githubusercontent.com/79215/158273870-8e52812e-e2e5-40a3-84ef-afbfa05ab8c5.png">

This is hard to trace because it's coming from some (polyfilled?) generator / step code in Auth0's source code.

[2022-03-15 02:30] AndrewRayCode commented on #706
I'm not sure which, if any, of these resolved the issue, I did all of them:
1. For `getTokenSilently ` Auth0 embeds an iFrame into the page that does a postMessage to the parent. This iFrame was getting blocked because my parent page didn't include the iFrame domain in the CSP. I added it there.
2. I was in incognito mode. Chrome blocks 3rd party cookies in incognito mode. To remove this, click on

[2022-03-15 10:57] frederikprijck commented on #706
Hey @AndrewRayCode,

Thanks for the info. I do want to call out that both 2 and 3 shouldn't result in a timeout but show an error that indicates what's going on.

Sounds like the iframe and CSP might be responsible for the timeout. When we get a timeout, there isn't anything we can do as we aren't getting any more information.

Thanks.

[2022-03-15 11:24] stevehobbsdev commented on #884
Thanks for raising this PR. In general I think it's a useful feature, I will review this week and provide feedback 👍🏻

[2022-03-16 20:58] alexrussell opened #886 "NPE if browser blocks popups could be handed more gracefully"
### Describe the problem

If no popup is provided to the [`loginWithPopup` function](https://github.com/auth0/auth0-spa-js/blob/bb70a9a9cd392cf25525f654b974b60ee0720922/src/Auth0Client.ts#L468) in its `config` parameter, it'll try to [create its own](https://github.com/auth0/auth0-spa-js/blob/bb70a9a9cd392cf25525f654b974b60ee0720922/src/Auth0Client.ts#L475-L477) using [`openPopup`](https://github.

[2022-03-18 12:06] stevehobbsdev commented on #886
Thanks for the report @alexrussell - I agree that if we're unable to get a popup through `openPopup` we could halt execution with a better error, probably just after here: https://github.com/auth0/auth0-spa-js/blob/bb70a9a9cd392cf25525f654b974b60ee0720922/src/Auth0Client.ts#L475-L477

You're right in that the library itself assumes no facility to display messages in the target application, so it'l

[2022-03-20 04:50] tiwarivijay123 opened #887 "Unable to login through loginWithRedirect"
### Problem

I have some issues in this SDK https://auth0.com/docs/libraries/auth0-single-page-app-sdk , when trying to use loginWithRedirect it is not staying user logged in , it is taking user back to onboard page.

while loginWithPopup works well.

[2022-03-21 09:29] jlaasonen commented on #887
Is your browser blocking cross-site cookies? I have noticed that blocking them causes issues with Auth0.

[2022-03-22 08:04] tiwarivijay123 commented on #887
[code]
Basically my code structure is like this , in this code if I'm using loginWithPopUp works well instead of loginWithRedirect please have a look into this and let me know where I'm wrong.

thank you.

[2022-03-22 08:17] frederikprijck commented on #887
Can you please elaborate on what isn't working here? Sharing code without elaborating on what is or isn't working makes debugging less ideal from our side.

[2022-03-22 11:02] tiwarivijay123 commented on #887
Hey @frederikprijck I visited to this side https://github.com/auth0/auth0-react but my project is in next not in react that's why I'm using this one https://github.com/auth0/auth0-spa-js. this SDK works well only I have issues with loginWithRedirect loginWithPopup works well.

[2022-03-22 11:05] frederikprijck commented on #887
For next, we have https://github.com/auth0/nextjs-auth0. You can even combine that one with auth0-react if needed in a Next application.

[2022-03-22 11:06] tiwarivijay123 commented on #887
https://github.com/auth0/auth0-spa-js this one is not ok to use  ?

[2022-03-22 11:10] frederikprijck commented on #887
That isn't an SDK we recommend for next applications no. In next we try and stick with cookies, while this isn't what SPA-JS does (neither what Auth0-React does).

I would advise looking into our SDK for next applications and take it from there. Using SPA-JS is pretty low-level and complicates things when we have an SDK available tailored specifically for Next or React.

Our SDK for React is built

[2022-03-23 10:24] stevehobbsdev commented on #887
Closing for now as this has been answered, feel free to continue the discussion though @tiwarivijay123 if you need further support.

[2022-03-23 10:24] #887 closed

[2022-03-25 12:23] #886 closed

[2022-03-25 16:10] #884 closed

[2022-03-25 16:37] agersea commented on #245
Thank you @stevehobbsdev, I believe the root cause is that I didn't remove the QSP from the redirect URL.  I'm working on this project today and will let you know as soon as I confirm the fix.

[2022-03-25 17:48] tiwarivijay123 opened #889 "Next js login @auth0/auth0-spa-js not working with loginWithRedirect while loginWithPopup works well"
### Problem

### What was the expected behavior?

### Reproduction
- `npm install @auth0/auth0-react`
-  follow the steps as suggested here  https://github.com/auth0/auth0-spa-js

### Environment
<img width="268" alt="Screenshot 2022-03-25 at 11 11 27 PM" src="https://user-images.githubusercontent.com/59466967/160173610-9297deba-6c9d-4086-89f0-4a9369cbaa30.png">

- **Version  "@auth0/auth0-spa-js"

[2022-03-25 21:47] agersea commented on #245
Confirmed, [reference](https://github.com/auth0/auth0-spa-js/issues/384)

I added `window.history.replaceState({}, document.title, window.location.pathname);` to my onRedirectCallback function.  Like so:

`Vue.use(
  Auth0Plugin,
  {
    domain: process.env.VUE_APP_AUTH_DOMAIN,
    clientId: process.env.VUE_APP_AUTH_CLIENT_ID,
    onRedirectCallback: (appState: any) => {
      // Fix goes here

[2022-03-28 19:10] TrueWill commented on #889
I just saw something similar - unsure if it's the same bug or not.

We upgraded from version 1.10.0 to 1.20.1, so I would not expect any breaking changes (assuming people follow semver). I didn't see anything impactful in the changelog.

But now when calling `loginWithRedirect` (with everything else the same) and passing a `redirect_uri`, it's redirecting to a different URL and resulting in a 404.

[2022-03-28 19:47] stevehobbsdev commented on #889
We do try to follow semver wherever possible. If you can share your barebones project, I'd be happy to take a look. Also see if you can replicate the problem using our playground app (clone this repo and run `npm install && npm start` and test out the flow using our tenant details to rule out a tenant config issue.

[2022-03-28 20:10] TrueWill commented on #889
The local playground app appears to work with Login redirect / callback, but again I verified that this broke our app changing _nothing_ but the version of the library. Reverting to the older version fixed the issue. I can't share our many tens of thousands of lines of proprietary code split across multiple repositories, and it would take significant time to create a minimal repro.

The simplified

[2022-03-28 20:45] stevehobbsdev commented on #889
Do you require a different `redirect_uri` for different scenarios when calling `loginWithRedirect` or is it basically constant?

[2022-03-28 22:15] TrueWill commented on #889
`redirect_uri` is based on modifying the current `Window.location`. In theory we _might_ be able to set it once at client creation time, but the amount of QA effort to check every possible client scenario is significant.

Can you restore the original SDK behavior?

[2022-03-28 22:22] stevehobbsdev commented on #889
I don't think we've changed anything specific in this area that would be causing your issue, but I've yet to deep-dive into it. Once I've had a chance to try and reproduce it this week, I'll come back to you.

[2022-03-29 05:39] tiwarivijay123 commented on #889
I tried it's older version as well https://github.com/auth0/auth0-spa-js/releases but nothing seem to work. after successfully login it just come to back with `undefined` user detail and does nothing
I'm using this version its latest but I tried older version as well but it is same
<img width="242" alt="Screenshot 2022-03-29 at 10 57 41 AM" src="https://user-images.githubusercontent.com/59466967/1

[2022-03-29 05:56] stevehobbsdev commented on #889
@tiwarivijay123  can you check your [tenant logs](https://manage.auth0.com/#/logs) in your Auth0 dashboard and see if there are any errors reported in there? Do you have any errors in your browser console relating to Auth0?

Also when you reload the page and nothing happens, does it eventually do something if you wait for over a minute?

[2022-03-29 06:02] stevehobbsdev commented on #889
@tiwarivijay123 in your code sample, you can't simply await `loginWithRedirect` and expect a result, as it will do a full-page redirect and state is lost. You need to call `handleRedirectCallback` when Auth0 redirects back to your application in order to get authentication results.

[2022-03-29 13:37] tiwarivijay123 commented on #889
Hey @stevehobbsdev I tried `handleRedirectCallback` but still same

<img width="303" alt="Screenshot 2022-03-29 at 7 05 42 PM" src="https://user-images.githubusercontent.com/59466967/160623679-5274ed74-f0d0-498f-83c0-3f59e60ebe43.png">
<img width="406" alt="Screenshot 2022-03-29 at 7 05 53 PM" src="https://user-images.githubusercontent.com/59466967/160623693-2973540b-21ec-41e0-9932-0aaf525cb397.pn

[2022-03-29 13:38] tiwarivijay123 commented on #889
I checked my Auth0 also looks no issue there
<img width="470" alt="Screenshot 2022-03-29 at 11 33 18 AM" src="https://user-images.githubusercontent.com/59466967/160623943-d77c9758-03e4-4ae1-b81e-98056e70a41d.png">

[2022-03-29 14:45] stevehobbsdev commented on #889
You're saying even after you call `handleRedirectCalback` after you come back from Auth0 and you're still unauthenticated when you call something like `getUser` or `isAuthenticated`?

I can't reproduce this scenario in my environment, either yours or @TrueWill so I'm going to have to see a repro in order to progress this. If you manage to come up with a small, reproducible sample that demonstrates

[2022-03-29 23:32] Mr-Fraser commented on #889
Hi, I'm guessing the success is shown because there is a successful login but when another request is made after the redirect then we no longer have the token.. so the comment about using the "handleRedirectCallback" must be true, maybe we are not using it correctly @tiwarivijay123 ?
![image](https://user-images.githubusercontent.com/29370687/160723027-3706c824-e779-4c51-bc4b-f0ff5a6c09ff.png)

[2022-03-30 00:10] Mr-Fraser commented on #889
Here is more code to review @stevehobbsdev , any issues here please let us know..

`function AuthProvider({ children }: AuthProviderProps) {
  const [open, setOpen] = useState(true);
  const router = useRouter();
  const [state, dispatch] = useReducer(reducer, initialState);
  const [isRegister, setIsRegister] = useState(false);
  async function getUserInfo(user: any, isAuthenticated: any) {
    t

[2022-03-30 06:20] tiwarivijay123 commented on #889
Any success ?

[2022-03-30 20:05] TrueWill commented on #889
Our company is planning to write up a minimal repro (probably not in Next.js though), but it may take some time. If anyone gets to it before then please share! Thanks!

[2022-03-30 22:10] stevehobbsdev commented on #889
@tiwarivijay123 I've got some feedback on your code sample I can share tomorrow.

@TrueWill we also have an SDK built specially for Next.js in case that's an even better fit: https://github.com/auth0/nextjs-auth0

[2022-03-31 04:11] tiwarivijay123 commented on #889
I used this but for some reason in case of loginWithRedirect it is same @TrueWill

[2022-03-31 09:27] nkashyap opened #890 "Make authorize & oauth/token url configurable"
### Describe the problem you'd like to have solved

Currently `/authorize` and `oauth/token` are hard coded, It would be nice to make it configurable to work with alternative.

### Describe the ideal solution

Add new config options `authorizationUrl`, `tokenUrl`

[2022-03-31 09:38] frederikprijck commented on #890
It's important to know that our SDK is only supposed to be used with Auth0.
Apart from the URLs being mentioned, there are other things internally to the SDK that make it probably not a good idea to use with anything other than Auth0.

Therefore, we aren't really considering making these endpoints configurable, as they are not expected to change when using Auth0.

[2022-03-31 09:38] #890 closed

[2022-03-31 10:47] stevehobbsdev commented on #889
@tiwarivijay123 @Mr-Fraser So the thing to keep in mind is that there are two parts to the flow when using `loginWithRedirect`:

- You call `loginWithRedirect` to start the flow and send the user to the login page (this is a top-level browser redirect)
- When Auth0 redirects _back_ to you app after the user has authenticated, you call `handleRedirectCallback` in order to grab the `code` value and

[2022-04-01 15:57] jrmoretti opened #892 "handleRedirectCallback strips `=` from returned base64 state."
When using [handleRedirectCallback](https://auth0.github.io/auth0-spa-js/classes/auth0client.html#handleredirectcallback) to validate the `code_verifier` and `state`, the `parseQueryResult` maps query strings to the their respective key/value pair, but because it splits on `=`, a `state` that is base64 encoded fails to validate against the state retrieved by the `transactionManager`, resulting in

[2022-04-01 16:17] adamjmcgrath commented on #892
Hi @jrmoretti - thanks for raising this

This SDK expects the state to be url encoded per https://openid.net/specs/openid-connect-core-1_0.html#AuthResponse

Do you know how are you arriving at your callback url with unencoded state parameters?

[2022-04-01 16:20] jrmoretti commented on #892
@adamjmcgrath thanks for the quick reply.
The resulting url is the result of an Okta PKCE flow.

[2022-04-01 16:28] adamjmcgrath commented on #892
np @jrmoretti

This SDK is only compatible with Auth0 I'm afraid. There's a bunch of things that wont work if you try and point it to other Identity Providers.

Have a look at https://developer.okta.com/code/javascript/ for tools to get your SPA setup with Okta

[2022-04-01 16:28] #892 closed

[2022-04-01 16:41] jrmoretti commented on #892
@adamjmcgrath I would use the Okta lib if it worked with this.
It's controlled by a 3rd party vendor and they have their own auth0 compatible flow.
This code base I landed on is using a forked version of auth0-spa-js and I'm trying to remove that insecure dependency.

The fix for this would be as simple as this:
https://jsbin.com/woyelizedi/edit?js,console
( I can make that PR if you're ok with th

[2022-04-01 17:11] adamjmcgrath commented on #892
ok @jrmoretti - unfortunately we can't support this use case

I suggest you either fork the current version of this repo or get your auth0 compatible Identity Provider to encode the parameters in the auth response

[2022-04-01 17:13] jrmoretti commented on #892
@adamjmcgrath thanks!

[2022-04-02 01:13] bribar commented on #880
Hi @fullstackfool @stevehobbsdev,
I have a similar issue...

https://stackoverflow.com/questions/71713845/auth0-the-jwt-string-must-contain-two-dots

...where the token is invalid using jwt.io and server side gives throws exception using Auth0 PHP SDK.

I tried using audience: undefined in createAuth0Client and getTokenSilently() but still produces an invalid token.

Any thoughts on my issue?

[2022-04-02 05:23] jordankittle commented on #522
I am having this issue, but I cannot use the suggested fix because I am using the Auth0 SDK, so I cannot choose to only create a new Auth0Client if the code is running in the Browser. I get this error because we are using Angular SSR.

[2022-04-02 13:06] tiwarivijay123 commented on #889
@stevehobbsdev can you let me know how I can get access token in this SDK https://github.com/auth0/nextjs-auth0

[2022-04-03 04:37] tiwarivijay123 commented on #889
[code]
I'm trying this code

[2022-04-03 14:07] tiwarivijay123 commented on #889
any update for me ?

[2022-04-04 15:47] tiwarivijay123 commented on #889
Yeah ok thanks @stevehobbsdev I guess now you can close this issue

[2022-04-05 09:44] onurusluca opened #894 "[Vue 3 & Vite 2] Uncaught (in promise) TypeError: Cannot read properties of undefined (reading ‘getTokenSilently’)"
Hi!

[@auth0](https://community.auth0.com/u/auth0)/auth0-spa-js: v1.21.0
node: v16.13.0
vue-router: v4.0.14
vue: v3.2.31
vite: v2.9.1

Using getTokenSilently gives error in the title.

Use:

[code]
After a day of searching, I came close to understand that while ‘loading’ is true, the function won’t return anything so it is undefined.
Writing something like if (!loading) { const accessTokenData = a

[2022-04-05 10:22] frederikprijck commented on #894
Can you please provide an example that reproduces the actual error? I also see complication issues with the shared stackblitz (e.g. `onMounted` wasn't imported.

The code you are sharing, and as [I mentioned here](https://github.com/auth0-samples/auth0-vue-samples/issues/201#issuecomment-1088441210) as well, isn't telling much on its own. It makes sense to ensure everything is correctly set up, us

[2022-04-05 14:21] onurusluca commented on #894
https://community.auth0.com/t/the-prototype-this-auth-in-vue-main-js-always-null/31993/4
This is very similar to my problem but I can't implement it to my code.

[2022-04-05 18:25] frederikprijck commented on #894
I created a branch on our Vue Sample repository to demonstrate how you can migrate that sample to use Vite, as well as migrate to use the script setup syntax.

- The branch: https://github.com/auth0-samples/auth0-vue-samples/tree/vite
- Migrating from Vue CLI to Vite: https://github.com/auth0-samples/auth0-vue-samples/commit/13df3f08a04a566d69a85857a101e197080d1ad1
- Migrating to use the script se

[2022-04-06 03:51] onurusluca commented on #894
@frederikprijck Thanks a lot for the reply and creating the branch.
Following your code, I managed to make it work in a .vue file. However it still gives me the same error on a .ts file.
Also does auth0-vue have types or do I have to have the auth0-spa-js as well?

I made a reproduction with the branch you provided and still got the error importing the function in a .ts file.
Commit: https://githu

[2022-04-06 06:22] onurusluca commented on #894
It may be related to what is being discussed here: https://github.com/auth0/auth0-vue/issues/99

[2022-04-06 06:38] onurusluca commented on #894
@frederikprijck After clearing some code and refactoring, it is fixed.
I don't know why still. I will look into it and report here.

I believe the function I am using was too complicated and nested so that `getAccessTokenSilently` wasn't accessed correctly.

Thank you so much for your time!

[2022-04-06 06:38] #894 closed

[2022-04-07 10:55] git-chrisp commented on #23
This approach requires the Management API which has a tremendously low rate limit (https://auth0.com/docs/troubleshoot/customer-support/operational-policies/rate-limit-policy/management-api-endpoint-rate-limits). Hence, this doesn't seem like a scalable solution whereas decoding the access token is. Any thoughts?

[2022-04-07 20:58] purepear opened #895 "getTokenSilently fails, getTokenWIthPopup falls back successfully but user/isAuthenticated gets reset"
### Describe the problem

Hi guys, i'm using `@auth0/auth0-vue` but i believe the issue(if it is an actual issue) originates in `@auth0/auth0-spa-js`.
I'm testing in Chrome Incognito with third-party cookies disabled. I can successfully login. At some point i need to get an access token based on audience & scope so i use `getAccessTokenSilently` but because the cookies are not sent, this fails. An

[2022-04-07 22:01] frederikprijck commented on #895
Hey,

I believe what you are seeing is expected. If no token is available, `getTokenSilently` will try and get a token.

Let met explain a scenario that could match with what you have (but please do correct me if that assumption is wrong):

- The Vue plugin is configured using the default scope (so its omitted) or by setting scope to a specific set of scopes `scope1 scope2`, without setting an aud

[2022-04-07 22:18] frederikprijck commented on #895
Regarding the user not being logged in, it seems that, when calling `getTokenSilently` will call `logout` when `login_required` is thrown: https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L1156 (this could be resolved by what is mentioned in my previous comment).

If you call `getTokenWithPopup` with an audience or scope different from the global scope, you need to provide the

[2022-04-08 14:40] purepear commented on #895
Thank you for your informative response @frederikprijck!
Everything you shared makes sense, it's just that our use case is a bit weird :)

Your assumptions are correct:
* User logs in with default scope(no scope provided) and no audience. `loginWithRedirect` works - all good.
* User selects which "API" they're going to use. This calls `getTokenSilently` with the selected API's audience and scope.

[2022-04-08 14:48] frederikprijck commented on #895
When `getTokenSilently` fails and throws `login_required`, you can also call `loginWithRedirect` again with the audience based on the API selected. That way you get an initial set of tokens for that audience using the interactive approach, not relying on 3rd party cookies. You still need to ensure the scopes are all included tho.

This should also be required if your API requires consent from the

[2022-04-08 16:01] purepear commented on #895
I actually tried this earlier but ended up in and infinite redirect loop, and so i thought it's not supposed to work like that, but i'll give it another go :)

[2022-04-08 19:46] frederikprijck commented on #895
Thinking about this some more, I can see there might be an issue here when you first hit `getTokenSilently` which throws `login_required`, which logs you out, including the default audience and scope (before selecting an API). When u now call loginWithRedirect with the audience and scope for the selected API, you get tokens for the new audience and scope but you don't have any tokens for the defau

[2022-04-09 03:01] divmgl commented on #627
This is an Auth0 maintained package for a service they provide. It's been two years now. Needless to say, we should have seen some movement here.

[2022-04-09 03:48] divmgl commented on #859
I removed the polyfills and the bundle size decreased by about 50kb. There's probably more that can be done.

https://github.com/auth0/auth0-spa-js/issues/627#issuecomment-1093621867

[2022-04-13 17:32] emanuellarini opened #896 "Question: refresh token call and custom rules"
From what I read in the code (and correct if i'm wrong here), while refreshing tokens I saw that the oauth call doesn't send the `scopes` and `audience`.

is it intended to not send these values while refreshing a token?

I have a situation where I have custom rules set in auth0 and not sending these values break the rule.

What should I do in this case?

Thank you.

[2022-04-20 08:54] stevehobbsdev commented on #896
Thanks for your patience here. Today the SDK does not send those values when sending a `refresh_token` grant. From an OAuth perspective, the only reason you would send `scope` in particular is when you want to **descope** an access token. This is a use case that the SDK does not support today but are looking into for future improvement.

For your scenario, where you want access to these values in

[2022-04-20 08:57] stevehobbsdev commented on #895
I'll close this for now as it looks to have been answered, but please feel free to continue the conversation if need be.

[2022-04-20 08:57] #895 closed

[2022-04-20 19:49] emanuellarini commented on #896
But what should I do with the custom rules? My rules kind of expect the scopes to be sent because we're adding some information to the token

[2022-04-21 03:28] superbull opened #897 "How to customize logout url"
Our company uses a combination of Auth0 & Azure AD for our SSO.
In order to logout completely from main-tenant and sub-tenant, we need to call a **special logout URL**.

I found the logout URL is built from this method, it seems not easy to hook into this and replace it with our special URL.
https://github.com/auth0/auth0-spa-js/blob/0ae6078c02d3a4184147e788adfceae4db78db65/src/Auth0Client.ts#L104

[2022-04-21 05:35] frederikprijck commented on #897
Thanks, our SDK is made to be used only with Auth0. As our logout URL on the server-side is fixed, our SDK does not allow for this to be configurable.

APart from the logout URL, there are other internals that may or may not work with other providers, so we don't recommend doing this.

[2022-04-21 08:01] benoittgt opened #898 "Be able to redirect on a custom page when session expires"
### Describe the problem you'd like to have solved

We have a lot of error coming from auth0

Customers are connected, then put the browser/app in the background. Session expires and they are redirected to login page. People wait 2-3 days and try to connect using the same old login page, then boom "OIDC-conformant" error. Auth0 support recommend to have a custom page when the session is expired an

[2022-04-21 08:26] stevehobbsdev commented on #897
While this isn't really a supported use case, you could achieve what you want by disabling the logout redirect using `localOnly`:

[code]

`localOnly` clears out internal state but doesn't perform the redirect to the logout endpoint in the browser, so you're able to handle that as you wish.

[2022-04-21 08:26] #897 closed

[2022-04-22 05:17] emanuellarini commented on #896
I see. That can help for now. I could help you and make a PR allowing to pass both audience and scope in refresh calls if you need. I'm very interested in this feature.

Btw, if I send something like:

[code]

I'm also worried about the audience as well. Is there any way to get help for my case? I can't share here the rules I have but I'd love to get a closer help on this if you can.

Thank you!

[2022-04-22 17:51] JonLittleIT opened #899 "`window.crypto` is required to run `auth0-spa-js`."
### Describe the problem

at Request.self.callback (/vercel/path0/node_modules/request/request.js:185:22) Error: For security reasons, `window.crypto` is required to run `auth0-spa-js`.

### What was the expected behavior?

deploys to vercel with no issues. I am getting a 404 and errors in the logs.

-Jon

[2022-04-22 17:54] #899 closed

[2022-04-26 11:02] stevehobbsdev commented on #896
@emanuellarini Do you already have paid support with Auth0? As I am getting requests internally to look into this, but normally if that's the case this would go through our dedicated support team where you would be able to get a deeper look into your case.

Yes - as it's a custom property, you're able to retrieve that in a rule and do as you wish.

This is something we're already looking into inte

[2022-04-26 11:52] Dannnir commented on #884
@Soviut Thank you for this one!!!
Can you please check why the domain doesn’t take effect for the organization_hint cookie?

[2022-04-26 14:57] Soviut commented on #884
@Dannnir You should probably open a new issue for that. I haven't worked with organizations in auth0.

[2022-04-27 02:56] emanuellarini commented on #896
If i use a second property to get scopes, won't it break the caching of tokens?

I'm thinking if it won't cause unwanted side effects.

Tbh I'd rather fork your repo and add the scopes and audience to token refresh calls. it doesn't seem to be difficult.

What are the possible side effects of passing the scopes and audience to refresh calls?

Also, how does the auth0 works when refreshing and gene

[2022-04-27 09:32] stevehobbsdev commented on #896
Great! I think that would come with some support time so I would reach out to the person who is handling your account if you require a deeper look at your specific case. They've already been in touch internally.

No, if it's a custom property then the SDK won't assume anything about it or use it to cache tokens. It mainly uses `clientId`, `scope` and `audience` to do this. If you had another prope

[2022-04-27 09:32] stevehobbsdev commented on #896
I'll close this for now as I don't think there's anything actionable here for the SDK, but more than happy to continue the conversation.

[2022-04-27 09:32] #896 closed

[2022-04-27 16:48] rwbarber2 commented on #896
@stevehobbsdev For reference, there is a support ticket (00746381) on this and it *is* directly related to refresh tokens and rules.  When a rule is executed for a refresh token the rule does not get passed the original scopes (nor audience) and that is the root of our problem.  Our rule adds both authorizations (scopes)and claims to the token which are dependent upon the scopes passed in among ot

[2022-04-28 15:07] benoittgt commented on #898
Hello @stevehobbsdev

Sorry for the late reply. We should be able to do something with `returnTo` and redirect ot a page that do not provide a login form that expired and that raise an OIDC-compliant error.

🌮

[2022-04-28 15:07] #898 closed

[2022-04-30 15:23] Gayatri19670 commented on #427
WARNING in ./node_modules/@auth0/auth0-react/dist/auth0-react.esm.js Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):

[2022-05-09 08:29] afroneth commented on #853
@nader-fl

Hi, I am facing the same issue while using @react-pdf/renderer. Could you share with me how to set up the mocking service for text encoding/decoding? I am currently failing my jest tests with this error:

`RangeError: Failed to construct 'TextDecoder': The encoding label provided ('utf-16le') is invalid.`

Thank you!

[2022-05-10 20:58] TobiSW opened #904 "Seperate hostname and endpoint path for token endpoint"
### Describe the problem you'd like to have solved

In order to access the authorization endpoint of my oauth server i need to set the domain options to something like that:

[code]
After i trigger the loginWithRedirect method everything is working fine so far until it tries to call the token endpoint. It seems that it is a hardcoded concatenated string which is created out of the domain options:

[2022-05-11 08:04] frederikprijck commented on #904
Thanks for reaching out!

Can you elaborate what you are trying to achieve? Our SDK is designed to work with Auth0, not with other Identity Providers, so making the URL configurable like you are trying shouldn't be needed to integrate Auth0.

Are you perhaps trying to use a different Identity Provider here ?

[2022-05-11 09:05] TobiSW commented on #904
Thank you for your reply! Okay understood, yes i tried to use it with an different identity provider.

[2022-05-12 12:09] stevehobbsdev commented on #904
Thanks for raising this @TobiSW . We cannot accommodate this request, so I'll close this issue for now.

[2022-05-12 12:09] #904 closed

[2022-05-12 15:48] AlexHughesOk commented on #899
@JonLittleIT Did you end up fixing this issue yourself? If so, what did you do?

[2022-05-26 22:26] theFong commented on #683
Hi all, thanks for the thorough responses. Why is Refresh Token Rotation setting  _required_ when using this library? I noticed with device code flow it isn't. Is it because this library implements Authorization Code Flow with PKCE and Auth0's server will not return refresh tokens without the setting configured for better security?

[2022-05-27 16:15] amit-kapadia commented on #608
This is a joke!

[2022-05-30 14:51] frederikprijck commented on #683
@theFong The reason here is that in SPA's, using non-rotating Refresh Tokens is a security concern, see https://auth0.com/docs/secure/tokens/refresh-tokens/refresh-token-rotation

[2022-05-31 19:03] robbytx commented on #822
I'm glad I found this!  I've reviewed lots of Auth0 documentation over past several days and nowhere until here did I figure out that passing the audience was necessary to get a valid access token for my API.  I even looked at the very page referenced above, but I saw only the statement:

Which made me think something was simply wrong, since the access token I was getting for my SPA was not follow

[2022-05-31 23:08] robbytx opened #915 "In-memory (default) storage cannot be used with reasonably strict CSP"
### Describe the problem

Using the default configuration (where `cacheLocation` defaults to `memory`), the Auth0Client attempts to load a Web Worker using a Blob URI constructed with a static payload.

However, if the application is served from a domain with a reasonably strict CSP (i.e. where `script-src` contains `'self'`, other trusted origins (`localhost:4200`), and possibly some `'sha256-...

[2022-06-08 18:51] robbytx commented on #915
Thanks, yes, I'm using my own `cache` storage, which leverages `sessionStorage` to encapsulate the tokens a bit better than the `localStorage` option, and even give our users the ability to maintain separate logins in individual tabs.

I understand the concern about making the SDK too complex to use out of the box, but users leveraging CSP clearly care about security and so providing a slightly mo

[2022-06-14 00:43] tomboolean commented on #469
We also have multiple audiences / APIs powering multiple parts of the same pages throughout our application. We would really like to tackle this problem. Is there anything else we can do for our use case? If not, is there anything we can help contribute?

[2022-06-14 09:54] stevehobbsdev commented on #469
@tomboolean As this a wider issue than just this SDK, I would raise this in our [product feedback portal](https://auth0.com/feedback).

[2022-06-14 15:57] tomboolean commented on #469
will do @stevehobbsdev!

Thanks for the help @adamjmcgrath!

[2022-06-15 15:08] adamjmcgrath commented on #915
If you're using your own cache, the SDK wont create a Web Worker, so you shouldn't get that CSP issue

The alternative if you don't want to use browser storage is to create your own in memory storage which I've suggested here https://github.com/auth0/auth0-spa-js/issues/915#issuecomment-1148928670

[2022-06-17 10:54] Lonli-Lokli commented on #476
It's not possible to setup `link` option from Universal login page as well as from this library, only `code` available

[2022-06-20 22:29] tomboolean commented on #290
Can someone give their example with a Rule or Action? I'm lost.

[2022-06-22 07:54] 27medkamal commented on #566
There's another solution for this which is to do the following:
1. Expose port 3000 of `my-service` to the host
2. Run the container which makes a request to `http://my-service:3000/` in a `network_mode: host`
3. Instead of calling `http://my-service:3000/`, call `http://localhost:3000/`

[2022-06-23 11:27] nseb opened #922 "buildAuthorizeUrl miss ?"
Hello , I use buildAuthorizeUrl , with redirect_uri defined. I just saw that the ? had disappeared, and this poses a problem in hybrid mode with Apple, because it refuses the deeplink.
Before it worked

[2022-06-24 07:27] JohnnyTMD commented on #548
Hi, I have the same issue, I start the login process on domain.com and it goes to the custom login page and then the user get's redirected to dashboard.domain.com . Same error I see: Invalid state. However if I call getTokenSilently() I get the token and I'm able to do the other API requests. When the user refresh the page he is gets logged out.
Any updates on this? @stevehobbsdev

[2022-06-24 08:37] stevehobbsdev commented on #548
@JohnnyTMD I suspect you're running into this because the SDK uses session storage by default to handle auth transactions, and `state` is stored inside this transaction. For this scenario you can try enabling `useCookiesForTransactions` ([docs](https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html#usecookiesfortransactions)) which, as the name suggests, causes the SDK to use cook

[2022-06-24 09:06] stevehobbsdev commented on #922
@nseb If you can provide a small repro app I'd be happy to take a long. Or at least share some code here on the issue?

Nothing has changed recently regarding `buildAuthorizeUrl`, if you're able to pinpoint a version of the SDK where it stopped working, I can look into it.

[2022-06-24 10:08] glcheetham commented on #608
@frederikprijck thanks for the in-depth reply. How far back in time do you polyfill to? e.g I don't need ie6-10 for my project so I could fork and drop the polyfills to make an auth0 "lite" @stevehobbsdev ?

[2022-06-26 16:41] programmingninjas opened #924 "Allow Auth0 to be tested over local network"
### Problem

Whenever I develop a react app I check it on my android mobile too using IP address that react has hosted this app on. But after using Auth0  react app goes blank. This is happening because auth0-spa-js must run on a secure origin and react is using http + ip address which is not allowed by auth0.

[2022-06-27 10:49] stevehobbsdev commented on #924
Unfortunately this is not something we artificial limit; this is instead limited by the fact that we rely on the browser's native crypto API being available, which requires the app to be running on a secure origin.

Recommendation here is to configure your React app so that it can use HTTPS even in your local environment. Using something like [Caddy](https://caddyserver.com/docs/quick-starts/https

[2022-06-27 10:49] #924 closed

[2022-06-27 10:50] stevehobbsdev commented on #915
Closing as this looks to have been answered. Of course, we're happy to continue the discussion if we can help further.

[2022-06-27 10:50] #915 closed

[2022-06-28 09:10] JohnnyTMD commented on #548
Hi @stevehobbsdev , I've tried that but didn't help (

[2022-07-11 04:27] 6lick commented on #706
Hi- I am seeing same timeout behavior with react app chrome extension. @AndrewRayCode what did you add to the CSP? Can you share an example of your CSP? Thank you!

[2022-07-12 07:21] Aarbel commented on #583
@Abildtoft @jrista

Have you found a workaround / solution for this ?

[2022-07-18 02:04] mcrawshaw commented on #682
@stevehobbsdev We're in a similar situation. We've tested the removal of the `browser-tabs-lock` functionality from this package and can confirm we're able to embed our product (and Auth0) within an iframe from another domain.

Our setup:
 - We use the new universal login experience and able to avoid clickjacking protection by using `loginWithPopup`.
 - We use rotating refresh tokens.
 - Iframe se

[2022-07-18 12:52] sc-ivankorshun opened #931 "Token refresh does not work in `auth0-spa-js`"
### Describe the problem

The `auth0-spa-js` can be configured to refresh tokens (`useRefreshTokens` flag).
When an access token is expired `getTokenSilently()` tries to refresh it automatically.
But `getTokenSilently()` does not pass scope to the `/token` endpoint.
As a result, an ID token is not returned back and the “`ID token is required but missing`” error is thrown.

### Reproduction

1. Cre

[2022-07-18 15:32] stevehobbsdev commented on #931
👋🏻  @sc-ivankorshun

It's not necessary to pass a scope to `/oauth/token` as the refresh token is bound to the audience and scopes from when the user authenticated to get the refresh token in the first place.

I'm not sure why an ID token is not being returned to you - are you able to supply a HAR file for us to look at?

[2022-07-19 01:45] mcrawshaw commented on #682
Thanks, that does help. That makes some sense, though I don't really understand why multiple tabs need to be within the same session (especially with `cacheLocation: "memory"`). I'm sure it's a cookie thing or something that's outside of my understanding.

Regarding browser support... I guess you're referring to the `navigator.locks.*` feature (https://caniuse.com/mdn-api_navigator_locks). Unfortu

[2022-07-19 07:20] sc-ivankorshun commented on #931
Hi @stevehobbsdev,

You are right. One step is missing in the reproducible scenario.
It starts to fail with a custom rule that extends access token scope as described here:
https://auth0.com/docs/get-started/authentication-and-authorization-flow/call-your-api-using-the-authorization-code-flow#customize-tokens

Here is a simplified rule code to reproduce:
[code]

Here are network HAR and console lo

[2022-07-27 16:49] omrisavra opened #936 "Issue with loginWithRedirect google social login connection"
### Describe the problem

This is a bug report or a question I have.
I am trying to implement a button outside of my auth0-supported application, using this lib.

Using this button I want to redirect the users to google social login and skip my auth0 universal login, then redirect them to my application.

When running this code, it doesn't redirect them to the google-oauth2 it just bring them to m

[2022-07-31 21:47] mcrawshaw commented on #682
@stevehobbsdev We have resolved this issue and are able to use Auth0 SPA JS within a cross-origin iframe (via `loginWithPopup` and user button click) by gracefully failing when local storage is not available.

[code]

[2022-08-01 11:24] halafi opened #938 "checkSession -> _getTokenSilently with ignoreCache: true subsequent slow loading time"
### Describe the problem

Subsequent checkSession call is taking significantly longer than first time load.

I have run into this issue across auth0 discussion boards with no real solution:
- https://community.auth0.com/t/auth0-js-checksession-slow/30309
- https://community.auth0.com/t/help-checksession-function-take-10-seconds-to-execute/28370
- ...

If a checkSession call is made triggering _get

[2022-08-02 10:03] coffeedoughnuts opened #939 "allow for silent authentication after signup"
### Describe the problem you'd like to have solved

I am implementing a custom sign up screen in my app and after my backend has created the user I want to authenticate the user and redirect them to my app without them needing to enter their password immediately after signup

### Describe the ideal solution

- my backend api has a `POST /signup` route that I send my user details (including passwor

[2022-08-02 10:17] frederikprijck commented on #939
Thanks for reaching out!

Our SDK is intended to be used to retrieve and manage the tokens for you. We don't offer a supported way to inject externally retrieved tokens into our SDK, as that would open for doing things like `password_grant` (or any other grant for that matter) with our SDK which is strongly discouraged in Single Page applications.

Having said that, and trying to understand the si

[2022-08-02 16:12] coffeedoughnuts commented on #939
thanks for getting back to me @frederikprijck

our SPA is a large NextJS app built and exported statically (no server side stuff) and then our backend is a Clojure GraphQL app. We currently don't have public signup (it's handled manually as contracts are signed) but are now implementing the ability for existing users to invite new users to their organisation (our concept of organisations, not the

[2022-08-03 07:55] frederikprijck commented on #939
I believe there are two different things being discussed here.

**Injecting a token:**
We don't allow injecting a token obtained externally because of the fact that it opens the SDK to be (mis)used with flows that are not encouraged for Single Page Applications.
[As mentioned in the readme](https://github.com/auth0/auth0-spa-js), this SDK uses the Authorization Code flow using PKCE, retrieving a t

[2022-08-03 09:40] coffeedoughnuts commented on #939
thanks for the explanation - it makes sense that this SDK would not support the feature I've requested, so in that respect this issue can be closed.

I think our product team would need to talk to the professional services team to work out our best option. thanks for your help this all this!

[2022-08-03 09:40] #939 closed

[2022-08-03 18:05] azjgard commented on #915
We ran into this same issue, and solved it by implementing a custom in-memory cache as specified. However, implicit in this solution is accepting the loss of the benefits furnished by fetching tokens via worker.

As @robbytx has already stated, it would be great if there was an option for us to take advantage of the built-in worker support using the built-in memory cache without having to nuke our

[2022-08-05 16:11] stevehobbsdev commented on #931
Thanks for your patience here @sc-ivankorshun, I've had a play and I think I know what's going on.

1) First thing is that when setting `context.accessToken.scope`, this needs to be set to a string value, not an array of scopes. So something like `context.accessToken.scope = scope.split(' ').concat(['my.scope.value']).join(' ');` will fix that

2) Second thing is that when you're calling `/oauth/t

[2022-08-05 16:40] stevehobbsdev commented on #936
👋🏻 Using what you describe works for me:

[code]

I get directed straight to the Google sign-in page as long as my Google connection is enabled on my Auth0 client:

https://user-images.githubusercontent.com/766403/183122470-06a798ce-0a1d-4d96-8553-7667a86283d0.mov

Are you using your own Google account keys, or Auth0's developer keys? I'm not sure what happens when you're using the Auth0-provided

[2022-08-08 06:29] sc-ivankorshun commented on #931
Hi @stevehobbsdev,
1. Both array and string assigned to `context.accessToken.scope` lead to the same result.
Our production code sets it as a string. I have tried an array in the reproducible scenario to follow the official Auth0 example.
But the result is the same.

2. The `openid` scope value is used by a client to signal whether it needs an ID token. Hardcoding the `openid` scope value inside t

[2022-08-08 10:26] stevehobbsdev commented on #931
For the `openid` case, I think you have two options:

1. See if it's possible that your non-SPA clients can just ignore the ID token when parsing the response
2. You're able to discriminate on the client ID inside your rule - `context.clientID` has the client being used, so you're able to check based on the client ID whether the `openid` scope should be included or not.

The SDK today _requires_ a

[2022-08-08 10:26] #931 closed

[2022-08-12 16:57] stevehobbsdev commented on #938
Hey @halafi,

Are there are a couple of different issues at work here? Are you saying that the second call to `checkSession` is slow _because_ the lock isn't released, or is that a separate issue?

[2022-08-12 21:49] elijah-martens opened #947 "auth0.getIdTokenClaims() returns claims as undefined in Firefox 103"
Describe the problem
auth0.getIdTokenClaims() returns claims as undefined in Firefox 103

What was the expected behavior?
in other browsers, auth0.getIdTokenClaims() returns a valid claims object

Reproduction
Step 1: await auth0.getTokenSilently();
Step 2: const claims = await auth0.getIdTokenClaims()
Step 3: claims is undefined.

Version of auth0-spa-js used: 1.22.2
Which browsers have you teste

[2022-08-13 09:27] #922 closed

[2022-08-15 11:57] yulafezmesi commented on #706
did you able to resolve this issue? @6lick

[2022-08-16 15:13] halafi commented on #938
@stevehobbsdev yes that's basically the issue, or a feature

[2022-08-17 11:04] stevehobbsdev commented on #947
Hi @elijah-martens,

I'm not able to reproduce this in Firefox 103. I've set up a quick test using the [built-in playground](https://github.com/auth0/auth0-spa-js/blob/master/DEVELOPMENT.md#the-sdk-playground) and got it to print out the results of `getIdTokenClaims()` after authentication, and I get a result back.

Check if you can reproduce this scenario using the playground. If you can't and yo

[2022-08-20 01:59] EvHaus opened #961 "`core-js` is a deprecated dependency"
### Describe the problem

When installing `@auth0/auth0-spa-js` via `npm`, there's a warning shown:

[code]

This is happening because `core-js` is a dependency of `@auth0/auth0-spa-js`. Is there any way to remove this dependency from `@auth0/auth0-spa-js`? Not only is it deprecated, but it's also a very large dependency at over 200kb.

At a minimum, it would be good to version it up to 3.23.3+ to

[2022-08-22 07:06] frederikprijck commented on #961
Thanks, We already dropped core-js in https://github.com/auth0/auth0-spa-js/pull/951, which will be released in our next major version.

[2022-08-22 07:06] #961 closed

[2022-08-23 03:51] mraible opened #963 "Is it possible to mock window.crypto in unit tests?"
### Describe the problem

I'm trying to create a quick example that uses Auth0 React and includes unit tests to verify everything works.

I get an error when running unit tests:

[code]

### What was the expected behavior?

`npm test` passes.

### Reproduction

[code]

**Can the behavior be reproduced using the [SPA SDK Playground](https://github.com/auth0/auth0-spa-js/blob/master/DEVELOPMENT.md#t

[2022-08-23 06:48] frederikprijck commented on #963
You can mock crypto as follows:

[code]

Doing so makes your test succeed:
![image](https://user-images.githubusercontent.com/2146903/186089775-ff0c5d33-5b84-4683-ae51-c9a898ac00cc.png)

Closing, but feel free to let me know if that doesn't help.

[2022-08-23 06:48] #963 closed

[2022-08-23 14:20] mraible commented on #963
That worked. Thank you!

[2022-08-25 01:01] benjervis opened #964 "es-cookie is breaking CJS versions"
### Describe the problem

auth0-spa-js depends on [es-cookie], which has recently gone ESM only, and done it as a minor version. This is [breaking CJS projects] using auth0-spa-js.

In our case, this is a Jest test that's failing on unknown token export.

[es-cookie]: https://github.com/theodorejb/es-cookie
[breaking cjs projects]: https://github.com/theodorejb/es-cookie/issues/10

Auth0 should lo

[2022-08-25 04:52] weyert commented on #964
One of the reasons is that I am not smart enough to get ESM packages working with Jest + Typescript ☹️

[2022-08-25 05:11] mrm007 commented on #964
96% of the packages in the npm registry, to be more precise. ESM including dual CJS/ESM is today at 4%.
Source: https://twitter.com/wooorm/status/1555258256582385664

[2022-08-25 07:18] frederikprijck commented on #964
Thanks for raising this. I have pinned es-cookie to the latest patch versions only.

[2022-08-25 08:16] #964 closed

[2022-08-25 09:43] frederikprijck commented on #964
Should be fixed as part of `1.22.3`.

[2022-08-27 06:09] missing1984 opened #968 "isAuthenticated, getUser and getIdTokenClaims does not check cookie"
### Describe the problem

When `isAuthenticated ` cookie is removed `isAuthenticated` and `getUser` api can still return value if local cache is still valid.

This may happen when managing login status  across multiple subdomains using `cookieDomain` option -- user may log out and have `isAuthenticated` cookie clear from one subdomain such as `account.foo.com`.  When this happen we need to make su

[2022-08-30 15:57] ewanharris commented on #947
Hey @elijah-martens, are you still seeing this issue? If so, were you able to reproduce in the [playground](https://github.com/auth0/auth0-spa-js/blob/master/DEVELOPMENT.md#the-sdk-playground) or another minimal sample at all?

[2022-08-30 19:53] frederikprijck commented on #831
Even though we might be able to look into working around `es-cookie`, I believe it still won't work because of the fact that we can not drop `browser-tabs-lock` as mentioned by @stevehobbsdev .

Closing this for now, as there is no direct action we can take from our SDK.

[2022-08-30 19:53] #831 closed

[2022-09-07 06:53] vvilhonen commented on #947
I'm having the same behaviour with react and version 1.22.3. I had cache and cacheLocation set to undefined. When setting cacheLocation to localStorage it works the same in firefox and chrome.

[2022-09-07 09:57] frederikprijck commented on #968
Hello,

Thank you for raising this and sorry for the late reply.

The cookie you mention was introduced as a hint for our SDK to avoid doing unnecessary calls to Auth0 when loading the page and calling our SDK's `checkSession` method. The naming of that cookie is unfortunate, but it was never intended to be introduced to drive the internal state of the SDK, if you are using local storage and have

[2022-09-07 12:35] frederikprijck commented on #947
Closing this for now, happy to reopen if this is still an issue, but would be useful to provide a snippet or reproduction sample so we can see what's going on.

[2022-09-07 12:35] #947 closed

[2022-09-07 12:36] frederikprijck commented on #968
Closing this, as I believe there isn't much our SDK. Happy to continue the conversation, and can always reopen if needed.

[2022-09-07 12:36] #968 closed

[2022-09-07 12:37] frederikprijck commented on #936
Closing this, if this would still be an issue we can always reopen.

[2022-09-07 12:37] #936 closed

[2022-09-07 13:54] ericofusco opened #976 "Ability to configure client with customizable auth endpoints"
### Describe the problem you'd like to have solved

Use auth0-spa-js with other identity providers like Okta but because paths are hard-coded in the library it's not possible

### Describe the ideal solution

I'm not sure if that would be all, but the identity providers like Auth0 and Okta follow the oauth2 standards, but there is no standardization for the URIs. (Examples: Auth0 with `/authorize`

[2022-09-07 14:38] frederikprijck commented on #976
Thanks for opening this request, our SDK is tailored specifically for Auth0 and we do not provide support for other providers.
Even though some parts might work, others may not work as expected.

There are things specific to Auth0 inside our SDK that are not OAuth2 standards (e.g. first-class support for certain custom properties an IDP can accept, which are specific to Auth0).

Even though suppor

[2022-09-07 14:38] #976 closed

[2022-09-08 09:24] #938 closed

[2022-09-12 07:55] weblaetitia opened #978 "Test fails when using j-toml package"
### Describe the problem

There is a conflict between auth0-spa-js and [j-toml](https://www.npmjs.com/package/@ltd/j-toml).

The `npm run test` command will display the error below:

[code]

### What was the expected behavior?

Test should pass

### Reproduction

Use `j-toml` and `auth0-spa-js` libraries with Jest test.

You can check this minimal app I've created on this repo: [https://github.com

[2022-09-12 08:36] frederikprijck commented on #978
Thanks for reporting this.

TextEncoder/TextDecode is not supported in Jest, therefor it seems like the TOML package has some issues.
To solve this, configure TextEncoder and TextDecoder in setupTest.ts:

[code]

This should make the error go away, but replace it with another error:

This error is expected, as you can not run our SDK in an environment that does not support window.crypto, which doe

[2022-09-12 08:36] #978 closed

[2022-09-12 09:19] weblaetitia commented on #978
Thank you for your quick response! I solved the issue with this workaround
 [https://github.com/jsdom/jsdom/issues/2524#issuecomment-1108991178](https://github.com/jsdom/jsdom/issues/2524#issuecomment-1108991178)

[2022-09-13 10:20] richardscarrott commented on #593
Hi @AK-047, did you ever figure this out?

It would be nice if we could at least pass Auth0 a custom session storage implementation as it's not even possible to polyfill it because `window.sessionStorage` is readonly.

Additionally, even if passing a custom `cache`, this package blows up as above.

[2022-09-13 13:01] kntmrkm opened #983 "Sometime got `request error` with custom domain (don't know related to custom domain maybe...)"
### Describe the problem

- Sometimes we can log in.
- But, Sometimes got `request error` see below attached image.

![CleanShot 2022-09-13 at 21 58 23@2x](https://user-images.githubusercontent.com/2703486/189907290-ac707703-03d8-4f20-88a1-5e4e7f6d8142.png)

### What was the expected behavior?

- Always authenticate correctly.

### Reproduction

- Nothing. Depend on our env. maybe.

### Environmen

[2022-09-13 13:02] kntmrkm commented on #983
Sentry shows a Timeout error.

[code]

![CleanShot 2022-09-13 at 22 02 16@2x](https://user-images.githubusercontent.com/2703486/189908101-a0aee7db-3d49-454e-b390-ca508caf88d9.png)

[2022-09-13 13:05] kntmrkm commented on #983
Auth0 setting is ok

![CleanShot 2022-09-13 at 22 04 25@2x](https://user-images.githubusercontent.com/2703486/189908649-98d1323f-d7b6-47a8-875a-885782329f7c.png)

[2022-09-13 23:11] scarow commented on #805
We're seeing this issue as well (intermittently), specifically when users access the auth0 screen through the Instagram browser. It's a bit annoying as I can't repro it on my account, but users have been able to trigger it and report it.

Any progress on this?

[2022-09-14 10:47] stevehobbsdev commented on #983
@kntmrkm I'm not sure that this is an SDK error, it's just surfacing what you're getting from the server.

Can you inspect [your tenant logs](https://manage.auth0.com/#/logs) in your dashboard when you get an error and see if there's anything in there that tells you anything?

[2022-09-15 05:37] kntmrkm commented on #983
Thanks. @stevehobbsdev

I realized that I should contact Auth0 support and I will close it.
My apologies.

[2022-09-15 05:37] #983 closed

[2022-09-15 07:22] CanKattwinkel commented on #627
@divmgl any reasons why you took your fork offline?

[2022-09-15 07:38] frederikprijck commented on #627
For those interested, we have merged a PR to drop the polyfills a couple of weeks ago: https://github.com/auth0/auth0-spa-js/pull/951, this will be released as part of our v2, which is expected to be released in beta in a week or two from now.

[2022-09-20 17:39] Djay77 opened #995 "Custom token endpoint"
### Describe the problem you'd like to have solved

It's impossible to override the token endpoint. It is hardcoded with '/oauth/token` ?

### Describe the ideal solution

Accept some parameters to specify custom base url (global or specific for token endpoint)

## Alternatives and current work-arounds

No work-arronds seem possible

[2022-09-21 02:26] mhamrah opened #996 "When following the SPA example using LoginWIthRedirect does not properly login the user while LoginWithPopup does"
### Describe the problem

I'm creating a new SPA app with Svelte (just a vanilla SPA) following the instructions here: https://auth0.com/docs/libraries/auth0-single-page-app-sdk#login-and-get-user-info

The example provided, when clicking an html button to call `loginWithRedirect() `does not properly initialize the login state whereas changing this code to `loginWithPopup()` works fine.

It seems

[2022-09-21 07:14] frederikprijck commented on #995
This SDK is intended to be used with Auth0, not with any other Identity Provider. Therefore these URLs are not configurable.

Apart from the URLs, there are more things internally to the SDK that are specifically for Auth0 that might not work as expected when used with any other Identity Provider.

[2022-09-21 07:14] #995 closed

[2022-09-21 07:18] frederikprijck commented on #996
Hello,

Looking at the project, it looks like you are not calling `handleRedirectCallback`. It's important to know that, using `loginWithRedirect` requires a two-step process:

- Call `loginWithRedirect`, it will bring you to Auth0 and end up back in your app, including a `code` and `state` (or `error`) query parameter.
- Call `handleRedirectCallback` when the page loads AND it has the above menti

[2022-09-21 13:20] #996 closed

[2022-09-23 16:43] mhamrah opened #1008 "getTokenSilently() returns with 5-part jwt (4 periods)"
I'm getting a token with the `getTokenSilently()` operation, and I'm getting a string back that has four periods (see below). This seems like an invalid jwt which should have three parts to it. The code is straightforward:

[code]
and the returned token:

`eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9oYW1yYWguYXV0aDAuY29tLyJ9..8eNPbSQoVv0qKBKA.gv9d1TK5iJVDKgzWDuOBTDrCr39UkcKp4wvj-yZg

[2022-09-27 06:04] frederikprijck commented on #1008
Can you see the exact same token being returned by Auth0 when you look at the network tab? Can you please provide the corresponding HAR file for us to look into? Our SDK does not do anything with the Access Token but request it and store it.

[2022-09-27 15:31] mhamrah commented on #1008
Hi @frederikprijck the problem I realized this is an opaque id returned from auth0. I was following this documentation: https://auth0.com/docs/libraries/auth0-single-page-app-sdk#call-an-api expecting to get back a JWT, but I failed to put the audience of the api in the auth0 client initialization, so got the opaque id. When I added the audience, this returned a JWT. I left feedback on that docume

[2022-09-27 15:31] #1008 closed

[2022-09-28 02:38] mhamrah opened #1009 "Support interfaces allowing Server Side Rendering (SSR) adapters"
### Describe the problem you'd like to have solved

This is a great library, but makes (obvious) assumptions that this code will run in a browser preventing use in SSR frameworks like next, svelte kit, qwik, etc.

### Describe the ideal solution

It would be nice if there was an adapter approach for accessing storage (cookies, local storage) and window operations (window.location) that allowed dev

[2022-09-28 09:00] #1009 closed

[2022-10-04 03:54] divmgl commented on #627
https://github.com/auth0/auth0-spa-js/issues/627#issuecomment-1247685826

Wow, so sorry about this. I actually did not think my forks had gotten any traction.

Super happy to hear that there's some movement to get a V2 out with the polyfills out. Sorry again @CanKattwinkel

[2022-10-04 13:59] mikhail-slauth opened #1013 "Currently it is Impossible to get Refresh Token to revoke it"
### Currently it is Impossible to get current Refresh Token to revoke it

### Possible solutions

[2022-10-05 10:55] frederikprijck commented on #1013
Thank you for reaching out!

This is a fair request, as we do not offer a way for you to revoke refresh tokens. This is something we would want to look into and see if and how we can improve to acomodate for this.

However, I wanted to give a small overview of the complexity we are dealing with, based on [the documentation you linked to](https://auth0.com/docs/secure/tokens/refresh-tokens/revoke-r

[2022-10-06 12:57] jay-dee7 opened #1014 "Add screen_name to user type when OAuth is done via Twitter"
### Describe the problem you'd like to have solved

I can clearly see `screen_name` as a field in raw JSON tab when a user logs in via Auth0 + Twitter OAuth2.0. However, this field is absent from the `User` type we have here https://github.com/auth0/auth0-spa-js/blob/master/src/global.ts#L604

![SCR-20221006-pqf](https://user-images.githubusercontent.com/10788442/194319674-81e75557-d4eb-4a0a-87fa-

[2022-10-06 13:25] frederikprijck commented on #1014
Hey,

The user object should support any arbitrary properties. Even more so, you can use

[code]

But even without that, `User` supports any additional claims. Does it exist on the user if you use:
[code]
If not, there is probably something else at play. Regardless, our SDK should not be limiting you to default properties on the user.

[2022-10-07 15:36] jerryzhao0423 opened #1015 "Error parsing redirect: Error: Invalid state"
### Describe the problem
My app is built with Angular and having this error when doing `handleRedirectCallback()`,
[code]
I read through about this issue #245 and I think the issue is coming back after version upgrades.
I tried with `1.2.4` and `1.3.2` and this error didn't happen but it happens with the latest version `1.22.4`.
Can you help check about it and fix it?

### What was the expected be

[2022-10-07 17:06] ryanashcraft commented on #857
I also have observed this behavior and have had to implement a nasty workaround as a temporary fix (retry with polling).

I agree the [singlePromise key in getTokenSilently](https://github.com/auth0/auth0-spa-js/blob/842e132bec718867026c99c76a27f810083258d6/src/Auth0Client.ts#L860-L866) looks suspicious. Shouldn't `this.options.detailedResponse` be a part of that key on line 866? cc @stevehobbsdev

[2022-10-09 13:22] frederikprijck commented on #857
Any chance you can provide something for us to reproduce this?

For the key, i am not sure i see why it should be part of it. Can you elaborate on why you think so ?

[2022-10-09 13:26] frederikprijck commented on #1015
Hello,

Can you please provide a reproduction for this? This shouldnt happen unless something weird is going on. But nothing in the steps you mention would indicate that behavior.

Thanks.

[2022-10-10 07:35] frederikprijck commented on #857
Actually, having looked at it some more I think I see what you mean. I don't think it should be part of the key, but I think I can see how it can use the wrong return type.

Re-opening this while I look into this.

[2022-10-10 08:25] frederikprijck commented on #857
Thanks for reporting this, I added a PR to address this. Would appreciate if you could take a look and see if you think it would work for you as well.

[2022-10-10 09:13] #857 closed

[2022-10-10 16:15] ryanashcraft commented on #857
@frederikprijck Thank you for investigating and submitting a patch!

[2022-10-11 20:04] jerryzhao0423 commented on #1015
@frederikprijck Thanks for the replying. I was able to find and fix the issue while I prepared a sample code.

[2022-10-11 20:05] #1015 closed

[2022-10-12 07:05] frederikprijck commented on #1014
Closing, feel free to reply and can open if needed.

[2022-10-12 07:05] #1014 closed

[2022-10-12 08:32] jay-dee7 commented on #1014
Hey @frederikprijck I did try extending the user the way you described but it didn't work for me. `screen_name` came out as `undefined`.
When I do the request with or without the extended type, it only has the following fields:

[code]

I am using `openid profile` as scopes.

[2022-10-12 08:40] frederikprijck commented on #1014
I believe this is not an issue with our SDK. If `screen_name` isn't present in the token, our SDK will not be able to read it.

What you want to achieve is ensure your Id token gets populated with the neccesary additional claims through the use of a Rule or Action. Once the claims exist in the token, our SDK will pick it up.

Using Actions: https://auth0.com/blog/adding-custom-claims-to-id-token-w

[2022-10-14 22:15] andela-mallan commented on #297
In my case, I was calling `loginWithRedirect` right after the `logout` function which cause that request to be canceled.

[2022-10-24 22:59] blimmer commented on #473
Is there any way to do this now, a few years later? Or is it still a limitation of Universal Login?

[2022-11-01 15:56] adarah opened #1039 "Cannot properly set connection_scope in 2.0.0"
### Describe the problem

I cannot pass properly formatted extra scopes to the IDP in 2.0.0. When setting the `connection_scope` key inside [authorizationParams](https://github.com/auth0/auth0-spa-js/blob/bb5a26aa3e60436e022aac98e9dcb9f423e66cb0/src/global.ts#L106), it gets merged with the default Auth0 scopes and causes an error in the IDP.

### What was the expected behavior?

The SDK should not

[2022-11-01 16:18] adarah commented on #1039
On further inspection, this seems to be intentional. To pass arbitrary scopes to the IDP you should use the [invoke the Management API directly](https://community.auth0.com/t/pass-additional-scopes-permissions-to-a-social-connection/56103).

[2022-11-01 16:18] #1039 closed

[2022-11-02 15:42] NtonBala commented on #488
Had the same issue and this solved the problem. Would be great to have this in docs.

[2022-11-03 13:33] frederikprijck commented on #488
@NtonBala , we have this mentioned in our readme, see https://github.com/auth0/auth0-spa-js

Always open to any improvement we can do here.

[2022-11-11 09:00] dandob74 opened #1041 "Verifying the idToken isn't processed for getTokenUsingRefreshToken anymore"
Hey,
I am struggling with the "validation" of the idToken by using refresh tokens.

In Release 1.22.5 the idToken was verified within the Auth0Client.ts in method _getTokenUsingRefreshToken (via this._verifyIdToken).
In Release 2.0.0 the idToken isn't verified anymore. At least not in the _getTokenUsingRefreshToken method.

I have the following issues now in Release 2.0.0:
- Calling isAuthenticate

[2022-11-11 21:20] ksmSujay commented on #474
@tudorgergely were you able to solve your issue of isAuthenticated being false in cypress tests ??

[2022-11-14 09:41] frederikprijck commented on #1041
Thanks for reaching out.

An Id token is used to initially tell the application who the user is. Its expiration doesn't impact the authentication state of the user in a Single Page Application.

For our SDK, a user is considered authenticated if we have an Id token, even if it's expired. However, as soon as we no longer have a valid access token, and we are unable to retrieve a new one from Auth0,

[2022-11-14 11:46] dandob74 commented on #1041
Hey,
thanks for getting back to me. 
Yep, you are right, in my case the accessToken lives indeed longer than the idToken.

But, I am 99.99% sure that we will get a new accessToken when the expiration of the idToken is expired, even if the access Token is still valid for V 1.22.X. This behavior is gone in V2.

I had a short look into the code. Could the changed cache handling leads to this "new" be

[2022-11-14 13:54] frederikprijck commented on #1041
That's correct. We should not refresh the Access Token when the ID Token is expired, as the ID Token has no influence on the expiration and validity of the Access Token.

We removed this as part of https://github.com/auth0/auth0-spa-js/pull/967, as you can see it's called out explicitly in the PR to remove that check explicitly.

What's the use case for using id token's with an expiration that's l

[2022-11-14 15:08] dandob74 commented on #1041
Thanks for the quick response!
You're totally right, it makes no sense to automatically refresh a valid accessToken, when only the idToken has been expired.
To be honest, I wasn't aware of #967, which describes the changes in depth.
I used this "automatic" refreshing to get updated idToken-data of the current user, as we use short living idTokens in our app.
I will change my code as needed, and I

[2022-11-14 15:08] #1041 closed

[2022-11-14 20:59] chriskuech opened #1042 "Cannot handle login required error when refresh token expires"
### Describe the problem you'd like to have solved

We are getting bugs from users complaining that the app fails if they keep their browser tab open for 12+ hours because the refresh token expires under the hood.  I want to handle this error and execute some code (logging out the user from the app).

### Describe the ideal solution

Ideally, auth0 exposes the `MissingRefreshTokenError` error for

[2022-11-15 08:23] frederikprijck commented on #1042
Thanks for reaching out, can you elaborate on what it means for the application for fail?

Typically our SDK should be able to handle when the refresh token expired. What happens in that case is, when you call `getTokenSIlently`, it will try get a new token. If it can't it will throw a `login_required`, `invalid_grant` or any error returned by Auth0 indicating we were unable to retrieve a new pair

[2022-11-15 08:42] frederikprijck commented on #1042
Exported it in https://github.com/auth0/auth0-spa-js/pull/1043, thanks for reporting that!

[2022-11-15 12:49] #1042 closed

[2022-11-15 20:09] chriskuech commented on #1042
@frederikprijck thank you for the diligent solution!

[2022-11-16 21:26] ZeeStorm opened #1049 "Tokens not persisting in 2.0.0, working in 1.22.5"
### Describe the problem

Presently using latest ^1 (1.22.5 at the time of this writing) in a Vite + Typescript + React application. Upgraded application to 2.0.0, followed migration guide and users are no longer able to retain sessions (immediately logged out upon refreshing page).
When we initially implemented Auth0, we relied on localStorage, but our security team required us to remove that (ho

[2022-11-17 08:16] frederikprijck commented on #1049
Thanks for reaching out.

What I think is happening is the fact that we flipped the default value for `useRefreshTokensFallback`, see: https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md#no-more-iframe-fallback-by-default-when-using-refresh-tokens

You can either set this back to true, or ensure you call `loginWithRedirect` yourself when loading the page. The reason for this is, b

[2022-11-17 15:14] ZeeStorm commented on #1049
Thanks for the quick response @frederikprijck. I saw that comment but didn't quite understand it, I apologize for that. I also reviewed some of the more lengthy information regarding the original implementation on [Auth0's site](https://auth0.com/docs/secure/tokens/refresh-tokens/use-refresh-token-rotation#enable-userefreshtokens). Is there any concern that Chrome will be moving to disabling the i

[2022-11-17 15:44] frederikprijck commented on #1049
It's indeed true that using the iframe's fallback has issues on browsers such as Safari and Chrome Incognito, and it's very likely others will follow, as well as Chrome non-incognito.

Important to know tho, is that this is failing because of third party cookies. If you would use Custom Domains with Auth0, you would ensure there are no third party cookies at play, and the iframe fallback should wo

[2022-11-17 16:54] ZeeStorm commented on #1049
Thanks for all the help @frederikprijck , I'm glad to see it's not a real issue with 2.0.0 and so I'll close my issue.

Unfortunately, refresh tokens are required since our implementation requires access tokens to last less than 5 minutes, and sessions generally last a whole work day, requiring the need to issue new access tokens throughout the day.

For what it's worth, we are using Custom Domain

[2022-11-17 16:54] #1049 closed

[2022-11-17 17:16] frederikprijck commented on #1049
Our SDK can refresh access tokens without refresh tokens, that's what the iframe is doing. So if u are using custom domains in production, and not storing anything in local storage, i don't see why you would need refresh tokens in production.

[2022-11-18 09:44] ShaktiMandal opened #1050 "Unable to issue redirect for OAuth 2.0 transaction"
Hi

Please help me on the below issues.

### Describe the problem

Recently, I have upgraded @auth0/auth0-spa-js to 2.0.0 since then I was unable to login into the application. It was working before with the previous version - 1.15.0. Reason for login failure is that server is responding  with error - 500. So, I have gone through the network tab in my browser and noticed that **authorize/resume?st

[2022-11-18 10:35] frederikprijck commented on #1050
Thanks for reporting.

Can you see if there are any logs shown in Auth0? Based on the code you shared I can not see anything wrong, so I think we would benefit from seeing see a reproduction sample to be able to action this.

Thanks,

[2022-11-18 17:41] ShaktiMandal commented on #1050
I have checked in the monitoring section and get below details.
In the response, there is an error object which contain below error.
I have tried to compare the request object with working version but doesn't have any difference.

error - Unable to issue redirect for OAuth 2.0 transaction.

Please let me know if I have to look into anywhere else to get additional details.

[2022-11-19 16:17] thirumalairajr commented on #345
@stevehobbsdev has the long term solution released for this issue. If yes, from which version is it available?

[2022-11-21 10:28] ShaktiMandal commented on #1050
Hi Frederik,

Any suggestion please ?

[2022-11-23 16:24] frederikprijck commented on #1050
Please provide a reproduction so we can look into it, as i have been unable to reproduce this.

[2022-11-23 16:41] kyontan commented on #1050
I've faced the same issue.
It looks the `redirect_uri` parameter in `loginWithRedirect` method is ignored, and the value of `authorizationParams.redirect_uri` passed on calling `createAuth0Client` is used instead.

[2022-11-23 17:13] frederikprijck commented on #1050
@kyontan That's correct, as of v2, the `redirect_uri` is expected to go inside `authorizationParams`. You are not supposed to use `loginWithRedirect({ redirect_uri: "something" })` in v2, see: https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md#introduction-of-authorizationparams

[2022-11-23 18:08] kyontan commented on #1050
@frederikprijck
Sorry, I misunderstood the issue, so my editor's failed to read v2's type definition 🙏

[2022-11-23 18:37] ShaktiMandal commented on #1050
@frederikprijck

Just to inform you that, issue got sorted out. Seems like there was a problem with my system. I have tried to check with my colleagues and works fine there. thus closing the issue. Thanks all for the support.

[2022-11-23 18:37] #1050 closed

[2022-11-27 20:17] Bartheleway opened #1051 "handleRedirectCallback not working in Salesforce context"
### Describe the problem

Can't login as the `handleRedirectCallback` function is falling.

### What was the expected behavior?

Able to log in.

### Reproduction

I use the lib in Salesforce context. In this special context, even though we are in latest browser, [`AbortController` is not available](https://developer.salesforce.com/docs/component-library/tools/locker-service-viewer).

### Environm

[2022-11-28 08:08] frederikprijck commented on #1051
Hello,

v1 of this SDK shipped with a polyfill for AbortController. With v2, we have dropped this polyfill and support for any browser not supporting AbortController.

If you need AbortController, you should be able to polyfill it yourself by including https://www.npmjs.com/package/abortcontroller-polyfill in your application.

That doesn't introduce a working AbortController in your case, it's be

[2022-11-28 08:41] rvsjoen opened #1052 "'default' is not exported by auth0-spa-js.production.esm.js"
### Describe the problem

After upgrading to version 2.0.0, having problems with the module export

[code]

### Environment

- **Version of `auth0-spa-js` used: 2.0.0
- **Which browsers have you tested in? - Chrome
- **Which framework are you using, if applicable (Angular, React, etc): Vue3 (3.2.45), building with Vite 2.5.4

[2022-11-28 08:43] frederikprijck commented on #1052
Thanks for reaching out.

Dit you take a look at the [Migration Guide](https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md), more specifically, the section that covers the fact that we [dropped the default export](https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md#no-more-default-export)?

Would that help?

[2022-11-28 10:39] rvsjoen commented on #1052
Thank you, I completely dropped the ball on this one - our code has been rewritten based on the migration guide and everything is OK.

[2022-11-28 10:39] #1052 closed

[2022-11-28 11:27] frederikprijck commented on #1051
Looking at [the Salesforce documentation](https://developer.salesforce.com/docs/atlas.en-us.216.0.lightning.meta/lightning/security_locker_console_evaluate.htm), it mentions AbortController being an experimental feature:

Looking at the [browser support on MDN](https://developer.mozilla.org/en-US/docs/Web/API/AbortController#browser_compatibility), I wouldn't say AbortController is an experimental

[2022-11-28 11:27] #1051 closed

[2022-11-28 12:26] Bartheleway commented on #1051
Well good luck with Salesforce understanding and fixing the situation ... And Locker Service is an old tool which I think they do not upgrade anymore but that we still have live ...

Reading you, it gave me an idea. Instead of doing my fix in the library call, I can do it right before loading it.

Which, for the record, looks like this:
[code]

I know I'm loosing the `abort` feature which I guess

[2022-11-29 15:42] schester44 opened #1053 "`isAuthenticated()` returns false even though the token is still valid"
Having trouble tracking this one down so figured i'd reach out to see if anyone has any idea what is going on here.

A small subset of our users are having their token removed from localStorage even though the token's exp value is a month out.

A few details of our integration:

- We're using localStorage for our cacheLocation.
- We're using Resource Owner Password Flow and calling `auth0client.ca

[2022-11-29 20:23] frederikprijck commented on #1053
Thanks for reaching out. This SDK does not support the Resource Owner flow and there are currently no plans to support this.

We recommend still using this SDK, but rely on it using the Authorization Code flow.

We definetly do not encourage using the cacheManager like that, neither is this a situation we can realy support. Our SDK is mainly used to retrieve the tokens using the Authorization Code

[2022-11-29 20:23] #1053 closed

[2022-11-30 11:30] PhentomPT opened #1054 "Module '"@auth0/auth0-spa-js"' has no exported member 'createAuth0Client'"
### Describe the problem

`Module '"@auth0/auth0-spa-js"' has no exported member 'createAuth0Client'. Did you mean to use 'import createAuth0Client from "@auth0/auth0-spa-js"' instead?ts(2614)`

### What was the expected behavior?

Be able to import createAuth0Client from @auth0/auth0-spa-js

### Environment
auth0-spa-js version 2.0.0
Vue version 3.2.45 with TS

[2022-11-30 11:51] frederikprijck commented on #1054
Thanks for reaching out.

Did you take a look at the [Migration Guide](https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md), more specifically, the section that covers the fact that we [dropped the default export](https://github.com/auth0/auth0-spa-js/blob/master/MIGRATION_GUIDE.md#no-more-default-export)?

You'll want to use:

[code]

Would that help?

[2022-11-30 15:32] PhentomPT commented on #1054
i have also used `import { createAuth0Client } from "@auth0/auth0-spa-js";` that i saw on the README but it give an error that it is not being exported

[2022-11-30 15:41] PhentomPT commented on #1054
After a second look at it, it seems like the import comes true when i use it in a .ts file but not in a .vue file (inside script setup lang="ts")

[2022-11-30 16:53] Aaronius opened #1055 "Unable to get access token silently for a different organization while refresh tokens are enabled"
### Describe the problem

There is currently no way to use `getAccessTokenSilently` to retrieve an access token for a different organization when `useRefreshTokens: true` is configured at the SDK level.

We have an organization switcher within our UI where we're allowing a user to switch between organizations. We want to make this as seamless as possible (no popups, no logging in again). We're usi

[2022-11-30 18:07] frederikprijck commented on #1055
Thanks for reporting this.

Our SDK does not currently support switching organizations without calling `loginWithRedirect` or `loginWithPopup` again. The intention, today, is that a user logs into the context of an organization, meaning calling any of the two login methods. Not logging in to one organization and starting to request tokens for other organizations.

The fact that it works when not u

[2022-11-30 20:44] Aaronius commented on #1055
Thank you! It's probably obvious from my description, but to be explicit, it would be a poor experience to send the user to a login screen if that user is switching to an organization for which they are a member.