[2020-10-15 12:37] stevehobbsdev commented on #600
@Blokh Just to be clear, is your question about the SPA SDK and using the [Classic Login Experience](https://auth0.com/docs/universal-login/classic-experience), or do you have an app that is using the [Auth0 Lock NPM package](npmjs.com/package/auth0-lock)?

[2020-10-15 14:30] Blokh commented on #600
Hello @stevehobbsdev ,
I am using the classic one.
I haven't implemented the auth0 lock package.

[2020-10-15 14:32] #594 closed

[2020-10-15 14:59] #600 closed

[2020-10-15 18:40] KaiQTang opened #602 "Get refresh token from Cache"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-10-16 14:39] stevehobbsdev commented on #602
Thanks for raising @KaiQTang. It is stored in a couple of places, the cache being one of them.

When we implemented refresh tokens into this library, we made a conscious design and security decision to not expose the refresh token outside of the SDK and instead completely manage the refresh token for you. As such we will not be able to accommodate this request - sorry!

[2020-10-16 14:39] #602 closed

[2020-10-16 16:31] jlek opened #604 "Error when logging in from React app: "invalid_request: Invalid parameter: client_id must be a string""
### Describe the problem

I tried using this library instead of `@auth0/auth0-react`, because I need access to an `Auth0Client` instance before my React App starts. However, when I click the login button, I see an error page that says:

When I check the URL and the Logs, the client ID is in fact a string though.

### What was the expected behavior?

After clicking the login button, I should be dir

[2020-10-16 17:09] stevehobbsdev commented on #604
This is where the API can come across a bit weird - we know about it and would like to clean it up.

This SDK expects you to pass `client_id` as opposed to `clientId` (which is what the React SDK uses).

[code]

These options are described in the [API documentation](https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html).

Hope that helps!

[2020-10-16 17:09] #604 closed

[2020-10-16 17:10] stevehobbsdev commented on #604
Just wanted to mention as well for the future, the playground is more for testing the SDK from a user point of view, so it does not matter so much which framework it uses. Just in case that allows you to test some scenarios in the future when you raise an issue.

[2020-10-16 18:30] andreasvirkus commented on #210
So auth0 now has an official option to store the user's access token in local storage? :/

[2020-10-17 12:04] Blokh commented on #600
Thank you very much!
everything works.
Thanks

[2020-10-19 07:33] jlek commented on #604
Now that you pointed it out, I can't believe I did not spot this. Thanks!

[2020-10-19 14:25] stevehobbsdev commented on #604
No worries! Easily missed, and I appreciate that the change is subtle.

[2020-10-20 10:49] stevehobbsdev commented on #591
@krisdages I initially thought it was `browser-tabs-lock` too but it doesn't seem to be.

Are you still having issues with this with the latest beta? We've been unable to reproduce this so far since `86.0.4240.75`.

[2020-10-20 12:21] #590 closed

[2020-10-21 08:59] smorimoto commented on #456
If you all will to support it, leave this open. If not, add a wontfix label. That may confuse many people.

[2020-10-22 06:31] krisdages commented on #591
With that particular version of 86 I was still having it, but after upgrading to 87.0.4280.27 it seems to be resolved.

[2020-10-22 10:04] stevehobbsdev commented on #456
Thanks @smorimoto - we have no plans as yet to support passwordless mode in this SDK, and have added `wont fix` as requested.

[2020-10-22 10:20] qortex commented on #456
:-1:

Do you think it would be possible to get a magic link "ticket" endpoint in the API at least?
Or where should this feature request be posted?

Thanks

[2020-10-23 10:47] adamjmcgrath commented on #308
Hi @franciscolourenco - we've discussed this internally and decided that we can't offer this feature I'm afraid.

The main issue with `logoutSilently` is that there's no way for the client to know if the logout was successful. `getTokenSilently` works because the Auth server will post credentials back to the client upon successful login (the web_message flow) but there is no openid connect equival

[2020-10-23 10:47] #308 closed

[2020-10-23 10:52] adamjmcgrath commented on #306
Hi @franciscolourenco - for a similar reason to #308 we've decided not to support this feature.

There's nothing stopping you implementing this yourself, but it's out of scope for the library.

[2020-10-23 10:52] #306 closed

[2020-10-23 15:47] delwyn opened #608 "Auth0 bundle size"
### Auth0 bundle size

Hi, I just noticed that when updating from 1.12.1 to 1.13, our bundle size when up a lot.

1.12.1 auth0-spa-js.production.esm.js is 93K
1.13 auth0-spa-js.production.esm.js is 138K

That is basically a 50% increase. I realise that this is mainly due to the AbortController polyfill #598 but this seems like a really big change. Is there any way of potentially excluding this fro

[2020-10-23 16:03] stevehobbsdev commented on #608
Thanks for raising @delwyn - it's something we are aware of and are working to resolve. I don't have a timeline or a fix right at this moment but we'll keep a note to make you aware once we have deployed a fix.

[2020-10-23 16:04] stevehobbsdev commented on #593
Closing this for now, but feel free to continue the discussion if you have further questions.

[2020-10-23 16:04] #593 closed

[2020-10-23 23:09] pj opened #610 "Error 'unauthorized' error thrown in Chrome/Firefox, but working in Safari."
# Describe the problem

We're trying to create an auth0 client and getting inconsistent results between Safari and Firefox/Chrome. Safari works as expected, but Firefox and Chrome throw an error when creating the auth0 client:

[code]

Error:
[code]

We recently started using refresh tokens, so not sure if that's related.

From checking the network requests for the iframe, it looks like the 'login

[2020-10-27 14:51] wooque commented on #608
@stevehobbsdev Why is this issue closed? Is it fixed? I noticed same issue

[2020-10-28 10:45] stevehobbsdev commented on #608
Hi all,

We will be patching this back out and fixing the original issue in a different way to try and bring this bundle size back down, so I have reopened this issue for now. Thanks for the feedback!

cc @wooque

[2020-10-28 11:47] freeman-g commented on #44
Hello, I'm also interested in a little more guidance on this.

I have implemented a recursive async function to scheduleRenewal like this:

[code]

Is this the best practice? Should we build in a delay like I have done or wait until exactly when the JWT expires? It seems like we would want to renew the token a little bit earlier than the actual expiration.

[2020-10-28 14:10] stevehobbsdev commented on #44
@freeman-g Yes there are a few things going on here that we deal with on your behalf:

* We already take a small leeway of 60 seconds before token expiry into account, so you don't need to do that yourself
* We already store access tokens in local storage for you if you use `cacheLocation: 'localstorage'` when setting up the SDK

Also, you are decoding and inspecting the JWT access token on the cl

[2020-10-28 14:32] freeman-g commented on #44
@stevehobbsdev

Yes, this is very helpful. If I don't parse the JWT on the client, how do I determine the expiration time (`exp` property) to set the timeout function?

Thank you

[2020-10-28 14:54] stevehobbsdev commented on #44
@freeman-g what's the use case?

[2020-10-28 15:39] freeman-g commented on #44
I'm just trying to make sure that I have a current token for API calls. I'm using Axios, so I'm doing this:

[code]

Then I'll use Axios like this:

[code]
Therefore, I want to schedule background renewal so that the token is current when I need it.

Are you suggesting that I should just call `await auth0.getTokenSilently()` any time I need to make an API call? I think this might have two challeng

[2020-10-28 15:56] frederikprijck commented on #44
Keep in mind that interceptors in axios can be async: https://github.com/axios/axios/blob/master/index.d.ts#L126

So you should be able to just use

[code]

You can still implement some kind of renewal elsewhere, e.g. call our SDK's `checkSession()` on a specific interval. This does the same as `getTokenSilently` , with the only difference that it doesnt return a token:

- See if a token is in the

[2020-10-28 16:01] freeman-g commented on #44
@frederikprijck

Very cool! I will give it a try the way you described with an async interceptor and just rely on the SDK and not worry about "pre-renewing".

[2020-10-29 09:04] #608 closed

[2020-10-29 12:03] frederikprijck commented on #608
The bundle size has been reduced again in 1.13.1, which has just been released.

[2020-10-29 16:46] markdBC opened #615 "Store refresh tokens in localStorage whilst storing access & id tokens in memory"
### Describe the problem you'd like to have solved

I am trying to implement authentication for browsers which do not have 3rd party cookies enabled (e.g. Safari). I am planning to use refresh tokens to achieve this.

The default cache location for tokens is currently `memory`, in which case the refresh tokens are lost if the page is refreshed. Without 3rd party cookies, the user is forced to type

[2020-10-30 09:11] Arhitector opened #616 "Undefined response on use complex path"
### Describe the problem

on request auth with parametr 'require_url' with at list one letter after base url (Example: base_Url/w) get undefined in response.
<img width="1194" alt="Снимок экрана 2020-10-30 в 09 56 48" src="https://user-images.githubusercontent.com/5256163/97680659-57c76000-1a97-11eb-8657-2cccbb5e7b10.png">
<img width="1174" alt="Снимок экрана 2020-10-30 в 10 05 17" src="https://us

[2020-10-30 16:06] adamjmcgrath commented on #616
Hi @Arhitector - can you confirm that `http://localhost:8888/certificate` is in your "Allowed Callback Urls" in your tenant settings?

[2020-10-30 19:22] dkaliyev opened #619 "Add support for confidential clients"
According to https://tools.ietf.org/html/rfc6749#section-3.2.1 confidential clients MUST authenticate themselves as described in https://tools.ietf.org/html/rfc6749#section-2.3,
i.e. when making request to token endpoint client should include Authorization header. This should be done within oauthToken inside Utils.ts

[2020-10-30 21:28] stevehobbsdev commented on #619
Hi @dkaliyev, thanks for raising this.

This SDK is intended for SPAs that run in the browser, which are [public clients](https://auth0.com/docs/applications/confidential-and-public-applications#public-applications) as opposed to [confidential clients](https://auth0.com/docs/applications/confidential-and-public-applications#confidential-applications), as they cannot securely store a secret. They d

[2020-10-30 21:28] #619 closed

[2020-10-30 21:33] stevehobbsdev commented on #599
Thanks for raising @Benjathing, and apologies for the radio silence. Let me take this to the team to see what we can do here.

[2020-10-30 21:42] stevehobbsdev commented on #610
Thanks for raising @pj.

I can understand why those sets of browsers would return different results; authentication would normally work in Chrome and Firefox as they don't block third-party cookies by default, but Safari does.

In the former case, it looks like you're being authenticated silently but it looks like there's possibly a problem on the Auth0 config site - if you check [the logs in the

[2020-10-30 21:48] stevehobbsdev commented on #615
This is an interesting take @markdBC, thanks for raising.

We recognise the risks when using local storage to store such tokens and [have outlined them in our docs](https://auth0.com/docs/tokens/token-storage#browser-local-storage-scenarios). Generally there are a few best practises to follow:

* Use as short an expiry time on your access tokens as is practical
* Reduce the amount of third-party J

[2020-10-30 22:04] stevehobbsdev commented on #589
@alexandernanberg We have now released 1.13.1 which includes the change from #422 - could you please give it a try to see if it resolves your issue? Appreciate that it might be hard to determine that.

[2020-10-31 10:27] shrumm opened #621 "Use library with Resource Owner Auth Flow"
### Describe the problem you'd like to have solved

I'd like to use the Resource Owner Auth flow (https://auth0.com/docs/api/authentication#client-credentials-flow). So my backend does the login and is able to send the access token + id token back to the SPA. Is it possible to accept an access token and Id token as optional inputs into the constructor?

### Describe the ideal solution

To be able

[2020-10-31 20:28] frederikprijck commented on #621
When implementing Authentication through your backend, there is no need to use Auth0-SPA-JS, as the intention of this SDK is to retrieve tokens in the frontend.

Instead you want to use an SDK for your backend and set an HttpOnly cookie, more on this here https://auth0.com/docs/sessions-and-cookies/spa-authenticate-with-cookies

[2020-10-31 20:28] #621 closed

[2020-11-02 07:35] alexandernanberg commented on #589
@stevehobbsdev We're not using an interval anymore so I won't be able to say unfortunately. I think we can close this since I can't confirm

[2020-11-02 07:35] #589 closed

[2020-11-02 08:28] Arhitector commented on #616
yes.

[2020-11-02 10:00] stevehobbsdev commented on #616
@Arhitector If I'm understanding you correctly, you're saying that if your `redirect_uri` value as at least one letter after the base URL, the authentication call fails?

Just asking, because the value you send for `redirect_uri` should **exactly** match one of the URIs that you have specified in "Allowed Callback Urls" for your application in the Auth0 Dashboard. If you're trying to send dynamic

[2020-11-02 13:14] ehouais commented on #557
While I totally understand your position, OIDC is a standard and your library should be _de facto_ compatible with other OIDC providers, unless you deliberately and artificially prevent this compatibility. A small code change that brings back the 173 forks into using your original library would surely be beneficial, one way or the other...

[2020-11-02 16:15] Arhitector commented on #616
First of all thank you for you response.
I have tried "Allowed Callback Urls" and get undefined. After that i have tested random urls, just for getting more details. And got same results.

[2020-11-02 16:16] Arhitector commented on #616
Yes, i am using 'appState' as alternative.

[2020-11-02 17:13] stevehobbsdev commented on #616
@Arhitector Is there anything in [the logs](https://auth0.com/#/logs) that can shed any more light?

To reiterate:

* `redirect_uri` must specify a URL back to your application
* The same URI must **exactly** match a URI that appears in your [Allowed Callback Urls list](https://auth0.com/docs/users/redirect-users-after-login#redirect-users-to-callback-urls-on-the-allowlist). This cannot be dynamic

[2020-11-03 00:45] pj commented on #610
I think 'unauthorized' is the correct response in this case, because I'm actually trying to handle the case where someone is unauthorized for a particular client. I think what tripped me up is that login_required is an expected error, while unauthorized throws an exception. I guess without refresh tokens it always returns login_required?

Anyway, I've fixed this by just catching the error since it

[2020-11-03 00:45] #610 closed

[2020-11-03 10:17] pleportz opened #623 "getTokenSilently throws "Login required" with Safari"
### Problem description with reproduction steps

Hi! I'm using `"@auth0/auth0-spa-js": "^1.13.1"` in a `"next": "9.5.5"` app. I'm trying to authenticate with the new Universal Login. It works fine with Chrome and Firefox browsers, but not with Safari (I'm currently testing with Safari 14.0).

Here is what I'm currently trying:

1. Instanciate Auth0 client with

[code]

2. On login button click, tr

[2020-11-03 11:22] stevehobbsdev commented on #623
@pleportz I notice you are specifying `scope` and `audience` values to `getTokenSilently` but not to the `Auth0Client` constructor. Can you try specifying these values in the constructor instead and remove from the `getTokenSilently` call?

[code]

I suspect you're getting a cache miss internally when you specify scope and audience values to `getTokenSilently` that it doesn't already know about. I

[2020-11-03 11:27] stevehobbsdev commented on #610
If you don't have an active session with Auth0, yes.

[2020-11-03 15:44] pleportz commented on #623
@stevehobbsdev thanks for your help. I applied your suggested modifications.
It turns out the root cause was a race condition in my code: `getTokenSilently` was called before `handleRedirectCallback`, therefore the access token was not written in the cache yet and `getTokenSilently` could not retrieve it.

Again, thanks for your help an sorry for the inconvenience

[2020-11-03 15:44] #623 closed

[2020-11-03 20:29] csvn opened #627 "Bundles that excludes polyfills, and es2015+ target"
### Describe the problem you'd like to have solved

In our app we are currently only targeting modern browsers, and I noticed that this library is bundling a lot of code that is only necessary for older browsers. The largest part of this size comes from polyfills. When reading up on polyfills, I've often came across the recommendation that polyfills are for apps, not for libraries. This recommenda

[2020-11-03 20:31] csvn commented on #627
A bit related to #519

[2020-11-03 22:10] frederikprijck commented on #627
Thank you for raising this.

Dropping the polyfills is on our radar and we are having internal conversations about the subject.
We will update the issue once we have more information.

[2020-11-03 23:05] csvn commented on #627
Thank your for responding, nice to hear that!

Cool! I do know it's not a simple task to package a library to cater to the many possible use cases. I will (eagerly) await future updates 👌

[2020-11-05 20:32] x3haloed commented on #213
I would like to add a factor to the discussion here. The way this is showing up as an issue for me is that we have SAML SSO customers with Okta who want to be able to access our software (SP) directly from their dashboard (idP). So unless I'm missing something, we don't really have any options right now except to tell our customers that dashboard access is not available due to the security risks.

[2020-11-07 14:19] nathan-rapidstash commented on #449
This needs to be reopened. There is simply no provision for clearing an expired refresh token. None. You cannot create a client, cannot reinitiate login flow, cannot even logout without bypassing the client using the above workaround. A couple other community-provided workarounds shown here: https://community.auth0.com/t/rotating-refresh-token-locking-users-out-after-expiry/46203/2

No built-in ha

[2020-11-09 11:10] markdBC commented on #615
@stevehobbsdev Any news on this?

[2020-11-09 12:24] stevehobbsdev commented on #615
@markdBC Yes, I had it in mind to come back with a response today, sorry for keeping you waiting.

After discussing with the development and security teams, we've decided that while it's an interesting idea on the surface, it's not something we'll be implementing at this time. Storing the tokens separately in this way would solve a very small use-case as you describe, but at the end of the day a s

[2020-11-09 12:24] #615 closed

[2020-11-09 12:28] stevehobbsdev commented on #627
Thanks for raising this @csvn! As mentioned, this is 100% on our roadmap to be fixed as we really want to get that bundle size down. However, it's not something we can tackle right at the moment and we are instead perhaps looking at aligning with Microsoft's own plans to remove IE11 support next year in some of their core product offerings. Dropping this support opens up a whole lot of stuff we ca

[2020-11-09 12:28] #627 closed

[2020-11-09 12:31] stevehobbsdev commented on #616
Closing this for now but please feel free to raise any further questions you might have.

[2020-11-09 12:31] #616 closed

[2020-11-09 18:18] markdBC commented on #615
@stevehobbsdev Thanks for the explanation. I think I agree.

[2020-11-11 03:50] eugenefrg opened #634 "issuer is not used on Username & Password authentication"
### Description

 issuer is not used on Username & Password authentication

### What was the expected behavior?

 issuer should be used on Username & Password authentication
Currently, it only works on SSO login. I'm using this library in a project, and the client requires that we use a custom domain to be able to show the end users some consistency by using the same domain name for the auth0 UI.

[2020-11-11 11:31] stevehobbsdev commented on #634
@eugenefrg Thanks for raising. We made [some changes to how the issuer is specified](https://github.com/auth0/auth0-spa-js/commit/3fa28c38c1bd25752f8d7b5ba6c50fdd6fdfdf9b) in v1.11.0 - could you please update to at least this version and verify whether your issue is solved?

Thanks.

[2020-11-11 15:02] roman01la opened #636 "getTokenSilently takes `timeout` options instead of `timeoutInSeconds`"
Hello! We've bumped into a nasty bug where `timeoutInSeconds` options passed into `getTokenSilently`is ignored and couldn't figure out where the issue is. Upon inspecting library's code we were able to identify that the `timeoutInSeconds` is not used at all in [_getTokenUsingRefreshToken](https://github.com/auth0/auth0-spa-js/blob/5959a2c3f262aec98613964b21975324f440515b/src/Auth0Client.ts#L875) w

[2020-11-11 15:51] stevehobbsdev commented on #636
Thanks for reporting this @roman01la, and that's a good catch. You should be specifying `timeoutInSeconds`, it just looks like we're not translating the value correctly internally to `timeout`.

Let me raise a fix for that 👍

[2020-11-12 13:44] #636 closed

[2020-11-12 13:50] stevehobbsdev commented on #513
👋 We released #422 into v1.13.1, which might make a difference.

Otherwise, specifying a longer timeout here as you have done is the mitigation that we recommend if you're running into these issues. We rely a lot on using `postMessage` with these kinds of interactions with Auth0 Server and if it doesn't call back to you in time, we're limited as to what can happen other than just refreshing the pa

[2020-11-12 13:51] #513 closed

[2020-11-12 13:51] stevehobbsdev commented on #553
@egadstar 👋 just checking in to say that we are continuing to find a solution for this, I'll tag the PR here when we have something.

[2020-11-15 11:45] jrozbicki commented on #210
@loremaps probably not relevant anymore, but
* adding `offline_access` (`const scope = "openid profile email offline_access"`) in scope did the trick with Refresh Tokens, somehow I found this info here: https://auth0.com/docs/api/authentication?javascript#authorization-code-flow-with-pkce under Remarks section:

[code]

* it was important to mirror exactly what normal localstorage key holds, espec

[2020-11-15 22:00] dereekb opened #646 "Limiting State-Reading URLs/Paths"
### Describe the problem you'd like to have solved

I was adding in another OAuth provider yesterday for my project, Nylas, which I was having redirect back to my app with both query parameters state and code. I noticed Auth0/Angular (which I believe uses this plugin) was attempting to use the state and code parameters on routes I wasn't intending for them to be consumed, threw an exception, then

[2020-11-16 08:36] frederikprijck commented on #210
Thanks for the explanation @jrozbicki, always helpful to provide such information for people in the future.
I wanted to chime in to drop this link in this issue as well, as I think it can be valuable for anyone looking to integrate the two: https://sandrino.dev/blog/writing-cypress-e2e-tests-with-auth0

That said, we are aware of the fact that our official documentation regarding Cypress is lackin

[2020-11-16 09:12] frederikprijck commented on #646
Thanks for reporting,

I think it is up to the router-aware libraries to decide when it should or should not call `handleRedirectCallback`. Our SPA JS SDK exposes a method on Auth0Client to handle the callback and process the URL parameters, but it does not decide when it should or should not be called, this is entirly up to the application/library consuming the SPA JS SDK, in this case the Angula

[2020-11-16 09:12] #646 closed

[2020-11-16 22:32] patrickcorrigan opened #647 "Request additional scopes"
I would like to be able to specify the scopes required when authenticating

I've tried using advanced options default scope but I can only seem to use this to remove scopes. I want to add the google calendar read-only scope

[code]
I know I could use incremental authorization and use getTokenSilently but I'd rather request them all upfront.

Thank you

[2020-11-17 09:23] frederikprijck commented on #647
Have you tried using `scope` ?
[code]
Alternatively you can provide `scope` when calling `loginWithRedirect` or `loginWithPopup`:
[code]

Does this help?

I am not sure I understand what you mean with this.

[2020-11-17 09:58] frederikprijck commented on #647
I think what you are looking for would be to use `connection_scope`, as mentioned here : https://auth0.com/docs/connections/adding-scopes-for-an-external-idp#2-pass-scopes-to-authorize-endpoint which u can pass to loginWithRedirect as follows:

[code]

[2020-11-17 18:13] patrickcorrigan commented on #647
Thank you @frederikprijck, This worked

[code]

I appreciate your help :)

[2020-11-17 18:13] #647 closed

[2020-11-18 11:56] dan-j opened #650 "Ability to define custom date/time provider"
We continually have the problem of customer's clocks not being in sync which results in an error when their time is more than the allowed `leeway`.

Rather than increase the `leeway` we'd prefer if we could provide a custom implementation to initialise the current time instead of it being hardcoded to `Date.now()`.

### Describe the ideal solution

A new option `Auth0ClientOptions.currentDateProvi

[2020-11-18 12:09] stevehobbsdev commented on #650
Thanks for raising @dan-j.

My concern is that this would potentially expose a vulnerability in the token validation mechanism that would allow someone to potentially game the validation of the token expiry, so there might be a better way to achieve this.

Let me take this internally to the team and discuss what we can do here.

[2020-11-25 10:00] philipp-tailor opened #654 "Can't create auth0 client when refresh token is invalid (e.g. outdated)"
### Describe the problem

When using `localStorage` and refresh tokens, invalid (e.g. outdated) refresh tokens cause `createAuth0Client` to throw an error.

This leaves users of the library in an awkward state that is difficult to handle, requiring ugly workarounds, as users don't have a client instance to call logout and messing with the auth0 `localStorage` entry is discouraged. The current beha

[2020-11-25 17:48] asteed21 opened #655 "Add option to getTokenSilently to return only the cached access token"
### Describe the problem you'd like to have solved

I am using the library configured to work with browsers that block third-party cookies (eg with cacheLocation set to 'localstorage' and using the refresh tokens option). I have a requirement for my application to maintain a session timer on the client and prompt the user when their session is about to expire, or log them out if it does expire. Th

[2020-11-26 09:33] frederikprijck commented on #654
Thanks for raising this. We are aware of this problem and are actively tracking it on our board.
I expect us to look into this pretty soon and will get back to you.

Leaving this issue open in the meantime.

[2020-11-27 20:32] td-edge commented on #583
@jrista I've been pouring over your statements to try and figure out how you got auth0 to redirect back to the correct deep link for your application on mobile with ionic/angular. I have the browser working pretty seamlessly on `http://localhost:8100`. I can log in a redirect to my homepage at '/home', navigate around, etc. But mobile is killing me.

Right now, my allowed callback URL for mobile t

[2020-11-28 19:47] oneillsp96 opened #656 "Inactivity timeout is not respected when cacheLocation is localStorage"
**Describe the problem**
When using localStorage and refresh tokens, inactivity timeout/ "require login after" (set in auth0 tenant settings -> advanced) does not cause auth0.isAuthenticated() to return false.  The documentation around inactivity logouts is badly lacking, both for this SDK as well as on the auth0 doc pages. For example, I have no idea how the inactivity timeout is actually enforce

[2020-11-30 11:04] dan-j commented on #650
Hi @stevehobbsdev, is there any update around this?

[2020-11-30 15:34] jrista commented on #583
@td-edge I have not actually figured it out properly. In the end, I resorted to using a bit of a hack, which was to redirect to the SYSTEM (OS) browser app for the login, then have it redirect back to an app link with deep linking to get it back into my app. I had to handle the deep link in such a manner that it routed to the appropriate start page, rather than the login page. This was far from an

[2020-11-30 15:42] stevehobbsdev commented on #655
Thanks for raising @asteed21, just had a couple of comments.

From the SDK's standpoint, we don't know when the user's session is about to expire. The access token is not tied to the user's authentication session in anyway. While its expiry value and the expiry of the user's session might equate to similar values, conceptually they are different (a user logging out does not invalidate an access to

[2020-11-30 16:54] oneillsp96 commented on #656
![image](https://user-images.githubusercontent.com/7624535/100638738-5b523f00-3302-11eb-9427-56ce8b4e8cb2.png)

Maybe I am confused....does this ^ tenant-level setting only apply to SSO?
Really, I'm just trying to figure out a way to enforce an inactivity timeout, or if it is even possible

[2020-11-30 17:02] rishabhpoddar opened #657 "Incorrect use of SuperTokens' browser-tabs-lock acquireLock function"
### Describe the problem

The [readme](https://github.com/supertokens/browser-tabs-lock#usage-in-an-async-function) in my lib says that the return of the `acquireLock` function is a `Promise<boolean>`. Only if it returns `true`, should the lock be considered acquired. However, as seen [here](https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L642), the return value is not checked

[2020-11-30 17:48] asteed21 commented on #655
Thanks @stevehobbsdev for the feedback. Sorry if the ask wasn't super clear, but just to clarify - I am aware that the SDK does not track (nor should it) if the user's session is about to expire. I have set up logic on the application side to do this based on our own business requirements. The requirement on our side is to track the expiration of the access token (as it is the key to authenticatin

[2020-11-30 17:51] rishabhpoddar commented on #553
This issue is due to the incorrect usage of SuperTokens' browser-tabs-lock library.

Fix for this: https://github.com/auth0/auth0-spa-js/pull/658. Please note that while the library is being correctly used in the PR, it causes some other tests to fail. I'm not entirely sure why the other tests would fail.

[2020-11-30 21:06] frederikprijck commented on #656
Hi,

Would this comment resolve some of your questions? https://github.com/auth0/auth0-spa-js/issues/655#issuecomment-735865411

Mainly there is no direct relation between a user's session and the validity of an access token and refresh token.
If you issue access tokens and refresh tokens, then log out in your Auth0 session, those tokens will still be valid and usable.

[2020-11-30 21:26] oneillsp96 commented on #656
"there is no direct relation between a user's session and the validity of an access token and refresh token"
That is fine. I just want to know how I can actually interact with the session to check whether IT is expired.

[2020-11-30 21:44] oneillsp96 commented on #656
In the simplest possible terms: If you were using this SDK to build an app and wanted to check whether a session has expired (disregarding whether the access tokens are still valid or not) how would you do it?

[2020-12-01 08:48] frederikprijck commented on #656
As far as I know, the SPA is not able to check that session in a cross browser way. You could implement an `iframe` solution, but that is not supported by Safari due to ITP2: https://digiday.com/marketing/what-is-itp2-2/.

Chrome might also implement ITP2 in the future, dropping support for that approach as well (not sure about other browsers).

However, we do understand your question and the use-

[2020-12-01 15:21] oneillsp96 commented on #656
In the meantime, I will probably just implement a timer of some sort that looks at the access token expiresAt.  Like the user in #655 basically was asking, is there some escape hatch to get the access token from localStorage via the SDK or will I just have to use localStorage.getItem and pass in the string @@auth0spajs@@::clientid::audience::scope scope scope scope?

[2020-12-01 17:37] stevehobbsdev commented on #650
@dan-j apologies for the radio silence. We're still discussing internally, I will try to get it to a resolution for you tomorrow and let you know.

[2020-12-01 23:30] td-edge commented on #583
@jrista Thanks for the response. I was able to dig into this further, and I think my code isn't actually redirecting back to the app at all, but rather trying to open a new instance of the app altogether. This seems to jive with the callback structure that is recommended in the docs. I'm also never reaching the handler, and this would explain why. I think I'm going to abandon auth0-spa-js and atte

[2020-12-02 11:31] stevehobbsdev commented on #656
Calling `getTokenSilently` will get you that access token, but will not return the `expiresAt` value. As @frederikprijck mentioned above, we wouldn't recommend relying on that value as it's not related to the user's authentication session.

I would also warn against accessing the local storage data directly, as it's really for internal use and you should assume we might change that in any release

[2020-12-02 14:06] amiluttwak commented on #213
This is a major gap for us, our customers expect us to support IdP initiated flow, I would urge you to reconsider and hopefully provide a timeline for a fix.

[2020-12-02 14:57] oneillsp96 commented on #656
Thanks for the quick responses. Overall I’m really enjoying the new SDK, and the fact that it handles refresh token rotation automatically is a huge benefit.

[2020-12-02 22:14] jrista commented on #583
@td-edge Hmm, that's interesting. Are you using an app schema, or are you using an actual app link? There are the custom schemas, then there are the http links you can use that will redirect into your app. I think what I did with the app I was working on, was an app link, so our client actually added the necessary .wellknown files to their web server at the properly configured domain. I wonder if

[2020-12-03 00:52] td-edge commented on #583
@jrista I used the redirect URL form that followed the auth0 docs regarding Ionic and native: `YOUR_PACKAGE_ID://YOUR_DOMAIN/cordova/YOUR_PACKAGE_ID/callback` Since I'm using the `loginWithRedirect` method, I assumed it had to follow that form in order to reach the correct app again. Just using the origin `ionic;//localhost` didn't seem to provide enough context for the auth to work. I'm pretty ra

[2020-12-03 01:30] jrista commented on #583
I'm not sure that the auth0 docs are up to date. For `YOUR_PACKAGE_ID` to work, I am pretty sure you have to set up an app schema first, for your package id. But I've never actually used that specific pathing either. I am not sure what auth0 docs you are looking at, but if it is the same docs I was looking at, a) I don't think they are up to date and b) the cordova safari plugin has been abandoned

[2020-12-03 17:32] wagenet opened #662 "Incorrect typing for getUser and ICache.get"
https://github.com/auth0/auth0-spa-js/blob/7a25483e569bf72f0ff1be3eb196077fe16bb7d0/src/Auth0Client.ts#L416

Judging by the last line, if there's no cache value we will not get a User returned. Instead it will be `undefined`.

Relatedly, ICache#get should also have undefined as a possible return value: https://github.com/auth0/auth0-spa-js/blob/7a25483e569bf72f0ff1be3eb196077fe16bb7d0/src/cache.ts

[2020-12-04 02:12] td-edge commented on #583
https://auth0.com/docs/quickstart/native/ionic4/01-login

[2020-12-04 02:37] td-edge commented on #583
It seems the biggest issue is crypto working with the webpack. There is crypto-browserify which seems to load in, but I don't know if it can actually be used as a replacement. This is horrible. Okta's just as bad. How are more people not having these problems??

[2020-12-04 11:03] marcoturi opened #663 "Unable to use custom domain with Auth0 SPA client"
### Describe the problem
We are trying to implement custom domain connection to fix problem with same browsers. We are using the Auth0 Spa client library. However we get the error “WE’RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN.” after pressing “Login” button. The following api call is returning 404
‘https://auth.DOMAIN.com/usernamepassword/login’

We opened a ticket (00472811) but we

[2020-12-04 12:32] stevehobbsdev commented on #662
Thanks for raising @wagenet, I'll put a fix in for this as part of #661

[2020-12-04 14:37] #662 closed

[2020-12-04 16:13] #553 closed

[2020-12-04 16:13] #657 closed

[2020-12-04 16:38] stevehobbsdev commented on #663
@marcoturi Sorry to hear you have had no response, let me find out how I can dig that ticket out internally.

In the meantime, this could be an application configuration issue - is there anything in your [tenant logs](https://manage.auth0.com/#/logs) that might point to the cause of the issue?

[2020-12-04 16:41] stevehobbsdev commented on #650
@dan-j To circle back to this, we've discussed this and agree that this could be useful if implemented in a generic way. For example, providing a method that just returns a promise, leaving it open for someone to implement their own logic (to contact a time server, for example). We'd also like to caveat somewhere (probably on the docs for the property/option) that it can potentially compromise the

[2020-12-04 16:46] marcoturi commented on #663
Thank you Steve! The problem was on a missing configuration on universal login (in auth0 dashboard settings).
https://auth0.com/docs/custom-domains/configure-features-to-use-custom-domains#universal-login

[2020-12-04 16:46] #663 closed

[2020-12-04 17:35] stevehobbsdev commented on #663
Glad you got it sorted!

[2020-12-04 17:55] jrista commented on #583
I dunno. I couldn't even get Android to build with the SafariViewController plugin installed. The android build would spit out huge volumes of errors. I didn't think Safari even worked on Android, but once I removed that plugin the build issues stopped.

It's quite the travesty, for sure. I don't know how mobile app auth has been ignored for so long, either. There surely must be a better way. Some

[2020-12-04 18:05] nicosabena commented on #656
As mentioned above, relying on the iframe approach to check for the browser session might not be a good idea because of ITP2 and whatever browser precautions that could prevent the session cookie from reaching the server. You could get a lot of false negatives for the "Is the session still valid" question.

The good news is that a new feature with refresh tokens, sliding expiration time, is coming

[2020-12-04 21:48] oneillsp96 commented on #656
Sounds good. Just one question.

"if you configure the sliding expiration time of the refresh token and the browser session with similar values"

Is there really any point in setting the session timeout, since in this case it has no bearing on the token lifetime and there is no way to interact with it?

[2020-12-04 22:26] nicosabena commented on #656
Auth0-spa-js, when you do `getTokenSilently()`, will try the refresh token flow first and if it doesn't work then it will try to use the browser session (i.e. the session cookie) doing a fallback silent authentication request. This silent authentication request might fail because of a browser blocking the cookie in the request, but could also work well (and, in most scenarios, you'd want this to w

[2020-12-05 21:13] td-edge commented on #511
@hicreate I was able to get it working in a browser using this guide (ionic5/angular9/cordova): https://blog.learningdollars.com/2020/01/14/how-to-configure-auth0-with-angular-8/

Good luck getting it work in mobile though. Seems impossible at the moment. I can't figure out the correct callback structure and using auth0-cordova doesn't work because angular changed their rules around webpack. If yo

[2020-12-07 08:30] eric-jiang commented on #577
Just wondering with the introduce to dual auth0-compact and auth0 cookies, would the issue reported be resolved automatically?

[2020-12-07 10:18] stevehobbsdev commented on #656
Thanks for chiming in here @nicosabena.

Happy to close this @oneillsp96, or do you have anything else you'd like to cover?

[2020-12-07 10:34] stevehobbsdev commented on #655
Thanks @asteed21, I understand your situation better now.

One fundamental issue here is that you are checking details of the access token in your client app, whereas in reality the access token is only intended for consumption by the API that you send it to, and forms a contract of sorts between the token issuer and the resource server (the API), not the client. Of course, whether you parse it on

[2020-12-07 11:29] stevehobbsdev commented on #634
Closing this for now, but if you have further question, please feel free to raise them.

[2020-12-07 11:29] #634 closed

[2020-12-07 12:41] stevehobbsdev commented on #577
@eric-jiang Unfortunately not. The two cookies you mention are designed to allow older browsers that do not support the SameSite attribute to continue working, which is a different thing from third-party cookie blocking (in this case, both cookies will be blocked).

[2020-12-07 13:50] oneillsp96 commented on #656
Where will the announcement come out for the new refresh token expiration feature? Other than that I’m good for now. Thank you.

[2020-12-07 18:49] asteed21 commented on #655
@stevehobbsdev thanks. Agreed the checking of the access token properties in the client is not ideal, and we are indeed checking validity on the server side, but the client-check was the only way I felt I could accurately account for resetting the timer based on our current setup. However, between your explanation and the thread in #656, I can see better why the SDK is structured the way it is.

A

[2020-12-07 21:50] HWouters opened #669 "Unable to use Cypress with in memory token storage after changes in version 1.12.0"
### Describe the problem

In Cypress tests you cannot redirect back and forward to the authorisation server for interactive login. What you do instead is acquire a token with by using password flow and use this token in the application you are testing.

This was all working fine, until version 1.12.0 added [some additional state validation](https://github.com/auth0/auth0-spa-js/pull/560/files). It

[2020-12-08 11:45] #654 closed

[2020-12-08 12:00] stevehobbsdev commented on #669
@HWouters Can you review [this working sample](https://github.com/adamjmcgrath/cypress-spa-example) to see if this works for you?

The key bits of configuration are:

* In your test, call the token endpoint using the password grant to programmatically get your tokens
* Configure the SPA SDK with `cacheLocation: 'local storage'`
* Modify the data in local storage and replace the stored tokens with

[2020-12-08 12:41] stevehobbsdev commented on #655
Thanks @asteed21! Let us know if you have any further queries

[2020-12-08 12:41] #655 closed

[2020-12-08 12:43] stevehobbsdev commented on #656
I would keep an eye on our socials and the [community forums](https://community.auth0.com), those are probably the best places currently where you will be apprised of our big new features. I'm unsure, but you may also get something in your Auth0 Dashboard for this which will highlight the new feature for you.

[2020-12-08 12:43] #656 closed

[2020-12-08 17:57] HWouters commented on #669
@stevehobbsdev that will work, but I'm a bit hesitating to change this. Auth0 is always teaching us to not store the token in local storage because many risks and now you are saying to use local storage. This confuses me.

I was using an approach similar to this https://github.com/dunson062786/login-programmatically-into-auth0-with-cypress, which was working until 1.12. This made it possible to ke

[2020-12-09 02:13] jolleon opened #671 "appState is lost when using passwordless login with magic link"
### Describe the problem

When using passwordless login with magic link, a link is sent via email and this link gets opened in a new tab, with its own session storage. Since auth0Client uses sessionStorage to store the appState, the appState is lost on login. In particular the targetUrl (set on appState) is lost, making redirection of the user to the desired page after login impossible.

Note that

[2020-12-09 16:12] jolleon commented on #671
Update: here is the error raised by the `handleRedirectCallback()` call after clicking a magic link:

[code]

[2020-12-09 16:54] stevehobbsdev commented on #671
Hey @jolleon,

We added an option in [1.13.0](https://github.com/auth0/auth0-spa-js/releases/tag/v1.13.0) where you could elect to store transactional information in a cookie for this exact scenario where you're authenticating across tabs. The default is session storage.

[code]

https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html#usecookiesfortransactions

Can you give this a

[2020-12-09 17:22] jolleon commented on #671
That worked!
You should probably mention that somewhere in the auth0 docs about passwordless because I didn't see it anywhere. And it took me a long time to figure where the issue was coming from because I was assuming the appstate was being passed in the `state` query parameter, not stored in the browser...

[2020-12-09 17:52] stevehobbsdev commented on #671
Thanks, glad it worked. I'll keep a note to bolster our docs in this area so that other people can solve this issue more easily.

[2020-12-09 17:52] #671 closed

[2020-12-11 17:02] stevehobbsdev commented on #669
I appreciate that is confusing. With the release of rotating refresh tokens, we made the decision to enable the ability to store your tokens in local storage as a convenience as long as you accept the risks of doing so, but it's not the default setting. As always, you should be aiming to reduce the changes of an XSS attack being successful (whether you're using local storage or not), by limiting t

[2020-12-11 18:03] weyert commented on #669
The library seems to always use `local storage` even when you say cache location is `in-memory` when calling silently tokens. The problem appears to be that `browser-token-tabs`-module seems to use local storage which breaks everything.

[2020-12-14 16:47] alexislucas-toast opened #675 "AbortController is not defined"
### Describe the problem

Hi! I initially raised this issue in `@auth0/auth0-react` repository (https://github.com/auth0/auth0-react/issues/173), but for visibility, and because this is the actual package having the issue, I post this issue here as well.

On Firefox 52 (and probably other browsers versions that doesn't support AbortController API), the `getAccessTokenSilently` method will throw th

[2020-12-14 16:53] frederikprijck commented on #675
To reply to your comment over at https://github.com/auth0/auth0-react/issues/173

We use RefreshTokens from inside a web worker where web workers are supported. However, polyfills do not work unless explicitly imported in the web worker. The latter increased the bundle size drastically, which was reverted as part of https://github.com/auth0/auth0-spa-js/pull/612/files.

That said, let me open up a

[2020-12-15 22:37] weyert opened #676 "Blocking Third party cookies not supported"
### Describe the problem
I am trying to use this library while the user has third party cookies blocked in their browser. Only this appears not to be possible as it appears to require the use of `localStorage` for the `browser-tab-locks`-package even when the `cacheLocation` is set to `memory`. I also tried to use the refresh tokens which seems to be suggested to still work when third party cookie

[2020-12-16 08:14] frederikprijck commented on #676
When I try running our SDK in Chrome with Third Party Cookies disabled, I am not getting any errors and the application works as expected.
Could you provide a reproduction or try and reproduce it in our playground part of this repository?

[2020-12-16 16:49] cstephe commented on #35
Is there a reason why this isn't in the SPA lib?  This seems like a pretty big thing to not allow and I'd think there would have to be a very good reason to not accept this in the config?

[2020-12-16 20:18] frederikprijck commented on #35
@cstephe `auth0-spa-js` is designed to follow best practises for securing Single Page Applications. Security best practises discourage using implicit flow for SPA's. Instead, Authorization Code with PKCE should be used.

See https://tools.ietf.org/html/draft-ietf-oauth-security-topics-11, 2.1.2. Implicit Grant:

   grant (response type "token") or any other response type issuing
   access tokens i

[2020-12-17 13:41] stevehobbsdev commented on #669
@HWouters After some discussion with the team, we've decided to remove this check. A PR has been raised and is attached to this issue.

[2020-12-17 13:41] stevehobbsdev commented on #669
@weyert I see you've raised another issue, let's chat about it on there.

[2020-12-17 15:26] #669 closed

[2020-12-17 21:34] oneillsp96 commented on #656
@frederikprijck @stevehobbsdev

Just started implementing the new refresh token inactivity expiration as detailed here:
[https://auth0.com/docs/tokens/refresh-tokens/configure-refresh-token-expiration](https://auth0.com/docs/tokens/refresh-tokens/configure-refresh-token-expiration)

I noticed that it worked perfectly as expected with no changes to my code. When the inactvitiy timeout limit was rea

[2020-12-18 11:10] weyert commented on #676
I will try to make a reproducible case :)

[2020-12-18 14:53] stevehobbsdev commented on #676
@weyert You can use the SPA SDK playground if you like. It wasn't clear in your PR whether you had tried this or not (it's something we ask for in the issue template).

Also please let us know the mechanism you are using to block third party cookies - are you using the native browser setting, or a third-party extension?

[2020-12-18 18:06] dracan opened #680 "logout doesn't log out of auth0 if current url has a path"
I have a logout button on my site, and when it's clicked I'm calling the following:

[code]

If I'm on the root of my app (ie. no URL path), then it correctly signs me out of Auth0 as well my app. In Fiddler I can see that the /v2/logout request is made to Auth0. All's good here.

However, if I'm on a page of my app, and click the logout button which calls the above code - it tries to do the redir

[2020-12-21 09:18] frederikprijck commented on #680
@dracan thanks for raising, could you please provide a reproduction of your problem?
I just tried using the SDK and logout from a different path but the root, and it seems to call `v2/logout` as expected.

Thanks!

[2020-12-21 10:19] vinamelody commented on #654
Hi @frederikprijck since the PR was merged, does this mean `getTokenSilently()` isn't going to throw `login_required` and `invalid_grant` anymore?

I'm having a work in progress handling those errors manually in the UI and offer the user `loginWithRedirect`

[2020-12-21 10:27] frederikprijck commented on #654
Hi,

`login_required` should still be thrown, as you can see here : https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L883

`invalid_grant` should now be caught, fallback to using iframe (https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L958) which will either succeed or throw the above `login_required` error.

[2020-12-21 11:47] vinamelody commented on #654
@frederikprijck alright, thank you for the clarification 👍

[2020-12-21 12:29] dracan commented on #680
@frederikprijck Thanks - it'll take some time for me to come up with a reproducible case that I can share, and it'll be in the new year now. I'll add it to my list for when I start back. It sounds like there's no obvious reason why that method call would do one thing for one URL and another for the root URL though. I'll do a bit more digging after the xmas break, and reply back here if I find anyt

[2020-12-22 15:45] dracan commented on #680
Just having a further look, and noticed that in Chrome devtools, the `/v2/logout` request is appearing as cancelled. Hence why Fiddler didn't see it. Strange - it's just being called from a normal Angular click event.

Ie. markup is:

[code]

That logout function is:

[code]

Which just calls the `auth.service.ts` logout function copied directly from the getting started documentation...

[code]

N

[2020-12-22 15:52] dracan commented on #680
Googling suggests I need to do something with `preventDefault` to avoid the anchor's default click. So sounds like it's nothing to do with this library. I'll just confirm that, then close this ticket.

[2020-12-22 15:58] dracan commented on #680
Aha! This was it! I just needed to add `[routerLink]=""` to my logout anchor, and that's fixed it 😄

Sorry to waste your time!

[2020-12-22 15:58] #680 closed

[2020-12-22 16:08] frederikprijck commented on #680
Great. For accessibility purposes you shouldnt have an a element that has both a href (or routerlink) and a click handler. You want to use a button instead.

Also, keep in mind we have an Angular SDK as well: https://github.com/auth0/auth0-angular

[2020-12-22 16:11] dracan commented on #680
Ah thanks - I'll change that to a button.

Yeah - I'm not sure (can't remember) why I didn't initially use your Angular library. I don't want to change it now though, as it works.

[2020-12-22 17:45] ilijapuaca opened #682 "Issues embedding the app and running in Incognito mode"
### Describe the problem

Embedding an app that uses Auth0 in an iframe and trying to open it in Incognito mode in Chrome results in a crash.

#### First Issue

The following error is thrown :
[code]
when the constructor is called:
[code]

The only workaround I found was setting `useCookiesForTransactions` to `true` which presumably has other implications, as I'm seeing a bunch of warnings in the

[2020-12-23 14:40] frederikprijck commented on #682
Thanks for reporting.

**Session Storage**
We are using Session Storage to handle transactions when using redirect. I guess you can use `loginWithPopup` instead, as redirecting in the iframe won't work in Safari.

That said, I guess we could have a look at making transaction usage opt-out, but we currently require it to prevent CSRF https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client

[2020-12-23 21:00] justinhelmer opened #683 "Not getting refresh tokens when switching from PKCE + silent auth to PKCE + refresh token rotation"
Using the SDK, refresh tokens are not coming back with the `/oauth/token` call. The response does not contain the scopes requested during authorization.

SDK configuration:

[code]

The `/authorize` call is requesting the appropriate scopes:

[code]

However, when the `/oauth/token` call is made, the incorrect scopes come back, and no `refresh_token` exists:

[code]

...and the response:

[code]

[2020-12-24 12:38] ilijapuaca commented on #682
Thanks for a quick response!

The error gets thrown in the constructor though regardless of which auth flow the user decides using after the fact. It does sound like something that should be addressed in a more convenient way based on your suggestion?

Our app is being embedded and used by a 3rd party, so this is likely not applicable.

Would love to get more input as this is one of the main use-c

[2020-12-26 09:33] siwei-li commented on #51
Thank you! This helps

[2020-12-26 22:00] frederikprijck commented on #683
Hey @justinhelmer,

Refresh Tokens should work fine with the SDK, I always use them instead of IFrames myself.

The initial call to /token is expected to be `grant_type=authorization_code`, as we can not use `grant_type=refresh_token` before we actualy received our first refresh token. However, it is expected that that first call, which includes `grant_type=authorization_code`, returns a refresh t

[2020-12-27 03:02] GMaiolo commented on #599
@stevehobbsdev any news on this? I could give it a shot if a hand is needed

[2020-12-28 03:52] kevinbai0 opened #684 "Wondering why `getUser` is async"
I'm curious as to why `getUser` in `Auth0Client` is async and (resulting it to be wrapped in a promise) since it doesn't seem to be operating under any asynchronous code. It would be super nice to have `getUser` to not be wrapper in a promise which would it easier to use.

It'd then let `isAuthenticated` to also be synchronous and even a `getter` which would be a really good nice-to-have.

https:/

[2020-12-30 20:11] frederikprijck commented on #684
Thanks for reporting. We are aware of this, and this is something we would like to address as part of a next major release, as changing this introduces a breaking change.

However, as we do not want to create a breaking change only for these things, we are planning to batch some breaking changes together in the future.

[2020-12-31 02:52] kevinbai0 commented on #684
Sounds good, thanks!

[2020-12-31 18:54] markatlish opened #685 "WebCrypto: "The requested operation is unsupported" on iOS 13.6"
### Reproduction
Using auth0-spa-js v1.13.3 we are seeing an exception "The requested operation is unsupported" on Mobile Safari 13.1.2 / iOS 13.6.1 upon `loginWithRedirect`.  It appears this is related to WebCryto used in auth0-spa-js

(We have not tested to reproduce this but are reporting it after seeing it in production error reports, in case it's of interest to others. For context, a similar

[2021-01-01 05:37] weyert commented on #682
I am having a similar issue in #676. I think postMessage could be used to store the `localStorage` data in the top site. Only problem this is basically async and the `storage`-classes are synchronous.

[2021-01-03 01:55] BjoernRave commented on #589
I still have this problem when using it inside a chrome extension.

These are my options:
[code]

[2021-01-04 11:16] frederikprijck commented on #683
I want to add one thing here ... The SDK is configured to still use iframes if you do not have a refresh token. So it might be the case that you are still seeing the iframe approach (response_mode web_message) being used if you are calling `getTokenSilently` without having a refreshToken available.

On some browsers that do not support 3rd party cookies, the iframe approach is not supported. So it

[2021-01-04 15:41] #684 closed

[2021-01-04 15:58] stevehobbsdev commented on #685
Thanks for the report. The Crypto Subtle APIs we used are [supported back to iOS Safari 10.3](https://caniuse.com/mdn-api_crypto_subtle) without a prefix, and I can't reproduce any particular issues here on those versions of Safari.

If you manage to develop a reliable reproduction of this error, please raise another issue and complete the issue template that we provide, so that we are better able

[2021-01-04 15:58] #685 closed

[2021-01-04 19:04] justinhelmer commented on #683
@frederikprijck - I appreciate the thoughtful reply.

You are correct that the SDK was falling back to this behavior when using `getTokenSilently()`. I managed to resolve this (thanks to the help of the Auth0 support team) by simply switching "Allow Offline Access" through the Auth0 Management Dashboard for the particular API (`http://localhost:9445`).

<img width="978" alt="Screen Shot 2021-01-04

[2021-01-04 19:04] #683 closed

[2021-01-04 19:29] frederikprijck commented on #683
Great you solved it. I think it's a fair point about the documentation.

For future readers, I also want to point out there is a section explaining all kinds of settings for the API's: https://auth0.com/docs/get-started/dashboard/api-settings

That said, I understand it's not always clear where to go when approaching it from the application side.
I will have a conversation to see how we can improv

[2021-01-05 02:34] fedeoo opened #686 "Failed to get token in IE 11 with latest version"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2021-01-05 08:24] frederikprijck commented on #686
Thanks for reporting.
I can reproduce this and will look into what's going wrong.

[2021-01-05 13:37] stevehobbsdev commented on #589
@BjoernRave, if you haven't managed to resolve your problem, please raise a new issue, completing the template and providing a reproducible example (if possible), so that we have all the information we need to help.

[2021-01-05 14:48] #675 closed

[2021-01-06 03:44] fedeoo commented on #686
@frederikprijck  Thanks. You're right.
I'm trying to reproduce this issue in the SPA Playground.

[2021-01-06 07:06] fedeoo commented on #686
In my case, I encounter an error when redirecting back.  Somehow `auth0Client.isAuthenticated()` is returning true.  We reverted the change and the error was gone.
I failed to reproduce this in SPA Playground.   Thanks anyway.

[2021-01-06 08:16] frederikprijck commented on #686
I am closing this issue. If you manage to reproduce this please continue the conversation and we can reopen if needed.

[2021-01-06 08:16] #686 closed

[2021-01-06 17:04] alexislucas-toast commented on #675
Hi! Thank you for providing a fix for this issue!
Do you have an rough idea on when this fix will be released for `@auth0/auth0-spa-js` and `@auth0/auth0-react`?

[2021-01-06 18:07] stevehobbsdev commented on #675
Hopefully before the end of the week for SPA SDK, just waiting on a few PRs being merged. React I imagine will follow shortly after, although the semver **should** just install the latest the next time you do `npm install` after this SDK is published, so you might not have to wait for that.

[2021-01-07 12:54] stevehobbsdev commented on #682
Thanks for the report here @ilijapuaca. _Generally speaking_, Auth0 does not really support being using embedded inside an iframe. Whilst there are few more knobs and switches that we could provide from an SDK point of view which _may_ help, at the end of the day your mileage may vary when it comes to the server side and what variant of the login screen you're using.

For example, using the **New*

[2021-01-07 12:54] #682 closed

[2021-01-07 13:01] stevehobbsdev commented on #676
@weyert It would be good to understand a solid reproducible case around this, if you have one. I also just wanted to address this:

As mentioned in #682, we're unable to get away from relying on use of local storage in the short term, but reevaluating our usage of it may change later and it's something we plan to look into.

I also would like to clarify our usage here:

The `cacheLocation` propert

[2021-01-07 13:01] #676 closed

[2021-01-09 00:33] sw-yx commented on #51
appreciate this.  @luisrudge  Feedback: It was very hard to find where to get the "client advanced settings" because there is no page for the "client" and the advanced settings link is hidden all the way down the Application settings page. would make it a little more obvious/discoverable.

[2021-01-09 09:48] flunderpero opened #693 "Need a way to get the id_token"
### Describe the problem you'd like to have solved

In the previous API we were able to get the actual `id_token`, but with the new API we are not. We need this, because we send it to the server where we decode it and extract all the information about the user and claims there.
We currently have a "workaround" where we directly tap into `Auth0Client.cache`, but this is brittle as I learned today (

[2021-01-09 09:55] flunderpero commented on #693
Just found a "better" workaround: `(await Auth0Client.getIdTokenClaims()).__raw` contains the id-token. But this is still hacking ...

[2021-01-09 13:07] frederikprijck commented on #693
Hi @flunderpero,

The Auth0 Docs mention the following about ID Tokens in https://auth0.com/docs/tokens:

Basically, this means that the ID Token is supposed to be used in the application that is requesting the tokens, which is the SPA application in this case, and not the API.

Access Tokens is what is supposed to be sent to the API. It might be the case that the Access Token does not contain the

[2021-01-09 13:16] #693 closed

[2021-01-09 13:28] frederikprijck commented on #51
Out of curiosity @sw-yx, what made you need to look for this?

If you create an application using the appropriate type (SPA, Web App, Native, ...) the required grant type(s) should be enabled.

E.g, when you create an SPA, these grant types are enabled for you:
![image](https://user-images.githubusercontent.com/2146903/104092796-95f6b200-5286-11eb-8617-abbf579102a2.png)

When you create a machine

[2021-01-09 16:25] flunderpero commented on #693
@frederikprijck I understand your reasoning. We are not using the idToken to authenticate or authorise, we use it merely as a means of setting profile information in our backend. We already use rules to populate both, the access- and the idToken with additional claims, but we don't want to pollute the access-token with information that is not related to authentication / authorisation such as profi

[2021-01-09 20:29] sw-yx commented on #51
@frederikprijck hard to remember because I was trying a lot of things but I think I was trying to test a machine to machine application using the React sample app to see if I could get the authz thing to work (i could not). googling my error brought me here.

 I wasn't aware of the difference between a web app application and a m2m application and thought I could modify settings to make it work fo

[2021-01-09 20:58] frederikprijck commented on #51
@sw-yx Sorry for the confusion. I just wanted to mention that, if you create different apps for their purposes, the grant types should be set up correctly.

But yes, if you have a web app that also behaves as a m2m application, you will need to configure the grant types.

The React Sample App needs a SPA application tho, not a Web or M2M application.

[2021-01-18 07:11] Danwakeem opened #695 "Include options for custom cache mechanism"
### Describe the problem you'd like to have solved
I am trying to use [auth0/auth0-react](https://github.com/auth0/auth0-react) in my ionic application that uses [capacitor](https://capacitorjs.com/) and the current caching methods are not ideal in an ionic app. I found that this is the downstream package that the react library works off of so here I am 😄

### Describe the ideal solution

I would

[2021-01-18 07:51] frederikprijck commented on #695
@Danwakeem ,

Thanks for reporting, I will take this internally to have a conversation about steps to support capacitor.
It is very helpful that you linked your fork, have you verified this allows you to succesfully use `@auth0-react` in Ionic using Capacitor?

Thanks

[2021-01-18 14:39] Danwakeem commented on #695
@frederikprijck Yes [I forked that repo](https://github.com/Danwakeem/auth0-react/tree/CustomCache) as well and then switched the dependency to the branch I listed above.

I also [created a gist](https://gist.github.com/Danwakeem/c01503df2a2ee5df2b23458e15cf4888) for the custom cache I was testing with in my ionic/capacitor app incase that is helpful but for the most part I just ripped what was ha

[2021-01-18 14:45] frederikprijck commented on #695
@Danwakeem Thanks for the info. Something else I wanted to ask, are you using `loginWithRedirect` and `loginWithPopup`?

[2021-01-18 16:09] Danwakeem commented on #695
@frederikprijck No problem!

 I have my app deployed as a PWA as well as deployed to the app store so I am using `loginWithRedirect`. I have a universal app links set up so when they click the login button in the iOS app it pops them out to the browser they login to the auth0 page then the callback url drops them back into the iOS app.

[2021-01-18 16:37] Danwakeem commented on #695
Well that is the plan anyway. I am still working out the implementation details so I am not 100% sure `loginWithRedirect` will work yet 😄

[2021-01-19 00:21] mmykhaylov opened #696 "Incorrect redirect with onRedirectCallback"
### Describe the problem

I am trying to secure a route in my react application, where the routing is handled by react-router-dom. Following the guide, I am passing an onRedirectCallback to the Auth0Provider and secure the route with withAuthenticationRequired. However, doing so breaks the login from both the login button and the redirect from the protected route.

The process goes like this:

1.

[2021-01-19 08:45] frederikprijck commented on #696
Hi @mmykhaylov ,

It looks like there is an issue with the reproduction sample

[code]

I guess you know this, and this is probably just an issue while preparing the reproduction sample. However, this needs to be changed first in order to proceed:

[code]

Next, it looks like you are using `history: ^5.0.0` and `react-router-dom: ^5.2.0`.
The [docs for History](https://github.com/ReactTraining/his

[2021-01-19 08:45] #696 closed

[2021-01-20 03:25] Hawxy commented on #695
I've been getting involved with Ionic recently and I have to echo the same sentiment that the current Ionic quickstart, examples and Auth0 Cordova integration really isn't a good experience. Auth0 sorely needs an Ionic 5 + Capacitor quickstart that can cover the supported frameworks (Angular, React, Vue) and ideally an official plugin and/or guidance based around Capacitor + auth0-spa-js.

[2021-01-22 11:05] alsyia opened #698 "Vue.js wrapper"
### Describe the problem you'd like to have solved

Hi,

Is there any plan to provide a Vue.js SDK just like the already existing React/Angular SDK?

The tutorial for Vue currently provides a bunch of code to copy/paste but I had a hard time making it work (this is probably due to me being unfamiliar with the lib too!). Like other people before me, I ran into issues with the asynchronous nature of

[2021-01-22 13:59] stevehobbsdev commented on #698
Hi @alsyia and thanks for raising this. We do have a Vue-specific SDK on the roadmap but unfortunately I don't have any time frame to share. It's something we want to do though, as you say it would sit nicely alongside the existing React and Angular SDKs. Keep an eye on our [Auth0 Community](https://community.auth0.com) site and socials for updates on that.

If you're having trouble getting [the s

[2021-01-22 13:59] #698 closed

[2021-01-22 16:54] weyert commented on #695
Wouldn't still have issues with `browser-tabs-lock` when trying this approach?

[2021-01-22 17:06] frederikprijck commented on #695
@weyert  Unless I am mistaken, Ionic allows you to use localStorage. However, the OS can/will clean up localStorage when it needs to. So it is not recommended. Browser-tabs-lock only uses localstorage to store something for a matter of seconds, not to persist for days.

Therefor I think it might be fine, but I would need to verify that.

[2021-01-23 15:19] s-kennedy commented on #623
@pleportz I had the same issue, thanks for pointing me in the right direction!

[2021-01-24 15:54] Danwakeem commented on #695
If we have the option of using the [Storage API](https://capacitorjs.com/docs/apis/storage) supplied by capacitor that will target either local storage for browsers, UserDefaults for iOS, and SharedPreferences for Android.

The goal for my app is to deploy it as an app through the respective app stores as well as a website. So if users choose to use the browser app then that might have the issue y

[2021-01-26 18:40] cjfigueiras opened #699 "allow custom authorize url + no scope option"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2021-01-26 22:44] frederikprijck commented on #699
Hi @cjfigueiras ,

Currently, the scope of this library is only for use with Auth0's authorization server, so we wont be able to accommodate this feature request. There are multiple internals in the library that expect to be used with Auth0 that might fail when used elsewhere, which is why we do not support custom URLs.

[2021-01-26 22:44] #699 closed

[2021-01-27 05:58] cjfigueiras commented on #699
@frederikprijck Well, calendly works with Auth0 the only difference is that it use /oauth/authorize as suffix url instead of /authorize, if I set my domain as **auth.calendly.com/oauth** instead of just **auth.calendly.com**, it works

[2021-01-27 06:17] frederikprijck commented on #699
I am guessing you mean calendly works with OAuth, not Auth0, is that right? This library is for use with **Auth0** only.

[2021-01-27 17:31] cjfigueiras commented on #699
Ah ok, I understand you now, thanks!

[2021-01-27 22:37] someone1 opened #700 "AuthenticationError not exported"
### Describe the problem you'd like to have solved

When Auth0 redirects back to the application with an error, we can't test for `AuthenticationError`

### Describe the ideal solution

add `AuthenticationError` to `RedirectLoginResult` vs throwing it?

## Alternatives and current work-arounds

[code]

### Additional context

There's also no real examples or guidance available of handling error re

[2021-01-28 12:39] stevehobbsdev commented on #700
Thanks for the report @someone1. Can you elaborate on this:

Are you saying you'd prefer a property on `RedirectLoginResult` that gives you the error? I think here we would prefer to continue throwing the error but we should export the type, so you can do this:

[code]

How does that sound?

This is something we've already had additional feedback on and plan to address. It will probably come in th

[2021-01-28 13:50] someone1 commented on #700
I think that'd definitely be a better way to import it, but this duck typing + casting approach is less than ideal. Even with the export I could not get the following code to work as I'd [expect to be able to](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error#handling_a_specific_error):

[code]

If the new export makes this method of error checking work then I

[2021-01-28 14:00] stevehobbsdev commented on #700
🤔  we do reset the prototype according to this, so I might expect that to work. Let me look into it.

Otherwise, I suppose we expected that you would simply check the `error` and `error_message` properties as strings, which all our error types do have. So instead of discriminating on the error type, you would check `error`:

[code]

[2021-01-29 21:37] iamdhrooov commented on #35
@frederikprijck Using the `auth0-spa-js` in a chrome-extension where i was trying to `getAccessTokenSilently` but it by default goes with `response_type=code` and `response_mode=web_message`. This is causing issue in extension as it tries to postMessage on parent which is any domain like mail.google.com which we cannot pass in redirectURI in Auth0 applications.

How do we silently fetch token in e

[2021-01-30 12:21] stevehobbsdev commented on #35
@iamdhrooov  you might want to investigate using refresh tokens in that case, as it will not use `web_message` and an iFrame but instead call the token endpoint directly. Please see the Refresh Tokens section in the readme for more details.

[2021-02-01 09:51] xepps opened #701 "Using Memory as a cache location prevents storing session across web applications on different subdomains"
### Describe the problem

Our platform is set up so that we have an authentication and onboarding application (let's call this service 'A') and other applications for our users to use (service 'B'). When a user visits service B and they are unauthenticated, they are redirected to service 'A', which uses Auth0 down the line to authenticate them. Once the session is created in service 'A' they are r

[2021-02-01 09:54] xepps commented on #701
It does appear this should be possible, see this:
https://community.auth0.com/t/sharing-session-between-2-web-apps-on-different-subdomains/39624/3

[2021-02-01 13:35] stevehobbsdev commented on #701
Thanks @xepps - if it's just the `is.authenticated` cookie that's blocking your scenario, does it work if you call `getAccessTokenSilently` (discarding the return value) instead of `checkSession`? The latter just wraps the former with that cookie check.

Or if you're not calling `checkSession` directly, calling `getAccessTokenSilently` manually before your decision to redirect away to Service A. C

[2021-02-01 13:50] xepps commented on #701
Hey @stevehobbsdev!

Yeah, so as an investigation we set a call off to `getAccessTokenSilently` in an effect before the application loaded. Unfortunately (and this may be because we are using the react wrapper), this does not set the auth0 client under the hood as logged in, but it does fetch the session and set the cookie, meaning that on the second loop back it picks up the cookie, checks the se

[2021-02-01 23:25] dopry commented on #23
@vibronet

makes little sense...  If my client is requesting a token to access an API on a user's behalf and passing an audience and will access the API on the users behalf it is one of then intended recipients. It only makes sense that I adjust the appearance of the UI based on what the user can do with the API. In this case the client would generally be coupled to the API it is interacting with.

[2021-02-02 08:34] PapaNappa commented on #23
To be fair, he is right in that clients should not decode the access token. Of course clients receive the token - but access tokens are _designed_ (by the spec) to be opaque to the client. Basically a client should treat access tokens like session cookies - just opaque tokens that grant access to the resource.

The access token is part of the API between the resource and auth server (specifying wh

[2021-02-05 15:58] stevehobbsdev commented on #701
@xepps Can you let me know which version of Auth0 React you're using? What you're describing sounds like something we fixed in 1.2, so we're just covering that off in case you have another scenario where that doesn't work.

https://github.com/auth0/auth0-react/releases/tag/v1.2.0
https://github.com/auth0/auth0-react/pull/146

[2021-02-09 14:25] norbertschuler commented on #593
Just for information: If you have third party cookies disabled in Chrome and include a website using `auth0-spa-js` in an iframe, this error also occurs. Not for the same website if you directly view it in the browser without putting it into an iframe.

[2021-02-10 08:53] xepps commented on #701
Hi @stevehobbsdev Looks like we should update then! We are on version 1.1.0

[2021-02-10 10:28] stevehobbsdev commented on #701
Great! Let me know if that fixes your issue.

[2021-02-10 11:10] xepps commented on #701
@stevehobbsdev We've just given that a go and unfortunately that does not resolve our issue.

[2021-02-10 13:49] adamjmcgrath commented on #701
Hi @xepps

I've [created a branch](https://github.com/auth0/auth0-react/compare/gat-example) of the auth0-react playground - initialising with a call to `getAccessTokenSilently`

If you:

1. checkout the branch at https://github.com/auth0/auth0-react/compare/gat-example
2. Add your own `clientId` and `domain` to https://github.com/auth0/auth0-react/blob/fc74e7fc20830c01a8f6022d2b5651b9d9512af7/sta

[2021-02-10 17:41] xepps commented on #701
Hi @adamjmcgrath

Yes, I believe the following shim would work as it forces the `getAccessTokenSilently` method to be called irregardless of there being a cookie set or not (but would set the cookie for the next time the page was visited).

[code]

Is this the suggested solution as a temporary measure, or a permanent fix?

[2021-02-10 17:58] tekilla123 opened #703 "Disable iframe fallback if browser is in crossOriginIsolated mode"
### Describe the problem you'd like to have solved

We use the SharedArrayBuffer and wasm-threads in our application. Therefore we have to set the Browser to cross-origin isolated mode by using the following headers on the main page.

With this setup we cannot use this SDK, because it falls back to an iframe in several scenarios. The browser blocks those iframes, because they do not have a CORP he

[2021-02-11 10:59] adamjmcgrath commented on #701
Hi @xepps - yep, this is our recommended solution to your use case

Also, my bad - you don't really need the `isLoading` check, since spa js doesn't allow concurrent authentication requests.

[2021-02-11 11:15] xepps commented on #701
Ok. Thanks @adamjmcgrath

[2021-02-15 15:14] franciscolourenco opened #704 "Valid refresh_token from localStorage is not used if auth0.is.authenticated cookie has expired (user seems logged out)"
### Describe the problem
If certain conditions are met, a valid `refresh_token` from the `localStorage` cache is not used, and the user is considered to be logged out, until he presses the login button and is logged in automatically again.

The following 2 conditions seem to be  necessary for this to happen:
1. `auth0.is.authenticated` + `_legacy_auth0.is.authenticated` have expired, or are not se

[2021-02-15 16:22] weyert opened #705 "Retrieving claims for access token"
### Describe the problem you'd like to have solved
I am trying to extract the claims from the access token but this isn't possible. I am storing a `roles`-claim in the access token. I would  like to check this `roles`-field thats part of the access token.

### Describe the ideal solution

A similar function as the `getIdTokenClaims`-function that's already available but then for the access token.

[2021-02-15 21:26] frederikprijck commented on #705
Hey,

An Access Token is expected to be used to access an API, the intention is not to read or parse an Access Token in the client application, more info on the different kind of tokens can be found at https://auth0.com/docs/tokens.

A snippet from the link here:

Therefor, this SDK does not allow to parse the access token or provide any way for you to do so.

If you want to know user information

[2021-02-15 21:26] #705 closed

[2021-02-16 11:24] stevehobbsdev commented on #704
Thanks for raising this @franciscolourenco. I believe the behaviour has changed since that comment was made, so it was valid at the time but not valid any longer.

Another workaround here (while we figure out how to progress this) is to call `getTokenSilently`, which will refresh the internal state but does not check that cookie (`checkSession` just wraps this call with the cookie check).

If you'

[2021-02-16 11:34] franciscolourenco commented on #704
Hi @stevehobbsdev thank you for thorough answer, hope Auth0 finds a good long-term solution.

Regarding a work around, would you say that calling `getTokenSilently` explicitly is a more reliable solution than setting a long expire time with the `sessionCheckExpiryDays` option? Doesn't `Auth0Client` call `getTokenSilently` internally if the `auth0.is.authenticated` cookie is set?

Thanks!

[2021-02-16 11:42] stevehobbsdev commented on #704
Yes - you can either use `sessionCheckExpiryDays` to increase that cookie expiry or just call `getTokenSilently` if the cookie is set, but `getTokenSilently` itself does not check that cookie, so calling it should work as expected in instances where you have a valid refresh token but not a valid `is.authenticated` cookie. Does that help?

[2021-02-16 11:48] franciscolourenco commented on #704
That makes things clear, thanks. Since we are talking about it, maybe you could help clarify a couple more things:

1. Refresh Token expiration - absolute lifetime: Does this mean that refresh_tokens will expire collectively after the absolute lifetime after initial login, or instead that each new refresh_token has a lifetime which would mean that a user could be logged in indefinitely if they exc

[2021-02-16 13:10] stevehobbsdev commented on #704
1. Let me ask the owning team about the exact behaviour but I believe the absolute expiration is based on the **first** refresh token that you receive. i.e. from the point of an interactive login, meaning that exchanging the refresh token does not reset the expiry time (otherwise it would be a sliding expiration model). But I will check.
2. The cookie gets set on every interactive login and also w

[2021-02-16 13:16] stevehobbsdev commented on #703
Thanks for raising this @tekilla123. I can see the problem - with the headers set I get absolutely nothing to tell me that something is wrong, the iframe just eventually times out.

Looking at your code, we should probably just throw a `login_required` error here but not automatically redirect away - we'd prefer to leave that decision up to the developer (they might prefer to use a popup instead).

[2021-02-16 15:27] tekilla123 commented on #703
In my current understanding of the issue, the cleanest solution would be if the iframe has the CEOP and CORP headers set. This would fix the token refresh via iframe without logging in again.

Is there a feature to set such headers on the `/authorize`-iframe in auth0? .

see: https://web.dev/coop-coep/
[code]

[2021-02-16 15:29] ilijapuaca opened #706 "getTokenSilently throws Timeout error"
### Describe the problem

We are seeing a ton of timeout errors that happen shortly after page loads and `getTokenSilently` is invoked. Based on the logs, the error is thrown ~1-3 seconds after page loads, which doesn't match the implementation that I am looking at which supposedly throws this error (the only two places where I see this error being thrown is [here](https://github.com/auth0/auth0-s

[2021-02-16 15:34] stevehobbsdev commented on #703
@tekilla123 We don't have such a feature, but it's one to explore when we investigate what we can do here.

[2021-02-16 15:46] stevehobbsdev commented on #704
@franciscolourenco What I described for point 1 is correct - refreshing a token does not change or increase the absolute expiry.

Does this help?

[2021-02-16 17:09] stevehobbsdev commented on #706
Thanks for raising @ilijapuaca - this is going to be really hard to provide help with without a reproducible sample that we can work with (we've tried before and couldn't get to the bottom of it as we never saw the issue).

Is there anything in the [Auth0 Tenant Logs](https://manage.auth0.com/#/logs) which might shed some light, or anything else you can tell us?

[2021-02-16 17:54] ilijapuaca commented on #706
Hey @stevehobbsdev, unfortunately I don't have too much insight that I can provide which would allow for this to be easily reproduced. I did not find anything in the logs that I would related to this issue.

One thing that comes to mind though, would this somehow happen if `getTokenSilently` was to be called multiple times in a short time period? I'm asking because there is a chance that happens i

[2021-02-19 14:02] twilly86 commented on #608
are you sure? i'm still seeing around 130kb
https://bundlephobia.com/result?p=@auth0/auth0-spa-js@1.13.6

[2021-02-19 14:39] frederikprijck commented on #608
Hey @twilly86 ,

Sorry, my comment might have been a bit misleading. We didn't revert the bundle size to what it was in 1.12.1, we reverted the changes for the polyfill that got added in https://github.com/auth0/auth0-spa-js/pull/598, which was causing unexpected increases in size.

The main issue, as being pointed out already, is the fact that we are including a lot of polyfills. We have been add

[2021-02-19 16:07] alvarocjunq opened #707 "Getting loop when receive “Error on Login” in Angular implementation"
### Describe the problem

First of all, I opened the question in the [Community ](https://community.auth0.com/t/getting-loop-when-receive-error-on-login-in-angular-implementation/58149) too
But I thought this is a bug of the documentation and maybe the full encapsulation of the AuthGuard, because I can not modify in the last version of the lib.

When the user try to do the login, but he have not a

[2021-02-19 16:48] frederikprijck commented on #707
Hey @alvarocjunq ,

Just to be sure, are u using our Angular SDK or not?
Are you using a specific route for handling the redirect callback?

What I think is occurring is that you are being redirected back to a protected route in your application. However, that will kick in the AuthGuard before being able to process the authentication transaction.

The `redirectUri` should always be a public route

[2021-02-19 17:01] alvarocjunq commented on #707
Tks @frederikprijck for the answer

Yes, I'm using the Angular SDK and I'll test this configuration. Make a lot of sense, Really thanks, I'll test with my team

But this isn't explicitly in the documentation, I think this is essential to configure the library, don't you think?
A creation of a `CallbackComponent` and the concatenation of the route in `redirectUri`?

[2021-02-19 17:24] frederikprijck commented on #707
I added an example application here: https://github.com/frederikprijck/auth0-callback

Be sure to replace the domain and clientId in app.module.ts: https://github.com/frederikprijck/auth0-callback/blob/master/src/app/app.module.ts#L20

It is only essential in specific use-cases where the root is protected, but yes I agree we should cover this in the documentation somewhere.

[2021-02-25 18:55] someone1 opened #709 "Option to hide missing scopes warning"
### Describe the problem you'd like to have solved

Do not put a console warning message for missing scopes in the returning Access Token.

### Describe the ideal solution

Option to disable, or completely remove, the warning about missing scopes.

## Alternatives and current work-arounds

Ignore the warnings - though we'd rather not have this end up in a production app.

### Additional context

W

[2021-02-25 18:58] someone1 commented on #700
Have you had any chance to look into this?

Where possible, I'd rather detect known error types that are already being thrown and defined rather than fallback to the duck typing approach.

[2021-02-26 07:57] frederikprijck commented on #709
Thanks for reporting. I believe that is a fair request, we put the warning in with a specific reason, but I can totally understand how this could be expected behavior and rather unfortunate to constantly see the warning.

[2021-02-26 10:13] frederikprijck commented on #707
Closing this as I opened a PR to add something to our FAQ in our Angular SDK's repository: https://github.com/auth0/auth0-angular/pull/128

[2021-02-26 10:13] #707 closed

[2021-02-26 16:36] someone1 commented on #709
@frederikprijck - sounds good, please let me know if I can provide any additional detail.

Additionally, if there is another approach to accomplish what we're relying on Auth0's RBAC access token behavior to be, please let me know!

[2021-03-02 00:56] someone1 opened #710 "getTokenWithPopup - update to better match getTokenSilently behavior?"
### Describe the problem you'd like to have solved
 `getTokenWithPopup` behavior doesn't match `getTokenSilently` - resulting in corrupted states and excessive calls.

### Describe the ideal solution

 `getTokenWithPopup` should check cache before running a popup, like `getTokenSilently`, and maybe even the other bits where it throttles request so multiple calls don't corrupt a previous request's

[2021-03-02 08:28] frederikprijck commented on #710
Could you elaborate on this a bit more? [Here is a screen recording](https://www.loom.com/share/58633e429f584710a3af39875325e4da) of this SDK's playground application that runs on localhost and uses `getTokenSilently()` successfully.

I am curious to understand what we are not checking the cache here. Even though I think, in this case, I would like to understand why you can't use `getTokenSilently

[2021-03-02 17:31] someone1 commented on #710
`getTokenSilently`  depends on [`prompt: 'none'`](https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L836) which, when used with scopes, is explicitly disallowed when running on `localhost` since it's `never a verifiable first-party` ([source](https://auth0.com/docs/authorization/user-consent-and-third-party-applications#skip-consent-for-first-party-applications))

Instead of try

[2021-03-02 21:06] someone1 commented on #709
It would also be nice to expose the [decoded token](https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L684) from the call so we don't have to duplicate parse the `accessToken` out ourselves.

[2021-03-02 23:16] scottfirestone opened #711 "Implement retry logic when state mismatch error"
### Describe the problem you'd like to have solved

Users are reporting issues with our auth0 implementation whereby state mismatch errors occur and auth cannot be completed.

### Describe the ideal solution

Ideally, auth0-spa-js would handle mismatch errors with a retry. [This post](https://community.auth0.com/t/invalid-state-on-reload-auth0-callback-url-using-auth0-spa-js-and-angular-8/36469/10

[2021-03-03 04:27] someone1 commented on #709
If it helps any, the PR that introduced the warning - https://github.com/auth0/auth0-spa-js/pull/665

No indication why it was added though.

[2021-03-03 04:31] someone1 commented on #710
Looks like https://github.com/auth0/auth0-spa-js/pull/664 added the more robust caching and locking mechanisms to `getTokenSilently`, but the intent of the PR, as it's described/reads, probably should have included the popup flow as well?

[2021-03-03 08:09] frederikprijck commented on #710
`getTokenSilently` is not disallowed on localhost, skipping consent is.

The idea is to first use `loginWithRedirect` or `loginWithPopup` to prompt for consent, including all scopes that your application needs. Once you have done that, `getTokenSilently` can be used safely with a combination of any of the scopes the user has given consent for.

e.g. If your application needs 20 scopes, you should

[2021-03-03 08:15] frederikprijck commented on #709
Could you elaborate what you are trying to do? Your application is not supposed to parse an Access Tokens, an Access Token is supposed to be used only by the Resource Server, see: https://auth0.com/docs/tokens

This was added to indicate that the requested scopes and the returned scopes differ, because this could introduce unexpected behavior in situations where thess are not expected to differ. H

[2021-03-03 08:29] frederikprijck commented on #711
Hi @scottfirestone ,

Thanks for reporting this. This issue isn't supposed to happen in normal situations, so I think it is worth investigating what your users are doing that makes this error occur, as explained in the community post you linked.

This is a situation that I feel like applications should solve themselves when the corresponding error occurs.
If our SDK detects an Invalid State, I do

[2021-03-03 08:29] #711 closed

[2021-03-03 10:30] stevehobbsdev commented on #706
We have internal protection against that scenario; if you try to call multiple times in a short time span and we're still processing the same request, we'll give you the same promise back, so the call isn't actually made.

If you could look into this further and try to provide a reliable repro that would help us, then I would be happy to investigate. Closing this for now, but very happy to reopen

[2021-03-03 10:30] #706 closed

[2021-03-03 10:31] stevehobbsdev commented on #704
Closing for now, but happy to continue the conversation if there are further questions.

[2021-03-03 10:31] #704 closed

[2021-03-03 10:36] frederikprijck commented on #709
The reason we are doing that is because if we wouldn't do this you would never use the cache, resulting in a lot of token request.

Imagine the following situation:

- You request a token for Scopes A, B and C.
- You retrieve a token for Scopes A and B.
- We store the token, which has scopes for A and B, using a key that includes Scopes A, B and C.

A few seconds later, you request another token f

[2021-03-03 11:17] kachihro opened #713 "dist\typings causing compile error with TypeScript"
### Describe the problem
We're building a webpart for SharePoint 2016, and the older SPFX component framework has to use TypeScript 2.2.
I've been able to use the 'Auth0-spa-js' library for the more recent SPFX (up-to-date TypeScript).

But - have to instead use the older one.

Within the typings/Auth0Client.d.ts file, there is an error that's causing a compiler error - on older TypeScript.

Betwe

[2021-03-03 11:56] franciscolourenco commented on #704
Hi @stevehobbsdev thank you for the explantion!

Regarding point 1. I must comment that Auth0 has the opportunity to be very clear in this explanatory sentence, but unfortunately I don't find it evident.
![image](https://user-images.githubusercontent.com/208149/109801942-7729f180-7c1f-11eb-9b41-3b64581e5647.png)

Regarding the original issue – has the problem been fixed already?
Shouldn't this be

[2021-03-03 13:20] stevehobbsdev commented on #704
In investigating this, the owning team has already taken an action to improve the docs in this area so look forward to those improvements coming in the future!

As for the original issue here, I've taken a low priority action to look at this internally and you should continue to use the method I described above that uses `getTokenSilently`.

[2021-03-03 14:45] someone1 commented on #709
This totally makes sense, thanks for clarifying! Wouldn't it still be possible not to stomp over the scopes by using the requested scopes directly in the cache key? Update [this line](https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L688) to:

[code]

Or maybe construct the cache key once and re-use it both when checking existence and again when setting the value? It looks like

[2021-03-03 15:02] someone1 commented on #710
Thanks for the tip and I really appreciate you taking the time to create the screen recordings!

We use multiple audiences so when we login we don't do anything with audiences/scopes until further down the bootstrap process:

E.g.: Load Page -> Login with ID Token ONLY -> Bootstrap App -> Init API Clients / get Access Tokens

Your suggested flow would require multiple `loginWithRedirect` (or popup

[2021-03-03 15:05] frederikprijck commented on #709
I do not believe I see how this would be any different. Could you elaborate on what you mean and why you think this would make any difference?

As explained in the link I shared, clients should not parse Access Tokens, Access Tokens are only for getting access to APIs. Therefore we have no intention to provide any functionalities that allows for you to do that.

Regarding the original issue report

[2021-03-03 15:09] frederikprijck commented on #710
Thats a fair point, thanks for mentioning that. Have you considered using `127.0.0.1` or any custom hosts entry to be able to skip consent locally while not needing to add extra code to support that? Consent is not skippable for localhost, but it is for `127.0.0.1` or any other host entry that maps to localhost, see https://auth0.com/docs/authorization/user-consent-and-third-party-applications#ski

[2021-03-03 16:13] someone1 commented on #709
Yes sorry if I wasn't clear - its effectively the same outcome, though the suggestion was made in hopes of the returned scopes being made available to the caller.

The response from `/oauth/token` by Auth0 during the exchange process includes the Access Token as well as the list of granted scopes - however the this library does not allow me access to anything but the token. I wouldn't parse the Ac

[2021-03-03 16:22] frederikprijck commented on #709
Sorry, I was misunderstanding what you meant, thanks for elaborating. I understand what you mean and I am happy to discuss this with the rest of the team to see if we could expose this to the users of the SDK.

Yes I think that is a good idea, that way we can close the current issue when the warning has been removed.

[2021-03-03 16:55] someone1 opened #715 "Return scope detail during access token retrieval"
### Describe the problem you'd like to have solved

Continuing discussion from #709 - currently there's no way to obtain the list of scopes returned during a `/oauth/token` exchange with Auth0 in either `getTokenSilently` or `getTokenWithPopup`

### Describe the ideal solution

Might be an overstep, but [all information](https://github.com/auth0/auth0-spa-js/blob/master/src/api.ts#L6) from the exc

[2021-03-03 17:05] someone1 commented on #710
I hadn't considered using `127.0.0.1` as I assumed that'd be prohibited for the same reason `localhost` is - I'll give it a try, thanks for the idea! Modifying host files could be possible, but then I'd be getting IT involved and possibly having devs modify settings that require admin privileges - if a solution that works with no additional config could be provided, that'd be preferred.

Might be

[2021-03-03 21:10] stevehobbsdev commented on #701
Closing as this looks to be resolved - thanks for chipping in @adamjmcgrath

[2021-03-03 21:10] #701 closed

[2021-03-04 15:39] urosgruber commented on #210
I was able to use this in our test but just half way. Whenever we use click out to next subpage user is not logged in anymore. Is this expected or issue with this approach?

[2021-03-04 19:45] laurentS commented on #476
Is using auth0.js still the current recommendation? I have the exact same question, just 8 months later :)

[2021-03-05 11:18] slaywell commented on #183
FYI I have submitted a PR for this here:

https://github.com/auth0/auth0-spa-js/pull/717

[2021-03-08 11:37] dsebastien commented on #305
I had the same issue. I'm using the Universal Login, with a customized login page.

I solved it by  adding this to my login page:

[code]

[2021-03-08 15:04] #709 closed

[2021-03-08 15:15] #713 closed

[2021-03-08 15:25] stevehobbsdev commented on #715
Thanks for the feedback and the feature suggestion. Ideally what we'd do is return the full detail directly out of `getTokenSilently`, but it's a breaking change and not one we can make just at the moment.

Alternatives I can think of:

* Some sort of eventing system that returns the full detail when an event is raised
* Some other method that allows you to retrieve the full item out of the cache

[2021-03-08 15:26] #700 closed

[2021-03-08 16:14] martinblostein commented on #456
The README for this project says:

Emphasis mine. While it is technically true that Auth0 (not this SDK) supports a passwordless, I think that it's misleading to advertise the passwordless support that Auth0 provides on the README for an Auth0 SDK without noting that the SDK in question does not support that flow, and there are no plans to ever support that flow.

I've spent a while getting Auth0

[2021-03-08 16:24] qortex commented on #456
I feel you. It has definitely been a huge time-waster for me in hindsight.
And I have the same taste in my mouth: plain false advertising that bites you by surprise once you have adopted the solution and just want to rollout the feature you planned at trial time and was said to be supported. You could think it would take 2h once the SDK is installed... and it definitely doesn't.

[2021-03-08 16:24] qortex commented on #456
Btw, still badly need the "Login link ticket" API endpoint.

[2021-03-08 18:38] someone1 commented on #715
Thanks for the update! Glad to hear this is acknowledged as a shortcoming of the current package and on the radar for improvement - though could you maybe entertain the following ideas, or give some sort of ETA/timeline when introducing a fix for this can be reasonably expected?

* Introduce `*WithResponse` versions of each call - I think reasonable people can disagree that adding a fix for a know

[2021-03-09 07:55] nocode-coder opened #718 "isAuthenticated value does not update after calling getTokenSilently"
I'm using the SPA library on a Vue project and am having some issues moving people between subdomains. For reference, I've had to use the solution mentioned [here](https://community.auth0.com/t/auth0-client-is-null-in-vue-spa-component-on-page-refresh/38147/6?u=simisav) to get getTokenSilently to work in the javascript (else auth always returns null which is quite frustrating).

The problem I'm fa

[2021-03-09 09:56] stevehobbsdev commented on #718
👋  I suspect you're hitting an issue with your users on a subdomain because the user is being logged in before they are redirected to their subdomain. This SDK has a mechanism in place where it uses a cookie to "cache" whether or not it thinks you have a session, and if the cookie is not present or cannot be read, we don't try to rehydrate your session on load as an optimization. However, the cook

[2021-03-09 10:34] nocode-coder commented on #718
Thanks for the response Steve.

I've tried to send the user to the login page by e.g. adding the following to a created() hook:

`this.$auth.loginWithRedirect()`

However it returns

`"TypeError: Cannot read property 'loginWithRedirect' of null"`

This is exactly the issue that makes it hard for me to work with this library. I cannot call the library functions from the code because this.$auth is a

[2021-03-12 04:10] StephenCleary commented on #581
One thing that tripped me up was I had `useRefreshTokens` set to `true`, so the auth0 library was adding `offline_access` to my scopes, which changes the localstorage key.

[2021-03-12 10:54] adamjmcgrath commented on #581
Thanks for sharing that @StephenCleary

If anyone else is having trouble setting up https://github.com/auth0/auth0-spa-js/issues/581#issuecomment-697323567 - It's usually because the `localStorage` key for the credentials you're putting in aren't the same as the key SPA JS is looking for (eg you unexpectedly had `offline_access` in your scopes)

I added a suggestion and snippet of code that might

[2021-03-12 11:00] stevehobbsdev commented on #715
Thanks for the suggestions, we'll take them on board. In the meantime, I'm interested in diving more into the use case here. From #709:

Can you elaborate on why checking the return scopes would validate the access token? Also, generally speaking, it is not for the client to determine whether an access token is valid as it is not the consumer of said access token, but it's up to the resource serve

[2021-03-12 17:02] mitar opened #719 "Obtain auth_time even without max_age"
### Describe the problem you'd like to have solved

For logging purposes, I would like that the ID tokens always contain `auth_time`. It seems that auth0 currently provides it only when `max_age` is set. The [spec](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) says that I could request it as an essential claim, but I do not see a way to do that using this library.

### Describe th

[2021-03-12 17:17] someone1 commented on #715
I don't actually need this, this was just suggested since #709 removed the scopes warning and if this was important to the user (it's unknown why this was added), then they could detect this themselves.

Agreed - that's not what we're talking about here though. Happy to treat the Access Token as opaque, just need some small details around it. I understand it's impossible to enumerate all possibili

[2021-03-15 14:27] frederikprijck commented on #719
Thanks for reaching out,

I think it's important to understand what `Essential Claims` means first:

However, according to the spec, you can decide if you want to support this claims parameter or not in your implementation, see https://openid.net/specs/openid-connect-discovery-1_0.html and look for `claims_parameter_supported`:

OPTIONAL. Boolean value specifying whether the OP supports use of the

[2021-03-15 14:27] #719 closed

[2021-03-16 05:41] ongas commented on #599
** BUMP **

Could we please get this looked at as a priority please? It's caused issues with a number of pubic applications.

[2021-03-21 10:20] nocode-coder commented on #718
Thanks for the feedback Steve. I checked all these things and still cannot find what I am doing wrong. My current version works on one domain, but as soon as I switch to another subdomain, it doesn't pick up the logged in user.

I needed to find some time to extract a working sample. I've put it on a Github repository, how do I share the details with you?

To test, I would serve the vue app and lo

[2021-03-30 00:00] napter opened #726 "loginWithPopup is blocked by firefox since version 1.6.5"
### Describe the problem
Using loginWithPopup in firefox in an onclick works in 1.6.4. However, in 1.6.5 the same code now triggers firefox pop blocker.

I have done some preliminary investigation and I believe the issue was introduced in [this commit](https://github.com/auth0/auth0-spa-js/pull/368/commits/6665dc071e7e27d480ef2b7d91673741fe571d5e).

Prior to this, the code would call window.open d

[2021-03-30 05:40] benhunterandrewrobertson commented on #273
@mogusbi-motech How did you go about configuring `appUrlOpen` to fire on Android? It fires no worries on iOS.

[2021-04-01 14:24] stevehobbsdev commented on #726
Thanks for raising this - let me do my own investigation into this and get back to you, although it will likely be next week.

[2021-04-01 15:39] stevehobbsdev commented on #726
I was able to reproduce the issue. Something like this works, tested in with the latest Firefox based on the latest version of the SDK: https://github.com/auth0/auth0-spa-js/compare/fix/firefox-popup. Are you able to test this branch to confirm?

[2021-04-02 21:08] napter opened #728 "Cannot login if cookies are blocked using refresh tokens and local cache storage"
Using the latest version 1.14.0. When I run loginwithpop up using social login (google), refresh tokens and cache set to localstorage. The login fails ,on second attempt I get this error in Safari:

[Error] TypeError: null is not an object (evaluating 't.organization')

	_callee$ (app.js:16429)
	l (chunk-vendors.js:27481:5863)
	(anonymous function) (chunk-vendors.js:27481:5648)
	asyncGeneratorStep

[2021-04-02 21:18] napter commented on #726
@stevehobbsdev I will try - but in the meantime I am getting [this issue](https://github.com/auth0/auth0-spa-js/issues/726). My primary goal is to get safari to work with refresh tokens and localstorage, in testing that I also tested firefox with third party cookies disabled and came across this popup bug.

[2021-04-02 22:07] napter commented on #728
Additional info: When logging in using google social login, if I go to storage I can see that ___.auth0.com created a cookie (despite refresh tokens and localstorage being set). Meanwhile there is no data in localstorage. However if I log in with a username and password, the above error does not occur - I do get logged in, and a key "@@auth0spajs@@______" is added to localstorage.

[2021-04-03 10:37] nocode-coder commented on #718
@stevehobbsdev Friendly reminder for the response above.

[2021-04-03 11:56] nick4fake commented on #703
@stevehobbsdev this looks like a really severe issue (though it only applies to a small subset of users) that should be fixed on the Auth0 side

[2021-04-05 13:33] weyert commented on #726
I ended up using `oidc-client-js` instead of this library since I switched I don't have any issues with popup blockers in Safari and Firefox.

[2021-04-06 10:12] stevehobbsdev commented on #728
This looks like a bug on our end, which I will fix in [this branch](https://github.com/auth0/auth0-spa-js/tree/fix/firefox-popup). Out of interest are you passing `null` to `loginWithPopup`?

This is a use case that should definitely work so I'm sorry that you're having trouble. Whether you use username & password, or social login, should not matter to the SDK as this all happens on the Auth0 serv

[2021-04-06 10:13] stevehobbsdev commented on #726
Thanks, that helps. I can confirm on my end that the branch I put up fixes the same issue in Safari with the popup not opening, and I replied to the other issue as well.

[2021-04-07 07:48] adamjmcgrath commented on #599
Hi @GMaiolo @ongas @Benjathing - just to let you know we're looking at this now, will post an update to this issue shortly

We also have a, somewhat convoluted, workaround here https://github.com/auth0/auth0-spa-js/compare/pop-cancel-example

[2021-04-09 06:39] nocode-coder commented on #718
@stevehobbsdev I've followed your instructions to "just reply with a comment below when you're ready" but so far have not received a response. Should I be creating a new issue for this?

[2021-04-09 08:41] stevehobbsdev commented on #718
Hi @nocode-coder, my sincerest apologies - I had lost track of this. Please send the details to steve [dot] hobbs [at] auth0.com and I'll take a look.

[2021-04-09 10:34] stevehobbsdev commented on #726
I've raised #732 which should fix this as well as #728, if you would like to try it out.

[2021-04-12 14:09] #726 closed

[2021-04-12 14:09] #728 closed

[2021-04-15 15:49] someone1 commented on #715
@stevehobbsdev - would you be willing to reopen this issue? Given this library doesn't support an [example Auth0 use-case](https://auth0.com/docs/architecture-scenarios/spa-api/part-3#display-ui-elements-conditionally-based-on-scope) and the possibility of introducing support in a [non-breaking way](https://stackoverflow.com/questions/54165536/typescript-function-return-type-based-on-input-paramet

[2021-04-20 14:25] stevehobbsdev commented on #715
@someone1 Yes I can reopen, seems fair. I'm out the rest of the week, but I can put some deep thought into this next week and come back to you.

[2021-04-21 17:49] nickroyerUBC commented on #706
We're getting a timeout error in getTokenSilently (that happens instantly) when using different versions of the auth0 spa js package. I tried to reproduce in one of the quickstarts however we weren't able to reproduce it in the simpler environment.

-- We load from the CDN:
https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js

1.12 & 1.12.1 -> Works exactly as expected

1.13 -> Ha

[2021-04-21 17:53] nickroyerUBC opened #734 "Timeout error in getTokenSilently (that happens instantly) starting with 1.13"
We're getting a timeout error in getTokenSilently (that happens instantly) when using different versions of the auth0 spa js package. I tried to reproduce in one of the quickstarts however we weren't able to reproduce it in the simpler environment.

-- We load from the CDN:
https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js

1.12 & 1.12.1 -> Works exactly as expected

1.13 -> Ha

[2021-04-21 20:41] qortex commented on #734
+1
That may explain an error that I suspect occurs client-side in prod and I can't trace it (after a call to `loginWithPopup`).

[2021-04-26 08:29] schmidt-daniel opened #736 "HTTP Interceptor should not require auth token"
### Describe the problem you'd like to have solved
(also see https://community.auth0.com/t/auth0-angular-http-interceptor-error-when-user-is-not-logged-in/50866)

I want to send a request to my API from an Angular application. Depending on whether the user is logged in or not, I want the API to return different levels of detail information.
Unfortunately, the integrated HTTP Interceptor does not s

[2021-04-26 08:31] frederikprijck commented on #736
Hi,

This the wrong repository. you want https://github.com/auth0/auth0-angular/.

That said, we added the ability for this here https://github.com/auth0/auth0-angular/pull/145 and it should be available in `1.4.1`

If that doesn't work, please open an issue in the repository for the Angular SDK.

[2021-04-26 08:31] #736 closed

[2021-04-26 13:39] stevehobbsdev commented on #734
Thanks for reporting @nickroyerUBC. The way the CDN works, using `1.13` will actually give you the latest patch version, which is `1.13.6`. So it looks like something got introduced in `1.13.5` that might have caused this, reading your bug report.

Let me look into it. In the meantime, could you let me know what browser you're testing this in? Also, when you say "the simpler environment", do you m

[2021-04-26 14:06] nickroyerUBC commented on #734
I've been testing primarily in Chrome (version 89), however I did validate that the error occurs for us in Firefox as well.

I have not tried to reproduce the SDK playground yet (will try that soon)

I did try to reproduce using one of the SPA sample applications (which unfortunately has not reproduced the issue yet)

[2021-04-26 20:16] napter commented on #728
@stevehobbsdev I was passing null. I switched to passing {} - which seems to have fixed it on firefox but I still get [Error] TypeError: null is not an object (evaluating 't.organization') on Safari.

I am trying to use the latest master with your changes to see if that helps but I am having a hell of a time figuring out how to do that. Previously, I just used npm install. I tried to git clone the

[2021-04-26 21:12] stevehobbsdev commented on #728
@napter The way I normally do this is by using [`npm pack`](https://docs.npmjs.com/cli/v7/commands/npm-pack):

* Clone `auth0-spa-js` to a folder locally
* Check out the branch you want to test (or leave on the master branch)
* Install dependencies: `npm install`
* Pack: `npm pack` - this will build and pack the project, and output a `.tgz` file to your current directory
* Move to the project that

[2021-04-27 09:39] stevehobbsdev commented on #734
@nickroyerUBC I'm unable to reproduce this. I've put up an example of what I'm running in [this Gist](https://gist.github.com/stevehobbsdev/5d883075c4862ec07df714189c35565a), if you could give that a try and see if it works for you.

It's based on your example code above but I've taken your app-specific bits out.

[2021-04-27 15:43] nickroyerUBC commented on #734
I unfortunately haven't been able to reproduce this issue yet in any of the simpler test cases ( so there is likely some issue with includes). I have identified however that the timeout is happening here in 1.13.5

    if (
      await retryPromise(
        () => lock.acquireLock(GET_TOKEN_SILENTLY_LOCK_KEY, 5000),
        10
      )

This attempts to get the lock 10 times in quick succession and

[2021-04-27 17:52] nickroyerUBC commented on #734
I've added some console logging to the auth client and merged it into my environment. I believe the reason may be that the lock was never actually checked for a successful result previously and in the new version it has to return success or else it retries 10 times (always failing)

![image](https://user-images.githubusercontent.com/82959908/116288650-b9733900-a75f-11eb-81ed-b8d3324576b3.png)

[2021-04-28 15:56] stevehobbsdev commented on #734
We use a third-party to perform that logic (locking across tabs) and it looks like it's returning immediately because it can't get a lock. Any errors other than `timeout` in the console? Have you tried clearing local storage/cookies/cache etc or running in Incognito mode?

It's true that prior to 1.13.5 we were (incorrectly) not waiting for a result but implemented that for good reason. Debugging

[2021-04-28 16:03] nickroyerUBC commented on #734
I believe I've found the issue:

Our platform is using this js package: https://github.com/datejs/Datejs

which has the following prototype:
Date.now = function () {
    return new Date();
};

which breaks the package: https://github.com/supertokens/browser-tabs-lock

you should be able to add that script to reproduce the issue I'm seeing.

[2021-04-29 14:36] degrammer commented on #599
Hi @Benjathing we're glad to support this feature now in version v1.15.0 🍾  thank you for reporting

[2021-04-29 14:36] #599 closed

[2021-04-30 09:04] stevehobbsdev commented on #734
Thanks @nickroyerUBC, glad you have found the issue. I would then contact the authors of `browser-tabs-lock` to let them know they have an incompatibility with this package.

Closing this for now as doesn't appear to be an issue with the SDK, but happy to continue the conversation.

[2021-04-30 09:04] #734 closed

[2021-05-04 06:04] dsuttonpreece commented on #695
@Danwakeem have you been able to get this working? Trying to do exactly the same thing :)

[2021-05-04 07:14] frederikprijck commented on #695
Hey everyone, just a heads up that we are looking into this. No ETA yet, as we will need to make some changes in the SPA-JS SDK and, potentially, also in the wrapping Angular and React SDKs.

But it's on our radar and are hoping to get support for Ionic soon.

[2021-05-04 11:41] npearson72 commented on #58
I know this is an old thread, but as I'm learning about Auth0 with React, I commonly see this pattern of passing `getTokenSilently` into the second argument array for `useEffect`.

I'm trying to understand why this is needed. From the React docs this argument should only take values that change:

https://reactjs.org/docs/hooks-reference.html#conditionally-firing-an-effect

Here's another example w

[2021-05-04 14:37] Danwakeem commented on #695
Thanks @frederikprijck 🙌

Yes kind of @dsuttonpreece. I have a super hacked version of this in a branch out there that I have been using in the meantime. But waiting for the official thing is probably for the best TBH 😉

[2021-05-05 18:41] fivepapertigers commented on #715
Just wanted to chime in here, but I'm having a similar issue.

I have a known set of scopes that is required to access the full functionality of a specific page, and I include those when requesting an access token. The token that is returned, however, may or may not have those scopes depending on their permission set in Auth0. But there's no way for me to programatically understand that (in order

[2021-05-18 02:45] yinzara opened #745 "Bug introduced by #732 - "Invalid Scheme""
The method used to fix #732 has caused an "invalid scheme" error when using this library inside of Cordova because it calls "window.open" with an empty string before setting the "location.href" of the popup which Cordova doesn't seem to like.

I know that Cordova should allow for "window.open" with an empty string, but it doesn't and getting them to fix that issue will be a very major change.

Thi

[2021-05-20 07:18] Equanox opened #747 "Is the state parameter really checked?"
I took a look into the library and was wondering if the state parameters is checked to mitigate CSRF attacks, see https://auth0.com/docs/protocols/state-parameters#csrf-attacks

https://github.com/auth0/auth0-spa-js/blob/1da10cb344892b72471e5d709e32b68f26269a2e/src/Auth0Client.ts#L525

Maybe i missed it but it seems to me that this check is not done inside the library?

[2021-05-20 07:32] heidemn-faro commented on #747
To add a bit more context, we're talking about this API function:

[code]

Great that a random `state` is generated, but we were wondering where it is then actually checked.

[2021-05-20 08:17] frederikprijck commented on #747
Thanks for reaching out.

This SDK is using the PKCE flow, and as mentioned here https://tools.ietf.org/id/draft-ietf-oauth-security-topics-13.html#rfc.section.3.1, when using `PKCE`, checking `State` is not required to prevent `CSRF`.

In this case, this SDK is protecting against CSRF by using PKCE but uses State to transport data.

The wording of `Random and secure `state` and `nonce` parameters

[2021-05-20 08:52] heidemn-faro commented on #747
Thanks Frederik for your quick reply.
So is the following correct?

`loginWithRedirect()` is already secure by default, and we don't have to put any special security measures on top of it to avoid e.g. that tokens are intercepted by another app?
So it is **not** required that we generate a random number in the app, store it in localStorage and compare it later when Auth0 redirects back to the app?

[2021-05-20 09:23] hristopetroff opened #748 "Cannot read user subscriptions from twitch using the Auth0 for vuejs"
I have an issues with the Auth0 twitch authentication. I am not able to read user subscriptions. After searching and searching in their documentation, i went in conclusion that the code should be like this
this.auth0Client = await createAuth0Client({
        domain: options.domain,
        client_id: options.clientId,
        audience: options.audience,
        redirect_uri: redirectUri,
        s

[2021-05-21 10:00] frederikprijck commented on #747
Closing this, feel free to continue conversation.

[2021-05-21 10:00] #747 closed

[2021-05-21 15:41] stevehobbsdev commented on #748
Hi @hristopetroff,

The `scope` option here is for Auth0's authorization API and is not passed along to a third-party connection such as Twitch. However, you're able to do this by using a `connection_scope` parameter and specify the scopes you want to send to the actual connection, in this case Twitch.

So you configuration should look like:

[code]

`connection_scope` is not something that is par

[2021-05-21 15:41] #748 closed

[2021-05-24 13:55] stevehobbsdev commented on #745
Let's close this for now and keep any discussion on the PR.

[2021-05-24 13:55] #745 closed

[2021-06-01 04:26] tnguyen14 commented on #340
@stevehobbsdev

Can this method of detection be exposed as an API for this library? That way it can be used by the application/ framework to detect an Auth0 callback page?

[2021-06-03 21:32] oneillsp96 opened #749 "No way to check if access token is still valid without extending it when using rotating refresh tokens"
I have a feature request to implement an inactivity timeout that would take place automatically when the user stops interacting with the app for a certain number of minutes.  The project manager wants this to happen without the user needing to interact with the authorization server.

I tried to implement this by calling getTokenSilently() in an interval, and if it returns undefined or catches, I c

[2021-06-03 22:08] frederikprijck commented on #749
Hey,

It looks like the use-case you have looks a lot like typical sessions that exist in web applications, where authentication would be handled server-side and the client relies on the duration of the session to decide if the user stays authenticated or not.

Reproducing this in a SPA, without using actual sessions, isn't easy.

However, could you elaborate what you mean with this:

I do not kno

[2021-06-04 02:54] oneillsp96 commented on #749
Basically, I want to log the user out at the exact moment their access token is expired, rather than waiting for them to click around and trigger a HTTP call with the expired token and hitting the login_required error at that point (and then calling logout in a catch block).  The main reason is to achieve a better user experience.

That is a good point regarding background HTTP calls - currently o

[2021-06-04 15:58] oneillsp96 commented on #749
This is maybe beyond the scope of the bug, but what would you think of this solution: We set our access token lifetime to 1 hour, then have code running on a 1 hour interval checking for inactivity based on event listeners (mousemove, onclick, onkeypress).  That way, the worst case scenario is that the user is logged out, while still having an access token with 1 hour of life remaining?

We do hav

[2021-06-07 16:12] oneillsp96 commented on #749
It does seem like a method "checkTokenIsValid" would be useful in many scenarios

[2021-06-07 19:40] frederikprijck commented on #749
I guess it depends what valid means, there is more to validity besides expiration. But in order to decide that validity, the token needs to be parsed. As I mentioned earlier, an Access Token is for an API and a client should never try to parse an Access Token, so it should not decide whether or not the Access Token valid.

I understand this is a complex and confusing topic, and we are planning to

[2021-06-07 19:47] oneillsp96 commented on #749
That makes sense, I guess it’s just feels intuitively a little weird to me to log a user out while they might still have a valid token.  Does the library provide any means of programmatically invalidating refresh/access tokens?

[2021-06-07 19:56] frederikprijck commented on #749
Didn't you want to log the user out when they are idle? As I mentioned, this is not related to having a valid access token as we refresh that internally for you so ultimately even though it might not be intuitively, it does sounds like what you have been trying to achieve.

I mean, the refresh token is valid for a certain amount of time (let's say a day, or two days), how is logging out when idlin

[2021-06-07 20:05] oneillsp96 commented on #749
Ok, I’ll probably go ahead and implement the idle logout, just noting to product team/customers that it is not tied directly to the user’s authentication state.  I’ll go ahead and close this issue. Thanks for the guidance.

[2021-06-07 20:05] #749 closed

[2021-06-08 13:11] frederikprijck commented on #749
Hey @oneillsp96 ,

Would setting an `Inactivity Expiration` on the `Refresh Token` work in your case? See https://auth0.com/docs/tokens/refresh-tokens/configure-refresh-token-expiration

Basically this makes Refresh Tokens unusable if not used before that expiration, which will log the user out (assuming the refresh token expiration is higher than the Login Session Management (Which is a Tenant Se

[2021-06-08 14:37] oneillsp96 commented on #749
I do have the refresh token inactivity timeout in place.  The only issue with that is an "optics" issue.  Customers don't like the fact that the user can be AFK for hours or even days, and the app still appears to be open and functional (even though the next API call will fail and result in a logout). So it's purely a matter of appearances as far as I can tell.

On a somewhat related note, it has

[2021-06-08 18:59] joberdick opened #753 "Better insulate calls to other IDP's when using loginWithRedirect() when 3rd party cookies are not allowed"
### Describe the problem you'd like to have solved

When logging in an app, we don't want to be subject to downtime(like Azure) or added latency of an enterprise connection. In many cases we also specify the connection name in the auth0 config to avoid being prompted by the auth0 universal login page. This works well in a browser that supports 3rd party cookies. When loginWithRedirect() is called

[2021-06-09 09:52] stevehobbsdev commented on #753
@joberdick There are a few things to unpack here, so let me go through it. I can understand the trepidation when it comes to outages.

Just to clarify, I wasn't sure or not if you're using this library with IDPs other than Auth0, but this is not generally supported as this is an Auth0-specific SDK rather than a generic OIDC client.

It might help to see the order of operations in your app here and

[2021-06-09 10:31] stevehobbsdev commented on #340
@tnguyen14 Seems like a reasonable request, although I think it would have to be named very carefully. Feel free to raise a PR 👍🏻

[2021-06-09 13:29] alancwoo commented on #52
In case it helps, I ran into this issue following along with the blog tutorial [The Complete Guide to Vue.js User Authentication with Auth0](https://auth0.com/blog/complete-guide-to-vue-user-authentication/). In my Authentication Wrapper that I had created via the [quickstart](https://auth0.com/docs/quickstart/spa/vuejs/01-login#create-an-authentication-wrapper), the variable was set to `loading`

[2021-06-09 13:45] joberdick commented on #753
@stevehobbsdev  we are only using the SDK with Auth0. The IDP's I am referring to are the ones you can setup under connections:

![image](https://user-images.githubusercontent.com/33881653/121359673-b7290080-c901-11eb-8702-7ba1db98f8be.png)

I can easily reproduce this using this sample app: https://github.com/auth0-samples/auth0-angular-samples

Let me walk through that...

1. Setup an enterprise

[2021-06-09 16:17] oneillsp96 opened #754 "Documentation of interaction between refresh token inactivity timeout, access token expiration time, and tenant level settings (inactivity timeout and require login after)"
Mentioned this briefly in a previous issue, but my largest struggle while implementing rotating refresh tokens has been trying to understand how the various expiration times and inactivity settings interact with one another.  One question especially is how and when the tenant level settings come into play.

Here are a few of the things I'm trying to get straight in my head.

Do the tenant level se

[2021-06-09 20:33] frederikprijck commented on #754
Purely looking at it from the `/token` endpoint, no. But that's only when using Refresh Tokens.
When not using Refresh Tokens, `getTokenSilently` uses an iFrame in which it actually just navigates to the same page as `loginWithRedirect` does (but with a few different settings). In this case it relies on the fact that we still have an active session with auth0. This session is controlled by that te

[2021-06-10 13:49] oneillsp96 commented on #754
Very helpful, thank you.

[2021-06-10 13:49] #754 closed

[2021-06-14 12:48] stevehobbsdev commented on #753
Thanks for the detailed repro steps @joberdick.

Regarding the use of `prompt=none` when third-party cookies are blocked, you're able to do this today with the SDK as-is:

* Use the constructor to initialise the SDK, as opposed to using `createAuth0Client` (see [creating the client](https://auth0.github.io/auth0-spa-js/#creating-the-client). This will mean that the automatic call to `checkSession`

[2021-06-14 18:07] oneillsp96 commented on #754
@frederikprijck one last question and I'll leave you alone...can you confirm that during a refresh token rotation event, the id_token exp field is also renewed? This is what my experiments show.

[2021-06-14 18:09] frederikprijck commented on #754
Using the refresh token results in a new access token, id token and refresh token. All of these should have a new iat claim and as well have a different expiration.

[2021-06-15 21:29] joberdick commented on #753
@stevehobbsdev I was able to create a working example with prompt=none. I am waiting to hear back from others internally on how viable that would be to use as our standard. Its not clear to me on what we might lose out on by going this direction. It's a bit clunky, but might be acceptable. I will let you know soon if we think it's worth adding that to ```auth0-angular``` and a```uth0-react```.

Us

[2021-06-16 09:33] stevehobbsdev commented on #52
@alancwoo Thanks for the feedback, it will be useful for when we come to overhaul and rewrite the Vue quickstart! 🎉

[2021-06-21 15:24] mbuczko opened #755 "Unreliable token refreshing on Safari with multiple tabs"
With the recent Safari Version 14.1 (16611.1.21.161.3) (macOS Big Sur) we observe weird behaviour when token is being refreshed in one tab and read afterwards from the LocalStorage in the other tab. Surprisingly, token in the 2nd tab remains the same as if no refreshing happened.

Going down and investigating the problem we came to the conclusion that we are beaten by this bug https://bugs.webkit.

[2021-06-21 16:35] adamjmcgrath commented on #755
Hi @mbuczko - thanks for raising this

Yep - I'm able to reproduce your issue on the playground app in Safari Version 14.1 (16611.1.21.161.3) (macOS Big Sur)

If you're using [Custom domains](https://auth0.com/docs/authorization/renew-tokens-when-using-safari#workarounds), which we recommend for production, then `getTokenSilently` should fallback to the `web_message` flow which should still work

[2021-06-25 18:41] mattjennings commented on #684
Any idea when this will be addressed? This has been a bit of a pain to work around.

In an earlier version I was able to get around it like this:

[code]

which is what getUser did internally at the time. However, now you have to pass it a `CacheKey` instance, which is not an exported class that I can use.

https://github.com/auth0/auth0-spa-js/blob/171dfce856bff54120668af977ee9da90d3c739b/src/Aut

[2021-06-25 19:49] frederikprijck commented on #684
Hi @mattjennings,

We are currently working on a PR to make the cache extensible, see https://github.com/auth0/auth0-spa-js/pull/743
This is for the purpose of supporting Ionic with this SDK.
As a result of that, the cache will need to respect an async API, so I believe `getUser` will need to keep using that same async API as well.

What's the reason you need to resort to the above solution? Our c

[2021-06-25 19:57] smogg commented on #755
@adamjmcgrath can you elaborate a bit more on the `web_message` fallback? What happens in case of Refresh Token Rotation - wouldn't the scenario mean that multiple tabs will try to use the same refresh-token to obtain a new AT, which would in turn cause the entire family of tokens to be revoked?

[2021-06-25 21:58] mattjennings commented on #684
Ah I see. Admittedly my use-case was not very typical, but it was helpful to have the user session synchronously on page load without needing to await getUser and handle the brief loading state. It's probably better to handle that loading state more wisely, but seeing that the underlying cache was synchronous is why I went for the workaround. If it'll be async by nature soon then it's all a moot p

[2021-06-29 13:14] stevehobbsdev commented on #753
We're implementing it for those users who wish to use this SDK inside a hybrid framework like Ionic + Capacitor, and want to use a more secure storage option.

Let me know if you've managed to come to a workable solution within your own environment or if you need further guidance from us.

[2021-07-01 10:26] patrickcorrigan opened #756 "Different scopes for different providers"
Hi, I'm requesting scopes as described here https://github.com/auth0/auth0-spa-js/issues/647 and it works well.

However, the scopes I require are different for different auth providers.

For example, for google I need the scope

`connection_scope: "https://www.googleapis.com/auth/calendar.events"`

But for AD I need

`connection_scope: "https://graph.microsoft.com/Calendars.Read"`

I'm adding the

[2021-07-05 09:14] #695 closed

[2021-07-05 09:24] stevehobbsdev commented on #755
@smogg If you're hitting that scenario, you should be able to use a leeway value so that if multiple tabs try to use the old token within that leeway, the token should still be exchanged. See the [Reuse Interval](https://auth0.com/docs/tokens/refresh-tokens/configure-refresh-token-rotation#configure-in-the-dashboard) setting when configuring refresh token rotation.

[2021-07-05 12:59] smogg commented on #755
@stevehobbsdev that setting also allows an attacker to reuse the token, which lessens the security of our system because of a bug in a single browser. I'd rather not change it for that reason.
Just so I understand correctly - the `web_message` fallback is not something that will happen in case of using Refresh Token Rotation?

[2021-07-05 21:22] stevehobbsdev commented on #755
Sure, just wanted to point it out as an option that is designed to resolve this specific question around concurrency, given that the size of leeway we're talking about will usually be very small (a few seconds), and only applies to the current and previous refresh token, not all refresh tokens.

Yes, it will happen in the case of using Refresh Token Rotation. If for example you have no refresh tok

[2021-07-07 18:48] joberdick commented on #753
@stevehobbsdev  thanks for the follow up. We have decided to change our strategy and rely more on login_hint, which does not have the same issue with re-authing to other IDP's unnecessarily. We have put in a feature request at the API level to assist in our goals in reducing prompt of UL. I will come back if we need to pick this back up. Thanks for your input.

[2021-07-07 18:48] #753 closed

[2021-07-09 00:12] Benzer1406 opened #763 "Cannot find name: AbortSignal"
I think there is a bug introduced since version 1.16.1 at least for TypeScript:
![image](https://user-images.githubusercontent.com/33852084/125005050-cb5b3d00-e028-11eb-927d-a31c56809ab9.png)

[2021-07-09 04:38] nickrm97 commented on #413
Thanks for this solution :) @qortex . Feel like I just went down the same rabbit hole of assuming it's fully supported, then running into lots of unclear errors :(

[2021-07-09 07:21] stevehobbsdev commented on #763
🤔 can you confirm that it works previous to 1.16.1? Which browser are you seeing this in?

[2021-07-09 08:19] stevehobbsdev commented on #756
Hi @patrickcorrigan,

This issue is really to do with Auth0 Server I'm afraid. This SDK does nothing to process `connection_scope` at all and simply passes it along in the request to the Universal Login Page.

I would encourage you to raise this in our [Auth0 Community forums](https://community.auth0.com) to see if you can get help from one of our experts there. Also have you tried just passing bo

[2021-07-09 08:19] #756 closed

[2021-07-22 11:52] stevehobbsdev commented on #763
I'm unable to reproduce this so far but if you have any more details that might help, please let me know.

This could also be environmental - are you using it within a TypeScript project that [does not specify the `dom` library](https://stackoverflow.com/questions/59859347/abortcontroller-missing-in-typescript)?

[2021-07-23 10:12] knuff3l opened #767 "Make '/authorize' endpoint configurable"
### Describe the problem you'd like to have solved

You always use the `/authorize` endpoint of the Authentication API to authenticate the user.
Our identity provider uses the endpoint `/auth`.
So we can't use your library.

### Describe the ideal solution

I think it would be easy to configure the authentication endpoint by some kind of options.

One step further:
If I'm right, every identity pro

[2021-07-23 11:31] stevehobbsdev commented on #767
HI @knuff3l, thanks for raising this. As this SDK is designed to give the best experience for Auth0 and is not a generic OIDC client, we align with Auth0's endpoint locations and do not offer the ability to customize it. We also do not integrate with our `.well-known` discovery document currently, although this occassionally gets discussed internally as an improvement we might make in the future -

[2021-07-23 11:31] #767 closed

[2021-07-23 11:40] stevehobbsdev commented on #755
Closing as the original question looks to be answerd. If there's anything additional we can do to help, please feel free to continue the conversation or open a fresh issue.

[2021-07-23 11:40] #755 closed

[2021-07-23 13:52] knuff3l commented on #767
I understand.
Thank you very much for your answer.

[2021-08-04 13:05] stevehobbsdev commented on #763
Closing this for now, but if you're still having trouble, please feel free to continue the conversation.

[2021-08-04 13:05] #763 closed

[2021-08-09 21:30] AndreCAndersen commented on #663
Just to be perfectly clear to anyone else looking for answers.

1) You need actually to login to: https://manage.auth0.com/

2) Navigate to "Universal Login" in the left menu.

3) Select the Login tab in the middle.

4) Then edit the HTML displayed inside the Auth0 dashboard, such that:

    var lock = new Auth0Lock(config.clientID, config.auth0Domain, {
        ...
        configurationBaseUrl: c

[2021-08-11 09:45] erlendp opened #776 "Different scopes for multiple APIs"
### Describe the problem you'd like to have solved

According to the official API documentation [Authentication API Explorer](https://auth0.com/docs/api/authentication?javascript&_ga=2.24713146.1275084142.1628640630-732235340.1628640630&_gl=1*5uhurx*rollup_ga*NzMyMjM1MzQwLjE2Mjg2NDA2MzA.*rollup_ga_F1G3E656YZ*MTYyODY3NDE3OS40LjEuMTYyODY3NDE4NS41NA..#refresh-token), we should be able to authorise wi

[2021-08-11 10:20] stevehobbsdev commented on #776
Thanks for raising this @erlendp. While this is supported in the `/oauth/token` endpoint as mentioned, it's not a scenario that's currently supported with the SDK; as you rightly point out, we're treating the scopes here as global and as a result you're not able to request a subset of scopes right at this moment.

We're currently evaluating feature requests across all our SDKs, and I will add this

[2021-08-12 09:50] erlendp opened #777 "Get token without popup?"
### Describe the problem you'd like to have solved

Authorizing via a popup is problematic, because many browsers will block popups that aren't user initiated. Additionally, popups are not particularly in-keeping with a modern SPA design, and can lead to a jarring experience.

### Describe the ideal solution

Ideally this library would support a way of doing interactive authorization without using

[2021-08-12 09:52] erlendp commented on #776
Thanks for your quick response. I may consider opening a PR for this at some stage, assuming you're open to accepting PR's from the public?

[2021-08-12 10:17] frederikprijck commented on #777
Thanks for reaching out. This actually is supported in our SDK.

I believe what you are looking for is `getTokenSilently`, which uses an iframe depending on your configuration. See https://auth0.github.io/auth0-spa-js/classes/auth0client.html#gettokensilently

[2021-08-12 10:36] stevehobbsdev commented on #776
Generally we do accept PRs from the public. However, for this particular issue we may prefer to implement this ourselves. It's something we've discussed off and on before and there are many caveats and edge cases to consider, particularly around caching.

We'll have a discussion internally and come back to you on it. If you need this in the meantime, feel free to fork and implement.

[2021-08-12 11:49] erlendp commented on #777
My understanding was that getTokenSilently requires third party cookie access in the case of falling back to an iframe. The problem with this is that we need to support browsers where this access is disabled (I.e. Safari).

[2021-08-12 11:58] frederikprijck commented on #777
I am not sure what difference such an iframe would make in terms of third-party cookies as opposed to the iframe we currently have. An overlay is supported by using the popup implementation.

If you want to support Safari (as well as any browser that in the future blocks third-party cookies), you basically can either use custom domains or ensure to use Rotating Refresh Tokens, as explained in the

[2021-08-12 20:05] erlendp commented on #777
The coca for getTokenSilently state:
[code]
If this is correct, it implies that when specifying an audience, the cookie will be used, regardless of whether refresh token rotation is used.

Having tested `refreshTokenWithPopup` with an audience, it appears to work in Safari, so I can only conclude that this function doesn't depend on the cookie.

If `refreshTokenWithPopup` can work with an overlay

[2021-08-13 08:17] frederikprijck commented on #777
I think the important part of the `getTokenSilently` documentation is this:

So if you use Refresh Tokens and Local Storage, and there is a valid Refresh Token in Local Storage, we will not be using an IFrame.

Code wise you can look at it here: https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L745

If you are using Refresh Tokens but have no Refresh Token, you can see the fall

[2021-08-13 09:11] frederikprijck commented on #777
I want to add onething more:

I believe that is inaccurate. It depends. If an audience is used that can not result in finding a corresponding Refresh Token, an IFrame will be used.

If you have the use case to use multiple audiences, I believe using Custom Domains is what you want for supporting Safari when using `getTokenSilently`.

[2021-08-19 12:17] edolganov commented on #305
It works for me! Thanks!

[2021-08-19 16:15] DShep68 opened #780 "Installation"
using both installation commands i am unable to install this package. using npm version 6.7.0 or yarn version 1.15.0

COMMAND
npm install  @auth0/auth0-spa-js
yarn add @auth0/auth0-spa-js

Error message
npm ERR! code E404
npm ERR! 404 Not Found - GET https://artifactory.psdops.com/api/npm/npm/@auth0%2fauth0-spa-js - not_found
npm ERR! 404
npm ERR! 404  '@auth0/auth0-spa-js@latest' is not in the np

[2021-08-19 16:42] adamjmcgrath commented on #780
Hi @DShep68

`npm i @auth0/auth0-spa-js --registry=https://artifactory.psdops.com/api/npm/npm` works for me.

Are you able to access `artifactory.psdops.com` from your terminal?

[code]

[2021-08-23 21:10] stevehobbsdev commented on #780
@DShep68 This looks to be a local environment issue rather than anything to do with the SDK, so I will close this for now. However, please feel free to continue the conversation if you need further help.

[2021-08-23 21:10] #780 closed

[2021-08-25 08:56] stevehobbsdev commented on #777
Closing as this looks to be answered. @erlendp feel free to continue the conversation if we can help further.

[2021-08-25 08:56] #777 closed

[2021-08-31 19:09] kennaku1 commented on #703
This issue needs to be fixed by Auth0 if they want customers who have WASM-enabled applications.
Many of these applications need to use SharedArrayBuffer's which are now only available when headers are added to your page:

Cross-Origin-Embedder-Policy: require-corp
Cross-Origin-Opener-Policy: same-origin

**Starting from Chrome version 88 enabling these headers and using auth0 won't work.**

https

[2021-08-31 19:12] stevehobbsdev commented on #703
Thanks @kennaku1. It's on my plate to resolve within the next couple of weeks - stay tuned!

[2021-09-01 18:44] holub008 opened #784 "getTokenWithPopup Failure: TypeError: Cannot read property 'access_token' of undefined"
### Describe the problem
When calling `Auth0Client`'s `getTokenWithPopup` method, we are encountering the following error infrequently across users but consistently within users:

`TypeError: Cannot read property 'access_token' of undefined`

Logs on Auth0 show that the user was successfully logged in, but on the browser, it's a failed login, and I believe we have no recourse.

### What was the ex

[2021-09-02 15:57] holub008 commented on #784
Upon forking this repository and adding a lot of logging, we've discovered that the access token was expired on arrival at the client. This was due to a client with a wandering system clock (off by 45 seconds or so). We resolved by increasing the ID Token expiry setting (and asking the user to sync their clock).

I'm not sure how common this scenario is, but hopefully this issue helps someone in t

[2021-09-02 16:13] stevehobbsdev commented on #784
Thanks for the feedback @holub008, we'd like to look into how to improve the debug experience. Some of it is tricky as we tend to forward the responses we get from the server. A good debug tool to use is the [Auth0 Logs](https://manage.auth0.com/#/logs) tool in the dashboard which can often provide insight into what's going on. And you're right, trying to cater to the myriad of problems we might e

[2021-09-02 16:13] #784 closed

[2021-09-08 20:18] #703 closed

[2021-09-23 06:50] flunderpero opened #805 "The operation is insecure"
### Describe the problem

Some customers of ours report the error above. It seems to happen when trying to remove things from SessionStorage.

Would it be possible to make the use of SessionStorage optional, i.e. surround each call to it with a try / catch and ignore errors?

### Reproduction

We cannot reproduce this error, it just happen in production from time to time.

### Environment

- **Ver

[2021-09-23 08:44] stevehobbsdev commented on #805
If you are seeing issues related to session storage, it's to do with our internal transaction management that is used when logging in. You can switch to using cookies instead by setting `useCookiesForTransactions: true` in the SDK config ([docs](https://auth0.github.io/auth0-spa-js/interfaces/auth0clientoptions.html#usecookiesfortransactions)).

Is that something you're able to try and see if it r

[2021-09-23 09:30] flunderpero commented on #805
I will give cookies a try here after thoroughly going through the implications, thanks for the pointer.

[2021-09-23 09:52] stevehobbsdev commented on #805
No worries. As your issue appears infrequently, I'll close this for now but if it turns out that there is more investigation to undertake, please reply here or raise a new issue and we'll take a look.

Thanks

[2021-09-23 09:53] #805 closed

[2021-09-24 07:58] #710 closed

[2021-09-27 14:06] #650 closed

[2021-09-29 01:02] hle-skillz opened #807 "handleRedirectCallback still requires nonce"
### Describe the problem
#678 attempts to make the `nonce` optional as it is possibly redundant when a PKCE `code_verififer` is present.  However, the nonce is still checked if it's present in the TransactionManager:
https://github.com/auth0/auth0-spa-js/blob/4c0c755c51781ed8da7cd43b0f33da1c9166b963/src/Auth0Client.ts#L658-L662

and the authorize flow unconditionally generates the PKCE *AND* the n

[2021-09-29 02:49] triorcs opened #808 "Update token for local storage"
### Describe the problem you'd like to have solved

After users sign up, we would like to skip login process and auto log them in.

### Describe the ideal solution

Our backend will login user in via the auth0 api and return the access token, id token, refresh token to FE.
Now, if the package can provide a function to add/update these information above into local storage that will be perfact.

##

[2021-09-29 07:23] frederikprijck commented on #808
Hey @triorcs ,

Can you elaborate a bit on your situation? What are you using this SDK for ?

You are saying your backend will call Auth0 to log the user in, the Auth0-SPA-JS SDK is designed to call Auth0 from the frontend.
When doing so, our SDK will be responsible for retrieving as well as storing the tokens.

When you get the tokens from your backend and send them to the frontend, there is litt

[2021-09-29 11:28] triorcs commented on #808
Hey @frederikprijck ,

We are using SDK to login user via loginWithRedirect and check user token status through getTokenSilently for FE.

And we have another follow for user sign up. once user signed up, rather than asking them login through login follow, we would like backend to login user in after create user.
So now the backend calling auth0 nuget package received user login token and return to

[2021-09-29 11:51] stevehobbsdev commented on #808
Hi @triorcs,

We don't plan to add the facility to accept tokens from outside, as the SDK is designed to do all this work for you. If you want to manage all this yourself, then as @frederikprijck mentioned there's little point in using this SDK. You may be better off using [Auth0.js](https://github.com/auth0/auth0.js) where there is no token management, and it is totally up to you as to how that w

[2021-09-29 11:51] #808 closed

[2021-09-29 12:15] stevehobbsdev commented on #807
Hi @hle-skillz,

The SDK makes no claim to work with just any authentication provider and as the name suggests, is mostly designed to work with Auth0. Also, #678 is not an attempt to make `nonce` optional, it was just removing a check that was not necessary and causing issues in some circumstances. As you say, the SDK continues to always generate a nonce, and is validated when it returns in the ID

[2021-09-29 12:15] #807 closed

[2021-09-29 16:49] hle-skillz commented on #807
@stevehobbsdev any chance we could get a backwards-compatible prop / option `useNonce=true` that can be overridden for use with a non-Auth0 IdP?

[2021-09-30 00:29] gallivantor commented on #808
@stevehobbsdev  the scenario here is that we want the SDK to do all the work for us, and it is doing that just fine for logging in existing users and maintaining their tokens.

HOWEVER, we cannot use Auth0's built-in Signup flow for new users due to business requirements so we have our own custom signup flow, all we want to do is integrate our custom signup flow with the SDK so that once a new use

[2021-09-30 08:15] stevehobbsdev commented on #807
As long as the primary use case is to support another IdP, it's highly unlikely to be prioritised. As it is at the moment, it's causing no issues for Auth0 users and at best is a potentially redundant but innocuous check.

As I said though, even without this check you may run into issues depending on the IdP being used, and we'd likely need to add other affordances to work better with other IdPs.

[2021-10-01 08:41] stevehobbsdev commented on #776
Hi @erlendp,

We've had a discussion about this internally and decided that we will go ahead and implement this. I don't have a timescale for you at the moment but it's been moved to our internal backlog for action.

I'll close this for now but feel free to catch up with us about this here. I'll also make sure to tag the issue in the resulting PR for visibility.

[2021-10-01 08:41] #776 closed

[2021-10-01 21:31] troyblank opened #810 "timeout error when using getTokenSilently and user is not authenticated"
### Describe the problem

When using `getTokenSilently` the promise will take whatever time is set with `timeoutInSeconds` and then give the error `"timeout"` when the user does not have a valid token. This is not ideal because I do not want the user to wait a long time before I can determine they do not have a valid token and send them to the login page.

### What was the expected behavior?

For

[2021-10-04 10:55] stevehobbsdev commented on #810
Hi @troyblank,

This is _usually_ down to some misconfiguration on the Auth0 app side. Does [this FAQ item](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize) help you any?

[2021-10-04 13:58] troyblank commented on #810
@stevehobbsdev ,

Thanks for the information but unfortunately I don't think my issue is with the `Auth0Client`. I did double check everything in the FAQ and I appear to be in the green in that regard.

So to demonstrate where everything is breaking down here is a modification to my original example with a few "timestamped" logs that show `Auth0Client` is always fetched quickly but the `getTokenSi

[2021-10-04 14:44] troyblank commented on #810
Also if it helps here is the response I am getting back from `/authorize` as soon as `getTokenSilently` is called.

[code]

It usually takes less than a second for me. What is strange is this response does nothing for the `getTokenSilently` promise. I figured as soon as `/authorize` gets a response so should `getTokenSIlently`.

[2021-10-05 09:19] stevehobbsdev commented on #810
Thanks @troyblank. This is definitely not normal and I'm unable to reproduce it with my tenant and the playground. You mention it's unreprodible there, but you can configure the switches at the bottom - if you turn off "Use Auth0Client Constructor", then `createAuth0Client` will be called and then you can press the "Get Token" button to call `getTokenSilently`. What _should_ happen is that the cal

[2021-10-05 14:12] #715 closed

[2021-10-05 14:17] troyblank commented on #810
@stevehobbsdev Thanks for these insights. I tried the commented suggestions but still get the `timeout`.

I think I am closer at figuring out why this timesout. My understanding of how `getTokenSilently` is probably way off. I assumed when `/authorize` returned a status the`getTokenSilently` promise would also respond. But looking at [this line inside `@auth0/auth0-spa-js`](https://github.com/auth

[2021-10-05 14:37] stevehobbsdev commented on #810
Unfortunately, the `web_message` flow (which is what it's doing by default when you call `getTokenSilently`) relies on Auth0 server returning an HTML page that contains some code that calls `postMessage`, which the SDK responds to. The timeout is there in the event that Auth0 returns something (like an error page) that doesn't invoke the right thing. This happens to be the case when your Auth0 ten

[2021-10-05 15:00] troyblank commented on #810
As stated in my first post the playground will never hit this error because before it calls `getTokenSilently` it does this check and thus `getTokenSilently` is never called without already having authentication:
[code]

My issue is `getTokenSilently` times out when there IS NO token or authentication.
It is possible (and I would bet) that removing this check and a few other modifications will sho

[2021-10-05 16:00] stevehobbsdev commented on #810
I feel like we're going around in circles - I mentioned that with the playground, you're able to actually hit a button that explicitly calls `getTokenSilently` and you can do this without being logged in, as shown in the video. `getTokenSilently` itself does not check for this cookie.

I do apologise if I'm missing something but I'm not sure how to explain it any clearer.

I've removed the check i

[2021-10-05 18:50] troyblank commented on #810
My apologies I do see `getTokenSilently` running per your video. The playground might be a bit to dense for me to figure out what Is going wrong on my end, and I am struggling to see a 1 to 1 ratio of `getTokenSIlently` in the playground to the one I am hitting while developing.

Here is a repo with an example
https://github.com/troyblank/getTokenSilently

If you run this project you will see it t

[2021-10-05 19:29] stevehobbsdev commented on #810
No worries, we'll get to the bottom of it 💪🏻

Really the scenario we're testing is being able to call `getTokenSilently` when the user is not logged in, I think that's what the problem reduces to here. And you should 100% be able to do that.

I've checked out the sample and recorded a debug session. I did hit a timeout error initially when I loaded it, and it was because the client that it's confi

[2021-10-05 20:23] #810 closed

[2021-10-05 20:35] stevehobbsdev commented on #810
Great! Glad you've managed to resolve it. I definitely agree it can be improved upon, with this particular thing we're kind of at the whim of what the server is returning to us but I'll take that feedback on board and see what we can do 👍🏻

[2021-10-06 09:49] stevehobbsdev commented on #810
I'll borrow this one from [nextjs-auth0](https://github.com/auth0/nextjs-auth0) and tweak it a bit 👍🏻

[2021-10-07 19:23] bfricka opened #813 "Expose hasRefreshToken() or similar"
### Describe the problem you'd like to have solved

Currently there's no way to tell if there's a refresh token in cache without providing a custom cache to the Auth0Client (essentially man-in-the-middle the cache). `isAuthenticated` is just a boolean cast `decodedToken.user`, and since this the cache entry gets hollowed out other than the refresh token, and since there are no other methods to ins

[2021-10-14 20:46] mcummings-evive opened #817 "Incorrect typing for getTokenSilently method"
The typing is incorrect for the getTokenSilently method in \src\Auth0Client.ts line 753

The type should be `Promise<any>` (or something else, definitely not string) not `Promise<string>`

Current typing

[code]

Correct typing
[code]

[2021-10-14 23:55] #813 closed, assigned to nobody

[2021-10-15 00:07] bfricka commented on #817
Seems correct to me. If you don't ignore cache it'll return the entry if it finds one in the cache and it'll either be string or details based on options. If it doesn't find a cache entry it'll try to get a token using refresh token or iframe, depending on options. And it'll return either the auth token `string`, or `GetTokenSilentlyVerboseResponse`. That's all it can return as far as I can see. O

[2021-10-15 07:14] frederikprijck commented on #817
Thanks for reaching out.
I think `any` is never something to be considered as correct.

However, as pointed out by @bfricka , the typings look correct to me.

The method has always only resolved with a **string** only. As of v1.19.0 it can also resolve using `GetTokenSilentlyVerboseResponse`, as indicated by the types.

[code]

Closing this, but feel free to continue the conversation if you believ

[2021-10-15 07:14] #817 closed, assigned to nobody

[2021-10-15 14:28] nseb opened #818 "logout"
Hello , In Hybrid App , window.location it's not a good best practice.

in the logout function it is hardcoded,
If we want to make the call with the url created by buildLogoutUrl, we can't empty the cache because we don't have access to it.
You should create a handleRedirectLogoutCallback to empty the cache in the event that we ourselves call the buildLogoutUrl

Best Regards

[2021-10-15 14:29] stevehobbsdev commented on #818
Hi @nseb,

You're able to call `logout({ localOnly: true })` to effectively empty the cache without performing the redirect, in the event that you want to use `buildLogoutUrl` yourself. Does this help?

[2021-10-15 14:48] nseb commented on #818
@stevehobbsdev Thanks,
I did not understand this while reading in the doc, my fault sorry, thanks for the answer.

FYI with Capacitor I Do that :
    await this.$auth0Client.logout({ localOnly: true })
    let returnTo = this.buildAuth0UrlRedirect(Capacitor.isNativePlatform() ? '/logout/callback' : '/')
    let auth0Url = await this.$auth0Client.buildLogoutUrl({returnTo: returnTo})
    if (Capacit

[2021-10-16 06:12] ranjan-purbey opened #819 "Session lost on page reload in "private browsing" mode"
### Describe the problem

`Auth0Client` currently depends on `isAuthenticatedCookieName` cookie to maintain sessions. This cookie is set by `handleRedirectCallback` or `loginWithPopup` methods and is used by `checkSession` to determine whether a user is already authenticated. Only if this cookie is set to `true`, a token request is sent to Auth0 servers. Note that this cookie is set by JavaScript

[2021-10-18 14:42] RichGuk opened #822 "Malformed access_token when not specifying audience"
I'm unsure if this is a misconfiguration within my tenant, an actual problem, or just some information missing from the docs. I may just not be understanding how OAuth works.

I'm using the `Auth0Client` and `getTokenSilently()`. I followed [these docs](https://auth0.com/docs/libraries/auth0-single-page-app-sdk) and did something like this:

[code]
The docs mention nothing about adding `audience`

[2021-10-19 08:26] Hawxy opened #823 "Scopes are unavailable in detailed response after initial login"
### Describe the problem
I was previously using `jwtdecode` to spit out the scopes within my SPA, as I have a route guard that consumes them to check access to specific pages. I noticed that support for a detailed response was added, and thus decided to move over to it, however I'm running into a problem where the scopes are not returned immediately after login.

![image](https://user-images.githu

[2021-10-19 09:00] stevehobbsdev commented on #823
Thanks @Hawxy. When requesting the detailed response, we should just be forwarding the scopes as returned from the token endpoint to you. Are you saying that scopes are present in the response from `/oauth/token` (if you inspect the network tab) but not present in the object we return from `getTokenSilently`?

[2021-10-19 09:21] #822 closed, assigned to nobody

[2021-10-19 15:12] stevehobbsdev commented on #823
Ok I can see what's happening, getting the cached entry only takes into consideration the `oauthTokenScope` property for a detailed response but this property doesn't get written when redirecting back from auth.

There's a couple of ways we could solve this, will raise a PR 👍🏻

[2021-10-20 13:22] #823 closed, assigned to nobody

[2021-10-22 15:07] hotcakedev628 opened #826 "loginWithRedirect not working"
### Describe the problem

I am trying to migrate loginWithPopup over to loginWithRedirect, but it is not working as expected.

I have a login button in a kind of login page, the button calls `loginWithRedirect` function through React Context API.
It redirects to the Auth0 universal login page, but after filling email and password, and then clicking login button in the universal login page, it does

[2021-10-22 16:20] #826 closed, assigned to nobody

[2021-10-28 18:49] NiroshanP opened #828 "After successful user sign-in, Auth0Client.isAuthenticated() returns as false when refresh the page(With MFA enabled)"
After successfully sign-in in to the site, When the user refreshes the page (by clicking F5), auth0Client.isAuthenticated() returns false. This issue observes when MFA is enabled. When MFA is disabled, the user gets isAuthenticated() as true when refreshing the page.

If the user is already sign-in, regardless of MFA enable/disabled user should get the appropriate authentication status. In this ca

[2021-10-30 14:21] ranjan-purbey commented on #819
Thanks @stevehobbsdev! You're right, we can directly call `getTokenSilently` to fetch session info from Auth0 servers. However, I think if someone follows the docs it might come as a surprise to them when `checkSession` doesn't work in private browsing mode. Probably we can add this caveat as a note in the docs?

[2021-10-31 20:33] camden-brown opened #829 "getTokenSilently return type"
### Describe the problem

With the recent version updates `getTokenSilently` is typed to return `GetTokenSilentlyVerboseResponse`. However, it can return `string` or `GetTokenSilentlyVerboseResponse`. It only returns `GetTokenSilentlyVerboseResponse` when `{ detailedResponse: true }` is passed to  `getTokenSilently`.

### What was the expected behavior?
For the return type of `getTokenSilently` to

[2021-11-02 14:37] stevehobbsdev commented on #829
Thanks for raising @camden-brown. Are you reporting an actual issue here?

The API isn't ideal and I would be looking to refactor this out when we do a new major version of the library. This was a compromise to satisfy a feature request whilst also providing backwards compatibility.

[2021-11-02 15:07] camden-brown commented on #829
I just wanted to bring it to the team's attention. When updating to recent versions I just had to do some debugging to figure out how it was really suppose to work.

Low priority

[2021-11-03 21:49] stevehobbsdev commented on #819
Sure, let me take a look at what we have now and see if we can make this clearer 👍🏻

[2021-11-03 21:51] stevehobbsdev commented on #829
Thanks @camden-brown - it's on our list to improve :)

[2021-11-03 21:51] #829 closed

[2021-11-05 09:23] matteobad opened #831 "Add support to run SDK in service-worker of a Chrome Extension"
### Describe the problem you'd like to have solved

We are trying to use this SDK inside a chrome extension. Since the Manifest v3 of the Chrome Extensions, all the code run in the `background.js` script that is a  service-worker. The problem we are facing is that the SDK makes use of `es-cookies` library witch internally accesses the `document` object that is undefined on the chrome-extension con

[2021-11-05 10:37] stevehobbsdev commented on #831
Thanks for raising this feature request @matteobad 🎉  As you say, there are a few dependencies that could get in the way here so it's not a small undertaking, nor can I say right now whether we will or will not support this. However, we have an internal tracker for feature requests, to which I will add this one for us to investigate.

I don't have a timeline for when that will happen, but as soon

[2021-11-05 16:09] #819 closed

[2021-11-06 13:53] klaascuvelier opened #833 "User email_verified type as boolean but returned value is a string"
### Describe the problem
The type for the `email_verified` property on the `User` class is typed as a `boolean` but the actual returned value on the `user$` object of the `AuthService` in the `@auth0/auth0-angular` package is a `string` (see included screenshot)
https://github.com/auth0/auth0-spa-js/blob/3ec6763f48a9a15b07962ef80abbc0dd3ca67c30/src/global.ts#L571

<img width="606" alt="Screenshot

[2021-11-07 04:07] based64-eth opened #834 "Missing dependency"
### Describe the problem

Getting this error when doing `yarn install @auth0/auth0-spa-js` and the package fails to install:
![Screenshot](https://user-images.githubusercontent.com/90023181/140631921-6e561039-4d62-4e62-a943-75d1d9e47bd0.jpg)

### What was the expected behavior?

Package should install successfully.

### Reproduction

- Run `yarn add @auth0/auth0-spa-js`

**Can the behavior be repr

[2021-11-08 08:12] frederikprijck commented on #833
Hi @klaascuvelier,

Could you give us a better understanding of where you are seeing this exactly?

I looked into this by using our SDK's playground app:

- git clone this SDK repo
- npm install
- npm start
- click login with redirect
- click login redirect callback

This is what I get:

![image](https://user-images.githubusercontent.com/2146903/140705578-1caef6db-e789-4177-b53b-88115681cc11.png)

[2021-11-08 08:19] frederikprijck commented on #834
Hi,

I tried installing our SDK using yarn and it works fine for me:

![image](https://user-images.githubusercontent.com/2146903/140707229-d1718cb5-08b7-40a0-b067-cb3de33e9e02.png)

Could it be the case that something else is causing this?
Could you try installing the SDK in a new folder?

Thanks.

[2021-11-08 09:14] klaascuvelier commented on #833
Hey @frederikprijck, thanks for looking into this so quickly.
The issue for me occurs using the angular sdk, not sure if that changes anything (I would expect not).

I tried setting up a quick [reproduction app in stackblitz](https://twitter.com/klaascuvelier/status/1457626236814073859) but ngcc failed so I created [this small repo on Github](insteadhttps://github.com/klaascuvelier/repro-auth0-typ

[2021-11-08 09:28] frederikprijck commented on #833
Hey @klaascuvelier ,

Running your sample app also shows a boolean for me... Do you have any rules set or any other tenant configuration that could be important for the reproduction?

![image](https://user-images.githubusercontent.com/2146903/140717113-bca7798a-7ec5-4766-91f8-6df4f488aada.png)

[2021-11-08 09:36] klaascuvelier commented on #833
I am using the Apple login, currently with the Auth0 test credentials.
I quickly checked and when I manually decode the token result the `email_verified` property there is also a string.
Maybe something wrong/different with the Apple login code in the backend?

[2021-11-08 09:40] frederikprijck commented on #833
Thanks for checking, will have a conversation internally to see if this should be reflected in the types or to be considered an issue with the Apple integration.

[2021-11-08 09:57] frederikprijck commented on #833
Sharing here for reference, but it looks like this is how apple implemented their `email_verified` field: https://developer.apple.com/forums/thread/121411

[2021-11-09 16:57] stevehobbsdev commented on #834
This doesn't appear to be a dependency of ours, running `yarn why Asaps` returns no results. The package is also not available [on NPM](https://npmjs.org/package/Asaps).

This looks to be something else within your app. Closing for now, but happy to continue the conversation if that turns out not to be the case.

[2021-11-09 16:57] #834 closed

[2021-11-10 20:57] Abildtoft commented on #583
Has there been any progress on this? I'm also seeing the timeout error...

[2021-11-11 11:24] stevehobbsdev commented on #828
Thanks for your patience here @NiroshanP. I've had a look into this and unfortunately the behaviour you're seeing is expected. We're kind of at the whim of the server here so, directly relating to this SDK there's not too much we can do (but read on).

By default the SDK performs silent auth by using an iframe and the `response_mode=web_message` flow, which relies on the user's Auth0 session. It's

[2021-11-11 12:49] NiroshanP commented on #828
Thanks for the update @stevehobbsdev, We were able to overcome this issue by adding MFA with rules. we do bypass the MFA by adding the following logic to the rule. can't we allow a similar kind of thing as an optional param to SDK ?

if (context.request.query.prompt !== 'none' )

[2021-11-11 12:54] stevehobbsdev commented on #828
Unless I misunderstood the question, you are already able to pass through custom parameters for the purpose of picking them up in a Rule and performing some custom logic. Does this help?

[2021-11-11 19:30] demvin opened #836 "If providing a nowProvider during client creation, the value/function is being encoded in calls to the /authorize endpoint"
### Describe the problem

The recently added nowProvider parameter to Auth0ClientOptions is wrongly being encoded and sent as a url query parameter to the /authorize endpoint.  If an Auth0 tenant is fronted by Akamai, then Akamai rejects/403s the request (possible attack detection).

The culprit seems to be the utils.ts::createQueryParams function receiving the nowProvider parameter from upstream

[2021-11-11 20:07] stevehobbsdev commented on #836
Thanks for raising. Indeed, this should be filtered out. I'll raise a PR 👍

[2021-11-13 20:03] 6peterlu opened #838 "getTokenSilently returns access token with not enough segments"
### Describe the problem

When I call `auth0Client.getTokenSilently()`, I get back a JWT that causes a "not enough segments" error on my flask backend (I'm using `flask_jwt_extended` to decode the token with the RS256 algorithm).

### What was the expected behavior?

I expect the token to have the correct number of segments.

### Reproduction
[code]

### Environment

- **Version of `auth0-spa-js`

[2021-11-14 03:45] 6peterlu commented on #838
I fixed this by not passing token through `btoa` before adding it to the authorization header!

[2021-11-14 03:45] #838 closed

[2021-11-15 12:36] #828 closed

[2021-11-16 16:36] #836 closed

[2021-11-17 21:37] NiroshanP commented on #828
Actually what I meant is, instead of using the following logic in the rule, can we have the same option in the SDK by passing some param. (e.g. option='none')

if (context.request.query.prompt !== 'none' )

[2021-11-24 09:54] yk-eukarya opened #845 "Configurable logout endpoint URL"
### Describe the problem you'd like to have solved

We are using this lib with another auth provider rather than the auth0, everything is is ok except the logout functionality, the problem is the logout endpoint URL `/v2/logout` is hard coded and we need to change it.

### Describe the ideal solution

Make the logout endpoint URL configurable instead of [hard coded one](https://github.com/auth0/au

[2021-11-24 13:40] stevehobbsdev commented on #845
@yk-eukarya can you let us know your use case? Not sure if it's intended but you have not left any information on this issue for us to work with or comment on.

We do not currently allow the logout URL to be configured as the library is designed to work with Auth0's endpoints, but curious to hear the reason as to why you raised this issue.

[2021-11-24 16:08] yk-eukarya commented on #845
Our auth service provider provides the logout endpoint as `/api/logout` but the log out in this lib is `/v2/logout` so I could not make the logout functionality work.
if the library provides a configurable logout endpoint that will be great

[2021-11-24 16:24] stevehobbsdev commented on #845
Thanks for that context @yk-eukarya. As mentioned, we only support Auth0's endpoints with this library and so unfortunately we are unable to accommodate this request.

[2021-11-24 16:25] #845 closed

[2021-12-07 16:35] garfunkelvila opened #848 "Add an option to return use id_token instead of access token"
https://github.com/auth0/auth0-spa-js/blob/0c6166c0f1dd7c8405b7231d0074c1eb0d8a164f/src/Auth0Client.ts#L884

I am a newbie with auth0 and I am not to sure where to report it. Because I am using angular and @auth0/auth0-angular. But, server do not like the value of `authResult.access_token` and it responded with `Could not verify JWT: JWSError (CompactDecodeError Invalid number of parts: Expected 3

[2021-12-07 19:40] frederikprijck commented on #848
Hey,

Typically you shouldn't need to send the ID Token to any API, the ID Token is supposed to be used by the application (Angular in your case) only.

However, if u do need the ID Token, it is available as part of the `__raw ` claim, which u can retrieve by calling `getIdTokenClaims()` or use the `idTokenClaims$` observable in Angular.

That is the only way we are exposing the ID Token, as we be

[2021-12-07 19:40] #848 closed

[2021-12-14 14:39] Okyne opened #849 "State check causes failing Cypress tests"
### Describe the problem
I'm using auth0-spa for authentication purpose and I'm testing my application using Cypress. Until the last release `1.19.3` everything was fine, no issue concerning the login. I was running the `1.19.2` version. But since we upgraded to the latest version, all my automated tests are failing. The auth0-spa plugin does not handle redirect anymore. It seems to be an issue wi

[2021-12-14 23:27] stevehobbsdev commented on #849
You just need to store the state value inside your transaction data in a `state` property, as this is what is compared when handling the redirect.

Can you try this and let me know how you get on?

Having said that, the code is supposed to be resilient to the fact that there might not be any state in the transaction (for backwards compatibility), so I'm curious as to why this is breaking.

[2021-12-15 03:31] jakeFeldman opened #850 "compatibility with react 18"
### Describe the problem

I recently upgraded to the beta version react 18 and I started encountering an `Invalid authorization code` error. The function calls for `getUser` and `getTokenSilently` resolve and I receive a token.

The POST back to `https://<domain>.auth0.com/oauth/token` fails with a 403

Thanks in advance and let me know if more info is needed

[code]

### What was the expected beh

[2021-12-15 09:52] stevehobbsdev commented on #850
Thanks for the report. Typically we don't dive too deeply into issues with beta software, but I'll have a look at the repro you've kindly provided and see if I can see anything (thanks for that!)

[2021-12-15 10:56] stevehobbsdev commented on #850
I can see the issue occuring. The error is happening because `handleRedirectCallback` is being called twice - it fails on the second time because the code has already been exchanged (you can see these two transactions happening in the network log). If I reinstate the old code that works, `handleRedirectCallback` is only called once.

So something about the component render code or the clearing of

[2021-12-15 10:56] #850 closed

[2021-12-15 18:08] jakeFeldman commented on #850
@stevehobbsdev Thank you for taking a look at this. That makes sense. I believe React.StrictMode renders components twice (i.e. calls useEffect twice). Thanks for identifying that `handleRedirectCallback` should only be called once. This makes sense!

[2021-12-30 10:25] alex-sl-eng opened #852 "Multiple errors with `strict` turned on in typescript project"
### Describe the problem

Most typescript project has `"strict": true` in tsconfig.json. This will fail in `auth0-spa-js` in multiple places where the typed is not being handled in the mode.

### What was the expected behavior?

No error when `"strict": true` is enabled in tsconfig.json

### Reproduction

1. Insert `"strict": true` into tsconfig.json under `compilerOptions`

[code]
2. Run `npm run

[2021-12-30 21:54] #852 closed

[2022-01-04 16:59] nader-fl opened #853 "Usage of fast-text-encoding causes potential encoding issues"
### Describe the problem you'd like to have solved

fast-text-encoding dependency does not support UTF encodings outside UTF-8, which causes potential problems with more modern dependencies or code that uses more modern encodings. The particular dependencies I've had run into the issue is @react-pdf/renderer, which needs UTF-16le, which is supported by major browsers but not by fast-text-encoding.

[2022-01-05 00:38] nickroyerUBC opened #854 "OrgID missing parameter should be a recoverable error in Check Session"
### Describe the problem

I believe this is the scenario:
When calling createAuth0Client it executes a getTokenSilently call as part of checksession which is currently throwing an error in the case where Organization wasn't set in the createAuth0Client and the cookie that is being stored with the org ID (a session cookie) is no longer valid however there exists a (non session cookie) logged in use

[2022-01-06 15:46] nader-fl commented on #853
I have attempted a simple fix: removing the fast-encoding dep from this project is enough to fix the issue (by defaulting to the node-provided text encoder)

this should be submitted asap as it's a trivial change and inconsequential from what I can tell

[2022-01-07 17:17] yeiniel opened #857 "Wrong getTokenSilently return type depending on cache state"
### Describe the problem

if Auth0Client.getTokenSilently() is called with { detailedResponse: true } first and later called without argument at that time an object is returned instead of a string. This is a bug according with the definition of the method in typescript. This is due to the fact that the cached value for the token depends on the argument of the function the first time is called.

##

[2022-01-07 17:25] yeiniel commented on #857
@auth0/auth0-angular is impacted by this bug at this line https://github.com/auth0/auth0-angular/blob/master/projects/auth0-angular/src/lib/auth.interceptor.ts#L97 . If https://github.com/auth0/auth0-angular/blob/master/projects/auth0-angular/src/lib/auth.service.ts#L200 is called before a protected API endpoint is requested.

[2022-01-10 15:16] stevehobbsdev commented on #849
Closing for now but happy to continue the discussion if you need further support.

[2022-01-10 15:16] #849 closed

[2022-01-10 15:29] stevehobbsdev commented on #853
Thanks for raising this @nader-fl. In this library, the only place we do text encoding is for the generation of SHA-256 strings, but I'm assuming that because it's a polyfill it's affecting other areas of your own app?

Is it not also the case that the [polyfill will defer to the native implementation](https://github.com/samthor/fast-text-encoding/blob/master/text.js#L27-L29) if one is available?

[2022-01-10 16:04] nader-fl commented on #853
I appreciate the response @stevehobbsdev !

I had not considered the implementation on multiple browsers! You are correct that I am running this in node. This problem does not happen within my browser, it only occurs within my node test harness. The problem being that the text encoder lib seems to share the name of the native text encoder, which ends up being used by other parts of the app, within

[2022-01-10 20:05] LucasLemanowicz opened #859 "Bundle size of auth0-spa-js is large"
### Describe the problem

I am using the auth0-react library, and it is by far the largest package in my front end JS bundle (sitting at 100kb / 31kb gzipped):

<img width="554" alt="Screen Shot 2022-01-09 at 5 03 45 PM" src="https://user-images.githubusercontent.com/361348/148830920-660123bb-3d43-4350-87a0-fe31e2c7c82f.png">

I filed a ticket there which was closed (https://github.com/auth0/auth0

[2022-01-14 11:49] stevehobbsdev commented on #853
Thanks @nader-fl. The primary use case of this SDK is in the browser so that's what we optimise for. We're looking at options as to how to provide a build that doesn't include all these polyfills but we're not quite there yet. Until then, although it's not ideal, your mocking solution sounds reasonable for the meantime.

[2022-01-14 11:49] #853 closed

[2022-01-14 14:46] #854 closed

[2022-01-14 14:53] frederikprijck commented on #833
I have raised this to the appropriate team internally, there isn't much we can do from the SDK perspective.
If this gets resolved, it should be correctly returning a boolean and no action from our SDK neither.

Closing this, but thank you for raising!

[2022-01-14 14:53] #833 closed

[2022-01-14 15:02] klaascuvelier commented on #833
I understand, thanks for keeping me up to date.
I'll work around it for now :)

[2022-01-14 15:49] stevehobbsdev commented on #857
👋🏻  Thanks for your patience here.

I'm unable to reproduce what you're seeing using the steps provided, are you able to provide a small repro that shows the issue?

Can you let me know what type of cache you're using (the in-memory default, or local storage)?

To show how I repro'd this, please checkout the [test/857 branch](https://github.com/auth0/auth0-spa-js/tree/test/857). I [added a test](h

[2022-01-14 15:53] stevehobbsdev commented on #859
Thanks for raising @LucasLemanowicz. You're right, it is large and we still have it on the roadmap to improve. In November I had [put some effort towards being able to put a slimmer, more modern build together](https://github.com/auth0/auth0-spa-js/tree/feat/modern-build) that didn't include all the polyfills and whatnot but it unfortunately succumbed to other priorities. However, I will reignite

[2022-01-15 00:08] yeiniel commented on #857
thank you for taking the time to look into this. i will check the playground and test case and come back to you once i have an answer

[2022-01-17 11:39] #859 closed

[2022-01-17 13:20] ronilitman commented on #567
@stevehobbsdev This issue still exists for me

[2022-01-18 21:30] oneillsp96 commented on #704
I think renaming it in the dashboard and the docs to "refresh token _**family**_ absolute lifetime" would be super helpful. Took me a long time to figure out this is how it worked.

[2022-01-19 03:23] yeiniel commented on #857
Well this is embarrassing. I downloaded the playground but was unable to reproduce the bug there. Additionally i created a project from scratch with minimal dependencies and i can't reproduce the bug there either. But i still can reproduce the bug on another repository with a lot of dependencies. So, weird. Feel free to close this issue. I will continue researching my problem, but probably is not

[2022-01-19 07:38] stevehobbsdev commented on #857
Let us know if you find anything further that we need to look into.

[2022-01-19 09:40] jlaasonen commented on #805
I have the same problem. Appears to happen consistently with Safari. I am using auth0-spa-js version 1.19.4. The cause is `sessionStorage.removeItem(key)` in `storage.ts` line 121: https://sentry.io/share/issue/dc8ca347149f445cb99a37478826eea5/

Using `useCookiesForTransactions: true` does not help. Unfortunately, I do not have a Mac and cannot debug further.

[2022-01-20 10:40] muralimaddu opened #866 "Logout request being cancelled by browser"
I'm testing a scenario my application needs that is when auth server throws unauthorized error redirect to unauthorized page.

I added below snippet in app.component.ts constructor in my Angular app, I'm able to capture the error thrown by auth server and logout is being triggered but observed that logout request is being cancelled by browser,

[code]
![image](https://user-images.githubusercontent

[2022-01-20 11:46] frederikprijck commented on #866
Could you expand the screenshot a bit so that it shows what is happening after the logout request is getting cancelled?

Thanks

[2022-01-20 16:19] muralimaddu commented on #866
ok, I'll raise it there.

Thanks.

[2022-01-20 16:19] #866 closed

[2022-01-27 15:07] henrymunro opened #871 "Allow timeout in handleRedirectCallback to be configurable"
### Describe the problem you'd like to have solved

We are using the `@auth0/auth0-react` package and are seeing quite a few `Timeout when executing 'fetch'` errors when the `handleRedirectCallback` is being called. We operate in some areas in Kenya and Ghana where network connectivity can be very patchy, it's not unheard of our users being degraded to slow 2G for periods of time.

In the `handleR

[2022-01-27 15:09] mmospanenko commented on #608
1.19.4 - 90.4K :'(

I want only login (get token) and logout functions, I don't want to bring everything to bundle. I hope it is possible to call http directly...

[2022-01-30 22:38] rrjohnson85 commented on #857
@stevehobbsdev  FWIW, I'm able to see the same behavior using the Angular library when multiple calls to `getTokenSilently` happen at roughly the same time but with different arguments.  Could this be due to the `singlePromise` key not taking the detailedResponse argument into consideration?

[2022-01-31 01:30] duvet86 opened #872 "iFrame to refresh token is blocked by cross-origin isolated policy"
### Describe the problem you'd like to have solved
Currently the `_getTokenFromIFrame ` method uses an iFrame to refresh the token. The iFrame is blocked by cross-origin isolated policy.
Update the iFrame to support cross-origin isolated policy.
See: https://web.dev/coop-coep/

### Describe the ideal solution
Ideal solution is to handle cross-origin isolated policy.

## Alternatives and current wo

[2022-01-31 10:23] duvet86 commented on #872
Please disregard. I had updated helmet js to the latest version and it now enforces cors isoled policy.
Reverting helmet to the previous version fixed the issue.

[2022-01-31 10:23] #872 closed

[2022-01-31 22:50] erlendp commented on #776
Hi there,

Just a quick follow-up to see if any progress has been made on this issue. Our company has begun development work to migrate our existing authentication + authorisation over to Auth0, so any update you can give would be helpful for planning our work stream. Cheers.

[2022-02-01 11:18] stevehobbsdev commented on #871
Thanks for this @henrymunro, I think it's a fair request. I've added it to our internal backlog, where we have a number of feature requests to go through and will be triaging these shortly. Will keep you posted.

[2022-02-02 13:39] AK-047 commented on #593
It's still not working with an iframe and blocked third-party cookies.
Is there any way to force client initialization to use memory storage or something else to avoid this issue?

[2022-02-02 23:50] Aaronius commented on #805
We also have the same issue. It's consistently reproducible in a Safari private window. The underlying problem is that even just checking the type of `sessionStorage`, as is being done in https://github.com/auth0/auth0-spa-js/blob/1390ff8c00790894978eb713a38deaac5ecfe235/src/storage.ts#L103, is enough for Safari to throw the error. The more bulletproof solution is to wrap `sessionStorage.getItem`

[2022-02-03 00:13] pjhul commented on #831
Hey @matteobad!

Not on the Auth0 team, but I recently ran into this same exact issue while working on my own Chrome extension, and decided to create a fork of auth0-spa-js that works in background scripts with MV3. It's still in pre-release and a bit buggy, but if you want to check out what I have so far I'd love to hear any feedback or issues you run into. Right now it supports basically all the

[2022-02-03 19:52] oneillsp96 commented on #213
We also need to support this feature, at least short term. Has there been any movement on this?

[2022-02-04 06:01] andrewrmiller commented on #213
I just worked with Auth0 support to get this working.  It looks something like this:

1. Enable IdP initiated in your enterprise connection (Accept Requests on the IdP Initiated tab)
2. In the Query String parameter on the same tab, use `https://YOUR_CALLBACK_URL?connection=YOUR_CONNECTION_NAME`.
3. In your callback page where you  normally call auth0-spa-js's `handleRedirectCallback`, check for a

[2022-02-04 06:33] oneillsp96 commented on #213
@andrewrmiller that makes sense except the last step. How do you feed the connection to loginWithRedirect, I don’t think loginWithRedirect takes “connection” as a parameter?

Are you sure this actually works, and it’s not just that your user already has an auth0 session+tokens when the idp launcher sends you to the app? For example does it still work if you clear cookies and localstorage and then

[2022-02-04 14:14] andrewrmiller commented on #213
[code]

[2022-02-04 14:56] andrewrmiller commented on #213
Looking for missing state is as per Auth0 tech support.  Guess you could probably look for `connection` in the qs as well.

[2022-02-11 16:09] #871 closed, assigned to nobody

[2022-02-11 16:20] nextlevel3 commented on #567
Did you find a resolution to this? We have the same issue on Mac.

[2022-02-18 09:53] Surmus opened #877 "Add option to disable sending "Auth0-Client" header"
Currently HTTP Header "Auth0-Client" is being sent with every token request.
I am using this library with another OAUTH provider and including this Header causes CORS preflight error.

I propose that you add option to disable sending this header.

[2022-02-18 10:21] frederikprijck commented on #877
This SDK is designed to be used with Auth0 specificly, this isn't a generic OIDC/OAuth2 library. There are certain internal things that are tied to Auth0 that might break with other providers.

On top of that, this header is very valuable for us to troubleshoot issues as it allows us to have a better insight into issues versus version being used.

Therefore, this isn't something we are considering

[2022-02-18 17:30] Lonli-Lokli opened #878 "Make raw id_token available for consumers"
### Describe the problem you'd like to have solved

I need to get access to raw id_token, in order to send it as Bearer token to API. Right now its not possible as it's store as private field in CacheManager which is not exported either as type or as accessable property.

### Describe the ideal solution

Have an ability to get raw id_token

[2022-02-18 19:11] #878 closed

[2022-02-18 19:44] Lonli-Lokli commented on #878
@frederikprijck Let me explain scenario when IdToken is required.

Assume we have role based auth on API, eg we assume that different users has different groups on IdP side, which are mapped internally on API side to different role inside API. So with IdToken we can extract their roles from IdToken and also validate token itself with IdP.

This scenario can be changed with access token itself via

[2022-02-18 20:02] frederikprijck commented on #878
@Lonli-Lokli With Auth0 you can use a custom Action to set the roles in the access token by copying them from the id token. Something along the lines of:

[code]
The above should give you an idea, but is probably not exactly what you need as I haven't tried it out.

Some more info regarding this:
- https://auth0.com/docs/customize/actions
- https://auth0.com/docs/customize/actions/flows-and-trigge

[2022-02-18 21:16] Lonli-Lokli commented on #878
@frederikprijck thanks I am aware of this, just don't think it's a good idea put business logic into auth provider

[2022-02-24 07:32] ntziolis opened #879 "Cache gets called with undefined key"
We have implemented the `ICache` interface based on the local storage version. The issue we ran into was that:
- At some point during the initialization the library makes a call to `cache.get` with `undefined` as a key value
- While the local storage handles this gracefully
- Our backing store threw an exception

It took us quite a while to track this down, while the eventual fix was easy. To prev

[2022-02-25 15:13] stevehobbsdev commented on #879
Thanks, I will take a look. I don't believe sending a key of `undefined` is the correct behaviour.

Was this a fix within your own app or did you identify a fix within the SDK? Did you happen to notice in your debugging how a key of `undefined` could have been sent?