[2019-10-31 19:58] franciscolourenco commented on #69
@stevehobbsdev I setup an example repo here. The apollo client and ecosystem assumes the token is stored in localStorage, and that it also doesn't expire.
Have a look at these lines:
- https://github.com/reproducing/auth0-apollo-client/blob/70be8927ced2d487d8b1b8009075312dd679beb9/src/vue-apollo.js#L44
- https://github.com/reproducing/auth0-apollo-client/blob/70be8927ced2d487d8b1b8009075312dd679be

[2019-11-01 16:29] ayamani opened #267 "Configurable Authorization endpoint"
The authorization server I'm using has its auth end-point set as /auth instead of /authorize.

I am not able to configure the auth end point as it's hard-coded in _authorizeUrl() [Auth0Client.ts]

I don't believe OAuth 2.0 specification mandates a specific path for the auth end-point, so it would be good if I could configure it accordingly.

[2019-11-01 18:24] sergew92 opened #268 "loginWithRedirect doesn't consider scope"
Hi everyone,
I've updated my project to Auth0-spa-js, great work guys ! It's simpler indeed !

Just one thing, I'm facing an issue on the "scope" option, passed to loginWithRedirect.
My goal is to pass the "w_member_social" scope on LinkedIn login (so as to allow content sharing).
I'm using the New Universal Login page.

Following this advice(https://community.auth0.com/t/new-universal-login-add-c

[2019-11-03 12:28] mkralik opened #269 "Having issues to make it working in Nuxt.js"
### Description

I have a Nuxt.js application and trying to make this plugin working there, but after two days of troubleshooting I could not figure it out. Not sure if it is not compatible with nuxt and I should look for different solution or I am just doing it wrong (I have rather limited knowledge of Vue/Nuxt).

**// plugins/auth0_spa.js**
`import Vue from "vue";`
`import createAuth0Client from

[2019-11-03 15:36] #269 closed

[2019-11-04 17:00] wang305305 opened #271 "restore auth state doesn't work in chrome but works in IE and firefox"
### Description

### Reproduction

the code for reproduction cannot be shared. But har files are provided.

[bnv_har.zip](https://github.com/auth0/auth0-spa-js/files/3805127/bnv_har.zip)

### Environment

- Version of this library used: "@auth0/auth0-spa-js": "^1.2.4"
- Version of the platform or framework used, if applicable: node v10.16.3; angular 7.2.8
- Other relevant versions (language, serve

[2019-11-05 08:49] stevehobbsdev commented on #271
@wang305305 Thanks for sending the HAR file over. `auth0-spa-js` is currently at version 1.5 - could you please upgrade and see if that fixes your issue first, before we go into debugging?

[2019-11-06 04:02] ShaneZhengNZ opened #272 "web app does not work after page refresh"
### Description

I know this has been reported a few times (#64, #209), but with the lastest auth0-spa.js (v1.5.0), my sample app still does not work after reload. Although I am still authenticated, the page stucks at 'loading...' for a long time before showing the correct home page.

### Reproduction

To replicate the issue:

1. Create a new React application by using create-react-app
2. Follow t

[2019-11-06 12:19] stevehobbsdev commented on #272
Hi @ShaneZhengNZ, we do recognise that the error reporting around this needs to be improved and I can assure you it's on our backlog. Having said that, what you're seeing is usually down to a configuration issue with the **Allowed Web Origins** setting in your Auth0 app dashboard.

Can you have a read of [this item in the FAQ](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-a

[2019-11-06 13:02] stevehobbsdev commented on #271
@wang305305 I've checked the HAR files out and they show that the right calls are being made. The important one is the `/authorize` call where a `prompt=none` param is being sent through the querystring. These are returning a 200 status.

Next thing to try is bringing the library up to date if possible, then we can take it from there.

[2019-11-06 13:32] stevehobbsdev commented on #268
Hi @sergew92, apologies for the wait. Let me look into this and get back to you.

[2019-11-06 13:35] stevehobbsdev commented on #240
Hi @bvamp, just wanted to come back and say that we're tracking this on our backlog - thanks for your patience!

[2019-11-06 16:01] wang305305 commented on #271
Hi I just updated auth0-spa-js to version 1.5 and the behavior is still the
same.

Steve Hobbs <notifications@github.com> 于2019年11月6日周三 上午8:02写道：

[2019-11-06 20:14] ShaneZhengNZ commented on #272
Hi @stevehobbsdev, you are right, **Allowed Web Origins** should be set to https://localhost:3000 in this case. I missed it.

I would suggest making those fields mandatory, just so that they are not missed. When the user is new to the Auth0 platform, it is too easier to make mistakes as I did, then wasted a few hours to find out whether they are bugs in our code or not.

[2019-11-06 20:14] #272 closed

[2019-11-06 20:35] stevehobbsdev commented on #272
Thanks for the suggestion @ShaneZhengNZ. Unfortuantely we can't make them mandatory as they're not needed in all cases. We try to outline these common problems in the FAQ though, and will continue to do so as these things come up.

[2019-11-07 03:27] austin43 opened #273 "Return auth URL for usage with manual browser redirects"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2019-11-07 06:50] redixhumayun commented on #153
Just commenting in to add that adding a leeway fixed my issue as well with a clients Windows 7 desktop.

Out of curiosity, what causes the system time to differ from the token generation server time? The time zone on the desktop computer was also set to IST +05:30, however I did notice that the time on this particular system was off by a minute.

[2019-11-07 15:20] Tazaf opened #274 "Trigger a refresh for the getUser method"
### Describe the problem you'd like to have solved

After users first logged into my app, they must complete their profile with some information. On Auth0, upon signup, I initialize every account with an `app_metadata` named `complete` with a value of `false`.

When a user complete their profile, the backend that recevies this completed profile sends a request to the Auth0 Management API to change

[2019-11-07 15:46] stevehobbsdev commented on #271
@wang305305 Hmm. The network trace looks good from the auth server point of view.

I know you can't share the code but is there anything you can tell me about how you're using the SDK? Also:

* Are you seeing the same issue with our [Angular sample](https://github.com/auth0-samples/auth0-angular-samples)?
* Are you getting any errors in the console or the Auth0 log dashboard that could help us pin

[2019-11-07 16:00] wang305305 commented on #271
Hi,
The angular sample has the same behavior.

this is what I get in the log. What I did is:
            firstly I login, and then I refresh the page, thenI click the
login button.

TypeDescriptionDate↓ConnectionApplication
Success Exchange
<https://manage.auth0.com/dashboard/us/dev-j2kin68i/logs/90020191107155415213000326140176286513883192790096019586>Authorization
Code for Access Tokena minute a

[2019-11-07 16:20] stevehobbsdev commented on #271
@wang305305 Can you confirm that you've entered a value into your **Allowed Web Origins** configuration setting for the Auth0 app you're using?

[2019-11-07 16:54] wang305305 commented on #271
Yes, if it's not set in Allowed Web Origin, it wouldn't work in firefox
either. BTW, here's the log for a successful silent auth in firefox:

{
  "date": "2019-11-07T16:02:25.694Z",
  "type": "ssa",
  "client_id": "23YfYSZt1p0735LLXvUQUaANbV9cAPeb",
  "client_name": "My App",
  "ip": "204.40.194.134",
  "user_agent": "Firefox 68.0.0 / Windows 10.0.0",
  "details": {
    "prompts": [],
    "complet

[2019-11-07 17:00] stevehobbsdev commented on #268
Hey @sergew92, instead of specifying the LinkedIn scope in the `scope` parameter, can you try using the `connection_scope` option? See [Add scopes/permissions to call Identity Provider's APIs](https://auth0.com/docs/connections/adding-scopes-for-an-external-idp#2-pass-scopes-to-authorize-endpoint)

[2019-11-07 17:59] austin43 commented on #273
@stevehobbsdev Is there some correspondence I can read about ionic/react with auth0? I've been having a hard time finding documentation as it's a very new platform.  I appreciate this being marked as a feature, but I am wondering if there's something simpler here that I'm missing where auth0-spa-js is supposed to work out of the box with ionic/react.

[2019-11-07 21:21] stevehobbsdev commented on #271
@wang305305 Thanks for the info.

Ok so you're getting a `login_required` error on refresh. This basically means that the Auth0 cookie that's tied to `dev-j2kin68i.auth0.com` is not being sent, so the authorization server thinks you don't have a session.

When you refresh the page, the SDK internally calls `getTokenSilently` on initialization to try and refresh your user session. It's this call th

[2019-11-07 21:29] stevehobbsdev commented on #273
@austin43 We do have a [quickstart for Ionic 4](https://auth0.com/docs/quickstart/native/ionic4) but it uses our previous SDK, [Auth0.js](https://github.com/auth0/auth0.js), rather than this one. It's not that Auth0.js is deprecated, but is a bit more involved to get things up and running.

If it helps, the [React quickstart](https://auth0.com/docs/quickstart/spa/react) also defines a React wrappe

[2019-11-07 22:24] sergew92 commented on #268
You're right @stevehobbsdev !!! thank you so much !!

[2019-11-07 22:24] #268 closed

[2019-11-07 22:28] austin43 commented on #273
@stevehobbsdev Thanks for clarifying.  Does this mean that even though auth0-spa-js uses PKCE, it's not necessarily a choice for hybrid web/native apps?  I think I assumed it was possible from my deep dives into other forums on the topic, but perhaps that was an incorrect assumption.

I am currently using the react quickstart with auth0-spa-js, and it has worked great for web, and it feels like th

[2019-11-07 22:54] stevehobbsdev commented on #273
@austin43 PKCE is definitely the preferred method for hybrid/native apps. I don't think adding something to allow you to get the URL as opposed to redirecting out on your behalf is out of the question and it'll be fairly simple to implement. If you'd like to have a crack at it, we'd welcome a PR. Otherwise, I can do this myself but unfortunately it's not a priority issue and will be prioritised as

[2019-11-08 00:14] austin43 commented on #273
@stevehobbsdev

i would be glad to take a shot at a PR. I’ll let you know where I end up with that.

[2019-11-08 00:18] austin43 commented on #273
@stevehobbsdev whoops, I meant this library not pkce. Is this library supposed to be used with ionic native apps at all, or is that not an intended use case?

I would be happy to take a shot at a PR. I’ll let you know where I end up with it.

As far as auth0-Cordova I may be able to swing that, but it’s not 1:1 since I’m using capacitor. I’ll look into it after I attempt a PR.

[2019-11-08 14:59] jgbpercy opened #275 "getTokenSilently Lock is not released on error"
### Description

Whenever `getTokenSilently` runs, the `GET_TOKEN_SILENTLY_LOCK_KEY` lock is acquired, which is then released before the function returns. However, the lock is not released if an error is thrown, which is a very common occurrence given that a `"login_required"` error is thrown within `runIframe` if the user does not have an SSO session.

Within our current app this causes a major i

[2019-11-08 15:24] stevehobbsdev commented on #275
Thanks for this detailed report @jgbpercy, looks like you're absolutely right!

[2019-11-08 19:42] stevehobbsdev commented on #267
Hi @ayamani, thanks for your patience. We've been discussing this internally and while it could be a useful feature, the library is primarily designed to work with Auth0's endpoints and spending effort to support other authorization servers in a generic way is not a priority for this library at this time.

[2019-11-08 19:42] #267 closed

[2019-11-08 19:48] stevehobbsdev commented on #274
@Tazaf Looking at the code, `getTokenSilently` does replace all the items in the cache with all the properties in the ID token. So, a couple of things:

* Which token type are you putting the `complete` claim into? ID token or access token?
* Have you confirmed that the token has `complete: true` in it and that the value is being updated correctly through the management API?
* Do you have HAR file

[2019-11-08 19:57] #275 closed

[2019-11-09 11:29] jgbpercy commented on #275
Thanks for the quick turnaround!

[2019-11-09 15:16] nkshah2 opened #278 "Important update in browser-tabs-lock"
### Description

Hi, I am one of the contributors of browser-tabs-lock. We noticed that you use our package in this project and just wanted to give you a heads up that version 1.1.x had this bug that resulted in locks not ensuring mutual exclusion in some cases. I can explain in detail if you like but the general explanation of what would happen is explained in our README.

The bug has been fixed

[2019-11-11 14:12] ionathanr commented on #245
Hi, i am using the Vue quickstart guide and i am still getting this error. Invalid state. Could anyone using Vue give some hints on how to overcome this?

[2019-11-11 15:09] patricknee commented on #274
I am having the same issue as @Tazaf.

A Rule adds Auth0 Core Roles to my user at login.

[code]
Programatically I am adding new roles to the user. In my SPA calling `getTokenSilently({ ignoreCache: true})` is NOT rerunning the rule and NOT picking up the new roles.

Am I doing something incorrectly?

[2019-11-11 21:06] stevehobbsdev commented on #274
@patricknee If you inspect the returned token after the call to `getTokenSilently` when you expect your rule to run, can you determine whether:

* The rule is being applied, the returned token has the new claim but the SDK isn't updating its cache
* The returned token doesn't contain the new claim at all

This will give us a clue as to where the problem lies.

[2019-11-12 09:06] Tazaf commented on #274
Hi, @stevehobbsdev

The claim is being added to the ID Token. Here's the rule code:

[code]

Yep, that behavior is confirmed. The call to the Management API does indeed update the profile, since the workflow works as expected upon app reload.

I... have to admit I have no idea what's an HAR file 😞

Anyway, I'll try ASAP what you asked @patricknee and come back with the results

[2019-11-12 10:52] stevehobbsdev commented on #274
Thanks @Tazaf. Bear in mind that `getTokenSilently` will just return the access token. So in your case you will want to examine the ID token, which you can get back using `(await auth0.getIdTokenClaims()).__raw`.

Just wanted to mention that in my own testing, these scenarios work. So I have a custom rule which applies a custom claim to my access token (or ID token, both work). I turn it off and c

[2019-11-13 01:42] bvamp commented on #240
@stevehobbsdev Thank you!

[2019-11-13 09:06] patricknee commented on #274
I am trying to rebuild a simple app replicating (or resolving) the problem.

I have forked the repository:

https://github.com/auth0-samples/auth0-angular-samples.git

to:

https://github.com/patricknee/auth0-angular-samples.git

The premise of the test is I will add a role to my user via the Auth0 Dashboard (in my application this occurs via the Management API), then push "Update Profile" button

[2019-11-13 10:11] stevehobbsdev commented on #274
Just to confirm, this is the block of code you're referring to with the line numbers?

[code]

I see on line 25 you're ignoring the cache there, so this should fetch the token from the server.

You can get this when something has changed in the scopes you're requesting from the authz server compared to the last time you logged in. To fix it, you need to go through an interactive login flow first,

[2019-11-13 12:10] #278 closed

[2019-11-13 12:22] patricknee commented on #274
Steve,

Looks like my line numbers were off by one. Maybe I deleted something before commit.

The ignoreCache call is triggering consent_required, but given that I logged in the application immediately before calling getTokenSilently$, it isn't clear where scopes are changing...

Are you seeing this error with the getTokenSilently({ignoreCache: true}) line?

Patrick

[2019-11-14 08:48] mvanderkroon opened #281 "Each pageview redirects to Auth0 and calls back"
### Description
I have implemented Auth0 authentication in my ReactJS app using `auth0-spa-js`, largely following the example on [auth0-react-samples](https://github.com/auth0-samples/auth0-react-samples/).

I would expect that after completing the initial authentication (using `loginWithRedirect`), subsequent pageviews wouldn't need to redirect to Auth0 but they do. Essentially each link (`Privat

[2019-11-14 09:07] patricknee commented on #274
@stevehobbsdev

From the logs, the failed call to `getTokenSilently$({ignoreCache:true})` has the same scopes as the successfully logged in user. See log and decoded token below. I don't think changing scope is the reason I am unable to call `getTokenSilently$({ignoreCache:true})` in the sample application.

Failed Silent Auth Log:

[code]

Decoded Token after successful login:

[code]

[2019-11-14 09:52] stevehobbsdev commented on #281
@mvanderkroon I think the key as to why the sample works is actually in the App.js file, in particular, [this line](https://github.com/auth0-samples/auth0-react-samples/blob/master/02-Calling-an-API/src/App.js#L25) which prevents the main app from rendering if `loading` is `false`. Properties like `isAuthenticated` and `user` will only have their true value if the library has finished initializing

[2019-11-14 12:07] mvanderkroon commented on #281
@stevehobbsdev  Thanks for the quick and thorough reply. I realise I did fail to mention that in my `App.js` I do in fact check the `loading` property:

[code]
A closer look reveals that indeed, the loading flag is `false` for the entire duration of the problematic redirect cycle.

[2019-11-14 12:18] stevehobbsdev commented on #281
@mvanderkroon Most odd, apologies for the misunderstanding. Do you have a repo of your app that you could share for me to have a look?

[2019-11-14 12:54] mvanderkroon commented on #281
@stevehobbsdev the repo is private, would you mind if I (temporarily) add you as a collaborator to the project so that you can have look?

[2019-11-14 13:16] stevehobbsdev commented on #281
@mvanderkroon That would be perfect - thanks!

[2019-11-14 13:44] mvanderkroon commented on #281
@stevehobbsdev I gave you access, it's in the ` feature/auth0-spa` branch

[2019-11-14 21:43] atombender opened #282 "redirect_uri is URI-encoded"
### Description

My code does something like this:

[code]

The `return` parameter is so that the `/logged-in` handler can know where to send the user back to, and `myparam=x` is necessary as part of our application.

But during the Auth0 flow, the browser is redirected back to the following URL:

[code]

Notice how in the `&myparam=x` part, the ampersand has been URI-encoded. This means I cannot

[2019-11-15 07:02] devuxer opened #283 "Auth0Client.getUser() should return Promise<Auth0UserProfile> not Promise<any>"
### Describe the problem you'd like to have solved

### Describe the ideal solution

## Alternatives and current work-arounds

[2019-11-15 14:05] stevehobbsdev commented on #282
Hey @atombender

You're right in that we do encode the outgoing parameters. However, the redirect will be actioned by the authorization server, which is where the decoding should happen before the redirect, and so this SDK has no opportunity to get involved with that.

Thus, could you redirect your question to out [Auth0 community site](https://community.auth0.com) where a member of the team will

[2019-11-15 14:07] stevehobbsdev commented on #283
One of the reasons we don't type this is because the user profile is pretty fluid; there might be other things in there (adding using the Rules feature, for example).

However, I agree that we could use generics here to configure what the return type is if you know what you're expecting back in terms of ID token claims. I will add that to our backlog for investigation - thanks!

[2019-11-15 14:07] #283 closed

[2019-11-15 17:49] devuxer commented on #283
Thanks @stevehobbsdev

I realize that several of the properties of the user profile would have to have `any` types, but typing the top-level properties would still be extremely helpful.

[2019-11-16 08:51] patricknee commented on #274
I am temporarily working around this problem by reloading the entire SPA, which correctly picks up the updated state (added roles, in my case) from Auth0 without forcing a new login.

However, I'm still unable to get this basic call working in the basic example application. Any idea why it is not working?

[2019-11-18 07:00] mvanderkroon commented on #281
@stevehobbsdev, no rush - just curious: any chance you had a look yet?

[2019-11-18 10:49] stevehobbsdev commented on #281
@mvanderkroon I haven't yet I'm afraid. I'm a little challenged for time today but I hope to have a look tomorrow for you.

[2019-11-18 10:52] stevehobbsdev commented on #274
Sounds like you've found something that will get you moving for now. I haven't had a chance to dive into this too deeply yet; I'm a little challenged for time today, but I hope to get a look at this tomorrow for you.

[2019-11-19 07:39] kevmodrome opened #284 "Problem with Firefox failing silent auth on refresh in Sapper (Svelte)"
### Description

I'm currently trying to implement this package with Svelte and Sapper and it's mostly working fine except in Firefox. I'm using Version 70 so the issue with replaceState should be resolved (I tested with the proposed solution as well).

After directing to the login screen and redirecting back to the site in question it works and I'm authenticated but if **I refresh the page it fai

[2019-11-19 10:06] jgbpercy commented on #275
Hi @stevehobbsdev - sorry to be a pain but any idea when there will be a release with this fix as it's a blocker for us updating?

[2019-11-19 10:50] stevehobbsdev commented on #275
@jgbpercy Look out for a release very shortly, I'm planning to do this today. Will report back once it's out!

[2019-11-19 13:19] stevehobbsdev commented on #284
Hey @kevmodrome, this usually occurs when the `auth0` cookie is being blocked, usually by software that intends to block third-party tracking cookies. You might find that if you try your scenario in Safari, it would be blocked there too thanks to their ITP2 feature.

Can you confirm if you have any addons or other software running that may be blocking this cookie?

As for a fix, we are working on

[2019-11-19 13:38] stevehobbsdev commented on #271
@wang305305 Closing this for now but if you feel there's still an issue, please continue the conversation.

[2019-11-19 13:38] #271 closed

[2019-11-19 16:58] stevehobbsdev commented on #281
@mvanderkroon I'm trying to have a look at the repository now but I get a 404 when trying to accept the invite.

[2019-11-19 20:18] devuxer opened #286 "user_metadata missing from user object"
### Description

I have a rule that sets a key in the user_metadata on login. This information is needed by the client. I have verified that the user_metadata was set correctly via the Auth0 dashboard. When I perform `auth0Client.getUser()` from the client, however, the user_metadata is undefined.

### Reproduction

1. Set user_metadata using Auth0 dashboard or via a rule.
2. Perform `auth0Client.

[2019-11-19 20:28] stevehobbsdev commented on #274
@patricknee I'm trying to replicate your issue, and I have uncovered a bug - which might be related - relating to specifying options to `getTokenSilently`. Because you've specified an options object, it causes the SDK to not send an audience value, meaning you don't get an access token in JWT format returned to you.

To rule it out in case this is affecting you, could you please manually specify t

[2019-11-20 09:59] stevehobbsdev commented on #275
@jgbpercy Snyk are having an issue at the moment which is preventing #285 from being merged. Sorry for the delay

[2019-11-20 15:44] kevmodrome commented on #284
Hi,

Yeah, I've tried all kinds of different things, nothing seems to help. Very odd!

That's great to hear, any idea when we can expect it?

[2019-11-20 20:25] june07 commented on #284
@kevmodrome Are you using auth0 dev keys for your connection?  I was having a similar issue and noticed that when I switched to using my own keys (google social connection in this case), and NOT the auth0 dev keys, the silent auth started working!

[2019-11-20 21:36] stevehobbsdev commented on #284
@june07 This would affect all browsers though, @kevmodrome reports that it works in some browsers and not others.

[2019-11-21 00:27] LKay opened #287 "Authorization code flow sends incorrect redirect_url parameter"
### Description

Following oAuth authorization code flow first user is redirected to `/authorize` endpoint and one of the parameters is `redirect_url` for callback url. That part works just fine, however there is issue with later step - code for token exchange. Callback url receives `code`, `state` etc. parameters to perform token exchange but `/oauth/token` endpoint receives incorrect `redirect_u

[2019-11-21 08:40] mvanderkroon commented on #281
@stevehobbsdev ah! I think the invite must have timed out, I believe Github only allows the recipient to accept the invite for 24h . I'll re-invite you!

[2019-11-21 09:33] kevmodrome commented on #284
Yes, I'm not even using the social connection parts of Auth0 at the moment so that can't be the problem.

[2019-11-21 10:58] stevehobbsdev commented on #273
@austin43 This has now been released in [v1.6.0](https://github.com/auth0/auth0-spa-js/releases/tag/v1.6.0) - thanks for your contribution!

[2019-11-21 10:58] #273 closed

[2019-11-21 10:58] stevehobbsdev commented on #275
@jgbpercy This has now been released in [v1.6.0](https://github.com/auth0/auth0-spa-js/releases/tag/v1.6.0) - thanks for your patience

[2019-11-21 15:09] matinfo commented on #286
First is not an issue, for all question please post in auth0.community, and for info the answer be found in the Auth0.documentation:

But for your help, here how to get _user_metadata_ or _app_metadata_ from _getUser()_, need to be injected to idToken like this:
a) create an Auth0 Rule like this:
[code]

next you be able to access it from the _user_ object returned by _getUser()_: `user['https://m

[2019-11-22 08:44] jgbpercy commented on #275
Thanks again & no worries

[2019-11-22 11:32] stszap commented on #37
Just spend half a day fighting this (used the sample js project too). In my case, the problem was the trailing slash (I specified `http://localhost:3000/` in `Allowed web origins` instead of `http://localhost:3000`). This is very strange because `Allowed Callback URLs` setting works in both cases (with and without the slash). Is this the intended behaviour? Should I open pr to the docs or a bug re

[2019-11-22 16:31] l3atbc-datadog opened #288 "Failed silent authentication"
This has come up regularly in the forum, but apparently (?) has never been solved. I am using auth0-spa-js and trying to copy as much code from tutorials as possible. I have also used the spa quickstart for React. All of them have the same problem.

Authentication works fine, but I get logged out on page reload. This shows up in the log as a ‘failed silent authentication’. Otherwise, the log isn’t

[2019-11-24 06:13] devuxer commented on #286
@matinfo,

1. Thanks for the help! I will try putting my user_metadata in an ID token.
2. I disagree that this not an issue. `getUser()` does not return the same information as I see when I view the raw JSON for a user on the Auth0 dashboard. Why not? If you don't want to consider this an issue, at least consider it a feature request.
3. I searched https://auth0.com/docs/libraries/auth0-spa-js, an

[2019-11-24 08:52] matinfo commented on #286
What is returned in the IDToken is not a specificity of auth0-spa-js DSK!

Look here: https://auth0.com/docs/users/concepts/overview-user-profile#user-profile-vs-tokens

[2019-11-25 00:21] devuxer commented on #286
Using the management API is no cleaner than stuffing the user_metadata into the IDToken, so I'll stick with your original workaround.

I still don't understand why `getUser()` doesn't contain the same properties as Auth0 Dashboard > User Details > Raw JSON.

[2019-11-25 07:20] mvanderkroon commented on #281
@stevehobbsdev would you mind reopening this issue? Or would you rather have me create a new issue?

[2019-11-25 08:49] matinfo commented on #286
@devuxer Is not a workaround! Is how you need to do.

https://auth0.com/docs/users/normalized/auth0

Is not an issue, you be able to close this ticket. And go to Auth0.community ask question.

[2019-11-25 09:58] stevehobbsdev commented on #281
Sure, I've reopened for now. Thanks for your patience

[2019-11-25 13:06] stanislasdrg commented on #286
I second @devuxer 's request. The documentation is not very clear.
The [SPA API](https://auth0.github.io/auth0-spa-js/interfaces/getuseroptions.html) stipulates that you can pass options to `getUser()`, but it does not seem to work as expected.
What is the point of building a SPA sdk if you need to use other APIs to get all the profile information ?

[2019-11-25 14:54] stevehobbsdev commented on #286
As mentioned earlier, one of the reasons we don't include the whole user JSON inside the ID token is to keep the token small. We provide a few common properties out-of-the-box already, as you've ssen. If you wish to include additional data that you do not currently have by reading the claims from the ID token (by using `getUser()` or `getIdTokenClaims()`, then the recommended way is to add that da

[2019-11-25 15:00] stanislasdrg commented on #286
@stevehobbsdev Thank you for your thorough answer.
My initial expectation was to be able to simply read the MFA phone number by passing a modified scope in `getUser` options. Sounded overkill to use the management API to get read access to that information. I will look into adding a rule. Thanks.

[2019-11-25 15:19] stevehobbsdev commented on #286
@stanislasdrg Yes that would be overkill. At the same time I wouldn't consider it a common property that we would include in the token by default; adding a rule here to add it to the token for your specific use case is the way to go.

[2019-11-25 21:48] stevehobbsdev commented on #281
@mvanderkroon I must apologise, I wasn't able to get to the invite in time as I was off work towards the end of last week. Can you please invite me again? Once the invite comes through I will accept immediately.

[2019-11-25 21:52] stevehobbsdev commented on #288
Let's continue the discussion in Community, as it's likely not a problem with the React samples nor the SDK.

[2019-11-25 21:52] #288 closed

[2019-11-25 22:17] jkhartshorne commented on #288
@stevehobbsdev that would be great if anyone from auth0 was actually addressing these questions in the community forum! There are a number of us in the community that can't get the sample code to work out of the box, and so far we're not really hearing anything from auth0 developers on the subject.

[2019-11-25 22:28] stevehobbsdev commented on #288
Replied here: https://community.auth0.com/t/failed-silent-auth-login-required/33165/25?u=steve.hobbs

[2019-11-26 03:40] devuxer commented on #286
@stevehobbsdev,

Thank you for your helpful explanations and context.

That said, my biggest problem is that the [documentation for getUser](https://auth0.github.io/auth0-spa-js/classes/auth0client.html#getuser) doesn't say which user attributes are returned and which aren't. And for the ones that aren't, why and how to get them if you need them.

[2019-11-26 07:50] matinfo commented on #286
@devuxer : doc say "Returns the user information **if available** (**decoded from the id_token**)."

[2019-11-26 10:09] stevehobbsdev commented on #286
@devuxer It's probably more useful to look at the [claims that are returned in our ID tokens](https://auth0.com/docs/tokens/id-tokens) rather than specifically at the `getUser` method. It's largely non-deterministic as you can customize what claims are returned, but the document I linked does talk about some standard claims that are defined by the OIDC specification.

I'll close this for now as it

[2019-11-26 10:09] #286 closed

[2019-11-26 10:20] stevehobbsdev commented on #287
@LKay Can you let me know what specific error you're seeing or how this is blocking you?

[2019-11-26 10:22] stevehobbsdev commented on #284
Closing this for now as this is most likely a browser extension/software issue blocking the transmission of the `auth0` cookie. If it can be shown that's not the case, let's discuss it.

[2019-11-26 10:22] #284 closed

[2019-11-26 10:23] stevehobbsdev commented on #274
@patricknee @Tazaf Any luck trying out my suggestion above?

[2019-11-26 10:24] stevehobbsdev commented on #282
Closing this for now, if you're still having issues or the `appState` method doesn't fit your scenario, let's discuss it further.

[2019-11-26 10:24] #282 closed

[2019-11-26 10:40] LKay commented on #287
I’m getting 401 with access denied error. This only happens if the application on auth0 is not of SPA type. In such case `redirect_uri` parameter in token exchange seems to be ignored. However, if application type is of other type ie. generic with authorization code grant enabled, above error is returned even if it’s configured proper according to docs. It blocks use of applications other than SPA

[2019-11-26 10:49] stevehobbsdev commented on #287
Thanks @LKay. I'm interested in your use-case here; given that this is the SDK for SPAs, we would expect you to be connecting to a client that is configured as a Single Page Application. If you're saying that works, I'm keen to find out why you would be using any other application type.

[2019-11-26 16:32] brendanator opened #289 "Determine whether user signed up or logged in"
### Describe the problem you'd like to have solved

Determine whether use signed up or logged in

### Describe the ideal solution

[code]

Where authenticationType in `login` or `signup`

## Alternatives and current work-arounds

No known workaround

[2019-11-26 17:59] devuxer commented on #286
@stevehobbsdev

I understand how to proceed at this point, yes, but I'm trying to point out that the valuable information you (and @matinfo) have provided here is not easily discoverable in the docs. I think it would help others if more detail were included in the auth0-spa-js docs directly.

[2019-11-26 19:06] micahgoodreau commented on #69
i think this may help you.  the following code will check the token each time the apollo client makes a request to the server and seamlessly get a new token if not valid, although it is not for auth0 specifically, i'm sure it could be easily modified.  this is from ben awad's
https://github.com/benawad/jwt-auth-example

import React from "react";
import ReactDOM from "react-dom";
import "./index.c

[2019-11-27 07:46] mvanderkroon commented on #281
@stevehobbsdev, not a problem! Thanks again for taking the time to look into this.

I have invited you again - and have since cleaned up the repo slightly: the branch you are looking for is now `bug/auth0-redirect`

[2019-11-27 12:41] Tazaf commented on #274
Hi @stevehobbsdev

Thanks for the heads up. I've been caught up with other tasks lately. I'm trying this thread's suggestions right now. I'll come back when I have some results.

[2019-11-27 12:49] stevehobbsdev commented on #281
Thanks @mvanderkroon - just to confirm I have accepted it this time! Looking at your issue now 👀

[2019-11-27 13:07] Tazaf commented on #274
I've got a question, though.
You said that `getTokenSilently()` does not apply to the `IdToken`, only the `AccessToken`, and that I should use `getIdTokenClaims()`'s `__raw` property to inspect the IdToken.
But... `getIdTokenClaims()` does not refresh the token, right, it only get it from the last cached token?

There's no `ignoreCache` option for this method, and after trying it in my use case, t

[2019-11-27 13:20] stevehobbsdev commented on #274
@Tazaf Yes you're right. Right now, if you want to refresh the ID token you would have to call `getTokenSilently({ ignoreCache: true })` first in order to refresh the cache. `getIdTokenClaims()` just returns what it already knows about the token and does not refresh it, as you've observed.

Not saying that's entirely ideal or obvious, but what we're discussing here is a potential new use-case and

[2019-11-27 13:35] stevehobbsdev commented on #281
@mvanderkroon Ok, I've loaded the app and while I'm getting some Apollo errors (404 when loading pages) I can see that the behaviour is working for me.

I started the application and logged in with my tenant, which took me to `/profile`. While I get errors on this page, I can can refresh using Cmd+R (or Ctrl+R) and I do **not** get prompted to log in again. It seems that I am still logged in. If I

[2019-11-27 16:20] franciscolourenco commented on #69
@micahgoodreau thanks. ApolloLink looks "sophisticated"

[2019-11-27 20:08] sixfootsixdesigns opened #290 "User APP Meta is sometimes missing when calling getUser"
### Description

We have a react app that is using the auth0-spa-js and when we call `getUser()` it sometimes does not return the app_metadata for the user that is defined for a user in the auth0 dashboard. I have attached a screen shot of the data we have for a user.
<img width="1127" alt="Screen Shot 2019-11-27 at 12 42 37 PM" src="https://user-images.githubusercontent.com/2627303/69754558-6aad1

[2019-11-27 21:35] #290 closed

[2019-11-27 21:36] sixfootsixdesigns commented on #290
Closing this as it might be an issue with the rules we are using. I'll re-open if that's not it

[2019-11-28 01:16] ifflanb commented on #44
Just to be clear here, when your referring to the session expiring, are you meaning the access token?

[2019-11-28 12:25] mvanderkroon commented on #281
@stevehobbsdev that's it! Bringing the shields down changes the behavior to what I would expect (no callbacks to/from auth0). I highly suspected this was user error, but never thought about checking the browser itself.

Thanks a lot for your time and effort. Glad to understand where this is coming from. We are currently running this project more as a proof of concept and so the Free bracket is the

[2019-11-28 12:25] #281 closed

[2019-11-28 12:58] stevehobbsdev commented on #281
@mvanderkroon Thanks for your patience in getting to an understanding about what the problem was. Yes, once the change comes in it will absolutely be in the release notes and drafted as a new GitHub release, so keep an eye out.

[2019-11-28 21:48] frederikprijck commented on #287
For what it's worth I'm seeing the exact same behavior:

- Authorize endpoint is called using the redirect_uri: http://localhost:4200/redirect
- When we have an active session on the Authorization server, the Authorize request returns a 302, with the location set to http://localhost:4200/redirect, including a code and state query string parameter.
- The token call, used to exchange the Authorizati

[2019-11-28 21:54] AnneAlbert commented on #35
Please state this indeed, especially on the page where you talk about [implicit flows and SPAs](https://auth0.com/docs/flows/concepts/implicit#how-to-implement-it), where the suggestion is that it is possible to set response_type. It would probably save many people some frustration and quite some time.

[2019-11-28 22:20] frederikprijck opened #291 "Redirect_URL in GetTokenSilentlyOptions is unused"
### Description

This GetTokenSilentlyOptions can, optionally, include a redirect_uri. https://github.com/auth0/auth0-spa-js/blob/master/src/global.ts#L181

However, looking at the implementation of getTokenSilently , the `redirect_uri` from the method argument is never used. Instead, it's either using the global redirect_uri (provided to the Auth0Client constructor) or `window.location.origin`, s

[2019-11-29 09:32] frederikprijck commented on #287
I mentioned:

However, it looks like this is also a bug in the SDK, which is unrelated to the current issue tho.
The spec clearly mentions that the `redirect_uri` is optional. Falling back to `window.location.origin` will ensure the redirect_uri always have a value while the spec defines this differently, see: https://tools.ietf.org/html/rfc6749?fbclid=IwAR0b9o_ARDWZyVl_acrf4PFoP22VJvwXzZv8BxmhcG1

[2019-11-29 09:41] stevehobbsdev commented on #35
Thanks for raising this. I've raised it internally to get the documentation updated to more clearly reflect our current state with the SPA SDK.

[2019-11-29 09:52] stevehobbsdev commented on #287
@frederikprijck Thanks for providing the additional context. Let me follow up internally about how to proceed with this.

[2019-11-29 11:57] sampsonjoliver opened #292 "createAuth0Client timeout gives undesirable offline behaviour"
### Description

Similar to https://github.com/auth0/auth0-spa-js/issues/37 there is a 60-second timeout in the `runIframe` method inside `checkTokenSilently` which is called during `createAuth0Client`.

Currently, when calling `createAuth0Client`, the `checkTokenSilently` call will block the return of the created auth0 instance until completion, which, depending on network speed, will block the a

[2019-11-29 12:38] stevehobbsdev commented on #291
Let's close this and continue the discussion in #287

[2019-11-29 12:38] #291 closed

[2019-11-29 13:05] thundermiracle opened #293 "make the Getting Started documentation more friendly"
### Description
It's quite confusing for the beginners to read the Getting Started part because there is no import part of createAuth0Client. I have to dive into the source and found that the default export is createAuth0Client.
How about adding import part to the documentation for npm users?

[2019-11-29 13:37] #293 closed

[2019-11-29 22:09] tommedema opened #295 "loginWithPopup does not login as `authorization_response` message is never received"
### Description

I've followed the steps in the quickstart for react to get a redirect based login working. However, when substituting the method `loginWithRedirect` with `loginWithPopup`, the application breaks.

Here's the working application with a redirect:
https://github.com/tommedema/startup-boilerplate/tree/login-redirect

Here's the not working application with a popup implementation:
http

[2019-11-29 22:27] daviseford opened #296 "Uncaught exception related to client clock settings"
### Description

When a client with an incorrectly configured Windows time attempts to login using the latest version of this library, they receive this error in console:

[code]

Unfortunately, because this is an uncaught error, it affects the application downstream and leaves the app in a state of waiting for the user object.

This concern was first raised by a user here: https://github.com/davi

[2019-12-01 17:58] tommedema commented on #39
@luisrudge why was this closed? it's almost 2020 now and there are still no exported types

[2019-12-01 18:23] tommedema opened #297 "logout is cancelled by browser before it hits /v2/logout"
### Description

I've implemented auth0-spa-js with react as per your quickstart. When I call the `logout()` function however, the browser is never logged out before the HTTP request to `/v2/logout` is cancelled:

![Screen Shot 2019-12-01 at 10 17 08 AM](https://user-images.githubusercontent.com/331833/69918230-83277200-1424-11ea-8fe1-0940c21b9d9d.png)

https://github.com/tommedema/startup-boilerp

[2019-12-01 18:45] tommedema commented on #297
When I comment out the `history.push` call in the `onRedirectCallback` function, I see the following error message in my console on logout:

![Screen Shot 2019-12-01 at 10 44 45 AM](https://user-images.githubusercontent.com/331833/69918507-9be55700-1427-11ea-8011-71064235561a.png)

However I cannot understand _why_ the state would be invalid as my implementation seems identical to the quickstart

[2019-12-02 08:49] stevehobbsdev commented on #39
@tommedema We have a PR to fix this (see #234) but unfortunately the author has abandoned it. We're just trying to fit it in around our workload. Thanks for your patience

[2019-12-02 08:53] stevehobbsdev commented on #292
@sampsonjoliver Not sure I follow. `createAuth0Client` just returns a Promise - couldn't you retrieve the promise instance and then handle `then` or `catch`, which will be invoked once the promise completes?

[2019-12-02 11:18] stevehobbsdev commented on #295
When I tried interacting with your app, the page was refreshing in the background when I clicked the login link.. the context between the page and the popup was probably being lost somewhere, meaning that the SDK couldn't close it when it was done. Probably want to throw a `preventDefault` on that link and do something like this instead (which fixed it for me):

[code]

[2019-12-02 20:52] tommedema commented on #295
@stevehobbsdev that makes a lot of sense; adding `e.preventDefault()` resolves this issue. Thanks!

[2019-12-02 20:52] #295 closed

[2019-12-02 20:52] tommedema commented on #297
The cancellation can be prevented by using `e.preventDefault()` inside the event handler, see also https://github.com/auth0/auth0-spa-js/issues/295#issuecomment-560352949

[2019-12-02 20:52] #297 closed

[2019-12-02 23:00] sampsonjoliver commented on #292
@stevehobbsdev  I can - but the promise will take a full 60 seconds to resolve because it's awaiting the silent token refresh. Which means my application is waiting for this whole time, just to get an instance of the auth client.

See my annotations in the `createAuth0Client` method below

[code]

So my application, when consuming this method, runs like below:
[code]

Hence, my app will not be abl

[2019-12-03 10:43] stevehobbsdev commented on #292
Gotcha. So it's blocking in the sense that your app needs to wait for the operation to be done.

Can you just check something - this should not be taking the full 60 seconds in any case, it should be a quick round-trip to the auth server. Could you check the response from the server using the network tab? We've seen this timeout issue happen before when there's a configuration problem, usually bec

[2019-12-03 16:40] andreapizzato opened #298 "Add a formal way to handle different token validation errors"
### Issue
When you try to call the first Auth0Client method that verifies the JWT token (usually `handleRedirectCallback` in the guides) you could encounter a whole set of errors, defined in [jwt.ts:62](https://github.com/auth0/auth0-spa-js/blob/master/src/jwt.ts#L62). The problem is that they are thrown using a pure Error class also without any kind of matchable code.

This makes developers unabl

[2019-12-03 22:25] sampsonjoliver commented on #292
I'm not sure if I'm not explaining myself well here or not. Probably you just get a lot of issues that are to do with configuration issues haha, but this isn't one of them I promise you.

I am talking about the case where my application is *offline*. There is no internet, so there can be no round-trip to the server.

I know my application is configured correctly, because everything works _perfectl

[2019-12-04 05:41] Nadya913 opened #299 "TypeError: ns.GetCommandSrc is not a function"
### Description

User can't log in and the type error 'TypeError: ns.GetCommandSrc is not a function' appears in the console in Win10 and Chrome

TypeError: ns.GetCommandSrc is not a function
    at GetCommandUrl (main.js?attr=QWX0Jz7yAumcdK241DhVh8-ke2iaPx_ztEo955ADd-pkoR5h5E5xxm5HGv7vi4iTYPY1ljCdE447zdWuyNjEPpwqbJPT8uwj6OCfwHnH9FKhvxt6LPIkWrZJ57eF-XhAXojMYPtACHfip4soT_EwOp5KEeYWbO-nH38Jn3GzHpQTS

[2019-12-04 08:24] stszap commented on #292
Please excuse me for butting in but why should it be stuck for 60 seconds even if there is a configuration error? Shouldn't the promise just error immediately when Auth0 return _anything_? Why does it have to wait that long?

[2019-12-04 09:11] sampsonjoliver commented on #292
Heh, also a good question.

Regarding [that FAQ question](https://github.com/auth0/auth0-spa-js/blob/master/FAQ.md#why-does-the-auth0client-object-take-a-long-time-to-initialize), I'm a bit stumped as to why the design decision was made for this API to *have* to initialise by communicating with the auth server. Why do that round-trip on create, rather than on the first call to any of the `getUser`

[2019-12-04 10:05] stevehobbsdev commented on #292
Right, I understand now. I missed the part in your original message about this being offline. I know you alluded to it as an example but it wasn't clear that this is core to your scenario.

So during initialization, there is a call to `getTokenSilently` which is used to refresh the user's session. If they're already logged in to Auth0, we can refresh their local authenticated state as a convenienc

[2019-12-04 10:07] stevehobbsdev commented on #299
@Nadya913 We're unable to reproduce this here - could you please provide a small repro that we can use to evaluate the problem?

[2019-12-04 12:08] paulfalgout commented on #299
I really don't think this is related https://github.com/search?l=JavaScript&p=1&q=GetCommandSrc&type=Code

[2019-12-04 12:32] sampsonjoliver commented on #292
@stevehobbsdev yep, that's it!

For my company's app, just to give an example, what we do is essentially wrap that auth0-js or react-native-auth0 clients with an interface that will store any successful login response's token in to AsyncStorage. Then, when the client is online, any effort to read the token will either return the cached token if it is still valid, or else refresh it if it is expire

[2019-12-04 15:57] dennougorilla opened #300 "PWA loginWithPopup blocked"
### Description
Android pwa can't popup login. I can login in chrome browser on Android. But this app add to home screen can't login with popup. My `manifest.json` is `"display": "standalone"`.

Popup is `about:blank#blocked`.
### Reproduction
On Android version 9
1. App add to home screen.
2. Login with Popup.
3. `about:blank#blocked`

### Environment
Android version 9
`"@auth0/auth0-spa-js": "^1

[2019-12-05 03:30] dennougorilla commented on #300
![SmartSelect_20191205-122956_Chrome](https://user-images.githubusercontent.com/28649418/70201805-0c0f1800-175b-11ea-8922-66d13856d5ad.gif)

[2019-12-05 09:57] stevehobbsdev commented on #299
@paulfalgout I concur, this looks like something else going on in your app, @Nadya913.

I'll close this for now. If you do some investigation and find that it is a problem with the SDK, feel free to reopen.

[2019-12-05 09:57] #299 closed

[2019-12-05 14:56] asotoglez opened #301 "how can I get the access_token"
I need to get the access token but I can't find how to get it, someone can help me.

[2019-12-05 15:29] stevehobbsdev commented on #301
Hi @asotoglez, you can retrieve the access token by calling `getTokenSilently`. Hope that helps!

[2019-12-05 15:29] #301 closed

[2019-12-05 15:37] asotoglez commented on #301
Usé getTokenSilently pero me retorna un token sin formato JWT
Por ejemplo este : 5-IwUwnVMgbifhI2RkN8AXSlMiHyUEHH
Necesito el token de tipo Bearer

[2019-12-05 16:17] stevehobbsdev commented on #301
That is the access token you're seeing.

If you expect it to be a JWT, you need to ensure you're setting an `audience` value when creating the Auth0 client. This should be set to the Auth0 API Identifier that you want an access token for. Does that help?

[2019-12-05 20:08] stevehobbsdev commented on #296
This looks to be uncaught by the application using `auth0-spa-js`, as we generate that error as part of our ID token validation logic. I'm not sure what else we can do here; what action do you feel should be taken?

[2019-12-05 20:14] stevehobbsdev commented on #298
Thanks for raising this. The token errors are really for developers to make sure the tokens they're getting are sane and would only normally surface if somehow the tokens you're receiving from Auth0 have been compromised. I'm unsure how handling those in a different way would be beneficial for your end users, but I'm keen to know more about your use-case and the environment in which `auth0-spa-js`

[2019-12-05 20:15] stevehobbsdev commented on #300
Is using a popup necessary? What happens when you use `loginWithRedirect`?

[2019-12-05 20:19] stevehobbsdev commented on #287
@frederikprijck So the outcome of this is that we will change the behaviour so that it does send the same `redirect_uri` value to both endpoints as defined in the spec.

As for the value being optional, we're not too concerned about this. `auth0-spa-js` is not designed as a generic OAuth client and we're fine with always sending a value here.

Thanks for raising the issue!

[2019-12-06 02:30] daviseford commented on #296
You’re right, I read this trace badly. My bad! I will catch the error on my end

[2019-12-06 02:30] #296 closed

[2019-12-07 11:08] dennougorilla commented on #300
I can use `loginWithRedirect`. But I want to keep app state(ex. dialog is open). If I use `loginWithRedirect`  I  need state management in `localstorage` or something.

[2019-12-09 07:06] RuneKR opened #302 "Ability to be used in a WebWorker"
### Describe the problem you'd like to have solved
Would like to increase the performance of my app by allowing this to be used in a WebWorker.

### Describe the ideal solution
Get rid of the iframe and use XHR or fetch instead

## Alternatives and current work-arounds
Not use in WebWorker

### Additional context
Happy to contribute if this fit on the roadmap

[2019-12-09 07:12] stevehobbsdev commented on #302
@RuneKR Thanks for raising this. We don't have any plans to remove the iframe method in the near future, but we are planning some additions which may allow the use of a normal fetch in addition to the iframe - please stay tuned!

[2019-12-09 07:12] #302 closed

[2019-12-10 06:22] giocodes commented on #153
In case someone in the future finds it useful:
I was getting the error:
`RPError: id_token issued in the future`

The fix came form using the `clockTolerance` option of `initAuth0`
https://github.com/auth0/nextjs-auth0#runtime-configuration

[2019-12-11 08:08] edmonAvetisyan555 opened #304 "Unable to fetch user after auth without setinterval ($auth.user populats after 4 seconds)"
Hello . Using VueJs SDK . Problem is the following .
My redirect url is example.com/callback , inside routes I have callback component which suppose to send user data to backend and check if user exists and log user in otherwise create new user and get back jwt from our backend application .
Problem is following , inside created/mounted cycle I can not reach auth0Client and so user properties .
th

[2019-12-12 15:09] stevehobbsdev commented on #304
In general after using `createAuth0Client` you must wait until the promise that is returned to you is resolved before you can access methods like `getUser`. It could be that by the time this code is executed, the promise hasn't resolved.

It might help to see some of the surrounding code. At what point do you call `createAuth0Client`?

Or, are you using the [wrapper from our Vue quickstart](https:

[2019-12-12 15:09] stevehobbsdev commented on #300
I think a small reproducable sample would help here; if you can supply us with that, I can take a look.

[2019-12-12 16:16] edmonAvetisyan555 commented on #304
I  was able to solve the issue by using bus system
right after creation (promise)
`this.auth0Client = await createAuth0Client({
        domain: options.domain,
        client_id: options.clientId,
        audience: options.audience,
        redirect_uri: redirectUri,
        responseType: 'token'
      });
      this.$eventBus.$emit('auth0Client',this.auth0Client)`
I emit event which is handled in

[2019-12-12 16:16] #304 closed

[2019-12-12 21:10] sferguson12 commented on #39
I have not been able to get any of the variations on PrivateRoute here to work with React/Typescript on Auth0.  I keep getting "TypeError: instance.render is not a function" if I navigate to the /profile route.  It's being thrown here in react-dom.development.js:

18467 | } else {
  18468 |   {
  18469 |     setCurrentPhase('render');

        | ^  18471 |
  18472 |     if (debugRenderPhaseSideEff

[2019-12-12 21:13] tommedema commented on #39
@stevehobbsdev with all due respect, the least you could do is share an ETA. The "thanks for your patience" doesn't seem very credible when people have been waiting half a year already for what can be done in half a day or less by any experience Typescript developer in your organization

[2019-12-13 05:15] Californian commented on #105
For others that come across this as I did, I believe my issue was related to https://github.com/auth0-samples/auth0-react-samples/issues/166, which has been incredibly confusing. I will update this comment if that is not the case.

At least, I am still getting 401 and must re-log-in every time I refresh, despite using the new universal login and having my own client id and secret set up.

Since th

[2019-12-13 06:20] bgever opened #305 "Login options ui_locales ignored by Universal Login"
### Description

When I set the `ui_locales` property of the login options, the Universal Login page does not reflect the provided language or languages.

https://github.com/auth0/auth0-spa-js/blob/902062723784d29b1bbeac9ba634071a51e38c4b/src/global.ts#L29

I can see that the `ui_locales` query string parameter is passed to the lock screen, but the lock.js script doesn't process the parameter.

##

[2019-12-15 13:06] ItayKatzCC commented on #269
Any updates?

[2019-12-15 18:01] #122 closed

[2019-12-16 22:32] franciscolourenco opened #306 "logoutWithPopup"
**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Community](https://community.auth0.com/) or [Auth0 Support](https://support.auth0.com/). Finally, to avoid duplicates, please search existing Issues before submitting one here.

[2019-12-16 22:46] franciscolourenco opened #307 "Center popup or add position options"
### Describe the problem you'd like to have solved

I would like to center the auth popup in the window or screen.

### Describe the ideal solution

Popup appears centered in window or screen.

## Alternatives and current work-arounds

None found

### Additional context

[2019-12-17 00:39] franciscolourenco opened #308 "logoutSilently"
### Describe the problem you'd like to have solved

I would like to perform logout while preserving application state

### Describe the ideal solution

There are no redirects. Logout is performed like getTokenSilently

## Alternatives and current work-arounds

Using an iframe. I this is works when third party cookies are blocked. If not, would it work when a custom domain is setup?

[2019-12-17 14:18] lauthieb opened #309 "Use OIDC Discovery (.well-known/openid-configuration) to make this package usable with other providers"
### Describe the problem you'd like to have solved

[Decathlon](https://github.com/Decathlon) Front-End Community loves `auth0-spa-js` and all the documentation proposed by Auth0 to integrate it easily in our applications.
However, we cannot use it because (e.g. for redirections), it is not designed to be used with a provider other than auth0.

After some research, I can confirm that redirections

[2019-12-18 04:07] Nadya913 commented on #210
@cwmrowe Thank you for benefit, but it doesn't work for us. I got the token but when the cookie was set according  your example, the user isn't logged. How we can be sure that cookie value is correct?

[2019-12-18 12:25] stevehobbsdev commented on #39
@tommedema Thanks for the feedback. We are actively working on this now in #310, so please follow the discussion there. Unfortunately it's not as straight-forward as we hoped without introducing breaking changes.

[2019-12-18 12:52] PeterGFernandez opened #313 "Use with `prompt=login` or `max_age=0`?"
When issuing a redirect to `/authorize` - i.e. via a call to loginWithRedirect() - specifying `prompt=login` or `max_age=0` will force re-authentication by presenting the login dialog even if there is a valid session in the browser. In turn, Auth0 will by default returns tokens with an `auth_time` claim, which can be used to verify that re-authentication occurred (i.e. the `prompt=login` was not e

[2019-12-18 14:25] PeterGFernandez opened #314 "Support for Hybrid flow"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2019-12-19 02:28] chris-freightweb opened #316 "'utf8' TextDecoder Error from 'fast-text-encoding' dependency on Edge"
### Description

During the authentication flow of our React app, we are getting a very strange error but only on Edge. The page throws the error
`RangeError: Failed to construct 'TextDecoder': The encoding label provided ('utf8') is invalid.`
I did quite a bit of research which lead me to [this](https://github.com/samthor/fast-text-encoding/issues/4) issue on fast-text-encoding which is a depende

[2019-12-19 08:51] nkete opened #317 "Custom query parameters with getTokenSilently"
### Description

Custom query parameters are not appended to the `/authorize` url when used with `getTokenSilently` like they are when used with `loginWithRedirect`.

`loginWithRedirect({ foo: 'bar' });` will produce `/authorize?scope&audience...&foo=bar`
`getTokenSilently({scope, audience, foo: 'bar'});` will produce `/authorize?scope&audience`.

Looking at [GetTokenSilentlyOptions](https://githu

[2019-12-19 10:54] Roeefl opened #319 "Cookie Pollution - still happening to us with latest version"
Hello,

We are using auth0-spa-js in our product (perception point X-ray)

And are still encountering the cookie pollution issue reported in:
https://github.com/auth0/auth0-spa-js/issues/217

Even after upgrading auth0-spa-js to latest version and deploying to production every week.

### Description
Sometimes our users encounter this error when trying to log in to our web app.
It's hard to determi

[2019-12-19 10:55] Roeefl commented on #319
I'd just like to note that this is really urgent for us and we are quite desperate to resolve it.

We've been getting constant complaints from clients that this arbitrarily happens to them once a week or two, and from many of them.

Thank you

[2019-12-19 14:34] stevehobbsdev commented on #308
To answer your question, I don't believe this would work when third-party cookies are blocked, as Auth0 would need to know which session to log out. Yes, it probably would work with custom domains.

Sounds like a good addition and we'd welcome a PR to evaluate it further.

[2019-12-19 14:36] stevehobbsdev commented on #307
Sounds like a good addition, we'd welcome a PR to help get this moving.

[2019-12-19 14:37] stevehobbsdev commented on #306
Would #308 not help with this or is there another motivation for using a popup? Otherwise, we could close this and push the iframe version.

[2019-12-19 14:39] stevehobbsdev commented on #289
There might be a way you can do this using [Auth0 Rules](https://auth0.com/docs/rules) but I'm not entirely sure. Let me ask internally.

[2019-12-19 14:53] stevehobbsdev commented on #313
It needs more thought as to what happens when that check is disabled.

* It means that the session won't be automatically hydrated on the client
* Methods like `getUser` and `isAuthenticated` won't work properly until `getTokenSilently` is called. It doesn't seem like an intuitive way to log the user in silently, so we'd likely put another method in.
* `handleRedirectCallback` would probably still

[2019-12-19 14:57] stevehobbsdev commented on #314
Hybrid support is not planned for this library as it was built specifically to make use of the [Auth Code + PKCE flow](https://auth0.com/docs/flows/concepts/auth-code-pkce). However, an alternative is to use [Auth0.js](https://github.com/auth0/auth0.js) which does use the hybrid flow.

It's an older SDK which requires more work from the developer, but is more flexible and will support the hybrid f

[2019-12-19 14:57] #314 closed

[2019-12-19 15:02] stevehobbsdev commented on #309
Thanks for raising this. Generally, we would like to support more generic OIDC features such as using the discovery document. However, there may be some other things in the library that would need to be looked at in order to support this change. For example, how would internal workings of our silent authentication be affected (using an iframe, `prompt=none` and `response_mode=web_message`). Are th

[2019-12-19 15:05] stevehobbsdev commented on #316
Let me evaluate this and get back to you.

[2019-12-19 15:06] stevehobbsdev commented on #317
Thanks for raising this. We'd welcome a PR to help push this through, if that's something you'd be interested in doing.

[2019-12-19 15:14] stevehobbsdev commented on #319
I'd need to know more about the usage of the SDK in your case. A couple of things from the previous issue:

* Apps were experiencing errors and the SDK wasn't clearing the transaction cookie when an error was encountered (this is the issue that was fixed)
* Some apps weren't calling `handleLoginRedirect` after the login step completed, which deletes the transaction cookie. This was an application-

[2019-12-19 15:19] stevehobbsdev commented on #319
Just something else to point out; the cookies are set to expire after a day. Do you have a flow in your application where users are required to log in and out frequently? That could contribute to the build up too.

[2019-12-19 15:22] stevehobbsdev commented on #305
Can I ask - are you using the classic or the new Universal Login experience?

[2019-12-19 15:33] stevehobbsdev commented on #289
So it looks like you could do this using a custom rule. Inside the rule code, the user profile has a property on it called `loginCount` which indicates whether the user signed up or logged in. You could put this value into your ID token as a claim and read it on the client.

Hope that helps! Feel free to continue the conversation if you need to clarify this further.

[2019-12-19 15:33] #289 closed

[2019-12-19 16:24] franciscolourenco commented on #306
Popup would not require third-party cookie support correct?

[2019-12-19 18:24] stevehobbsdev commented on #306
Good point, I don't think it would. What's the primary motivator here (and I'm including your other issues in this) - is it to get around third-party cookie support, or to retain application state?

[2019-12-19 18:40] franciscolourenco commented on #306
Retain application state. Third-party cookie support seems to be a concern raised in Auth0 documentation in a few places.

[2019-12-20 10:51] Roeefl commented on #319
Hey @stevehobbsdev and thank you for the quick and detailed response.

First I'd just like to note that I don't currently see a call to `handleLoginRedirect` in our codebase.
Please lemme know if this is something that might be cause for issues still.

Regarding the flow of steps, I'd have to look into it again the next time it happens to someone in our team that I'd have access to his browser at

[2019-12-20 11:52] stevehobbsdev commented on #319
Please lemme know if this is something that might be cause for issues still.

I do apologise - the actual name of the function is `handleRedirectCallback`, sorry for misleading.

I'm almost certain this is what your problem is. Since the user is being required to log in and out multiple times over the course of the day, you may see a build-up of transaction cookies and cause the issue you're seein

[2019-12-20 16:27] sixfootsixdesigns opened #320 "Issued At Claim Errors"
### Description

We are consistently getting issued at claim errors when our users attempt to login. In this example, the current time is dec 12th 2019 12:54:29 GMT-0600 and the issued at time is dec 12th 2019 12:54:48 GMT-0600.  I have set the leeway option to 3 minutes to attempt to solve the issue but it is clearly not working as expected. We are using the loginWithRedirect method on the librar

[2019-12-20 16:36] stevehobbsdev commented on #320
Thanks for reporting this @sixfootsixdesigns. Could you show your configuration for the leeway?

[2019-12-20 18:21] sixfootsixdesigns commented on #320
[code]

[2019-12-23 23:32] techieshark commented on #68
I also see this issue, and it occurs for me using the email login (magic link login) when you start the login in one browser and finish it in another.

For example, this happens when using iOS and the login process starts with a preferred browser like Chrome or Firefox but the login process finishes with the one iOS opens the link from, which will be the default (but not preferred) app, Safari.

[2019-12-24 20:31] justinhelmer commented on #320
I can confirm this issue as well, using `auth0-spa-js@1.5.0`.

Here is a related issue in `auth0.js` that was resolved recently: https://github.com/auth0/auth0.js/issues/1061

Perhaps they are related.

[2019-12-26 21:30] alexander-alvarez opened #321 "IsAuthenticated + Custom scope"
### Description

If one is using custom scopes, `isAuthenticated()` no longer works as intended because of cache key mismatch -- it fallsback to check the default scope since no arguments are provided to `getUser`
https://github.com/auth0/auth0-spa-js/blob/2ace866d33cefc8140dceae7437e2a9e61469564/src/Auth0Client.ts#L451

I would expect to be able to pass the required scopes to `isAuthenticated` as

[2019-12-29 21:11] cburkins commented on #52
Just a note that the Auth0 tutorial react is still flawed, but glad I found this issue so I could fix it myself.   Essentially, at the second checkpoint, it throws the TypeError because loginWithRedirect is not available yet.   By adding the "if (loading)" short-circuit to App.js, I was able to fix the problem.

[2019-12-30 21:19] chris-freightweb commented on #316
After playing with this a bit, the issue appears to go away when I revert auth0-spa-js to 1.0.0. I'm not sure at what point this broke as I didn't try all the versions, but I do see it on 1.6.0 and 1.5.0

[2019-12-30 21:41] lbalmaceda commented on #320
This logic was introduced in version `1.4.0` as far as I can tell from the changelog. I also see there are tests in place for the `loginWithPopup` [here](https://github.com/auth0/auth0-spa-js/blob/2ace866d33cefc8140dceae7437e2a9e61469564/__tests__/index.test.ts#L306-L318) but not for `loginWithRedirect`. Though they call the verify function in the same way.

[2019-12-30 22:56] spinfooser opened #322 "Logging message is misleading when iat is before browser clock time"
### Description

When a failure occurs in validating the iat in a recently verified jwt, the error messages include leeway time in them. This is misleading, and can make developers who use this tool think that the leeway feature isn't working properly.

Log message: `Issued At (iat) claim error in the ID token; current time (${now}) is before issued at time (${iatDateWithLeewaySubtracted})`

[Rele

[2019-12-30 23:03] spinfooser commented on #320
I discovered that the error message given doesn't use the correct iat timestamp. This might be why it seems that the 180 second leeway option isn't working.

This is the issue I filed related to that problem: https://github.com/auth0/auth0-spa-js/issues/322

[2019-12-31 06:34] taniarascia opened #323 "Cannot get user scope in access token (GitHub API)"
### Description

I expect to be able to call the GitHub API and have access to the scopes and permissions the user granted the application. Instead I get a 401.

### Reproduction

[code]

Response:

[code]

I've tried adding audience and adding scope (`repo`) to `getTokenSilently()`, to `createAuth0Client({})`, but to no avail.

I can see when I do that, the `/authorize` endpoint has the scope:

[

[2019-12-31 15:10] bgever commented on #305
The Universal Login experience, with a customized base template.

[2020-01-01 01:10] thibaultvanluchene commented on #269
+1

[2020-01-02 20:05] chris-freightweb commented on #316
Oh.. nvm. Reverting to 1.0.0 only 'fixed' the issue because TextEncoder isn't actually polyfilled in that version so other functionality doesn't work on Edge for that. Back to square one :(
It still feels like something is funky in our project because this was explicitly fixed and others would've certainly have experienced this before now. I'm wondering if there's a weird interaction between other

[2020-01-02 23:06] chris-freightweb commented on #316
I was able to find a workaround by doing the polyfill for TextEncoder that accepts the correct encodings (utf-8 and utf8) before importing auth0-spa-js so that the erroneous polyfill from fast-text-encoding never executes

[2020-01-03 19:11] lbalmaceda commented on #322
AFAIK this was intentional. We need to include the leeway in either the "current clock" value or the "claim's date" value. In the end, what we compare (and you see on the message) are 2 different date-times that one is before/after the other.

[2020-01-03 19:35] spinfooser commented on #322
The issue isn't the way this code does the math, its the way it logs the result.

This log message is misleading because the original "issued at time" in the jwt is actually 1 minute different from the value logged. This value isn't the issued_at time, its the issued_at time with leeway subtracted from it.

You could put that in the error message if you want, but it's not accurate to label this as

[2020-01-03 19:43] lbalmaceda commented on #322
I understand. My point is we need to include the leeway on the message as well because it's being taken into consideration for the time check. If we just print the base clock and the base claim value, you may also think the leeway is not being considered. Unfortunately, if we want to keep the message short, we either do that base+leeway addition for the "clock" value or the "claim" value (current

[2020-01-03 20:39] spinfooser commented on #322
Yeah, both perspectives are important. I do agree with that. Well maybe just changing the text label would be enough? You could do something like:

`Issued At (iat) claim error in the ID token; current time (${now}) is outside of the allowed issued at range (${iat} minus ${leewaySeconds})`

[2020-01-03 20:45] lbalmaceda commented on #322
@spinfooser Let me raise this internally for discussion and see what the outcome is. I will come back to you next week.

[2020-01-04 16:38] vitorbaptista commented on #292
I'm facing a similar issue, although caused by slow Internet connectivity (not being offline). With this silent querytto `getTokenSilently`, my app's login page flow is:

1. User enters into Login page
1. We call `useAuth0()` and wait for `loading` to be false
  * In my tests, this can take up to 45 seconds. This is before we even redirect the user to the Auth0 login page
1. The user logs in and i

[2020-01-05 16:54] bergdaniel opened #324 "User is logged out when page is refreshed in Safari 13.0.4"
### Description

Running sample project (login) on MacOS 10.15.2, using Safari 13.0.4. When refreshing the page after having successfully logged in the user is logged out.

Works fine on Chrome.

### Reproduction

Download the sample project (login) and run it on Safari 13.0.4 using MacOS 10.15.2. Login, refresh page.

### Environment

Sample project auth0-react-01-login, version 0.1.0. Safari 13.

[2020-01-06 10:47] stevehobbsdev commented on #316
Thanks for reporting back!

[2020-01-06 10:55] stevehobbsdev commented on #324
Unfortanately you're running into Safari's ITP technology which prevents the transmission of third-party tracking cookies. While Auth0 does not issue tracking cookies, the mechanism that we use to silently log the user in after a page refresh gets caught up in the same net. You can read [more detail on our Community forums](https://community.auth0.com/t/failed-silent-auth-login-required/33165/25).

[2020-01-06 10:55] #324 closed

[2020-01-06 11:13] stevehobbsdev commented on #292
@vitorbaptista and the times you're seeing are purely down to the slow internet connectivity? i.e. otherwise, the transactions between your app and Auth0 all happen successfully. Bear in mind that while Auth0 will return `200` response codes, it may return an error description within the body for calls to `/authorize`, so they're worth inspecting to make sure.

[2020-01-06 13:37] stevehobbsdev commented on #68
@techieshark This is a concern and I can understand why it's happening in your case. Since the state is cached in a cookie, the cookie won't be available when you start login using one browser but return to handle it in a different browser.

[2020-01-06 17:44] bergdaniel commented on #324
Awesome, thanks @stevehobbsdev!

[2020-01-07 06:59] dearamerican commented on #68
Hey there,
I also had this problem with a basic react app. I had no problems with a custom signup form, but when I decided I'd prefer to use the Auth0 Lock form, it took me two days to make it work.

Clearing cookies had no effect on the problem. I was never clicking the browser back button. What seemed to trigger this issue was adding the following to the options parameter passed to Auth0Lock:
[c

[2020-01-07 15:56] andreapizzato commented on #298
I can see how errors are only for developers, and this is exactly what happens even in the auth0 login page. You see something has gone wrong, but don't enter too much in technical details.

My point is about a formal way to distinguish between those errors.
For example: we have an error, [the one for wrong client datetime](https://github.com/auth0/auth0-spa-js/blob/master/src/jwt.ts#L175), which

[2020-01-08 23:10] vegasjohnny80016 commented on #23
@mmathias01 how do you use this? :)  I am updating a react SPA, and I have gotten to the point where I need to verify that a user is in a certain role prior to allowing them to see some stuff.  I have added a rule, and added your code to the rule, and in the "try this script", it works like a champ.  How can I leverage this information in my react app?  Do I have to write my own "getUser()" as @Sa

[2020-01-09 04:30] bgever commented on #305
@stevehobbsdev to be clear, it's the Classic version of the Universal Login.

[2020-01-09 11:10] ivarprudnikov commented on #23
There is a simple way to get the roles as scopes:

1. Request all possible scopes/roles you are after before initializing Auth0 client:
[code]
2. After authentication succeeds (you obtain `id_token`) add new method which retrieves access token with more details in it:
[code]
FYI `jwt_decode` is the same library used in Auth0 but you have to install it explicitly as it is _hidden_ in the library.

[2020-01-10 10:16] dmzza opened #328 "Error: Invalid State from Callback on a single device in 1 browser"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-01-10 10:19] stevehobbsdev commented on #305
@bgever I've initiated a discussion internally about this, let me get back to you.

[2020-01-10 10:29] stevehobbsdev commented on #323
Hi @taniarascia, thanks for your patience.

Unfortunately the access token you receive from Auth0 is not one that can be used against the GitHub API. You can use the management API to retrieve such a token but you are only able to do that from a confidential client (like a backend web app) and not from a public client like an SPA.

We have some [documentation on calling third-party IDP APIs](https

[2020-01-10 10:29] #323 closed

[2020-01-10 10:32] stevehobbsdev commented on #322
@spinfooser After discussing this internally, we've taken the decision to remove the `iat` value check altogether, which should make this a non-issue. We will still be checking for presence and type, but will not be comparing the issued-at time.

Please keep your eyes peeled for a PR coming in the very near future.

[2020-01-10 10:33] stevehobbsdev commented on #320
Hi everyone - after discussing this internally, we've taken the decision to remove the iat value check altogether, which should make this a non-issue. We will still be checking for presence and type, but will not be comparing the issued-at time.

I will be raising a PR in the very near future to correct this.

[2020-01-10 10:39] stevehobbsdev commented on #328
Difficult to determine what this is if it's isolated to one machine but is working on the others.

When your app gets the callback, it looks for a cookie on your machine that contains the state in the key, it should start something like: `a0.spajs.txs.<state>`. This is how the SDK is able to retrieve state information after performing the login. Can you confirm that this cookie exists on the broke

[2020-01-10 12:06] stevehobbsdev commented on #305
@bgever I've had it confirmed that the classic Lock experience doesn't support automatically switching the locale on your behalf. If you're using a custom template for Lock, you can modify the template so that it picks up the `ui_locales` parameter and the configures Lock using the `language` option, but it won't do this automatically.

The new Universal Login experience _does_ support switching t

[2020-01-10 12:06] #305 closed

[2020-01-10 16:16] #320 closed

[2020-01-10 16:16] #322 closed

[2020-01-10 16:19] rkrasiuk opened #330 "SameSite Cookie Warning"
### Description

- Warning about SameSite cookies

[code]

### Reproduction

 - Login with auth0 domain
 - Redirect back to the application

![Screen Shot 2020-01-10 at 10 09 34 AM](https://user-images.githubusercontent.com/25429261/72167728-522a4d80-3391-11ea-8a2e-139c54f01550.png)

### Environment

- Library Version:`1.6.1`
- Browser:`Chrome Version 79.0.3945.117`

### Suggestion

https://github

[2020-01-13 11:48] stevehobbsdev commented on #330
Hey @rkrasiuk, thanks for raising this. [We are aware](https://auth0.com/docs/sessions/concepts/cookie-attributes#changes-auth0-is-making) of the SameSite changes coming into effect and are taking steps. The cookie you're getting the warning about is coming from the `auth0.com` domain, rather than the cookies we set from the SDK, so I don't believe there's anything to do here except wait for the s

[2020-01-13 11:48] #330 closed

[2020-01-13 14:25] alexisvincent commented on #319
I can confirm we just run into this issue on 1.6.0. Causes Safari to completely crash and then not load further because of the cookie limit. Events are all triggered in the same page load. We are calling `handleRedirectCallback` on redirect. This lib needs to avoid creating tons of tx cookies. Even in cases of dev error, we can't be in a situation where cookie stores are overrun.

[2020-01-13 14:47] stevehobbsdev commented on #319
Can you tel me know about your user's usage patterns? Do they align with what @Roeefl describe above?

[2020-01-13 16:44] alexisvincent commented on #319
In general we haven’t encountered this issue. It’s sporadic. At the moment it’s happening consistently on one of our production deployments when trying to login with Safari. So no one can get in if they use Safari. We’re also unable to get any diagnostic information, since the page doesn’t get a chance to load. A separate environment, at a different domain that has exactly the same deployment on i

[2020-01-13 17:19] rkrasiuk commented on #330
@stevehobbsdev actually the SDK is setting the attributes on the cookie. So every time you call
[code]
and going into the function implementation
[code]
There are additional options you can pass and it's up to SDK to set a `SameSite` attribute.

[2020-01-13 17:40] rkrasiuk commented on #330
@stevehobbsdev I can make a PR, if that would be helpful

[2020-01-14 10:14] stevehobbsdev commented on #309
Closing this for now but if you would like to continue the discussion further, please feel free.

[2020-01-14 10:14] #309 closed

[2020-01-14 10:24] stevehobbsdev commented on #300
Closing this for now. If a small repro is provided that enables us to debug the issue, we can re-open.

[2020-01-14 12:00] stevehobbsdev commented on #330
@rkrasiuk Can you clarify which cookies you're talking about?

The warning you're getting in the original issue is from `auth0.com` but this code:

[code]

.. is setting a cookie for your application domain (which is not `auth0.com`).

The former is something already being addressed by Auth0, and the latter shouldn't be affected by SameSite anyway as you will be able to read such cookies from Java

[2020-01-14 16:37] stevehobbsdev commented on #330
I've clarified this internally to try and give you some extra detail. The changes required for the cookies set by `auth0.com` (the ones that the warning is about) have already been done. If you inspect the network traffic from the `/authorize` call, you should see that the `auth0` cookie is already being transmitted with `samesite=None`, and you should find that `getTokenSilently()` calls still wo

[2020-01-14 20:31] rkrasiuk commented on #330
@stevehobbsdev thank you for a quick response. let me be more clear, pardon for not including the whole screenshot. The issue is I get a set of warnings about `SameSite` attribute associated with different resources, including my `auth0` domain and ` http://auth0.com/`, ` http(s)://support.auth0.com/`,
http(s)://manage.auth0.com/ etc. It adds up to 9 warnings total. Also, this happens only when `a

[2020-01-15 09:08] lauthieb commented on #309
Sorry Steve for this delay of response but Christmas, recovery and health did not help me.

Anyway, thanks a lot for your detailed answer.
I have talked to developers in the Decathlon front-end community about this and unfortunately we will not have the bandwidth to process all of these subjects on your library.

In addition, there is a huge naming job if it ever becomes multi-provider compatible

[2020-01-16 11:01] stevehobbsdev commented on #298
I think the best way forward with this would be to submit a pull request with the changes that you would like to see, where we can discuss it further. I agree that this would be nice, but we have to do it in a backwards compatible way and the reality is that it's not a high priority.

I'll close this issue for now, but feel free to continue the discussion if needed and I'll keep an eye out for tha

[2020-01-16 11:01] #298 closed

[2020-01-16 16:04] knutster commented on #330
Not sure why this was closed, we are seeing the same thing with Chrome.

[2020-01-16 17:13] stevehobbsdev commented on #330
It was closed because the original issue doesn't really have anything to do with this SDK. The cookies concerned come from `auth0.com` and is a server concern. There is nothing that the SDK can do to change this.

We have already changed the server side to set the `samesite` attribute accordingly - if you inspect the network tab, you should see the `auth0` cookie come down with `samesite` set to `

[2020-01-17 00:02] NerdCowboy opened #335 "Verification Email triggers handleRedirectCallback"
### Description
When a user clicks on the email verification link, it will take them to the site with the following url:
https://example.com/?supportSignUp=true&supportForgotPassword=true&email=example%40gmail.com&message=Your%20email%20was%20verified.%20You%20can%20continue%20using%20the%20application.&success=true&code=success#

Using the auth0-spa boilerplate, this will trigger `auth0FromHook.h

[2020-01-17 10:08] bgever commented on #305
Ok, now I understand it's because of the difference between the Classic and New versions of the Universal Login.

Thanks for looking into the matter, and also thanks for the Auth0 support team to already suggest the `language` option workaround for the Classic version which is working for us.

[2020-01-17 13:23] knutster commented on #330
@stevehobbsdev Thank you for the clarification!

[2020-01-21 04:49] jsrhodes15 commented on #210
Hey there, I noticed this issue was closed with no real solution provided. As a member of a team that relies on this library for authentication and interfacing with Auth0, I would appreciate some guidance on how to handle integration testing while following best practices. I'm happy to contribute, as our team is heavily invested in Auth0, would just need some direction.

[2020-01-21 10:24] stevehobbsdev commented on #335
@NerdCowboy Thanks for raising this. This will be a fix for the React sample repo rather than this SDK, so I will close this for now and raise a PR on the sample itself.

[2020-01-21 10:24] #335 closed

[2020-01-22 13:12] KLaci opened #338 "getTokenSilently is slow even with cache hit."
### Description

Calling Auth0Client's getTokenSilently function takes about 50ms on my MacBook Pro even in cases where the token is retrieved from the cache. With 4x CPU throttling it's about 150ms which can seriously degrade the user experience.

### Reproduction

I'm calling the following function during data fetching.
`const token = await auth0Client.getTokenSilently();`
It takes about 50ms on

[2020-01-23 13:43] stevehobbsdev commented on #338
Thanks for raising this @KLaci, your observation seems correct. The primary function of the lock is to serialize calls to the authorization endpoints, so it makes sense that the lock is only taken if that needs to happen (i.e. there was a cache miss or it's set to ignore the cache).

Let me raise a PR to fix it.

[2020-01-23 14:39] H4kor commented on #287
Hey. Just stumbled over this bug and it is blocking for me. Have seen that there already is a fix on the branch `fix/redirect-uri`.

Will this be merged/released any time soon?

[2020-01-23 14:42] stevehobbsdev commented on #287
@H4kor can you tell me more about why it's blocking for you? What is your situation?

[2020-01-23 14:51] H4kor commented on #287
@stevehobbsdev I have a SPA wrapped with capacitor. The callback url is `<package_id>://callback` but inside the app `window.location.origin` is `http://localhost`. The call to `oauth/token` fails because it uses the `http://localhost` as `redirect_uri`.

I've used your fix on the branch and it seems to work. Thanks :)

[2020-01-23 15:00] stevehobbsdev commented on #287
Thanks for the info @H4kor. I'm hoping to put a patch out next week that includes this change, it's just waiting on a couple of other PRs being finalized. If you can work with the branch for now, I'll update when this patch goes out.

[2020-01-23 16:39] jclx opened #340 "Checking query.includes(“code=”) && query.includes(“state=”) should be part of Auth0"
This example code seems like Auth0 should provide a util function since we have to look for specific query parameters whose names are set by Auth0 response. Or at least some constants. Could they ever change, it would break all our code using these names.
Version is head.
Something like
boolean auth0.queryIncludesRedirectCallback(window.location.search)
which includes code to validate query includ

[2020-01-23 17:33] stevehobbsdev commented on #340
👋 Thanks for raising!

This technique is really specific to the application that's using this SDK. The quickstart samples do (and as it happens this may change) this but there are definitely other ways that this could be achieved. For example, one could set a cookie or something into local storage which has the same effect and not look at the query params at all. Or perhaps a flag could be round-t

[2020-01-23 17:33] #340 closed

[2020-01-23 17:51] jclx commented on #340
As a client, we are not controlling or configuring Auth0 services to put those query parameters on the callback url and naming them. It seems to be a default that Auth0 puts them in the response url. Hence why it seems like it should be part of the API as util method. I don't see the cookie settings.

[2020-01-24 11:21] stevehobbsdev commented on #340
I think we're missing a level of indirection here. Yes, Auth0 puts those querystring parameters on the URL and you can't control that for the most part - but I'm not asking you to.

What you're asking about is an application-level detail and not really much to do with the SDK. The SDK just provides the `handleRedirectCallback` method to call; it's up to you and your application as to when you call

[2020-01-24 11:23] #338 closed

[2020-01-24 14:34] stevehobbsdev commented on #317
PR has been merged and awaiting release - thanks again

[2020-01-24 14:34] #317 closed

[2020-01-27 11:58] ed-sparkes commented on #274
This would be super useful for me too.

Refreshing the access token using `getTokenSilently({ignoreCache:true})` and then `getUser()` is working for me, but would certainly prefer to not have to refresh my accessToken, am using react hooks and my data retrieval on the page is re-triggered if the access token changes with a `useMemo`, would prefer not to have to reload my data just because the user

[2020-01-28 12:27] #287 closed

[2020-01-30 08:56] tom-zeit opened #343 "Expired token was received from getTokenSilently"
### Description

Expired token was received from getTokenSilently.

### Reproduction

1. User logins or already logged in
2. The user hasn't done any actions for more than 24 hours
3. After more than 24 hours, the user interacts with the app, and an API call is made
4. The token is fetched using getTokenSilently and is set on the backend request header
5. the backend fails the request with a token

[2020-01-30 08:57] tom-zeit commented on #343
One other question, in theory, getTokenSilently should always work unless the user refreshed the page? From security perspective, a user can leave the browser open, and get a valid token from getTokenSilently forever?

[2020-01-30 11:10] stevehobbsdev commented on #319
@alexisvincent I'm having a lot of trouble reproducing this given the sporadic nature of the issue. Do you feel that being able to specify a shorter expiry time on the transaction cookie might help here? Then the cookies will fall off quicker and you might not run into this again.

@Roeefl any update on your situation?

[2020-01-30 11:13] alexisvincent commented on #319
@stevehobbsdev Thats not going to work. In the case that the browser gets into a reload loop. It will overflow and break things.

Can you not just make sure theres never more then a single transaction cookie? If there is, delete it before creating another.

[2020-01-30 11:22] mrlubos commented on #64
Anyone else struggling with this, also ensure your application does not use the Auth0 development keys for social login!

[2020-01-30 11:23] zewa666 commented on #300
Hey there @stevehobbsdev. Here's a [sample](https://pragmatic-coder.net/enforted/), I've just experienced the same issue today on Droid.

[2020-01-30 11:31] stevehobbsdev commented on #300
Thanks for the sample @zewa666

[2020-01-30 11:51] stevehobbsdev commented on #319
@alexisvincent We do try and clean up the transaction cookie on `handleRedirectCallback` but that obviously doesn't help if you're _already_ in the situation where you have too many cookies.

We couldn't make it the default, but we could add an option that would allow you to clear out all the transaction cookies at the point where you start authentication.

[2020-01-30 16:38] Plainnn opened #344 "Using .getTokenSilently() in created - Vue"
### Description

When trying to call the getTokenSilently method in the vue js created method an error occurs, but i need to call the method as soon as possible to determine what to show on the page

### Reproduction

`async created() {
    // Get the access token from the auth wrapper
    const token = await this.$auth.getTokenSilently();
    console.log(token)
}
`
This gives me the error of
![im

[2020-01-30 16:59] NotMyself commented on #344
Hi @Plainnn,

Based on your description and the error you are getting, it seems the auth service has not been initialized when the created method gets called. There is some startup cost for creating that service client-side.

Are you following the [quickstart guidance](https://auth0.com/docs/quickstart/spa/vuejs)?

One technique that I use is to provide default anonymous user information. The page

[2020-01-30 17:19] Plainnn commented on #344
Hi, thanks for the quick reply.

Is it possible to delay it? This is my code, maybe im doing something wrong

  async created() {

    let token = null;
    if (this.$auth) {
      token = await this.$auth.getTokenSilently();
    } else {
      return false;
    }
    const { data } = await axios.get('https://lol-stat.eu.auth0.com/userinfo', {
      headers: {
        Authorization: `Bearer ${toke

[2020-01-30 17:33] NotMyself commented on #344
You definitely have an order of operation issue. Have you had a look at the [quickstart guidance](https://auth0.com/docs/quickstart/spa/vuejs)?

[2020-01-30 18:36] Plainnn commented on #344
Thanks, i was **really** misunderstanding eh, but i'm still now facing an issue. If i use this code, it works (on auto refresh from vue/nodemon, or by hitting a link to shows the same component that i'm already on) but if i refresh F5 it returns back null, how can i avoid that?

`  if (this.$auth.user) {
      console.log(this.$auth.user['http://localhost:8080/uuid']);
    }`

[2020-01-30 18:52] #344 closed

[2020-01-31 15:46] ttiras opened #345 "failed silent auth login required"
Hello,
I am facing an issue and error log is not telling much.
"error": {
"message": "Login required",
"oauthError": "login_required",
"type": "oauth-authorization"
}

and this is in har analyzer:
Cache control
Server's cache control (no-cache, no-store)

Cache data missing
The cache information is missing from the entry

getTokenSilently() is producing this error.
if i switch to getTokenWİthPopup

[2020-01-31 16:08] stevehobbsdev commented on #345
Hi @ttiras. You get this error when trying to call `getTokenSilently` in a browser that does not support or otherwise blocks third-party cookie transmission, such as Safari with its ITP technology or Brave with the shields up. Because the cookie cannot be sent to Auth0, we cannot determine whether you are logged in and cannot silently refresh your access token.

Allow me to direct you to [this pos

[2020-01-31 16:08] #345 closed

[2020-02-01 08:17] zewa666 commented on #300
@stevehobbsdev I think I figured out something. If I set a breakpoint [here](https://github.com/auth0/auth0-spa-js/blob/master/src/utils.ts#L62), while inspecting via remote debug in DevTools, and now single step over the window.open, it will open the popup. Now after a few secs the next step over and a run continue makes the popup successfully open.

So it could be that this is related to a timin

[2020-02-01 08:26] zewa666 commented on #300
Modiyfing the `openPopup` helper like this for the return fixed it for me. Of course this is not a nice way, there should be something better in place then just randomly waiting for a given time.

[code]

[2020-02-01 15:33] ttiras commented on #345
Hİ Steve,
Thank you or your help. I understand it is related with the browsers. Can you suggest a workaround for this? I can't find out how to move on. How can i use auth0 under this circumstances.
Regards

[2020-02-02 06:30] Taskle commented on #210
Hi all -- just a followup as someone else who has been hitting these same challenges and finally found a solution that worked...

I took what @cwmrowe provided above and proceeded a bit further as I encountered the same issues that @Nadya913 was hitting.

I was able to finally get this working by inspecting the actual cookies generated on localhost when loading the oauth screen. In the end, there

[2020-02-03 00:09] fedeoo commented on #114
Hi, @luisrudge  Will you consider about this proposal?
I have the same concern.  If it's a sync method, I could render my app earlier.

[2020-02-03 09:50] stevehobbsdev commented on #210
Thanks @Taskle!

[2020-02-03 11:55] ttiras opened #346 "No error description"
Hello,
I am on the latest version and my local app crashes with the error of failed silent auth. But on the logs there is no further definition of the error, i only get: "error": {
      "message": "Login required",
      "oauthError": "login_required",
      "type": "oauth-authorization"
    }
i am using localstorage for catchelocation and still not working.
Is the only option here switching to a

[2020-02-03 12:04] stevehobbsdev commented on #346
@ttiras No absolutely not, using custom domains is one option but you should still be able to use silent auth if you are using local storage as the cache location.

Can you let me know which version of the SDK you have installed, and could you show me some code to see how you're configuring the SDK in your app?

[2020-02-03 12:08] ttiras commented on #346
Thank you.
i installed 1.7.2 beta and tried also o
with 1.6.3.

auth0_config.json:

{
  "domain": "dev-.............eu.auth0.com",
  "clientId": "5qTdl................................................",
  "redirect_uri": "https://localhost:8080",
  "audience": "https://........herokuapp.com/v1/............",
  "cacheLocation": "localstorage"
}

[2020-02-03 12:11] ttiras commented on #346
and auth0-wrapper.js:
import React, { useState, useEffect, useContext } from "react";
import createAuth0Client from "@auth0/auth0-spa-js";

const DEFAULT_REDIRECT_CALLBACK = () =>
  window.history.replaceState({}, document.title, window.location.pathname);

export const Auth0Context = React.createContext();
export const useAuth0 = () => useContext(Auth0Context);
export const Auth0Provider = ({
  c

[2020-02-03 16:58] zewa666 commented on #300
Hey @stevehobbsdev, did you have a chance to take a look at this?

[2020-02-04 00:30] occult commented on #210
Thank you for the help, this has been really hard for me recently and there are little resources :/ What is `const stateId = 'test';` used for? Can it be any random string? I didn't understand that part so well.

[2020-02-04 11:39] stevehobbsdev commented on #346
@ttiras Yes this will only affect the beta, as the local storage feature isn't available on the stable release yet.

I suspect this is because when you call `createAuth0Client`, it calls `getTokenSilently` setting `ignoreCache: true`. This worked fine when everything was just stored in memory, but now that we have local storage involved, we could change that flag so that it uses the cache if there

[2020-02-04 11:43] stevehobbsdev commented on #343
@tom-zeit Thanks for raising this. I agree with your assessment that the cache should be invalidated on read as well. We're currently working on rewriting the cache for the 1.7 Beta, and so this change will more than likely happen there.

This behaviour relies on the `auth0` session cookie from Auth0 server. So you can leave the browser open and get valid tokens repeatedly until the Auth0 session

[2020-02-04 15:20] tomgranerod opened #350 "AnomalyDetected invalid state from usernamepassword/login endpoint"
### Description

So I've implemented a single sign out solution, somewhat based on this idea: https://github.com/auth0-samples/auth0-single-sign-out-sample
So when the single sign out app calls back to a logout.html file through the iframe I change a localStorage property and listen to a storageEvent across all tab instances of the different applications it calls back to - which in turn calls the

[2020-02-04 17:55] PachowStudios commented on #320
@stevehobbsdev Thank you. I never understood why the browser should check iat. That's for the resource server to do.

[2020-02-04 18:37] Taskle commented on #210
@occult TLDR to get this to work, the state in the url params just needs to match the cookie. If you look at where it's generated in the spa library, https://github.com/auth0/auth0-spa-js/blob/master/src/Auth0Client.ts#L249 -- you'll see:
[code]

Also note the source code indicates:
[code]

So what matters is that they match. But for e2e testing, 'test' is fine.

If you still have auth issues with

[2020-02-04 19:00] occult commented on #210
Thank you Dave for the explanation. It helped me understand the solution. I ended up using the `.env` file to make a test version of my app which mocks authentication and is faster than waiting for Auth0.

[2020-02-05 09:50] tom-zeit commented on #343
@stevehobbsdev - Thanks, looking forward to this fix, any ETA on that? It's a major issue for us in production.

Regarding the second part - when you say that the user have to proceed through the interactive login flow, does it mean that we should explicitly trigger that flow? or does it happen automatically when calling getTokenSilently?
From the API documentation, I understand that every call to

[2020-02-05 16:49] stevehobbsdev commented on #343
@tom-zeit Feels like a small change, I should be able to get this in this week.

Unfortunately what we're dealing with here is not an API call. To get a new token, we call the `/authorize` endpoint from a hidden iframe with a `prompt=none` flag, retrieve a new code, and then call the `/token` endpoint to get a new access token. The first part is key because it relies on the `auth0` cookie to work.

[2020-02-05 18:21] dunson062786 commented on #210
Hi @Taskle, @cwmrowe and everyone else,
Thank you for your help with this. Like @occult I've been having trouble implementing this as well. I've created a github repo https://github.com/dunson062786/login-programmatically-into-auth0-with-cypress that adds cypress to the simple react app that auth0 makes you create in their quick start. In my README.md I specify what parts that need to be configure

[2020-02-05 22:37] Taskle commented on #210
@dunson062786 I recommend checking a couple things:
- on localhost, clear your localhost cookies, then go through the auth0 login manually and inspect the cookies; you should see a "a0.spajs.txs.*" cookie created on the login page. Don't login, just inspect that cookie. What's in there is indicative of what will be passed in later and should match what you pass in above.
- check the scope, audienc

[2020-02-06 16:29] dunson062786 commented on #210
Hi @Taskle,
Thank you so much for your prompt response!

When I clear my localhost cookies and go through the login manually (hit the login button on localhost:3000) I get redirected to `${domain}.auth0.com/login?...` and I see these cookies:
![before login cookies](https://user-images.githubusercontent.com/1486284/73951903-4799a000-48cc-11ea-9153-7ba21220ffb4.png)

none of them say "a0.spajs.txs.

[2020-02-06 18:06] dunson062786 commented on #210
Hi @Taskle,

I followed your directions and I figured out what I did wrong. I was setting audience to my auth_audience which is "https://${domain}/api/v2/", but it should have been set to "default". I will update my github repo in a little bit with the fix.

Thank you so much for your help!

[2020-02-06 18:07] Taskle commented on #210
Glad you got it working!

[2020-02-06 18:20] dunson062786 commented on #210
Me too! If anyone needs a working example of logging in programmatically into Auth0 with cypress feel free to clone this repo: https://github.com/dunson062786/login-programmatically-into-auth0-with-cypress.

[2020-02-07 15:59] picosam opened #351 "Custom Claims in TypeScript"
In the definition of `IdToken` https://github.com/auth0/auth0-spa-js/blob/4e8663d875a361fa02954b5adc45c98865790f1b/src/global.ts#L255 how do we accommodate for the custom claims sometimes returned in the ID token; for instance, when injected in there by a custom Auth0 Rule?

[2020-02-09 09:12] ttiras commented on #346
@stevehobbsdev
On 1.7.0 beta.2, Auth0Provider component state, cachelocation is still memory.
i am passing the option for localstorage in auth0_config.json as you can see above.

[2020-02-10 10:12] stevehobbsdev commented on #351
@picosam Right now you'll have to cast the thing implementing this interface to `any`, although if you have any ideas around this I would love to hear them.

Closing this but feel free to continue the discussion.

[2020-02-10 10:12] #351 closed

[2020-02-10 10:17] stevehobbsdev commented on #350
I don't, unfortunately. I think distilling this down to something you can reproduce reliably would be key here. If you can share that sample and some repro steps with us, that would allow us to help debug this further.

Closing this for now, but feel free to re-open when you have a sample.

[2020-02-10 10:17] #350 closed

[2020-02-10 10:19] stevehobbsdev commented on #328
Closing this for now, but if you find out anything else as to what might be causing this, please continue the discussion.

[2020-02-10 10:19] #328 closed

[2020-02-10 10:20] stevehobbsdev commented on #346
I'm about to bring in #352 which may help with this. It'll be released on the beta channel, I'll report here when it's out.

[2020-02-10 10:27] ttiras commented on #346
Thank you very much. It is working now with some workarounds. I appreciate your efforts.

[2020-02-10 21:12] toonvd commented on #330
@stevehobbsdev the warning is probably coming from the auth0_compat and did_compat cookies. These cookies are http only and secure but not SameSite=None. It might be useful to pass this to dev.

[2020-02-12 06:56] stcalica commented on #111
1. Adding the audience to the config in the SPA's config.
2. And then passing it to the wrapping `Auth0Provider` component around my app

This worked for me! Thanks, guys!

Side note: Also does not work in Postman's auth tab cause you can't pass the audience as well. But you can hit `https://<tenant>.auth0.com/oauth/token` in a custom request to get the access token.

[2020-02-14 19:06] ggascoigne commented on #259
I don't understand why types such as Auth0Client aren't just exported from the index.d.ts file in the first place.

[code]

just gives me:

[code]

from my CRA app.

[2020-02-14 19:10] ggascoigne commented on #259
ah, just found https://github.com/auth0/auth0-spa-js/pull/310, looks like there's a likely fix on it's way.  Sweet.

[2020-02-14 20:39] stevehobbsdev commented on #259
@ggascoigne Yes we have a fix being rolled into the 1.7 beta, I'm just waiting on a couple more PRs going through review before release. Hopefully not long.

[2020-02-15 10:15] charsleysa commented on #300
@zewa666 @stevehobbsdev The fix is to not open the popup with a blank url and then change the url, just open the popup with the required url. Here's the `runPopup` function from our customized version of `auth0-spa-js` which works with PWA:
[code]

[2020-02-15 17:26] zewa666 commented on #300
@charsleysa Well sure changing the default opener would be a way, but looking at the current code it seems like there was an intention in not doing so on purpose (see distinct openPopup vs runPopup). Dunno perhaps some specific side-effects on specific browsers or environments (cordova ...). Another reason could be for unit tests, not sure haven't yet looked properly into it.

So without knowing t

[2020-02-15 17:27] zewa666 commented on #300
Seems like MS is having a similar issue https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1006

[2020-02-16 17:02] humphrej opened #357 "Error on authn when used with Angular router redirect"
### Description
Received the below error in the browser console when authenticating an Angular application.  The error was caused because my configuration of the Angular router contained a redirect.  I am unsure if this should be supported or not - my workaround is to configure the Angular router without a redirect.
[code]
### Reproduction
It is reproducible with the 01-Login application in auth0-

[2020-02-17 10:13] stevehobbsdev commented on #357
@humphrej This is unfortunately not supported. Right now the SDK relies on being able to parse the `state` and `code` URL parameters on the callback and there are no current plans to change this. Your changes would need to take into account the query params as it redirects.

As this is an issue with the sample itself rather than the SDK, I will close this for now. However, please feel free to file

[2020-02-17 10:13] #357 closed

[2020-02-17 17:39] stevehobbsdev commented on #346
#352 has now been released as `@auth0/auth0-spa-js@1.7.0-beta.3`. Please try working with that version, and feel free to continue the discussion if you uncover any further issues.

[2020-02-17 17:39] #346 closed

[2020-02-17 17:41] stevehobbsdev commented on #343
@tom-zeit `auth0/auth0-spa-js@1.7.0-beta.3` now has this change to the cache where it is invalidated on read instead of using `setTimeout`. Please can you try working with that version, and feel free to continue/re-open the discussion if you are having further issues.

[2020-02-17 17:41] #343 closed

[2020-02-21 11:19] haydave commented on #95
Hello,
I have set up 2 applications on different domains (e.g. foo1.bar.com and foo2.bar.com) using this tutorial (https://auth0.com/docs/quickstart/spa/angular2/01-login).
Do I understand correctly that using this tutorial as is I could not achieve SSO behaviour?
It is not working for domains but works for **localhost** ('auth0.is.authenticated' cookie domain for both apps is localhost).
@luisrud

[2020-02-21 19:44] gustavo807 opened #359 "Unhandled Rejection (Error): Invalid state"
I set up an app with Saml connection.
![image](https://user-images.githubusercontent.com/15847964/75066225-0ac6cf00-54b0-11ea-95a2-a8c43034bd70.png)

But in my application only receive this
http://localhost:3000/?code=JZGahlVaPU-CwI5a

the state parameter is missing, so how I can include in the Query String field?
Do I need to add extra configuration?

[2020-02-21 19:46] gustavo807 commented on #359
I got this error
![image](https://user-images.githubusercontent.com/15847964/75066428-701ac000-54b0-11ea-9b28-a668f52cd976.png)

`Uncaught (in promise) Error: Invalid state
    at e.<anonymous> (auth0-spa-js.production.js:2047)
    at auth0-spa-js.production.js:141
    at Object.next (auth0-spa-js.production.js:153)
    at auth0-spa-js.production.js:62
    at new Promise (<anonymous>)
    at r (au

[2020-02-22 04:24] Cobalt-Master opened #360 "Can't retrieve an entire user record using this library."
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-02-24 06:33] ylbillyli commented on #359
I get the same error, but some intensive google found this stack overflow answer which help me track down my issue. In my case, it was number 2 the callback is being called twice. Drill down deeper in my case was due to Auth0 is used in a MS Teams Tab which is like an iframe environment and when the sameSite cookie settings is enabled in chrome will fail this... I will post detail in a new issue s

[2020-02-24 06:47] ylbillyli opened #361 "Login fail with SameSite Cookie + iframe (i.e. MS Team Tab)"
### Description

### Reproduction

1) In Angular 8, setup the auth service and callback route according to https://auth0.com/docs/quickstart/spa/angular2/01-login
1) Open Chrome version 80.0
2) Navigate to `chrome://flags/#same-site-by-default-cookies`, enable this option and click the Relaunch button
3) Embed your website that uses Auth0 in a tab , I have tested both the following
    - package u

[2020-02-24 14:49] larsf96 commented on #360
Are you talking about the user's app_metadata or user_metadata?

As mentioned in the migration guide (https://auth0.com/docs/libraries/auth0-spa-js/migrate-from-auth0js), updating user attributes and metadata is not (yet) supported by this library.
But you can as well read the whole user's profile, including its metadata.

[2020-02-25 15:34] stevehobbsdev commented on #360
@Cobalt-Master You should definitely be able to access the properties in your sample without doing any extra work. However, it's true that by default Auth0 only returns a subset of your entire user profile, and that's not a thing that's specific to this SDK. You can use our [Rules engine](https://auth0.com/docs/rules) to extend the user profile object and return whatever metadata you like.

As @la

[2020-02-25 15:41] stevehobbsdev commented on #300
Apologies for the radio silence here. I'm not familiar with the history as to why it behaves like this, so that would be one thing to look into.

Let me have a look this week and see if I can get what you want without having to use a timeout.

[2020-02-25 15:51] stevehobbsdev commented on #361
@ylbillyli Can you confirm that this works expected when the SameSite flags are turned off? Can you also confirm that syncing your cookie without a samesite attribute value breaks your login?

This cookie should not be affected by SameSite because it's being set by the client-side (SameSite only affects those cookies created by the server).

[2020-02-25 17:09] stevehobbsdev commented on #359
@gustavo807 It makes sense that you get that error when there is no state param, as the library can't function without that.

However, I'm unclear as to why you're not getting that param. Let me ask internally and report back.

[2020-02-25 18:28] gustavo807 commented on #359
The issue was in our IdP, we changed the sign-in URL and now works.

[2020-02-25 18:28] #359 closed

[2020-02-25 22:48] sprazzeus commented on #68
My error is slightly different (this file uses `createAuthClient` from `auth0-spa-js`):
[code]

@luisrudge would this be related to @yirenlu92's? I encountered this error upon the first login, so it doesn't seem to be due to filling up cookie space as suggested. Then I tried logging in again with cookies cleared, implying that this is not caused by revisiting the auth page (via back button or othe

[2020-02-26 02:56] ylbillyli commented on #361
@stevehobbsdev Yes, I can confirm that it works perfectly with SameSite flags turned off

Sorry about my bad wording, my fix does not actually "sync" the cookie. As you can see form above screenshot, there are two domains, one form MS Teams and one from ngrok to my localhost. This cookie `auth0.is.authenticated` is always set to `true` in the __ngrok domain__ after successful login regardless of S

[2020-02-26 10:38] stevehobbsdev commented on #361
In that case, the workaround here might to just call `getTokenSilently` manually after `createAuth0Client` - does that work for you? `getTokenSilently` itself does not take that cookie into account.

Furthermore, in the current beta (`@auth0/auth0-spa-js@1.7.0-beta.3`) you are able to use local storage. When you do this, the check on that cookie is skipped. However, there is an issue with that bet

[2020-02-26 10:42] stevehobbsdev commented on #359
@gustavo807 Thanks for letting us know!

[2020-02-26 10:44] stevehobbsdev commented on #95
@haydave I'm not sure I'm following the problem you are having. Are you saying that you're not achieving the desired behaviour? Could you outline what you're seeing and what you expect to happen in a few steps?

[2020-02-26 13:00] haydave commented on #95
@stevehobbsdev
**Expected behavior:**
Automatically being logged in to foo2.bar.com when logging in to foo1.bar.com.

**Actual behavior:**
The user has to log in to foo2.bar.com again, when he has already logged in to foo1.bar.com.

**Additional information:**
When I run foo1.bar.com & foo2.bar.com on `localhost`, SSO works. Logout works in both cases (localhost & foo1.bar.com, foo2.bar.com).

I t

[2020-02-26 13:27] stevehobbsdev commented on #95
@haydave Thanks, that's much easier.

Ultimately I'm not sure what the solution is here yet but just to add a bit of background, if you do happen to have that cookie then it just calls `getTokenSilently` to refresh your local auth state. You should be able to call this manually after the call to `createAuth0Client` to achieve the same effect. If you are in fact still logged in, this additional cal

[2020-02-27 15:24] stevehobbsdev commented on #360
Closing this for now but if you have any further questions or discussion points, please feel free to continue.

[2020-02-27 15:24] #360 closed

[2020-02-27 15:26] stevehobbsdev commented on #313
Adding an option to skip the `getTokenSilently` call is now in our backlog and scheduled to be implemented.

[2020-02-28 10:35] stevehobbsdev commented on #300
@zewa666 I've been looking into this by applying the suggestion above of removing the `openPopup` call and just doing everything in `runPopup`. It mostly appears to work in everything except Safari on iPhone. In that case, the popup gets blocked and the user doesn't see anything at all. Turning off the pop-up blocked in Safari settings does fix it but prompts the user to open it, which isn't nice

[2020-02-28 10:37] #307 closed

[2020-02-28 10:43] charsleysa commented on #300
@stevehobbsdev yup! We managed to solve it by adding an optional parameter to the loginWithPopup config options (alongside the optional timeout setting) called popupWindow which accepts an already opened popup.

Safari on iOS has a security restriction that pop-ups must be opened in synchronous contexts, not asynchronous contexts, for onclick events. We call the loginWithPopup method inside the on

[2020-02-28 10:45] stevehobbsdev commented on #319
@Roeefl @alexisvincent  Please let me know if you're still experiencing issues with this or have found a workaround.

[2020-02-28 11:53] Arnaud73 opened #365 "Typescript error in an Angular 9 app with auth0-spa-js"
### Description

Using auth0-spa-js in an Angular 9 application results in a Typescript error during compilation.

### Reproduction

When auth0-spa-js is used inside a new Angular 9 application, compilation fails with the following error:

[code]

Imports are done this way:
[code]

### Environment

- **Version of this library used:** beta
- **Version of the platform or framework used, if applicabl

[2020-02-28 12:13] stevehobbsdev commented on #300
@charsleysa Sounds like a good solution, thanks. Are you in a position to raise a PR into this repo with that change?

@zewa666 does something like this sound like it would work for you?

[2020-02-28 12:15] stevehobbsdev commented on #365
Thanks @Arnaud73. You should be able to do:

[code]

To import that type - does that cause the error to go away, or does it remain?

[2020-02-28 13:17] zewa666 commented on #300
I'm not 100% sure I followed the explanation by @charsleysa, especially the part about sync vs async, but I'd definitely be willing to take a look if you create a PR. If it contains a sample or unit test, even better. Please ping/request review from me.

Also tbh I haven't checked it with an iPhone since I currently have none available, but thanks for the input, definitely should give it a try as

[2020-02-28 13:25] submarines-and commented on #319
We get this issue as soon as the user session expires. Our "workaround" is to clear all cookies.

[2020-02-28 13:27] alexisvincent commented on #319
Same. We clear all tx cookies whenever we load relevant pages

On Fri, 28 Feb 2020 at 13:25, Johannes Sörensen <notifications@github.com>
wrote:

[2020-02-28 13:33] submarines-and commented on #365
Same issue for us, syntax above does not work. Our workaround is to set "skipLibCheck": true, in tsconfig.json.

[2020-02-28 13:41] Arnaud73 commented on #365
Thanks @stevehobbsdev!

Bad luck, it does not change a thing. Same error :(

For additionnal information, my AuthService is quite similar to the one defined in your documentation (https://auth0.com/docs/quickstart/spa/angular2/01-login). I guess yours, if implemented in a brand new Angular 9 project, will raise the error.

[2020-02-28 13:47] Arnaud73 commented on #365
Thanks @submarines-and, your workaround is working for me. I'm going to stick with `"skipLibCheck": true` until the package is fixed

[2020-02-28 14:40] stevehobbsdev commented on #300
@zewa666 I think the essence of it is that `loginWithPopup` is changed so that it can accept an instance of a popup window that you have created yourself and use that instead of building its own. If the platform is iOS, you can make use of this option so that it behaves correctly with Safari's built-in security restrictions around popups.

[2020-02-28 14:43] stevehobbsdev commented on #365
I'm not sure we're able to fix this particular issue any time soon. The way it has been built so far doesn't play very nicely with mixed default and named exports, so unfortunately we need to get a little bit hacky with the type system. To fix this though will mean a breaking change. This is absolutely something we want to fix in the future when we release a new major version though, and the inter

[2020-02-28 14:43] #365 closed

[2020-02-28 14:45] stevehobbsdev commented on #319
@submarines-and Thanks for your input here. The local storage feature and the transaction cookie are for two completely separate things, but you make a good implication here that those two things _could_ be unified in a later version.

@alexisvincent thanks for letting me know. Sounds like that is the way forward.

[2020-02-28 17:13] zewa666 commented on #300
While this works it would hurt the DX of the Api in my opinion. I mean right now all I do is call loginWithPopup and I'm good to go. If there is no other way around ok but at least it feels a bit dirty. Nevertheless lets first see some code.

[2020-02-28 18:11] stevehobbsdev commented on #300
@zewa666 It feels to me like a decent solution to get around the security restrictions. I'm not sure what else you could do to get this working.

It might be worth checking your solution too to see what impact it has when on iOS.

[2020-02-29 12:30] godhar commented on #228
Has this solution been implemented? I would sure like if it was. I am using a custom authorization server, where I need to use my own scopes.

[2020-02-29 13:27] nojaf opened #366 "Login only, disable sign-up"
### Describe the problem you'd like to have solved

I don't think this is possible today, so I would like to have a login only functionality.
I'm targeting a limited number of users (which I later grant a role) and my application will be useless unless you have a certain role.
So it is a bit pointless to sign up and I don't want uninvited people to sign up.

### Describe the ideal solution

If the

[2020-03-02 10:11] stevehobbsdev commented on #228
@godhar It has not been implemented so far to date. Can you tell me more about your use case?

[2020-03-02 10:19] stevehobbsdev commented on #366
@nojaf This is more of a concern about how you configure the Auth0 login page and not something you would configure in the SDK itself, so I will close this.

However, can you tell me whether you're using the classic login experience or the new one? (Go to your Auth0 Dashboard > Universal Login to find out). Then I can try to route you to the right place to configure it.

[2020-03-02 10:19] #366 closed

[2020-03-02 10:19] godhar commented on #228
@stevehobbsdev I have been given a django oauth2 server with pkce implementation. No oidc layer, no no SPA credentials to send to the server. I have an /authorize and /token endpoint, but I need to handle all the rest as well, silent refresh (I think), oauth iframe flow and tokens. Every library I had tried has this oidc layer that I do not need.

SPA - oauthserver/authorize + pkce   ----> server.

[2020-03-02 12:23] nojaf commented on #366
Hey @stevehobbsdev, I'm using the classic login page.
I'm guessing I need to change the html to achieve what I want?

[2020-03-02 14:19] stevehobbsdev commented on #366
Yes - as you are using Lock, you can choose to customize the template from that same page. There you can change the configuration options for Lock and specify `allowSignup: false` ([this is also documented here](https://auth0.com/docs/libraries/lock/v11/configuration#allowsignup-boolean-)).

[2020-03-02 17:21] stevehobbsdev commented on #300
@zewa666 Please could you evaluate this PR and see if it meets your needs? https://github.com/auth0/auth0-spa-js/pull/368

There's an example of usage to fix the iOS problem where you can pass in your own popup window. I've tested it on iOS and it appears to work.

[2020-03-02 17:26] nojaf commented on #366
Many thanks @stevehobbsdev

[2020-03-03 09:12] stevehobbsdev commented on #366
@nojaf No problem! Let me know if you have any more questions

[2020-03-03 10:02] stevehobbsdev commented on #228
@godhar Unfortunately this SDK was not designed as a generic OIDC/OAuth2 library and as such it is designed to be quite opinionated when it comes to the flows we implement, including which scopes we use out of the box. As such something like this is low priority for us to work on.

However, I would happily take a look at a PR which implements what you need, that I can use as a basis for internal d

[2020-03-03 10:41] stevehobbsdev commented on #240
@bvamp 👋 Just wondering if this is still an issue for you on current versions of Chrome. I can't reproduce this, so is there anything else you can tell me about your scenario? Do you have a small repro you can share that I can clone and see the problem on my end?

[2020-03-03 16:18] #208 closed

[2020-03-04 02:30] charsleysa commented on #300
@stevehobbsdev this is probably outside of scope for the PR you created but the popup should have a cancel listener alongside the timeout listener as it is quite a negative PWA experience if you click login then for whatever reason the popup is closed, the UI is unable to determine that the popup was closed until the timeout occurs so if a "spinner" is displayed until the timeout occurs the user c

[2020-03-04 14:56] NevenLiang commented on #217
I have tried to manually remove the cookies with name 'a0.spajs.xxx' before calling the method contains `loginWithRedirect()` as following.

[code]

[2020-03-04 16:28] stevehobbsdev commented on #217
Thanks @NevenLiang . The feeling at the moment is that we're going to build this into the SDK for you behind an option that you can turn on. I can assume the code snippet you supplied worked for you?

[2020-03-05 01:14] NevenLiang commented on #217
@stevehobbsdev Yes, it works.

[2020-03-05 09:16] srihari93 commented on #228
@stevehobbsdev
Hi, we are migrating to spa-js from lock and noticed that our JWT's are too fat to fit in the Authorization header. Noticed that the `profile`  scope is being added to our tokens, by default, making them huge.

Can we have a mechanism to have total control over what scopes are included in the token?
This mechanism was available for lock-js and there is an obvious need for it in the

[2020-03-05 09:30] stevehobbsdev commented on #228
@srihari93 Yes, please raise the PR and we can discuss there 👍

[2020-03-05 09:32] #217 closed

[2020-03-06 12:24] fcandi commented on #316
Hi @chris-freightweb I have the same problem. Can you explain to me what you exactly mean with "doing the polyfill for TextEncode"?

Thx,

Andreas

[2020-03-06 12:51] fcandi commented on #316
I just tried the last versions and for me the latest version that works is 1.0.1. Beginning of 1.0.2, the above error occurs.

Andreas

[2020-03-06 21:02] CloudEntity57 commented on #225
I have this problem with auth0-spa-ts as well, but adding usehash:false to router does not fix it.

[2020-03-06 23:00] chris-freightweb commented on #316
Hey Andreas. I just checked and it looks like the author of fast-text-encoding actually fixed the issue last night. So @stevehobbsdev if you guys update auth0-spa-js to use fast-text-encoding 1.0.1 instead of 1.0.0, this issue would be resolved without any workarounds (https://www.npmjs.com/package/fast-text-encoding)

[2020-03-06 23:02] chris-freightweb commented on #316
But if you don't want to wait for that, you could import fast-text-encoding 1.0.1 in your project and simply import that before you import auth0-spa-js. Then the polyfill will work properly... I _think_...
e.g.
[code]

[2020-03-07 08:28] fcandi commented on #316
@chris-freightweb thx a lot, you saved my day. Its working just fine now!!

Have a nice day,

Andreas

[2020-03-07 13:09] dhthwy commented on #52
This bit me as well. If you go to developer tools -> console in Chrome and see an error status code of 400 from auth0 server  then you can right click the link and 'Open in new tab' where you can see the details of the error from auth0. This might lead you to a quick fix.

In my case it was: "invalid_request: The specified redirect_uri 'https://localhost:44354' does not have a registered origin"

[2020-03-09 10:59] adamjmcgrath commented on #365
This should be resolved by #367 - which is in the latest beta

Can you give [v1.7.0-beta.4](https://github.com/auth0/auth0-spa-js/releases/tag/v1.7.0-beta.4) a try?

[2020-03-09 11:30] Arnaud73 commented on #365
Seems to be working for me :)

[2020-03-09 13:42] stevehobbsdev commented on #316
Thanks for the heads up @chris-freightweb , raised #371 to fix this.

[2020-03-10 15:07] venku commented on #361
We are also experiencing a similar issue. Given I am logged in user and if I reload/revisit the app I see blank page for a minute or so with logs showing that SameSite should be none as a warning below and we get 400 response from the authorize endpoint. After a minute it makes a call to get oauth token which succeeds and lets the app through.

```A cookie associated with a cross-site resource at

[2020-03-10 18:47] dnlsandiego commented on #343
Hi @stevehobbsdev. I've encountered the same problem with the same-ish workflow.
* Client app boots after a user has been idle for like a day and the client app calls `getTokenSilently` for a valid `accessToken`.
* Client app hits my API with the `accessToken` for resources.
* API validates the `accessToken` and sees its expired.

I just tried both `v1.7.0-beta.3` and `v1.7.0-beta.4` but no luck o

[2020-03-10 20:20] albertlockett opened #373 "Auth0Client handleRedirectCallback redirect_uri default to window.location.origin if not set in transaction cookie"
### Describe the problem you'd like to have solved

I was wondering about if it would be possible in Auth0Client to have the handleRedirectCallback method use the default value for the redirect_uri if it isn't set in the transaction cookie.

When the code calls loginWithRedirect(), a cookie gets set for the transaction. In version 1.2.4 the cookie doesn't have the redirct_uri parameter and so when

[2020-03-10 23:31] mattcosta7 commented on #240
I'vee come across this a couple times recently, but haven't quite figured out how to make it happen yet

[2020-03-11 09:39] stevehobbsdev commented on #240
@mattcosta7 We're having trouble reproducing this too, even with a [repro sample](https://github.com/auth0/auth0.js/issues/1044#issuecomment-595360195). My feeling is that this is an environmental thing.

[2020-03-11 12:08] stevehobbsdev commented on #373
Thanks for raising this @albertlockett. Yes, please raise your PR where we can discuss further.

[2020-03-11 12:48] albertlockett commented on #373
Sounds good will do

[2020-03-11 16:38] stevehobbsdev commented on #361
@venku It's likely there are two separate issues here:

1) The samesite warning is more than likely coming from the legacy cookie that we set to support older browsers and is nothing to worry about

2) It looks like you're hitting the 60 timeout which normally occurs as a result of a configuration problem. This is covered in [the FAQ](https://github.com/auth0/auth0-spa-js/pull/371).

Please check

[2020-03-11 16:42] #316 closed

[2020-03-12 09:29] #300 closed

[2020-03-12 17:41] adamjmcgrath commented on #240
I'm able to reproduce this, but very intermittently and only on PC or when I throttle the CPU on a Mac.

@bvamp I tried your branch #244 but was still able to reproduce it. Are you able to consistently reproduce it on your machine? If so, can you try this branch https://github.com/auth0/auth0-spa-js/tree/delay-iframe-removal - we're looking into just delaying the removal of the iframe for a couple

[2020-03-12 19:07] grutt commented on #361
@stevehobbsdev this issue appears to be resolved with `@auth0/auth0-spa-js@1.7.0-beta.4` and setting  the Auth0ClientOption cacheLocation to 'localstorage'. However, I was under the impression that storing tokens in localstorage exposed higher risk for xss. Is this addressed in the beta release or am I mistaken?

[2020-03-13 20:06] l222p commented on #259
Any update?
I'm still having this issue on version 1.6.4 and typescript 3.8.3

[2020-03-17 11:24] stevehobbsdev commented on #259
@l222p Yes the fix is deployed into the beta if you'd like to try it. There should be no breaking changes there so you should be able to start using it without any changes.

`@auth0/auth0-spa-js@beta`

Would love to hear some feedback on the TypeScript typings if you get a change to try it.

[2020-03-17 11:50] stevehobbsdev commented on #361
@grutt This is something we're adding as an option for developers that they can use provided they understand the risks of doing so, where the default mode of storage will continue to be in-memory. When using local storage, there is indeed a risk of having tokens stolen through a successful XSS attack, but that risk is not entirely mitigated by using the in-memory option either.

When the beta move

[2020-03-17 11:51] stevehobbsdev commented on #361
@ylbillyli Closing this for now - if you have anything further you'd like us to investigate here, please feel free to continue.

[2020-03-17 11:51] #361 closed

[2020-03-17 11:56] stevehobbsdev commented on #225
@CloudEntity57 Which version are you testing with?

[2020-03-17 13:12] stevehobbsdev commented on #240
@bvamp We've added a time-delay to the close operation in #376, please let us know if this does not improve your situation.

[2020-03-17 13:12] #240 closed

[2020-03-17 13:27] stevehobbsdev commented on #373
@albertlockett Merged this for you, expect it in a new release this week.

[2020-03-17 13:27] #373 closed

[2020-03-17 13:29] stevehobbsdev commented on #313
@PeterGFernandez Today we merged a new addition #377 which allows you to directly access the `Auth0Client` constructor instead of making you use the factory function. This way you can effectively bypass the `getTokenSilently` call on startup. This means at some point you will have to manually call `getTokenSilently` to refresh your session.

[2020-03-17 13:29] #313 closed

[2020-03-17 13:30] stevehobbsdev commented on #292
👋 Today we merged a new addition #377 which allows you to directly access the Auth0Client constructor instead of making you use the factory function. This way you can effectively bypass the getTokenSilently call on startup. This means at some point you will have to manually call getTokenSilently to refresh your session.

Closing this for now but if that does not allow you to solve your issue, plea

[2020-03-17 13:30] #292 closed

[2020-03-17 14:03] grutt commented on #361
@stevehobbsdev right, I see. I was more comfortable with in-memory when assessing Auth0 as a vendor.

In this case, I'm not entirely happy with the dump it into localstorage as a solution. I appeared to be calling `getTokenSilently` manually after `createAuth0Client` and still had this issue. Maybe we can add an option to not perform this check or to selectively store `auth0.is.authenticated` in l

[2020-03-17 14:27] stevehobbsdev commented on #361
@grutt Regarding your concerns over in-memory vs. local storage, it's entirely optional and you must _opt-in_ to using local storage in accordance with your requirements.

We have just merged into `master` the ability to access the `Auth0Client` constructor rather than use the factory function `createAuth0Client`, which is what performs all those checks. Would this help in your case? You would the

[2020-03-18 01:11] sampsonjoliver commented on #292
Fantastic! I'll try and give this a go in my project sometime shortly and let you know how it goes :)

[2020-03-18 17:14] alkamin opened #381 "Uncaught TypeError: Super expression must either be null or a function"
### Description

First, I'd like to say that I really appreciated the dev experience when replacing auth0-js with auth0-spa-js. The API is so much more intuitive and other than this error everything has just worked. So, thank you all for your efforts.

We have _no problems_ in development but after a production build we get the following error emitted from the library:

[code]

I'm a bit stumped b

[2020-03-18 17:30] adamjmcgrath commented on #381
Hi,

Would you mind sharing your `package.json` and webpack, or other build tool, config?

I'm surprised to see that the module is resolving `auth0-spa-js.production.js` (I would expect it to resolve `auth0-spa-js.production.esm.js`)

Doing `import createAuth0Client from "@auth0/auth0-spa-js"` should fix your issue (you probably don't need both the factory and the constructor)

[2020-03-18 17:36] adamjmcgrath commented on #381
Ah, sorry - ignore me.

My colleague @stevehobbsdev thinks it might be an issue with an old version of `react-scripts`. Could you upgrade `react-scripts` and give it another go?

[2020-03-19 16:10] Bastczuak opened #384 "handleRedirectCallback() doesn't remove query / state always undefined in Chrome"
### Description

Calling handleRedirectCallback() after redirect from hosted page doesn't remove the two query parameters `code` and `state` from the url. Also the returned state is always undefined. This results in a `Invalid state` exception and another redirect to the hosted page after page refresh.

### Reproduction

[code]
[code]

### Environment

- **Version of this library used:** 1.6.4
- *

[2020-03-22 09:47] picosam commented on #351
@stevehobbsdev I submitted a very simple pull request to remedy this, but it's failing for some reason related to the `email_verified` field being a `boolean` instead of a `string`.

[2020-03-23 12:24] YassineDM opened #387 "Infinite loop with custom rule"
### Description

I followed the [React: Login](https://auth0.com/docs/quickstart/spa/react/01-login#configure-auth0) tutorial for Auth0's SPA SDK and it works fine.
Particularly, a PrivateRoute redirects an unauthenticated user to the Auth0 login page and then back to intended path.

Then I tried to introduce a custom rule to redirect user after signup but while it does redirect to specified url,

[2020-03-23 13:24] adamjmcgrath commented on #384
Hi @Bastczuak

You need to remove the query / state from the url yourself, using something like:

[code]

You're probably getting `Error: Invalid state` when you reload the page while the query params are still there. The auth0Client will try to swap the code and state for a token again and this will fail with `Invalid state` as the state has already been used to get a token.

Have a look at the [

[2020-03-23 13:45] Bastczuak commented on #384
Hey @adamjmcgrath,

I realized that after I created this issue. So sorry for that. I somehow miss this in the official [docu](https://auth0.com/docs/libraries/auth0-spa-js) or am I wrong again?

[2020-03-23 15:11] nirvdrum opened #388 "Login loop if auth0.com cookie can't be created"
# Description

_auth0-spa-js_ can't really keep track of its login state if it can't use a 3rd party cookie from auth0.com. This is the default configuration when setting up a tenant with Auth0. Unfortunately, we've seen both Brave (out the box) and any browser with the Privacy Badger extension installed won't work with the 3rd party auth0.com cookie.

I understand the solution is probably just to

[2020-03-23 15:17] adamjmcgrath commented on #384
Yeah, admittedly, this section of the documentation is not great https://auth0.com/docs/libraries/auth0-spa-js#login-and-get-user-info

I'll raise something internally to see if we can improve it.

In the meantime, the Vue quickstart is the best resource for creating Vue apps with this library. And check this issue if you're using `hash` mode  in your `VueRouter` https://github.com/auth0-samples/a

[2020-03-23 15:17] #384 closed

[2020-03-23 15:31] stevehobbsdev commented on #388
@nirvdrum Thanks for raising this. This is something we're actively working on to try and make this experience better for our users, including adding an option to make use of local storage as you mention. We have a beta in play right now that allows you to do that (`npm install @auth0/auth0-spa-js@beta`) by setting `cacheLocation: 'localstorage'` when creating the client.

If you try the beta and

[2020-03-23 15:31] #388 closed

[2020-03-23 22:12] stevehobbsdev commented on #387
@YassineDM Can you share your `PrivateRoute` implementation? Is it straight out of the React tutorial without modification?

Are you also able to verify that silent authentication works for you (with or without the custom rule)? i.e. are you able to log in, then refresh the page and remain authenticated without having to log in again?

[2020-03-23 23:35] YassineDM commented on #387
´PrivateRoute´ implementation is exactly the same as in the tutorial and the access token I get with the ‘getTokenSilently’ method from the auth0 hook is well decided and verified by my Rails API backend...

[2020-03-24 10:11] aphillipo commented on #210
How can we find out if default is correct? On your example people are saying this isn't right for them?

[2020-03-24 11:35] srihari93 commented on #228
@stevehobbsdev done, https://github.com/auth0/auth0-spa-js/pull/389

[2020-03-24 12:42] alkamin commented on #381
Thanks for the prompt response and patience!

I can confirm that the upgrade to `react-scripts` solved the problem for me 🎉

Thanks for your help!

[2020-03-24 14:11] adamjmcgrath commented on #381
Great! 😄

[2020-03-24 14:11] #381 closed

[2020-03-24 16:59] adamjmcgrath commented on #387
Hi @YassineDM

Redirecting users from within rules is for adding additional steps to the authentication flow, like Multi-Factor Authentication, not for overwriting the OAuth `redirect_uri`

See: https://auth0.com/docs/rules/guides/redirect#start-redirect-and-resume-authentication
"Once all rules have finished executing, Auth0 redirects the user to the URL specified in the context.redirect.url prop

[2020-03-24 17:05] Taskle commented on #210
In my case I was using a custom url as my audience and not default. Something I defined within auth0. And it's working for me as such. Admittedly it's been a while since I've looked at this, but the same code I have from above is working.

[2020-03-24 19:54] Afbcary opened #390 "parseQueryResult Invalid state"
# Description

I've created an app with react create app and followed the [Quickstart Guide](https://auth0.com/docs/quickstart/spa/react/01-login). I am connecting to an auth server running locally that implements OAuth 2.0 w/ PKCE.

### Reproduction
- Code available here: [https://github.com/Afbcary/balderdash](https://github.com/Afbcary/balderdash)
- Run the app with `yarn start`.
- Click login

[2020-03-24 21:34] stevehobbsdev commented on #390
@Afbcary I can't test this fully as it looks like you're interacting with a third-party IdP that I don't have access to (looking at your [`auth_config.json`](https://github.com/Afbcary/balderdash/blob/master/src/auth_config.json)), but I cloned the app and replaced the config with my own Auth0 config and I can see the app works just fine.

Is it possible that the IdP you're using is not returning

[2020-03-24 23:03] Afbcary commented on #390
Thanks @stevehobbsdev I'll check if the state value is being modified and report back soon.

[2020-03-25 16:14] Afbcary commented on #390
My react app 'balderdash' makes a request to my auth server 'kalidasa' with a state.
`Original state: b3lvZzIybllDUGRUdURwZW4wQzBPSGtjWHZrNHNkaEhsVUlueX5QZ1hyLg==`
To ensure that state isn't mangled in the URL, Kalidasa urlencodes it and then decodes when redirecting.
[code]
Back in balderdash, the window.location is
`http://localhost:3000/?code=LrOrsM6gY0QaYPTuva%252BG3PZrJTehWgcp1a%252FVZp0gWXE%

[2020-03-25 18:42] Afbcary commented on #390
I was able to modify the source to get further but then ran into problems with the grant via /oauth/token. I'm going to try a different library. Thanks for your timely response.

[2020-03-25 18:42] #390 closed

[2020-03-25 20:32] stevehobbsdev commented on #390
@Afbcary No problem, thanks for bringing this to our attention.

I think I can see what's going on. The SDK URI-encodes the state before redirecting to the auth server and it expects it back URI-encoded. It doesn't look like the state is returning to your app URI-encoded, and [this piece of `parseQueryParms`](https://github.com/auth0/auth0-spa-js/blob/master/src/utils.ts#L27) is interfering, becau

[2020-03-26 07:16] SunnyXiao opened #391 "Does the auth0 spa support rememberLastLogin ?"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-26 13:36] Bastczuak opened #392 "Detect or synchronize Auth0 state in different tabs."
### Describe the problem you'd like to have solved

Let's imagine my website is opened in two tabs. If the user logs out in tab one and switches to tab two he is still logged in there. I would love to have a feature which detects that state so that the user get forced logged out also in tab two. Why? Because he can still do some UI interactions and call the backend which then says: 'Ups you are un

[2020-03-26 13:41] adamjmcgrath commented on #392
Hi @Bastczuak you can do the same thing with this SDK

[code]

[2020-03-26 13:47] Bastczuak commented on #392
@adamjmcgrath Thanks for the answer. I already tried this but I have to say that `getTokenSilently()` doesn't fail. I get a valid token back in logged out state.

[2020-03-26 15:46] stevehobbsdev commented on #292
@sampsonjoliver Just to circle back here, this feature was pulled from master but has just been released into the beta version. This can be installed using `auth0-spa-js@1.7.0-beta.5` if you still wanted to try it out.

[2020-03-26 17:16] Bastczuak commented on #392
After digging in you code, I found out that I have so set `IngoreCache: true` in `getTokenSilently()`. My 2 cents: Please don't enable cache by default! But why what do I know. I guess you had your reasons.

[2020-03-26 17:22] nirvdrum opened #394 "localstorage cache location ignored if cookies exist"
### Description

Based on the resolution status to #388, I've switched to to using the local storage cache location in the 1.7.0 beta. If working with a completely new browser session, this approach works fine with both Privacy Badger and Brave's default settings. However, if the user had previously used the site, such that auth0.com cookies are available, it looks like the local storage cache is

[2020-03-27 10:51] adamjmcgrath commented on #392
Great, thanks @Bastczuak - I'm glad you've got it working. Will take your comment about `ignoreCache` onboard and discuss it with the team

[2020-03-27 10:51] #392 closed

[2020-03-27 11:01] adamjmcgrath commented on #387
Closing this, feel free to reopen if you want to continue the conversation

[2020-03-27 11:01] #387 closed

[2020-03-27 17:06] YassineDM commented on #387
Thank you very much for your help, I will try this new approach then...

[2020-03-27 22:27] tommmyy commented on #228
I will add another use case. I am trying to use this lib together with Liferay portal. Unfortunately, if I provide the scope, that he do not know, it will return the error "INVALID_SCOPE".

And there is no way how to add custom scope (https://portal.liferay.dev/docs/7-2/deploy/-/knowledge_base/d/oauth2-scopes) that is named e.g. "email" of "profile" because the Liferay always add its prefix the na

[2020-03-28 19:42] dincozdemir commented on #308
Is there any progress on this issue? I'm using a popup login and when im logging out I can't get around the redirect. If i set `localOnly: true` it logs me out, but it will log user in again on page refresh.

[2020-03-28 20:09] VitalieStirbu commented on #345
I have the same issue. I understand that it is related to the browser. But I can't tell the users not to use Iphones (Safari) for the app. Is there a workaround?
@ttiras  how did you solve the issue?

[2020-03-30 16:56] stevehobbsdev commented on #308
@dincozdemir No progress so far, but will accept a PR.

The local logout issue is interesting though - can you see if the `auth0.is.authenticated` cookie remains after you call `logout({ localOnly: true })`? When you refresh, if that cookie is no longer there, it should not log you in unless you're manually calling `getTokenSilently`.

[2020-03-31 10:27] nkete opened #396 "Handle rate limit hit response"
### Description

`getJSON` called by `oauthToken` assumes JSON response. This causes an issue when you hit the rate limit, because in that case the response is
[code]
which throws a JSON Parse exception [when parsing the response](https://github.com/auth0/auth0-spa-js/blob/master/src/utils.ts#L198).

### Reproduction

Hit the rate limit :)

The easiest way I found to reliably hit the limit is to a

[2020-03-31 10:46] costas90 opened #397 "Redirect User to Signup page instead of Login page?"
Hello,

I implemented the Vue.js quickstart for auth0-spa-js .

Now I want to create a Register button that redirects the user to the Sign Up page instead of the Login page.

Is it not possible? I dont see a method for doing so.

If this is not available, what is the reason?

[2020-03-31 11:04] costas90 commented on #397
I just figured this out. I used:

[2020-03-31 19:59] stevehobbsdev commented on #394
@nirvdrum Can you supply us with a small repro to demonstrate the issue, or point us to some code? Just so we're on the same page when trying to fix it.

[2020-03-31 20:15] stevehobbsdev commented on #391
Hi @SunnyXiao,

Can you tell me which login experience you're using - classic or new? This can be determined by looking at the **Universal Login** screen in your [Auth0 Dashboard](https://manage.auth0.com). The reason I'm asking is that the "new" experience does not support such a feature, whereas "classic" does. The default template for Classic will set this property to `true` as long as there is

[2020-03-31 20:15] #391 closed

[2020-03-31 20:42] costas90 commented on #397
I am trying this with the Classic Univeral Login also and it doesnt work. I tried the following with no success.

and also

This is according to the configuration options here https://auth0.com/docs/libraries/lock/v11/configuration#initialscreen-string-

Do I need to use the Lock for Web library also?

[2020-03-31 21:14] nirvdrum commented on #394
It's hard to just point you at code because you need to run it in one state to generate cookies, then change the cache location to local storage and then run it again with the cookies from the previous phase in place. I guess I could do it with two branches, but you'd still need to deploy them somewhere. As far as I know, the 3rd party cookie restriction with Privacy Badger isn't enforced from loc

[2020-03-31 21:29] stevehobbsdev commented on #397
@costas90 Your usage of `loginWithRedirect` looks correct; what's missing is applying those parameters to your Lock configuration. This doesn't happen automatically - you have to modify the Lock template so that it picks up those parameters from the query string and configures Lock using [the options that you've linked to](https://auth0.com/docs/libraries/lock/v11/configuration#initialscreen-strin

[2020-03-31 21:35] stevehobbsdev commented on #394
I will try this as well, but it might be worth seeing if you can reproducing this using the playground built into the SDK itself.

* Clone the repo and check out the beta release tag (`git checkout v1.7.0-beta.4`)
* Run an `npm install`
* Start the playground using `npm start` and open http://localhost:3000

The playground allows you to do the full login flow and easily switch between memory and l

[2020-03-31 21:46] costas90 commented on #397
Thank you I made it work thanks to this thread https://community.auth0.com/t/how-to-redirect-user-to-hosted-signup-page/9482/2

I am not sure I quite understand what is happening but it works.

For example, where can I read more about `extraParams`?

[2020-04-01 04:40] danprime commented on #95
@luisrudge Thanks for clearing this up (how it performs a silent auth if the cookie is present). My SPA got into a vicious loop where the page wouldn't load because it erred/400 on a silent authentication and then I checked the logs to see that mysteriously the origin URI wasn't registered (even though it was).

I was following this tutorial: https://auth0.com/blog/securing-gatsby-with-auth0/ and

[2020-04-01 12:47] stevehobbsdev commented on #397
Glad you got it working! `extraParams` is basically any additional parameters that are sent by your application in the `/authorize` call that Auth0 does not itself use. These can then be picked up by your Lock template in `config.extraParams` and used how you wish. [This thread](https://community.auth0.com/t/passing-config-to-hosted-login-page/8073) may help you understand more.

Let me know if th

[2020-04-01 12:47] #397 closed

[2020-04-02 11:43] costas90 opened #400 "VueApollo Authorization - Uncaught (in promise) TypeError: Cannot read property 'getTokenSilently' of null"
### Description

I used the Auth0 configuration from https://auth0.com/docs/quickstart/spa/vuejs/01-login

I added VueApollo and after login, when I refresh the page I get the error:

It seems that this happens because Apollo is loading before the Auth0 instance.

In Apollo, I use the following to get the token, and thus causes the error:
[code]

I am not sure how to fix this.

Not sure if related

[2020-04-02 12:02] costas90 commented on #400
Sorry the issue was with Vue Apollo. I found how to fix it.

[2020-04-03 11:59] stevehobbsdev commented on #400
Yes that sounds like what is happening. The SDK must be initialized first before methods like `getTokenSilently` will work.

Closing this for now as it's not an issue with the SDK, but feel free to continue the discussion.

[2020-04-03 11:59] #400 closed

[2020-04-03 13:01] costas90 opened #401 "Auth0 SPA + Vue Apollo"
**Intended outcome:**
I am trying to open a websocket connection to my Hasura Api which is hosted on heroku. Hasura requires custom headers with `{authorization: 'Bearer ${token}}`.

I use the new `auth0-spa-js` library and I have to get a token asynchronously with `await authService.getTokenSilently();`.

**Actual outcome:**
Even though I get a valid token from the code below, I get the error `ca

[2020-04-03 17:54] costas90 commented on #401
Original post updated with errors . When I enable lazy: true it works sometimes only.

[2020-04-03 18:12] costas90 commented on #401
When I logout it never works. I get the same error. I need it to work though because I want to show some data to logged out users also.

[2020-04-05 17:10] diegopy opened #402 "createAuth0Client throws without returning client instance when silent auth fails with 'consent_required'."
### Description

createAuth0Client doesn't handle the 'consent_required' auth failure case and throws without returning a client instance. In general I think the whole code flow should be rethought as this function is doing two seemingly unrelated things: creating the client AND trying to authenticate silently. There's no clear way to indicate failure in one or either of those things failing.
A PR

[2020-04-05 17:11] #402 closed

[2020-04-06 11:12] rpuls opened #404 "Unable to direct user to either login or signup page in classic lock."
Hello, I’m trying to direct my users to the signup form when they are not already registered, but it doesn’t seems to be working.

I’m using the SPA SDK and passing options like this:
onClick: () => props.loginWithRedirect({ mode: 'signUp', login_hint: email }),
I can confirm that the email hint is working but the mode property doesn’t seem to be.

I’m using the classic lock universal login page.

[2020-04-06 12:36] stevehobbsdev commented on #404
Thanks for raising this @rpuls. Classic Lock won't automatically pick up these properties. You should find that they will appear as querystring parameters on the Authorize call though. In which case the thing to do here is to use a custom login page, where you can pick up these a parameters in the `config.extraParams` object and configure Lock how you wish.

[This community thread](https://communi

[2020-04-06 12:36] #404 closed

[2020-04-06 14:18] stevehobbsdev commented on #401
@costas90 assuming you're using the stable version 1.6.5, the SDK does not use refresh tokens. It uses a hidden iframe to perform a full authentication flow and then a call to the token endpoint. This will work as long as you're still signed in to Auth0, and you're not using a browser that blocks third-party cookies (Safari, Brave) etc.

But yes - when you call `getTokenSilently`, the SDK will tak

[2020-04-06 14:18] #401 closed

[2020-04-06 16:27] RipTheJacker commented on #210
Additional calls in the application `getUser` or `getTokenSilently` do not seem to work this way. It appears to log me in, `handleRedirectCallback` works as expected, but `getUser` returns `null` and `getTokenSilenty` return a 'login_required' error.

[2020-04-07 14:16] Enngage commented on #397
I'm guessing this is no longer necessary, right? At least when using the new universal login. I've been able to use just:

[code]

See https://auth0.com/docs/universal-login/new

[2020-04-07 14:47] stevehobbsdev commented on #397
@Enngage Yes that works fine for the new Universal Login experience. For the Classic experience with Lock, the above still applies.

[2020-04-07 16:10] stevehobbsdev commented on #345
@VitalieStirbu Can you try installing our beta package `1.7.0-beta.5`? This version allows you to select local storage as a storage option which would get you around this in the short term ([check here for usage](https://github.com/auth0/auth0-spa-js/tree/release/rtr#data-caching)).

Longer term, you will shortly be able to use refresh tokens, which will completely mitigate the effects of third-pa

[2020-04-07 16:37] stevehobbsdev commented on #228
Thanks @tommmyy for the use case. We're working through #389 now and the intention is to merge it, but it needs changes. Bear with us while we work through these.

[2020-04-07 17:01] Enngage commented on #397
Ah, okey, thanks for confirmation :-) At least people using new universal login experience have a way of setting this up easily.

[2020-04-07 17:25] majelbstoat opened #406 "Feature request: method to clear the local cache."
### Describe the problem you'd like to have solved

I'd like to be able to delete a token from the local cache, to facilitate logout without redirect.

### Describe the ideal solution

The _ideal_ solution would be an async `logoutSilently` method that opens a hidden iframe to the logout endpoint, then deletes the local cache for me. I'm already doing this, but it's not robust to any changes you m

[2020-04-07 21:26] UndarkAido opened #407 "When using React Router's HashRouter login redirect loses the route"
### Description

I'm using React Router's HashRouter and setting my `redirect_uri` to `window.location.href` when I call `loginWithRedirect`. After login, it sends me to `http://localhost:3000/?code=<code>#/faq` which routes to the right page but is very quickly stripped down to `http://localhost:3000/` instead of the expected  `http://localhost:3000/#/faq`. This causes an element I have that watc

[2020-04-08 09:04] fakekamrankhan opened #408 "Isn’t client ID and secret visible?"
Hello,

I am opening this as a blank issue because I don’t think this is a bug or an improvement but just to get some clarification.

By using this approach, won’t your app be exposing the client ID and secret? Is this a known risk for using this approach or am I missing something here?

Any of the react static frameworks would change any environment variables during build time to their static val

[2020-04-08 09:15] stevehobbsdev commented on #408
@fakekamrankhan Thanks for raising this!

There are a couple of things here. Firstly, the client ID itself is not considered a secret and is easily discoverable through a URL transaction anyway. It's simply an identifier for the IdP as to which application to use.

Secondly, you're correct in that the client secret _is_ a secret and that it is near impossible to store such secrets in an SPA. It's

[2020-04-08 09:15] #408 closed

[2020-04-08 09:41] fakekamrankhan commented on #408
Thank you so much for the quick response!

My apologies, I just noticed that the client secret in this SDK is not required.

If this SPA doesn’t require a client secret, am I to assume that by using the auth0-spa-js, my static react application is inherently using the Auth Code + PKCE flow if authentication is working as expected in the documentation here or is that something I need to double chec

[2020-04-08 09:45] stevehobbsdev commented on #408
No problem!

Yes! This SDK is designed to be very opinionated in that regard and does not allow you to use a different flow. Doing this (hopefully!) makes it easier for you to configure and use. If authentication is working for you, then rest assured you are already using the Auth Code + PKCE flow 👍

[2020-04-08 16:11] chaseWillden commented on #330
Man I'm getting the warning message and I'm not seeing that header being sent from auth0 on neither the authorize nor the token endpoints.
<img width="129" alt="Screen Shot 2020-04-08 at 10 09 46 AM" src="https://user-images.githubusercontent.com/3342754/78807341-282cfb00-7981-11ea-816c-da9bf9ca16a3.png">

Any suggestions?

[2020-04-08 16:27] toonvd commented on #330
Even though your image is cut off, I can guess that auth0_compat is in your second setCookie. That one is causing the warning. The warning will not go away as they always sent the compat cookies as stated in the docs. However, this doesn't do any harm :-).

[2020-04-09 08:14] kh12e commented on #321
Hi ! is there a workaround about this bug ?

[2020-04-11 03:11] akhtariev opened #411 "loginWithRedirect does not set user"
Hi!

I was following the react tutorial and it seems that loginWithRedirect does not set the user for me while loginWithPopup does.

I tried customizing loginWithRedirect similarly to loginWithPopup in the following way but still no luck:
[code]

Any help would be greatly appreciated

[2020-04-11 03:18] akhtariev commented on #411
Looks like in the useEffects part of the tutorial in `react-auth0-spa.js` where we have:
[code]

isAuthenticated is false so it never sets the user

[2020-04-11 03:48] akhtariev commented on #411
This was probably our props validation or linter rules breaking it. After we replaced the file with the original contents without applying our style rules, it started working. Thanks!

[2020-04-11 03:48] #411 closed

[2020-04-11 14:31] belachkar commented on #23
I need to get the permissions, but can not, they are not included in the `getIdTokenClaims` response.
I'm using angular with `@auth0/auth0-spa-js` package.
Ex of the code:
[code]
When I specify the audience and the scope I don't have any response or error.
Normally when checking *Enable RBAC* & *Add Permissions in the Access Token* we must be able to get the permissions.

[2020-04-13 17:11] afreix commented on #80
@luisrudge any updates on the status of this feature request? I'd also be interested in having this feature

[2020-04-14 02:03] clehene commented on #319
@stevehobbsdev this, combined with https://github.com/auth0-samples/auth0-react-samples/issues/190 is guaranteed to break after a few reloads.

Any workarounds?

[2020-04-14 06:28] 814k31 commented on #80
@afreix I ended up doing

[code]

and in my constructor
[code]

And before the checkSession
[code]

[2020-04-14 10:21] qortex opened #413 "How to use passwordless flow?"
As far as I understand, the correct endpoint to use in `auth0.js` is [this one](https://auth0.github.io/auth0.js/global.html#passwordlessLogin) but I can't see it exposed in `auth0-spa-js`.

Is there something I miss, or is it necessary to use `auth0.js` directly outside of `auth0-spa-js`?

[2020-04-14 13:35] stevehobbsdev commented on #413
@qortex You're right in that we don't support this for `auth0-spa-js` at the moment. I've seen this supported by other members of the community by using `auth0.js` specifically for the passwordless part on top of `auth0-spa-js`.

It's not ideal, I agree, but it's where we're at currently. Let me raise an internal discussion about where it is on our roadmap.

[2020-04-14 13:35] #413 closed

[2020-04-14 13:40] stevehobbsdev commented on #319
@clehene The workaround is to clear the transaction cookies manually before redirecting. I agree this is in no way ideal and I have something in our backlog that we're going to bring in very, very shortly to give you an option to do this clearing automatically through the SDK. Apologies for the delay.

[2020-04-14 13:43] stevehobbsdev commented on #23
@belachkar The recommended way currently when using Auth0 is to use a custom rule to copy those RBAC permissions into the ID token. Auth0 doesn't do that automatically. [This community post](https://community.auth0.com/t/accessing-the-permissions-array-in-the-access-token/27559/9) should help you get that done.

[2020-04-14 13:47] stevehobbsdev commented on #406
@majelbstoat Thanks for raising this. Could it be considered a duplicate of https://github.com/auth0/auth0-spa-js/issues/308? If so, I can close this one.

[2020-04-14 14:01] qortex commented on #413
Quite disappointing I had to spend hours to get it working when it's a commercial promise that it's a breeze to implement (and I made product decisions based on that promise).

Worked out a solution. But still got to do some testing for edge cases, so more hours to spend on that.

But this works ok, adding it to the Auth Service you give as an example in the SPA SDK tutorial.

Posting here to save

[2020-04-14 14:14] stevehobbsdev commented on #413
Thanks @qortex!

[2020-04-15 00:25] clehene commented on #319
@stevehobbsdev thank you, no worries, was asking for a workaround and we'll try to implement this.
Would deleting all `a0.spajs.txs.*` be ok?

I only looked briefly, but it looks like this https://github.com/auth0/auth0-spa-js/blob/master/src/transaction-manager.ts#L24 is already trying to do that? Am I missing something, is there a bug here, or is this not called in this scenario?

[2020-04-15 04:17] yeiniel opened #416 "export type Auth0Client as part of the library interface"
### Describe the problem you'd like to have solved

[code]

### Describe the ideal solution

[code]

## Alternatives and current work-arounds

### Additional context

The proposed solution is really simple. Let me know if you guys will like me to contribute a PR for it.

[2020-04-15 09:07] stevehobbsdev commented on #416
Thanks @yeiniel  - closing this (see my comment on your attached PR).

[2020-04-15 09:07] #416 closed

[2020-04-15 09:19] LeshikJanz opened #418 "Login screen validation message"
### Description

If you attempt to click "log in" without filling in a username or password, the validation message has lost styling

See attached image

![Screenshot 2020-02-21 at 11 01 01](https://user-images.githubusercontent.com/16132732/79320726-ef59cc80-7f12-11ea-8113-ca11aad96352.png)

### Environment

"@auth0/auth0-spa-js": "^1.6.2"

[2020-04-15 09:41] stevehobbsdev commented on #418
@LeshikJanz Can you please raise this on https://github.com/auth0/lock? Please remember to fill out all of the details on the issue template, as these would be most useful to helping you debug this issue.

[2020-04-15 09:41] #418 closed

[2020-04-15 11:59] majelbstoat commented on #406
Ha, I swear I looked before posting. It's funny someone else also thought to call it `logoutSilently` 😂. Yes, you can close, thank you. I'll go upvote that one 😉

[2020-04-15 11:59] #406 closed

[2020-04-15 12:40] ivarprudnikov commented on #321
This issue is missing a concrete example and mixing `createAuth0Client`, `getTokenSilently`, `loginWithRedirect` although those are somewhat different as latter 2 cannot be invoked without running former. More clarification is necessary, could @alexander-alvarez provide more details regarding following points:

Question no 1 - Is this not working as expected?:
[code]
should work as expected becaus

[2020-04-15 13:50] belachkar commented on #23
@stevehobbsdev Thanks, done.

[2020-04-15 17:33] VitalieStirbu commented on #345
@stevehobbsdev  sorry for getting back to you so late, but your solution solved the problem. thank you. It's quite interesting that for the non-beta version it was working on Iphone 10,11 but not on 8...

[2020-04-15 20:06] onpaws commented on #39
Thanks for your efforts on getting the TypeScript situation sorted out @luisrudge! I just tried out your snippet and it saved me some time, obrigada.

Today I ran into a slightly weird issue, something that seems like it shouldn't matter but for whatever reason did, and wanted to share a simple solution I landed on in case it helps someone else also making the JSX->TSX migration.

For whatever rea

[2020-04-16 03:03] willhackett commented on #319
Hi all—

I've noticed that this is also overwhelming our web server too. Could we perhaps discuss a few of the following options, and I'll be happy to upstream a fix.

### Opt 1. Limit the number of transactions stored by transaction manager

In this option, we will append a creation date to the object stored by transaction manager [here](https://github.com/auth0/auth0-spa-js/blob/master/src/trans

[2020-04-16 15:06] stevehobbsdev commented on #319
Thanks @willhackett.

This is an issue with cookies in the browser client. Are you seeing this somewhere else that you're running, integration tests for example?

There is a workaround where you can manually delete these transaction cookies, it's just we'd like to bring this into the SDK. This is next on our list to tackle. The option we'd like to explore is the following:

* Reducing the expiry t

[2020-04-16 15:55] stuarth-inova commented on #210
I am having trouble getting this to work. I got my generated a0.spajs.txs.* cookie to match exactly what I see when successfully manually logging in, but I still get redirected to the login page instead of my home page. I am getting a token correctly in the first part, what could be the problem?

[2020-04-16 17:36] clehene commented on #319
@willhackett that sounds great. TBH I don't know how `a0.spajs.txs` are being used, so I don't understand the implications, hence can't chime in. @stevehobbsdev are these documented somewhere, I'd be glad to give some input.

[2020-04-16 20:19] lukepearson commented on #407
I had this issue too, just worked around it for now by rewriting the url in index.tsx before the router initializes
[code]

[2020-04-16 20:29] UndarkAido commented on #407
But that will break `auth0-spa-js`

[2020-04-16 20:31] UndarkAido commented on #407
Oh I set my onRedirectCallback to this:
[code]

Maybe not perfect for the browser router but it works for the hash router

[2020-04-16 20:31] #407 closed

[2020-04-17 03:47] willhackett commented on #319
I guess the core issue is that the cookies are overwhelming web servers and proxies that have a limit on the header payload.

If you'd like to discuss further I can organise a Zoom session through our account manager.

[2020-04-17 03:51] hdngr opened #424 "Bug: Typescript exports incorrect for next.js serverless environment in production build"
Great work with the v1.7 release!

I've tried approaching this from several directions - super weird for a minor release to break things.

Details on the problem I am running into with [next.js `serverless` build filed in their repo](https://github.com/zeit/next.js/issues/11967).

I believe it is a configuration issue with the new 1.7 release .  Confirmed that rolling back to 1.6.5 works.

Well aw

[2020-04-17 11:01] stevehobbsdev commented on #424
@hdngr With 1.7 we introduced the ability to get refresh tokens using a web worker. The rollup plugin that we use depends on Blob being available, but this only works in the browser (which is the only supported target of this SDK).

Questions:

* Is there a Node implementation of `Blob` that can be used during build?
* Can `auth0-spa-js` be skipped during the server build?

[2020-04-17 11:03] stevehobbsdev commented on #319
@willhackett That could be an option.

However, let me know if you think our proposed mitigations for this might work for you:

[2020-04-17 12:49] iainvdw opened #425 "[Question] How to handle browsers starting to reject third-party cookies?"
Recently we've implemented the `auth0-spa-js` library as a way to handle auth for our React application. This change was done in light of a security audit to remove the potential of XSS attacks hijacking tokens stored in localStorage.

The change to this method of authentication brought to our attention a different problem: browsers actively rejecting third party cookies, or users enabling third p

[2020-04-17 13:03] stevehobbsdev commented on #425
@iainvdw Thanks for raising this. Yes this is a bigger problem than this SDK, browser with more advanced privacy technology such as Safari's ITP blocks our session cookie that prevents this SDK from rehydrating your session when you lose tokens (because of a page refresh, etc).

Using refresh tokens is our answer to that, but again can be easily lost from memory when not using the local storage op

[2020-04-17 18:16] dinoc opened #427 "Unable to build 1.7.0 in parcel"
I am using parcel js as my bundler.  I ran `npm install @auth0/auth0-spa-js` which gets me the latest `1.7.0` build.  However, when I try to build and serve my app using parcel locally in development mode, I get this error:

[code]

If I use version `1.6.5`, I do not get this error.

[2020-04-17 19:07] dinoc commented on #427
Here are 3 files for easy setup.  Just run `npm install` and `npm start`

`src/index.html`
[code]

`src/index.js`
[code]

`package.json`
[code]

[2020-04-17 20:35] tylerbmcsilva commented on #427
I'm experiencing the same behavior getting a this error:
[code]

[2020-04-17 21:30] paulfalgout commented on #427
Legit issue.  Looks like either a rollup update issue and/or something related to the changes made in the `src/errors.ts`

[2020-04-17 21:43] clehene opened #428 "Incorrectly prefixing `issuer` (URL) with https://"
Per spec, `issuer` is a URL but treated as a domain by the spa client

https://tools.ietf.org/id/draft-ietf-oauth-discovery-08.html#ASMetadata

REQUIRED. The authorization server's issuer identifier, which is a URL that uses the https scheme and has no query or fragment components. This is the location where .well-known RFC 5785 resources containing information about the authorization server are p

[2020-04-17 21:53] hdngr commented on #424
@stevehobbsdev just asked @timneutkens to take a look.  Looking to see if auth0 can be skipped in build that is meant for ssr - thanks for getting back to me quickly!   Again great work on 1.7, cleans up a lot of stuff.  Cool implementation with the worker.

[2020-04-19 10:32] StephenCleary opened #429 "Multiple authorize calls and redirects with different codes"
### Description

When logging in, I get extra redirects. It looks like it's logging in two or three times simultaneously. Example: https://image-watch-pr58.surge.sh/

So it ends up redirecting to my app twice, with different codes:

![image](https://user-images.githubusercontent.com/900597/79685350-27f4f100-8206-11ea-8d0a-408b93bf51ad.png)

and `authorize` and `token` are each called three times:

[2020-04-20 09:56] adamjmcgrath commented on #427
It's related to https://github.com/parcel-bundler/parcel/issues/2408

Parcel doesn't like the `sourceMappingURL` specified in the Web Worker loader we introduced in 1.7.0 https://github.com/darionco/rollup-plugin-web-worker-loader/blob/master/src/WorkerLoaderHelper.js#L62

You can workaround it by using parcel with `--no-source-maps` as described in https://github.com/parcel-bundler/parcel/issues/

[2020-04-20 11:29] stevehobbsdev commented on #429
@StephenCleary Thanks for raising. Can we see some code as to how the SPA SDK is being integrated? What methods are you calling and when? A pointer to a GitHub repo or similar would be ideal if that's possible.

[2020-04-20 11:38] stevehobbsdev commented on #428
Thanks @clehene for raising. You're correct in that normally `issuer` would be a fully-formed URL containing the scheme. Unfortunately changing this at the moment would require a breaking change. However, let me add to our internal tracker for discussion, and I will raise something to point this out in the option documentation.

[2020-04-20 11:38] #428 closed

[2020-04-20 11:42] stevehobbsdev commented on #425
Closing this for now but feel free to continue the discussion if you have more questions.

[2020-04-20 11:42] #425 closed

[2020-04-20 11:48] StephenCleary commented on #429
I'll send you an invite to the repo.

Here's the relevant pieces (from the `auth0` branch):

`util/auth0.js`:

[code]

The provider (`Auth0Provider.js`):

[code]

Usage in a simple navbar (`components/NavBar.js`):

[code]

[2020-04-21 12:35] dinoc commented on #427
I'd like to not disable sourcemaps though since they are providing us with the ability to see stack traces in our sentry error logs.  Is there any other proposed workaround besides using `--no-source-maps`?

[2020-04-21 14:54] iainvdw commented on #425
Thanks @stevehobbsdev for the answer. We'll start looking into custom domains then to see if that helps us. If I have any further questions, I'll let you know!

[2020-04-22 01:32] victorkurauchi commented on #408
hi @stevehobbsdev thanks for your insights here.

I have a weird scenario, where I followed the React Quickstart https://auth0.com/docs/quickstart/spa/react#configure-auth0, and my Application type is set to use SPA and I configured the OIDC and JWT fields as in the article.

However, i still keep getting unauthorized usingg this lib. So if I go the logs I can see `Success Login` and then `Failed

[2020-04-22 14:35] stevehobbsdev commented on #408
@victorkurauchi Which browser are you testing this flow in? Do you have anything that could be blocking third-party cookies (using Safari, Chrome with cookie-blocking extensions, etc).

To answer your question about PKCE, you can verify the flow by looking at the requests your browser network tab. PKCE requests will include a `code_challenge` param on the `/authorize` call, and a `code_verifier` p

[2020-04-22 15:05] victorkurauchi commented on #408
Hi @stevehobbsdev ,

I tested in all browsers, Chrome Safari and Firefox.

One thing I noticed is that the /oauth/token post is failing. We are deploying the application via pipeline, so my config have this field:

`"token_endpoint_auth_method": "client_secret_post",`

it should probably have the value as `"token_endpoint_auth_method": "none",` because it's a SPA application thus we don't transpor

[2020-04-22 15:54] victorkurauchi commented on #408
just a heads up @stevehobbsdev

I've updated my json config to follow all the SPA values, and now it's working fine. Thanks a lot for the insights!

[2020-04-23 10:47] stevehobbsdev commented on #408
Thanks @victorkurauchi !

[2020-04-23 13:01] dan-barrett opened #432 "Make auth0-spa-js Universal or Split out buildAuthorizeUrl"
### Describe the problem you'd like to have solved

One of the central use cases of the `auth0-spa-js` library is to generate the `/authorize` URL with the necessary parameters. Under normal circumstances, these methods are being executed in the browser, and thus the library leans on the presence of the DOM in many places  to do string manipulation/encoding/decoding. For example: https://github.co

[2020-04-23 13:07] conorcussell opened #433 "Allow the default scope of "openid profile email" to be overridden"
### Describe the problem you'd like to have solved

The default scopes of `openid profile email` are always applied. My company's identity team made a decision not to support the scopes of `profile` and `email`, so unfortunately this means I cannot use the library without forking.

I appreciate the fact this module is opinionated and forces the most secure auth flow, but as far as I can tell the A

[2020-04-23 14:10] stevehobbsdev commented on #433
Thanks for raising. We're currently actively working on #389 which should address this, although you should understand that we would still need to enforce the `openid` scope - otherwise it makes the library kind of useless.

Will close this for now, but please track progress on that PR.

[2020-04-23 14:10] #433 closed

[2020-04-23 14:43] conorcussell commented on #433
Thanks @stevehobbsdev - happy to have `openid` be the only default, thats what I need anyway!

[2020-04-23 14:56] ljones9142 commented on #210
I am having a similar problem as stuarth-inova but not exactly the same where i am getting an error saying the ID token is missing. I can see the cookie getting set and have checked the audience etc in there are correct but it doesn't authenticate, i jest get a console log of 'ID token is required but missing'. Any ideas what could be causing this to not work?

[2020-04-23 17:11] lyudad opened #434 "does not work with redux persist provider"
### Description

I use redux persist on my computer to save the data. but if use it with Auth0 callBack function does not work

   <Provider store={store.store}>
      <PersistGate persistor={store.persistor}>
        <Auth0Provider
          domain={config.domain}
          client_id={config.clientId}
          redirect_uri={window.location.origin}
          onRedirectCallback={onRedirectCallback

[2020-04-23 19:11] JohnnyTMD commented on #402
save issue here

[2020-04-23 19:23] JohnnyTMD commented on #402
This seems to be cause by this cookie `auth0.is.authenticated`
Changing the cookie value in inspector from `true` to `false` seems to fix the issue.

[2020-04-23 21:53] shicholas commented on #424
@stevehobbsdev Fwiw, this library, https://github.com/Richienb/cross-blob#readme, is like isomorphic-fetch in that it enables `Blob` to work in both Node and Browser environments.

As an analogy, the Apollo GraphQL client allows you to configure isomorphic-fetch upon creating an ApolloClient. Having a similar option for `Blob` could allow users to use this library with SSR libraries like Gatsby &

[2020-04-24 00:47] willhackett commented on #319
I'd prefer the `opt-in` to remove all transaction cookies before initiating a new authorization flow — do you have a time-frame on this fix?

[2020-04-24 01:17] StephenCleary commented on #429
Figured it out, sort of. The culprit was `redirect_uri={isBrowser && window.location.origin + '/app/'}`, which was attempting to redirect to `localhost:8000/app/` after login.  I have `/app/*` set up as client routes. I don't know *how* exactly it happened, but changing `redirect_uri` to just `window.location.origin` fixed it. I don't understand why the `/app` was causing the failure, but at least

[2020-04-24 01:17] #429 closed

[2020-04-24 08:18] loremaps commented on #210
@cwmrowe and @Taskle solution worked fine for me. But I cannot make it work with Refresh Tokens. Has anyone managed this?

[2020-04-24 09:08] stevehobbsdev commented on #319
It's on my list next after #389 - I think having that PR in place will set us in good stead to have another advanced option for clearing cookies. Working on this today.

[2020-04-24 09:10] stevehobbsdev commented on #424
@shicholas Thanks for pointing that out. cc: @adamjmcgrath

We've identified that it might be a problem with the rollup plugin we're using to wrap the web worker module, still looking at ideas to fix it.

[2020-04-24 09:11] stevehobbsdev commented on #434
@lyudad I'm going to need a bit more information in order to try and help you.

* When you say that it doesn't work, what are you seeing exactly? Are you getting a console error? What else is happening?
* Do you have a sample I can check out and see the problem?

[2020-04-24 09:15] stevehobbsdev commented on #432
Thanks for raising this @dan-barrett.

The target of this SDK is absolutely the browser and making it more universal is not one of our goals here.

I can understand the need for splitting out `buildAuthorizeUrl` and as you point out, including it in another package like `node-auth0` might be worth considering. Please [raise an issue](https://github.com/auth0/node-auth0) on that repo to discuss pos

[2020-04-24 09:15] #432 closed

[2020-04-24 09:20] stevehobbsdev commented on #427
Other than upgrading to Parcel 2.0, no. I see that you've queried them to find out about other options; let's see what the upgrade path to 2.0 looks like.

We have identified that it could be the Rollup plugin we're using to generate our worker module wrapper but even if we were to rewrite that and included sourcemaps support, that probably wouldn't fix your issue anyway.

[2020-04-24 09:28] stevehobbsdev commented on #394
@nirvdrum How are you getting on with testing the above? I'm afraid I cannot reproduce what you're seeing with the playground. It could be something to do with how the React app is configured.

Closing this for now but feel free to continue the discussion.

[2020-04-24 09:28] #394 closed

[2020-04-24 09:34] stevehobbsdev commented on #427
Closing this for now - if the situation progresses with Parcel and there's a way we can get involved, please feel free to continue the discussion.

[2020-04-24 09:34] #427 closed

[2020-04-24 16:22] stevehobbsdev commented on #319
@willhackett Working on a solution for this now. I have https://github.com/auth0/auth0-spa-js/pull/436/commits/8b92a978ac6ef515bc67474389822386071d8b92 which looks like it should solve this issue, hopefully will be merged next week.

[2020-04-25 08:17] lyudad commented on #434
ok
this is my structure
<img width="528" alt="Снимок экрана 2020-04-25 в 11 10 52" src="https://user-images.githubusercontent.com/25103090/80274768-795d1e80-86e5-11ea-8198-c598516c6974.png">

This is what Auth file include

[code]

this is my index.js file

[code]

this is my layout where I show button login or logout (with persist I have logout always)

[code]

I can public my test project on git

[2020-04-26 04:41] gillkyle opened #437 "Blob is not defined in 1.7.0 when using in Gatsby"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-04-26 20:16] farazoman opened #438 "createAuth0Client(initOptions).cache has undefined values for a social connection log-in after reinit"
### Description

Log-in with a database vs social connection produces different values in the cache after calling

const auth0FromHook = await createAuth0Client(initOptions)
auth0FromHook.cache is different for database connection (data is there) than a social connection (undefined)

### Reproduction

1. login with callback to auth0 endpoint
2. re-initialize the Auth0Client (note, in my app each p

[2020-04-26 23:50] willhackett commented on #319
@stevehobbsdev you the man! Thanks heaps.

[2020-04-27 07:42] ljones9142 commented on #210
@RipTheJacker i am getting the same issue for getTokenSilently, have you found a solution?

[2020-04-27 08:25] larsf96 opened #439 "Login not possible with redirect in a custom rule"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-04-27 14:44] ljones9142 commented on #210
Fixed the issue in my test, when we call the getTokenSilently, we pare passing scope and audience. The scope in the test was set to "openid profile email" but in our code it was "openid profile". It seems to add "email" in the browser so we have added it to the getTokenSilently and this has resolved the problem

[2020-04-27 14:56] pixelbreaker commented on #437
I am also seeing this, rolling back to old version

[2020-04-28 09:03] aounleonardo commented on #121
@luisrudge  I am using the ULP with the default customization and login_hint is not working for me.

Any idea how can I debug this? if I type config in the devtools of ULP I get undefined :/

[2020-04-28 09:13] aounleonardo opened #440 "Prefilling email address is not working with ULP"
### Description

This is maybe similar to #121 but they were using the classic login page.
I'm using the Universal Login Page and I cannot prefill the email address of the user with neither `login_hint: <email>` or `prefill: {email: <email>}`.

`screen_hint: "signup"` is correctly directing the user to the signup page, but I can't seem to prefill their email address here either.

### Reproduction

[2020-04-28 10:43] stevehobbsdev commented on #440
Thanks @aounleonardo. I will check internally with the relevant team but I don't believe this is possible to do. Have you come across any documentation or guidance from us which suggests that you can? I would be interested to read it if so.

[2020-04-28 10:48] stevehobbsdev commented on #439
Can you see from the browser network traffic if the redirect is happening? It could be seamless SSO getting in the way here. Your app is redirecting to Auth0 but because you already have a session and are logged in, you're getting redirected with an error straight away.

You can force the login prompt to show despite already having a session by using `prompt: 'login'` - would this help? If not, pl

[2020-04-28 10:55] stevehobbsdev commented on #438
Please do not access the cache directly in this fashion; that's not the intended use and, being an internal property, could change in the future without warning. You should rely on the [publicly documented API](https://auth0.github.io/auth0-spa-js/classes/auth0client.html) here.

Is there a reason you need to access the cache and can we talk about any missing features you'd like to see from the pu

[2020-04-28 10:55] #438 closed

[2020-04-28 10:59] stevehobbsdev commented on #437
We're aware and are taking steps to fix this. The problem lies with a [Rollup plugin](https://github.com/darionco/rollup-plugin-web-worker-loader) that builds our web worker module, and we're actively working with them to fix it.

In the meantime, `auth0-spa-js` can be excluded from the Gatsby server build by configuring webpack and using the Null loader. Something like this:

[code]

However, we

[2020-04-28 11:05] stevehobbsdev commented on #210
@ljones9142 Currently the SDK always sets default scopes of `openid profile email` regardless of your scope setting. However, we're working on a way you can specify [default scopes](https://github.com/auth0/auth0-spa-js/pull/435) which may make it more configurable for you.

[2020-04-28 12:16] larsf96 commented on #439
No, there is no redirect or other network traffic being shown

I've tried setting "prompt: login", but still the same behaviour.

You can use the following rule to trigger a redirect:
`function redirectTo(user, context, callback) {
    var flag = user.user_metadata.flag;

    if(flag) {
        context.redirect = {
            url: 'https://github.com'
        };
    }

    callback(null,user,cont

[2020-04-28 12:17] aounleonardo commented on #440
Mm, I don't think I found anything that talks about parameters for the new Universal Login Page but I was able to do it with the classic one by using `login_hint`.

Unfortunately [setting the initial screen](https://auth0.com/docs/libraries/lock/v11/configuration?_ga=2.10378556.821231326.1587973762-1945517374.1586345231#initialscreen-string-) is not working with me for the Classic Login Page so th

[2020-04-28 13:08] stevehobbsdev commented on #440
@aounleonardo Agreed, there is a feature gap with the old and new experiences which we are slowly trying to close.

With the hosted class Lock experience, the document you're looking at is for configuring the Lock SDK (which is used by the Classic Login Page) rather than through URL parameters. If you want it so that it uses the sign-up page all the time, you can configure this by customizing the

[2020-04-28 13:08] #440 closed

[2020-04-28 13:25] aounleonardo commented on #440
Thanks @stevehobbsdev for the prompt reply and clear explanation!

My end goal is be able to share the app to certain email addresses with a signup button. Then that person could click on it, be redirected go through my app and into the sign up page with their email prefilled. But I still want the login page to be the default choice.

I'll look into your proposed solution, but for now, I prefer to

[2020-04-28 13:32] stevehobbsdev commented on #440
I don't have anything that I can share publicly, I'm afraid. Closing the feature gap between the two though as a whole is certainly on the roadmap.

[2020-04-28 15:54] pixelbreaker commented on #437
It's much easier just to roll back to a working version and await a working release, than add this hack. IMO.

[2020-04-28 16:00] stevehobbsdev commented on #437
Agreed, just giving options for others who might feel differently.

[2020-04-28 16:29] gillkyle commented on #437
@stevehobbsdev great to hear a fix is already somewhere in the works!

For what it's worth. I have the above code included in my reproduction and still encounter the error. https://github.com/gillkyle/auth0-error-reproduction/blob/repro/plugins/gatsby-plugin-auth0/gatsby-node.js 🤷‍♂️

[2020-04-29 02:44] farazoman commented on #438
So I think that I was getting too into the weeds to find something out. My original problem was that I was using the spa sdk yet on the auth0Client re initialization the information for a Social login kept disappearing which was different behaviour from a database connection (email login).

I was wondering is that expected? And secondly, should the auth0Client ever even be reinitialized in the sam

[2020-04-29 12:55] #424 closed

[2020-04-29 12:55] #437 closed

[2020-04-29 13:11] stevehobbsdev commented on #438
That doesn't sound like something that should happen. Whether or not you log in with a social connection or a username/password makes no odds to the SDK, as long as the response to the `/token` endpoint yields an ID token. Do you have any custom Rules in play which might affect what is being returned to your app?

Ideally not - it's designed to be set up as a single instance in your application. I